/*
*
* docker
* base theme light
*
*/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #445D6E;
    overflow-x: hidden;
}


/*
*
* links
*
*/

a {
    color: #2089C4;
    cursor: pointer;
}

a:active,
a:hover {
    color: #2089C4;
    opacity: .8;
    text-decoration: none;
}


/*
*
* typography ******************************************************************
*
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #254356;
    font-family: Geomanist Book;
}

h1 {
    font-size: 38px;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    line-height: 38px;
}

h3 {
    font-size: 20px;
    line-height: 28px;
}

h4 {
    color: #445d6e;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
}

h5 {
    color: #445d6e;
    font-size: 16px;
    line-height: 26px;
}

h6 {
    color: #82949e;
    font-size: 16px;
    line-height: 26px;
}

p {
    color: #445d6e;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 10px 0 0;
}


/*
*
* other type ******************************************************************
*
*/

.dropdown-header {
    font-size: 13.5px;
    line-height: 16px;
    color: #1488c6;
    padding: 10px 0 0 15px;
    display: block;
    font-weight: 600;
    margin: 10px 0 0 0;
}


/*
*
* layout - 3 Column Flex
*
*/

.columns,
.col-body {
    display: flex;
    flex-direction: column;
}

.col-nav {
    order: -1;
}

.col-content {
    padding: 60px 69px 50px 20px;
}

@media (min-width: 768px) {
    .col-body {
        flex-direction: row;
        flex: 1;
    }
    .col-content {
        flex: 1;
        padding: 60px 20px 50px 20px;
    }
    .col-nav,
    .col-toc {
        flex: 0 0 20em;
    }
}

/*
*
* Header ***********************************************************************
*
*/

.header {
    animation: gradientswitch 50s infinite;
    -webkit-animation: gradientswitch 50 sinfinite;
    height: 500px;
    position: relative;
    z-index: 1;
}

@keyframes gradientswitch {
    0% {
        background: #0087C9;
    }
    16% {
        background: #EF4A53;
    }
    32% {
        background: #FFB463;
    }
    49% {
        background: #33D5D4;
    }
    65% {
        background: #254356;
    }
    81% {
        background :#5B4097
    }
    100% {
        background: #0087C9
    }
}

@-webkit-keyframes gradientswitch {
    0% {
        background: #0087C9;
    }
    16% {
        background: #EF4A53;
    }
    32% {
        background: #FFB463;
    }
    49% {
        background: #33D5D4;
    }
    65% {
        background: #254356;
    }
    81% {
        background :#5B4097
    }
    100% {
        background: #0087C9
    }
}

.fan {
    background: linear-gradient(-120deg, rgba(245, 33, 33, 0) 87%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-110deg, rgba(27, 0, 255, 0) 85%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-103deg, rgba(255, 33, 33, 0) 84%, rgba(255, 255, 255, 0.08) 15%), radial-gradient(circle, rgba(0, 135, 201, 0) 0%, rgba(0, 135, 201, 0) 100%);
    position: absolute;
    height: 100%;
    width: 100%;
}

/*
*
* hero banner text *************************************************************
*
*/

.hero-text {
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    min-height: 24em;
    min-width: 400px;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation-name: hero;
    animation-name: hero;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.hero-text-centered {
    -ms-flex: none;
    flex: none;
    text-align: center;
    max-width: 70%;
}

.hero-text h1 {
    color: #fff;
}

.hero-text p {
    color: #fff;
    margin-bottom: 15px;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
}

.hero-text ul {
    padding: 0;
    width: 65%;
    margin: 0 auto;
}

.hero-text li {
    padding: 0 10px 0 0;
}


/*
* Search *********************************************************************
*
*/

.search-form {
    float: left;
    margin: 10px 5px 0 0px;
}

.search-form input[type=text] {
    background: #3bb1ec;
    border: 0;
    color: #0C5176;
    border-radius: 0px;
    margin: 0;
    transition: all 0.2s ease;
    width: 230px;
}

.nav-secondary input[type=text] {
    background: #065F8F;
    border: 0;
    margin: 0;
    transition: all 0.2s ease;
}

.search-form input[type=text]:focus {
    background: #fff;
    box-shadow: 0;
}

input[type=text],
.nav-secondary-tabs.affix input[type=text] {
    background: #10628e;
    border: 0;
    margin: 0;
}

.search-form input[type=text]::-webkit-input-placeholder {
    color: #fff;
}

.search-form input[type=text]:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.search-form input[type=text]::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.search-form input[type=text]:-ms-input-placeholder {
    color: #fff;
}


/*
*
* Buttons ***********************************************************************
*
*/

ul.buttons {
    list-style: none;
    width: 450px;
    margin: 0 auto;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .hero-text ul.buttons {
        list-style: none;
        width: 200px;
        margin: 0 auto;
    }
}

a.button {
    color: #fff;
}

a.button.outline-btn {
    color: #0087C8;
}

.button {
    margin: 10px 10px 0 0;
    font-family: Geomanist Book;
    padding: 12px 35px 10px;
    min-width: 200px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    float: left;
    text-align: center;
}

.button:hover {
    color: #fff;
    opacity: 0.7;
}

.primary-btn {
    background: #1488C6;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.secondary-btn {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.transparent-btn {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.outline-btn {
    background: #fff;
    border: 1px solid;
    border-color: #0087C8;
    text-decoration: none;
    margin: 0;
}

.outline-btn:hover,
.primary-btn:hover,
.secondary-btn:hover {
    opacity: 0.8;
}

.outline-btn:hover {
    color: #1488C6;
}


/*
*
* branding *********************************************************************
*
*/

.logo {
    margin: 12px 10px 0 10px;
    width: 160px;
}

.affix-top .affix-logo {
    opacity: 0;
}

// .affix-logo {
//     float: left;
//     width: 160px;
//     transition: all 0.1s ease;
// }


/*
*
* images
*
*/

.content img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*
*
* Primary navigation - top header **********************************************************
*
*/

.nav-primary {
    background: transparent;
    // padding: 5px 12px;
}

.primary {
    padding: 5px 0 0 20px;
}

.nav-toggle {
    background: red;
}

// @media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
//     .nav-primary {
//         background: #000;
//         padding: 5px 12px;
//         position: absolute;
//         width: 100%;
//         z-index: 9999;
//     }
//     .primary {
//         padding: 20px 0 0;
//         text-align: center;
//     }
//     .user-nav {
//         padding: 5px 0 0;
//         text-align: center;
//     }
//     .navbar-default .navbar-nav .open .dropdown-menu>li>a {
//         /** todo remove this **/
//         color: #fff;
//         text-align: center;
//     }
//     .navbar-default .navbar-toggle, .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
//         background: transparent;
//         border: 0;
//     }
// }

/*
*
* user-nav ***********************************************************************
*
*/

.user-nav {
    padding: 5px 0 0;
    /*display: none;*/
}


/*
*
* Secondary Navigation  **********************************************************
*
*/

.nav-secondary {
    background: #0C5176;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    height: 55px;
    overflow: hidden;
}

.nav .collapse .in {
    padding-left: 15px;
}


/*
*
* nav-secondary-tabs  ***********************************************************************
*
*/

.nav-secondary-tabs {
    background-color: rgba(0, 0, 0, 0.05);
    bottom: 0;
    height: 55px;
    position: absolute;
    width: 100%;
    z-index: 10;
    // transition: all 0.1s ease;
}

.nav-secondary-tabs.affix {
    background: #0C5176;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    top: 0;
    position: fixed;
    z-index: 100;
}


/*
* Sidebar
*/

.sidebar-home {
    background-color: #FBFBFC;
    border-right: 1px solid rgba(204, 204, 204, 0.29);
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    width: 260px;
}

.sidebar-home .affix {
    background-color: #FBFBFC;
    border-right: 1px solid rgba(204, 204, 204, 0.29);
    top: 55px;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 100px;
    min-width: 260px;
}


/*.sidebar-home .affix {}*/

@media (min-width: 768px) {
    .sidebar {
        background-color: #FBFBFC;
        border-right: 1px solid rgba(204, 204, 204, 0.29);
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        display: block;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        padding-bottom: 100px;
        width: 260px;
    }
}


/*
*
* NAV SIDEBAR ***********************************************************************
*
*/

.nav-sidebar {
    padding-top: 20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:focus,
.nav-sidebar>.active>a:hover {
    color: #2089C4;
    background-color: #428bca;
}

.nav-sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.nav-sidebar ul li {
    display: block;
}

.nav-sidebar ul li a:hover {
    opacity: 0.7;
    background: transparent;
}

.nav-sidebar ul li a,
.nav-sidebar ul li a:focus,
.nav-sidebar ul li a:hover {
    border-bottom: none;
    text-decoration: none;
}

.nav-sidebar ul li a.active,
.nav-sidebar.nav>li>a:focus {
    cursor: default;
    color: #2089C4;
    border-left: 4px solid #21cbc9;
    font-weight: 600;
}

.nav-sidebar ul li li a {
    margin-left: 10px;
    border-left: 1px solid #21cbc9;
    font-size: 12px;
}

.nav-sidebar .caret {
    float: right;
    margin-top: 10px;
}

.leftnav {
    padding: 0 20px 20px 0;
}


/*
*
* content ***********************************************************************
*
*/

.content {
    max-width: 980px;
}

.main-content {
    padding: 15px 15px 25px 21px;
    max-width: 900px;
}


/*
*
* sidebar ***********************************************************************
*
*/

.wrapper {
    min-height: 1000px;
}

#sidebar-wrapper {
    background-color: #FBFBFC;
    border-left: 1px solid rgba(204, 204, 204, 0.29);
    height: 100%;
    position: fixed;
    padding: 20px 0 0;
    right: 250px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-right: -250px;
    width: 0;
    transition: all 0.5s ease;
}

#sidebar-wrapper-home {
    background-color: #FBFBFC;
    border-left: 1px solid rgba(204, 204, 204, 0.29);
    position: absolute;
    height: 100%;
    right: 0;
    top: 500px;
    width: 260px;
}

@media (min-device-width: 320px) and (max-device-width: 480px) {
    #sidebar-wrapper-home {
        display: none;
    }
}

#sidebar-wrapper-home.affix {
    top: 10px;
    position: fixed;
}

.wrapper.right-open #sidebar-wrapper {
    /*padding: 17px 0 100px 0;*/
    width: 260px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    #sidebar-wrapper {
        display: none;
    }
}

.page-content {
    /*display: none;
    transition: all 0.5s ease;*/
}

.wrapper.right-open .page-content {
    padding-right: 190px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .wrapper.right-open .page-content {
        padding-right: 0;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
    .wrapper.right-open .page-content {
        padding-right: 0;
    }
}


/*
*
* Table of contents menu  ***********************************************************************
*
*/

.toc-nav i.fa {
    font-size: 16px;
    margin: 0px 8px 0 0;
    color: #4fa1d0;
}

i.fa.fa-question {
    font-size: 21px;
    margin: 0 11px 0 0;
}

.edit {
    margin: 10px 0 20px 15px;
}

.toc-toggle {
    width: 25px;
    height: 25px;
    float: right;
}

#side-toc {
    width: 200px;
}


/*.toc-nav {
    padding: 10px 10px 30px 20px;
}*/

.toc-nav ul {
    list-style: none;
    margin: 0;
    padding: 0 60px 0 0;
    width: 300px;
}

.toc-nav li {
    padding: 2px 8px 2px 32px;
}

.toc-nav a {
    display: block;
    font-size: 12px;
    padding: 0 0 0 10px;
    text-decoration: none;
}

.offcanvas a:focus,
.toc-nav a:hover {
    opacity: .8;
}

.toc-nav li a.active {
    color: #2089C4;
    border-left: 4px solid #21cbc9;
    font-weight: bold;
}

.toc-nav ul li,
.toc-nav ul li ul li {
    padding-left: 15px;
}

div#side-toc-title {
    font-weight: bold;
    margin: 0 0 10px 13px;
    width: 300px;
}


/*
*
* Toggle Switches **************************************************************
*
*/

.toggle-mode {
    float: left;
    padding: 0 0 0 10px;
    width: 100%;
}

.toggle-mode .icon {
    width: 25px;
    float: left;
    font-size: 1.5rem;
}

.toggle-switch {
    float: left;
    height: 40px;
    width: 60px;
    padding: 3px 7px 0 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 19px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(195, 228, 247);
    border: 1px solid #c3e4f7;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 1px;
    background-color: #4fa1d0;
    transition: 0.4s;
}


/*input:checked+.slider {}*/

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*
*
* Tabs ***********************************************************************
*
*/

.tabs {
    padding: 0;
    float: left;
}

.tabs li {
    float: left;
    list-style: none;
}

.tabs li a {
    color: #fff;
    padding: 16px 20px 11px;
    float: left;
    opacity: 0.7;
    font-weight: 600;
}

.tabs li a:hover {
    background: rgba(0, 0, 0, 0.17) !important;
    border-bottom: 4px solid #fff;
}

.tabs li.active a {
    background: transparent !important;
    color: #fff4;
    cursor: default;
    border-bottom: 4px solid #fff;
    opacity: 1;
}


/*
*
* feedback links ***********************************************************************
*
*/

.feedback-links {
    margin: 40px 0 10px 0;
    padding: 20px 20px 10px 0;
    width: 220px;
}

#sidebar-wrapper-home .feedback-links {
    margin: 10px 0 10px 0;
}

#sidebar-wrapper-home.affix .feedback-links {
    margin: 50px 0 10px 0;
}


/* polldaddy */

#rating_info_8453675 {
    display: none !important;
}

.rating-msg {
    font: inherit !important;
    color: inherit !important;
}


/*
*
* Controls ***********************************************************************
*
*/

.ctrl-left {
    float: left;
    width: 20px;
    margin: 0 19px 1px 0;
}

.ctrl-right {
    float: right;
    padding: 5px 16px 0;
}

.ctrl-right .btn-group {
    float: left;
    margin: 2px 24px 0 0;
}


/*
*
* Breadcrumbs **************************************************************
*
*/

.breadcrumb {
    padding: 8px 15px 0 0;
    margin: 10px 0 0;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}


/*
  * Search *********************************************************************
  *
  */

.search-form {
    float: left;
    margin: 10px 15px 0 0px;
}

.nav-secondary .search-form {
    float: left;
    width: 235px;
    margin: 10px 5px 0 10px;
}

.nav-secondary-tabs .search-form {
    margin: 5px 10px 5px 0;
}

.nav-secondary-tabs .search-form input[type=search] {
    background: rgba(0, 0, 0, 0.17) url("/images/search.png") no-repeat;
    background-position: 10px 9px;
    border: 0;
    box-shadow: none;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0px 0 0 35px;
    width: 235px;
}

.nav-secondary-tabs .search-form input[type=search]:focus {
    background: rgba(255, 255, 255, 0.17) url(/images/search.png) no-repeat;
    background-position: 10px 9px;
}

.nav-secondary-tabs.affix input[type=search],
input[type=text] {
    background: rgba(0, 0, 0, 0.17) url(/images/search.png) no-repeat;
    background-position: 10px 9px;
    border: 0;
    box-shadow: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-secondary input[type=search] {
    background: rgba(0, 0, 0, 0.17) url(/images/search.png) no-repeat;
    background-position: 10px 9px;
    border: 0;
    box-shadow: none;
    padding: 0px 0 0 35px;
    border-radius: 0;
    color: #fff;
}

.nav-secondary .search-form input[type=search]:focus {
    background: rgb(51, 112, 144) url(/images/search.png) no-repeat;
    background-position: 10px 9px;
    box-shadow: none;
    color: #fff;
}

.search-form input[type=search]::-webkit-input-placeholder {
    color: #fff;
    opacity: .5;
}

.search-form input[type=search]:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: .5;
}

.search-form input[type=search]::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: .5;
}

.search-form input[type=search]:-ms-input-placeholder {
    color: #fff;
    opacity: .5;
}


/*
*
* Custom Content Docs Guides : steps   ******************************************
*
*/

i.fa.fa-indent,
i.fa.fa-outdent {
    color: #fff;
    padding: 16px 15px 0 0;
    font-size: 1.8rem;
    opacity: 0.7;
}


/*.step-container {}*/

.step a {
    padding: 15px;
    float: left;
    min-height: 75px;
    width: 100%;
}

.step a:hover {
    opacity: 0.6;
}

.step-num {
    border-radius: 50%;
    behavior: url("PIE.htc");
    width: 36px;
    height: 36px;
    padding: 4px;
    border: 2px solid #196d9c;
    color: #0a486b;
    text-align: center;
    float: left;
    font-size: 1.5rem;
    margin-right: 25px;
}


/*.step-text {}*/

.step p {
    padding: 5px 45px 0 0;
    width: 87%;
    float: left;
}

.step .fa-chevron-right {
    font-size: 3.5rem;
    margin: 4px 0 0 15px;
    float: left;
    color: #125275;
    opacity: 0.4;
}


/* Portrait and Landscape */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .step p {
        padding: 25px 0 0;
        width: 87%;
        float: left;
    }
    .step-text {
        float: left;
    }
    .container>.navbar-header {
        margin: 0;
    }
}


/*
*
* Guides : components
*
*/

.component-container {
    padding: 0;
    margin: 0 0 50px;
    width: 100%;
}

.component {
    padding: 30px 30px 10px;
    text-align: center;
    margin: 0 0 15px;
    min-height: 280px;
    max-width: 330px;
}

.component-full {
    padding: 10px 0 10px 20px;
    float: left;
    width: 100%;
    min-height: 120px;
    margin: 15px 0 0;
}

.component,
.component-full {
    background: #FBFBFC;
    border: 1px solid rgba(204, 204, 204, 0.21);
}

.component-full-icon {
    float: left;
    padding: 5px 15px 0 7px;
}

.component-full p {
    margin: 0;
}

.component-full h3 {
    margin-top: 10px;
}

.component img,
.component-full-icon img {
    width: 70px;
    height: 70px;
}

.component-icon {
    margin: 0 auto;
    width: 70px;
}

.component-full-copy {
    float: left;
    width: 80%;
}

a.anchorLink {
    margin-left: 5px;
    visibility: hidden;
}


/*
*
* docs content formatting  **********************************************************
*
*/


/*
*
* tables
*
*/

.reading-time {
    font-style: italic;
    font-size: 12px;
    display: block;
    color: rgba(13, 86, 125, 0.55);
}

table {
    border: 1px solid rgba(204, 204, 204, 0.29);
    margin: 0 0 15px 0;
    width: 100%;
}

table>tbody>tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

th,
td {
    padding: 7px 10px 7px 20px;
    text-align: left;
}

thead {
    background: rgba(96, 125, 139, 0.16);
}

blockquote {
    border-left: 6px solid #3f84a9;
    background: #f5f8fa;
    padding: 10px 20px 20px 10px;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #f3f3f3;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #F5F8FA;
    border: 1px solid #F5F8FA;
    border-radius: 4px;
}

code {
    padding: 3px 7px;
    font-size: 90%;
    color: #0c5176!important;
    background-color: rgba(12, 81, 118, 0.1);
    border-radius: 2px;
}

.block {
    float: left;
    padding: 0px 20px 20px 16px;
    min-width: 360px;
}


/*
  *
  * autocompleteResults  **********************************************************
  *
  */

div#autocompleteResults {
    display: none;
}

div#autocompleteResults {
    background: #f6fcff;
    border: 1px solid #eee;
    padding: 20px 55px 15px 15px;
    margin: 10px 0 0 0;
    position: absolute;
    max-width: 600px;
}

ul.autocompleteList {
    list-style: none;
}

.autocompleteList li {
    padding: 5px 0 7px 0;
}

div#autocompleteResults span {
    background: #b8e2f9!important;
    color: #518cad;
}

.autocompleteTitle {
    font-weight: bold;
    font-size: large;
}

.autocompleteUrl,
.autocompleteKeywords,
.autocompleteDescription {
    font-size: xx-small;
    line-height: normal;
}


/*
*
* feedback
*
*/

.feedback {
    text-align: center;
    padding: 50px 0;
}


/*
*
* Fonts  ***********************************************************************
*
*/

@font-face {
    font-family: 'Geomanist Book';
    src: url("../fonts/geomanist/hinted-Geomanist-Book.eot");
    src: url("../fonts/geomanist/hinted-Geomanist-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/geomanist/hinted-Geomanist-Book.woff2") format("woff2"), url("../fonts/geomanist/hinted-Geomanist-Book.woff") format("woff"), url("../fonts/geomanist/hinted-Geomanist-Book.ttf") format("truetype"), url("../fonts/geomanist/hinted-Geomanist-Book.svg#Geomanist-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}


/** these are bootstarp overrides :/   */

.dropdown-btn {
    background: transparent;
    color: #fff;
    padding: 6px 12px;
    margin-top: 7px;
    font-weight: 400;
    background-image: none;
    border: 0;
}

.dropdown-header {
    font-size: 13.5px;
    line-height: 16px;
    color: #1488c6;
    padding: 5px 15px;
    display: block;
}

.text-link {
    color: #969696;
    padding: 10px 0 0 2px;
    float: left;
}

#feedback {
    padding: 10px 0;
}


/*
*
* News letter  **********************************************************
*
*/

.newsletter_section {
    background-color: rgba(224, 228, 231, 0.7);
    padding: 42px 0 32px;
    min-height: 140px;
}

.newsletter_section input {
    background-color: #FFFFFF;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 16px;
    line-height: 19px;
    color: #82949E;
    padding: 14px 15px 12px;
    margin: -2px 10px 10px 0;
    float: left;
    height: 49px;
    width: 340px !important;
}


/*
*
* global footer  ***********************************************************************
*
*/

footer {
    background: #fff;
    position: relative;
}

.top_footer {
    padding: 50px 0 35px;
}

.footer_links {
    list-style: none;
    padding: 0;
}

.footer_links li {
    margin-bottom: 2px;
}

.footer_links li a {
    color: #637986;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
}

.footer_sub_nav {
    float: right;
    padding: 10px 30px 20px 0;
}

.footer_sub_nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer_sub_nav ul li {
    float: left;
    margin-left: 10px;
    padding-bottom: 6px;
}

.footer_sub_nav ul li a {
    color: #637986;
    font-size: 12px;
    line-height: 17px;
}

.bottom_footer {
    clear: both;
    padding: 30px 0 20px;
    border-top: 1px solid #E0E4E7;
    float: left;
    width: 100%;
}

.footer-copyright {
    float: left;
}

.footer-copyright p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #637986;
    margin-bottom: 0;
    padding: 0 0 15px;
}

.footer_social_nav {
    float: right;
    padding: 0 15px 0 0;
}

.footer_social_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_social_nav ul li {
    float: left;
    position: relative;
}

.footer_social_nav ul li:before {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}

.footer_social_nav ul li+li {
    margin-left: 10px;
}

.footer_social_nav ul li a {
    width: 32px;
    height: 32px;
    background-color: #82949E;
    border-radius: 50px;
    color: #fff;
    display: block;
    text-indent: 9999px;
    overflow: hidden;
}

.break {
    margin-bottom: 20px!important;
}


/*
*
* small displays mobile  **********************************************************
*
*/

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
    .h1,
    .h2,
    .h3,
    h1,
    h2,
    h3 {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 16px;
    }
    .header {
        height: 160px;
    }
    .hero-text {
        display: none;
    }
    .nav-secondary {
        background: #192837;
        height: 145px;
    }
    .sidebar{
        background: #15212e;
        padding-top: 140px;
    }

    .sidebar-home,
    .sidebar-home .affix {
        background: #192837;
        width: 100%;
    }

    .sidebar-home {
        padding-top: 0px;
    }
    .sidebar-home .affix {
        padding-top: 50px;
    }
    .nav-sidebar ul li a.active,
    .nav-sidebar.nav>li>a:focus {
        cursor: default;
        border-left: 4px solid #21cbc9;
        font-weight: 600;
    }
    .sidebar ul li a,
    .nav-sidebar ul li a,
    .nav-sidebar ul li li a,
    .nav-sidebar ul li a:focus,
    .nav-sidebar ul li a.active {
        color: #fff;
    }
    .nav-secondary input[type=search],
    .nav-secondary-tabs .search-form input[type=search] {
        width: 260px;
    }
    .nav-secondary .search-form input[type=search]:focus {
        background: rgb(29, 60, 76) url("/images/search.png") no-repeat;
        background-position: 10px 9px;
        box-shadow: none;
        color: #fff;
    }
    .nav-secondary-tabs {
        height: 108px;
    }
    .nav-secondary-tabs.affix {
        background: #192837;
        box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
        top: 0;
        position: fixed;
        z-index: 100;
        height: 106px;
    }
    #sidebar-wrapper-home,
    #sidebar-wrapper-home.affix {
        display: none;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .tabs {
        height: 50px;
        width: auto;
    }
    .tabs li a {
        color: #fff;
        padding: 13px 5px 8px 5px;
        float: left;
        opacity: 0.7;
        font-size: 12px;
    }
    .content {
        padding: 10px 10px 20px 15px;
        min-width: 390px;
    }
    .main-content {
        padding: 0px 5px 25px 20px;
    }
    .block {
        float: left;
        padding: 5px 30px 5px 15px;
        width: 380px;
    }
    .component-full {
        padding: 10px 13px 10px 16px;
        float: left;
        width: 335px;
        min-height: 120px;
        margin: 15px 0 0;
        text-align: center;
    }
    .component-full-icon {
        float: none;
    }
    .component-full-copy {
        width: 100%;
    }
    #sidebar-wrapper-home {
        display: none;
    }
    footer {
        text-align: center;
    }
    .top_footer {
        padding: 15px 0 0;
        margin-bottom: 50px;
    }
    .footer_links {
        padding: 10px 0;
    }
    button.outline-btn {
        margin: 20px 0 0 2px;
    }
    .footer_sub_nav {
        float: none;
        ;
    }
    .footer_sub_nav ul li {
        float: none;
        padding-bottom: 6px;
        margin: 0;
    }
    div#autocompleteResults,
    .ctrl-right {
        /** temporarily hide **/
        display: none;
    }
    div#autocompleteResults {
        background: #f6fcff;
        border: 1px solid #eee;
        padding: 20px 10px 20px 0px;
        margin: 10px 0 0 -4px;
        position: absolute;
        width: 320px;
    }
    .ctrl-right {
        display: none;
    }
    // button.navbar-toggle.collapsed {
    //     margin: 15px 15px 0 0;
    // }
}

/* Landscape */
// @media only screen 
//   and (min-device-width: 320px) 
//   and (max-device-width: 480px)
//   and (-webkit-min-device-pixel-ratio: 2)
//   and (orientation: landscape) {
//     .nav-secondary-tabs.affix {
//         height: 107px;
//     }
// }

/*
*
* medium displays  **********************************************************
*
*/

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        background: red;
    }
    .ctrl-right {
        float: right;
        padding: 5px 16px 0;
    }
    .nav-secondary .search-form {
        margin: 14px 10px 5px 0;
    }
    .sidebar-home {}
    #sidebar-wrapper {
        width: 200px;
    }
    #sidebar-wrapper-home {
        display: none;
    }
    .ctrl-right {
        /** temporarily hide **/
        display: none;
    }
}


/*
*
* Bootstrap Overrides : super embarrassing  ***********************************************************************
*
*/

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px;
        color: #fff;
        text-align: center;
    }
}

.navbar-nav>li>a {
    color: #fff !important;
}

.navbar-collapse,
.navbar-form {
    border-color: transparent;
}

.navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.dropdown-menu>li>a {
    font-size: 13.5px;
    line-height: 16px;
    color: #1488c6;
    padding: 5px 15px;
    display: block;
}

.btn-default:hover {
    color: #fff!important;
    background-color: transparent!important;
    border-color: none!important;
    box-shadow: none!important;
    opacity: .8;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background: trr;
    background: transparent;
    color: #fff;
    box-shadow: none;
}

.btn-default:focus,
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff!important;
    background-color: transparent!important;
    border-color: none!important;
    box-shadow: none!important
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: #337ab7;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0c5176;
}
