/*
*
* this css will be integrated into master. for now testing.......
*
*/

/* Archive butterbar */
#archive-butterbar {
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 34px;
  border: 1px solid #254356;
  background-color: #FFE1C0;
  color: #254356;
  width: 100%;
  z-index: 9999;
}

#archive-butterbar.top {
  position: relative;
  margin-top: 0;
}

/* Archive butterbar when the top nav is fixed */
#archive-butterbar.fixed {
  position: fixed;
  top: 55px;
}
