@import "dux/css/colors";
@import "dux/css/box";

.resetPassPage {
  background: var(--docker-dark);
  height: 100%;
  padding-top: 100px;
}

.resetPassSubmit {
  margin-top: var(--default-margin);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  text-align: center;
}

.head {
  color: var(--white);
  font-size: 2rem;
  font-weight: 200;
}

.subHead {
  color: var(--info-color);
}

.logo {
    width: 90px;
    height: 110px;
}

.back {
  margin-top: var(--default-margin);
  text-align: center;
}
