.header {
    font-weight: 500;
    font-size: 1.25rem;
}
.addCommentBox {
}
.addCommentBoxTextArea {
    color: black;
    background: white;
    width: 100%;
    height: 100px;
    resize: none;
    &:focus {
        background: white;
    }
}

.button {
    margin-top: .5rem;
}
.closed {
    display: none;
}