{{ define "left" }}
  {{ partial "sidebar.html" . }}
{{ end }}

{{ define "main" }}
  {{ partial "breadcrumbs.html" . }}
  <article class="prose max-w-none dark:prose-invert">
    {{ with .Title }}
    <h1 class="scroll-mt-36">{{ . }}</h1>
    {{ end }}
    <blockquote>
      <p><strong>Note</strong></p>
      <p>
        Samples compatible with
        <a href="{{ absURL "/desktop/dev-environments/" }}"
          >Docker Dev Environments</a
        >
        require
        <a href="{{ absURL "/get-docker/" }}">Docker Desktop</a>
        version 4.10 or later.
      </p>
    </blockquote>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Docker Dev Environment (if compatible)</th>
        </tr>
      </thead>
      <tbody>
        {{ range site.Data.samples.samples }}
          {{ if in .services $.Params.service }}
            <tr>
              <td>{{ printf "[%s](%s)" .title .url | markdownify }}</td>
              <td>{{ .description }}</td>
              <td>
                {{ if .dev_env }}
                  {{ printf "[Open in Docker Dev Environment](https://open.docker.com/dashboard/dev-envs?url=%s)" .url | markdownify }}
                {{ end }}
              </td>
            </tr>
          {{ end }}
        {{ end }}
      </tbody>
    </table>

    <h2>Looking for more samples?</h2>

    <p>Visit the following GitHub repositories for more Docker samples.</p>

    <ul>
      <li>
        <p>
          {{ markdownify "[Awesome Compose](https://github.com/docker/awesome-compose)" }}:
          A curated repository containing over 30 Docker Compose samples. These
          samples offer a starting point for how to integrate different services
          using a Compose file.
        </p>
      </li>
      <li>
        <p>
          {{ markdownify "[Docker Samples](https://github.com/dockersamples?q=&type=all&language=&sort=stargazers)" }}:
          A collection of over 30 repositories that offer sample containerized
          demo applications, tutorials, and labs.
        </p>
      </li>
    </ul>
  </article>
{{ end }}

{{ define "right" }}
  {{ partial "aside.html" . }}
{{ end }}
