.formbox {
    composes: formbox from '../../../settings/formstyle.css';
}
.row {
    composes: row from '../../../settings/formstyle.css';
    lost-utility: clearfix;
}
.existingUsersColumn {
    lost-column: 7/10;
    .userRows {
        height: 150px;
        overflow-y: scroll;
        .check {
            display: inline-block;
        }
    }
    .searchInput {
        margin-top: 1em;
    }
}
.selectedUsersColumn {
    lost-column: 3/10;
    background-color: #e7e7e7;
    padding: 1em;
    margin-top: 1em;
}
.buttonRow {
    justify-content: flex-end;
    margin-top: 1em;
}