@import "utilities";

.card {
  padding: 48px;
}

.addRepo {
  color: $color-variant-dull;
  margin-top: $space-md;
}

.closeModal {
  position: absolute;
  top: $space-md;
  right: $space-md;
}

.modal {
  background: $color-white;
  display: flex;
}

.agreementText {
  overflow: auto;
}

.agreementFrame {
  border: 1px;
  border-style: solid;
  border-color: $color-porcelain;
  border-radius: 5px;
  flex: 1 auto;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 600;
  color: #354a5b;
  margin: 0 0 $space-xxs;
}

.subText {
  font-size: 12px;
  font-weight: normal;
  color: $color-regent-gray;
  margin: 0;
}

.thankyou {
  color: $color-fiord;
  font-size: 14px;
  margin-top: 48px;
  line-height: 1.6;
}

.submit {
  @mixin 2columns 9, 3;
  margin: 24px 0;
}

.button {
  margin: 0;
  padding: 0 $space-xl;
  float: right;
  display: flex;
  align-items: center;
  cursor: pointer;
  .chevron {
    transform: rotate(-90deg);
    top: 0;
  }
}

.error {
  color: $color-variant-panic;
}

.agreement {
  display: flex;
  align-items: center;

  .agreementcheckbox {
    flex: 0 auto;
  }

  .agreementlabel {
    margin: 0 0 0 -10px;
    cursor: pointer;
  }
}

.displaynameinput {
  margin-top: 12px;
  width: 500px;
}

.fields {
  margin-bottom: 28px;
}

.checkbox {
  color: $color-fiord;
}

.sourceRow {
  @mixin 4columns 4, 4, 3, 1;
  margin-top: $space-sm;
  align-items: center;
}

.select {
  margin-right: $space-sm;
}

.removeField {
  fill: $color-variant-panic;
  margin-bottom: $space-lg;
  &:hover {
    fill: $color-variant-panic-hover;
    cursor: pointer;
  }
}

.noRep {
  margin: $space-lg 0;
}
