@import 'dux/css/colors.css';
@import 'dux/css/box.css';

.cancel {
    color: var(--primary-5);
}
.cancel:hover {
    color: color(var(--primary-5) blackness(15%));
}

.shield {
  margin-right: 0.5rem;
}

.nautilusUpsellRow {
  display: flex;
  width: 100%;
  padding: 0.3rem;
  background: #f1f6fb;
}

.nautilusUpsell {
  width: 100%;
  margin: 0.75rem;
  background: var(--white);
  border: 1px solid var(--secondary-5);
  border-radius: var(--global-radius);

  label {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1rem;
    color: var(--secondary-2);
  }
}

.nautilusEnabled {
  border-color: #22b8eb;
}

.enableNautilus {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;

  input {
    margin: 0;
  }
}

.monitoredWithNautilus {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}
