#!/usr/bin/env bash

################################################################################
# Docker.Config created on 2015-10-01 by michaK                                #
################################################################################
#                       ____             __                                    #
#                      / __ \____  _____/ /_____  _____                        #
#                     / / / / __ \/ ___/ //_/ _ \/ ___/                        #
#                    / /_/ / /_/ / /__/ ,< /  __/ /                            #
#                   /_____/\____/\___/_/|_|\___/_/                             #
#                                                                              #
################################################################################
#                     Global Configuration                                     #
################################################################################

# folder where all mac files are located
MAC_FOLDER_PATH=$(cd "$SCRIPT_FOLDER_PATH/.."; pwd; cd - > /dev/null)

# Root of the repository
REPO_ROOT=$(git rev-parse --show-toplevel)

# where build artefacts are going
BUILD_FOLDER_PATH="$(cd "$SCRIPT_FOLDER_PATH/.."; pwd; cd - > /dev/null)/build"

# Git folder path, used to by dependencies to clone
# the project in right location, related to GOPATH
GIT_PATH="github.com/docker/pinata"
GIT_URL="https://$GIT_PATH"

verbose=false           # print debug output
autoYes=true            # automatically respond yes to user prompts

# CI variables
CI=${CI:-}
CIRCLE_TAG=${CIRCLE_TAG:-}
HOCKEYAPP_TOKEN=${HOCKEYAPP_TOKEN:-}
CIRCLE_BUILD_NUM=${CIRCLE_BUILD_NUM:-}

goRecommendedVersion='1.5.1'

logFilename="$MAC_FOLDER_PATH/buildlog.txt"

# CHANGELOG
changeLogPath="${MAC_FOLDER_PATH}/../../CHANGELOG"

# circleci
cacheDirectory=${CACHE_DIR:-$REPO_ROOT/_cache}

# toolbox binaries versions
toolboxDockerVersion='1.12.2-rc1'
toolboxMachineVersion='0.8.2'
toolboxComposeVersion='1.8.1'
# not used at present
toolboxNotaryVersion='0.1'

# slirp
slirpBuildNumber='437'
slirpCommit='9cb6374ebfd0656961901478e9fc8cf65d000678'

# datakit
datakitBuildNumber='224'
datakitCommit='09081b419292627b5992ab4a2d5f95cc0257479b'

# tools to include in the bundle
bundleKitematic=false
toolboxKitematicUrl=https://download.docker.com/kitematic/Kitematic-Mac.zip

# HockeyApp Tokens. these are test keys that will off course be revoked
hockeyAppApiUrl='https://rink.hockeyapp.net/api/2/apps'
hockeyAppOSXTestId="844a941a3f3e4125865deee98fdf976f"
hockeyAppOSXAlphaId="e89aea10ddc530011df5c23127e4fcc1"
hockeyAppOSXMasterId="e63b4e58fd9d40e48e74f8f2e71c49a5"
hockeyAppOSXStableId="ce4391b4d3be4a18ad60dafb8c56ae74"

# Docker release endpoint
dockerAppStageUrl='https://download-stage.docker.com'
dockerAppUrl='https://download.docker.com'
dockerAppRelease='appcast.xml'

uploadFormat='dmg' # valid values are [ 'dmg', 'app' ]
