<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="icon" type="image/png" href="{{.Site.BaseURL}}/images/favicon-16x16.png" sizes="16x16">
    <link href="{{.Site.BaseURL}}/css/flexboxgrid.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{.Site.BaseURL}}/css/main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{.Site.BaseURL}}/css/tomorrow-night.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>
  <body>
    <div class="container">
