<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleIdentifier</key>
    <string>com.docker.frontend</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>docker-frontend-http-client</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
</dict>
</plist>
