{{ define "main" }}
  {{ partial "breadcrumbs.html" . }}
  <article class="DocSearch-content prose max-w-none dark:prose-invert">
    <a class="link" href="/categories/"><span class="icon-svg">{{ partialCached "icon" "navigate_before" "navigate_before" }}</span>View all categories</a>
    <h1 class="scroll-mt-36">{{ .Title }}</h1>
    {{ .Content }}
    <div class="not-prose flex justify-between items-center">
      <span class="text-gray-light dark:text-gray-dark">In this category</span>
      {{ partial "pagination.html" . }}
    </div>
    <table>
      <thead>
        <tr>
          <th width="50%">Title</th>
          <th width="50%">Section</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Paginator.Pages }}
        {{ $scratch := partialCached "utils/tocparser.html" . . }}
        {{ $sections := $scratch.GetSortedMapValues "sections" }}
        <tr>
          <td>
            <a href="{{ .Permalink }}" class="link">
              {{ .Title }}
            </a>
          </td>
          <td>
            <span class="text-gray-light dark:text-gray-dark">
              {{ range $i, $e := $sections }}
                {{ if $i }} / {{ end }}
                {{ $e.title }}
              {{ end }}
            </span>
          </td>
        </tr>
        {{ end }}
      </tbody>
    </table>
  </article>
{{ end }}
