.main{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.storePromo {
  text-align: center;
  padding-left: 2rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: white;

  /* set fallback in case multiple background images are not supported */
  background-color: #008BBF;
  background-image:
    linear-gradient(-74deg, transparent 90%, rgba(255, 255, 255, 0.23) 20%),
    linear-gradient(-74deg, transparent 83%, rgba(255, 255, 255, 0.18) 15%),
    linear-gradient(-74deg, transparent 76%, rgba(255, 255, 255, 0.1) 15%);

  a {
    padding-bottom: 0.3rem;
    color: inherit;
    text-decoration: none;
  }

  .storePromoUnderline {
    text-decoration: underline;
  }
}
