@import 'dux/css/box';

.logo {
    width: 45px;
    height: 55px;
}
/**
 * Add a Link to an svg nested within an <a>
 * Possibly useful as a global?
 */
.svgLink:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.avatar {
    border-radius: var(--global-radius);
    width: 30px;
    height: 30px;
}
.username {
    margin-left: .4rem;
}