@import "dux/css/colors.css";
@import "dux/css/box.css";

/* Upper Section */
.header {
    background: var(--docker-dark);
    color: var(--smoke);
    min-height: 560px;
    height: 100%;
    padding-top: 75px;
}
