{{- $colors := (dict
  "amber" "bg-amber-500 dark:bg-amber-300"
  "blue" "bg-blue-500 dark:bg-blue-300"
  "green" "bg-green-500 dark:bg-green-300"
  "red" "bg-red-500 dark:bg-red-300"
  "violet" "bg-violet-500 dark:bg-violet-300"
  )
-}}

{{- if not (isset $colors .color) -}}
  {{- errorf "[badge] wrong color name: '%s' - supported values: amber, blue, green, red, violet" .color -}}h
{{- end -}}


<span
  class="not-prose {{ index $colors .color }} rounded-sm px-1 text-xs text-white"
  >{{ .content }}</span
>
