
<div class="card">
  {{ if .link }}
    <a href="{{ .link }}" class="card-link">
  {{ end }}
    <div class="card-header flex items-center gap-4">
      {{ with .icon }}
        {{ if strings.ContainsAny . "/." }}
          <img class="card-icon w-[32px] invertible" src="{{ . }}" alt="">
        {{ else }}
          <span class="icon-svg">{{ partial "icon" . }}</span>
        {{ end }}
      {{ end }}
      <h3 class="card-title">{{ markdownify .title }}</h3>
    </div>
    <div class="card-content">
      <p class="card-description">{{ .description | markdownify }}</p>
    </div>
  {{ if .link }}
    </a>
  {{ end }}
</div>
