<div class="not-prose">
  <div
    class="mt-1.5 mb-1.5 flex flex-col gap-4 rounded-sm bg-gray-100 p-6 sm:flex-row dark:bg-gray-800"
  >
    <div class="flex flex-grow flex-col sm:items-center">
      <span><strong>Skill level</strong></span>
      <span>{{ .Params.skill }}</span>
    </div>
    <div class="flex flex-grow flex-col sm:items-center">
      <span><strong>Time to complete</strong></span>
      <span>{{ .Params.time }}</span>
    </div>
    <div class="flex flex-grow flex-col sm:items-center">
      <span><strong>Prerequisites</strong></span>
      <span>{{ .Params.prereq }}</span>
    </div>
  </div>
</div>
