:global {


	.dux__Button__button {
		border-radius: 2px;

		&:hover {
			background-color: color(~colors.primary1 lightness(65%));
			transition: .25s all;
		}
	}

	.dux__Button__variant-secondary,
	.dux__Button__variant-secondary:not(.dux__Button__active) {
		color: ~colors.primary1;
		background-color: transparent;
		border: 1px solid ~colors.primary1;

		&:hover {
			background-color: color(~colors.primary1 lightness(90%));
			transition: .25s all;
		}
	}

	.dux__Button__variant-ghost-alert {
		&:hover {
			background: ~colors.alertColor;
		}
	}

	.dux__Card__card {
	    height: inherit;
		border-radius: 2px;
	}

  .rc-tooltip {
    z-index: 9999999;
    max-width: 400px;
  }
}

