.searchInputContainer {
	position: relative;
	color: #fff;
}

.typeaheadContainer {
	border: 0 none;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background: color(~colors.primary1 lightness(70%));

	input {
		width: 100%;
		padding-left: 45px;
		border: 0;
		outline: 0;
		background: transparent;

		@define-mixin placeholder {
			color: #fff;
			opacity: 0.8;
			font-weight: 300;
			letter-spacing: .025rem;
		}

		&:focus {
			outline: 0 none;
		}

		&::-moz-placeholder {
			@mixin placeholder;
		}
		&::-ms-input-placeholder {
			@mixin placeholder;
		}
		&::-webkit-input-placeholder {
			@mixin placeholder;
		}
	}

	ul {
		z-index: 500;
		list-style: none;
		list-style-type: none;

		/** Typeahead adds some style attributes.. **/
		color: ~colors.primary1 !important;

		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
		border-radius: 2px;
		padding: 10px 0;
		margin-top: 1px;

		li p {
			display: block;
			position: relative;
			padding: 5px 10px 5px 45px;
			margin: 0;
			cursor: pointer;
			font-size: .9rem;
			&:hover {
				text-decoration: none;
				background: #f5f5f5;
			}
		}
	}
}

.result {
	position: relative;
}

.icon {
	position: absolute;
	left: 16px;
	top: 50%;
	margin-top: -10px;
}

.resultIcon {
	position: absolute;
	left: 17px;
	top: 8px;
	z-index: 1;
}

:global {
	#react-typeahead-activedescendant-1 p {
		background: #f5f5f5;
	}
}
