<div id="remove-modal" class="ui small modal transition" ng-submit="vm.removeImage()">
  <i class="close icon"></i>
  <div class="header">
    Remove Image: {{ vm.selectedImage.Id.substring(0,12) }}
  </div>
  <div class="content">
    <p>This image has the following tags:</p>
    <ul>
      <li ng-repeat="t in vm.selectedImage.RepoTags">{{ t }}</li>
    </ul>
  </div>
  <div class="actions">
    <div class="ui negative button">
      Cancel
    </div>
    <div ng-click="vm.removeImage()" class="ui positive button">
      Remove
    </div>
  </div>
</div>

<div id="pull-modal" class="ui small modal transition" ng-submit="vm.pullImage()">
  <i class="close icon"></i>
  <div class="header">
    Pull Image
  </div>
  <div class="content">
		<div class="ui error message" ng-show="vm.pullImageError">
			{{ vm.pullImageError }}
		</div>
    <div class="ui form">
      <div class="field">
        <label>Name</label>
        <input type="text" name="imageName" ng-model="vm.pullImageName" placeholder="image-name:tag">
      </div>
      <div class="field">
        <div class="ui checkbox">
          <input type="checkbox" id="pullRequiresAuth" ng-model="vm.pullRequiresAuth">
          <label for="pullRequiresAuth">Registry requires authentication</label>
        </div>
      </div>
      <div class="ui two fields" ng-show="vm.pullRequiresAuth">
        <div class="field">
          <label>Registry Username</label>
          <input type="text" name="registryUsername" ng-model="vm.registryUsername">
        </div>
        <div class="field">
          <label>Registry Password</label>
          <input type="password" name="registryPassword" ng-model="vm.registryPassword">
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative button">
      Cancel
    </div>
    <div class="ui positive button">
      Pull
    </div>
  </div>
</div>

<div class="ui fluid container">
  <div class="ui grid">
    <div class="two column row">
      <div class="left floated column">
				<div ng-show="vm.user.role > 1 || vm.user.admin === true" ng-click="vm.showPullImageDialog()" class="ui green icon button">
          <i class="download icon"></i> Pull Image
        </div>
      </div>
      <div class="right aligned right floated column">
        <div class="ui left icon input">
            <input ng-model="vm.filter" placeholder="Search images..." />
            <i class="search icon"></i>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="column">
        <table ng-table="vm.tableParams" template-pagination="custom/pager" class="ui very basic unstackable selectable compact table">
          <tr ng-repeat="i in $data">
            <td data-title="'Names'" sortable="'RepoTags'">
              <div class="ui label" ng-repeat="t in i.RepoTags">{{t}}</div>
            </td>
            <td data-title="'Id'" class="collapsing" sortable="'Id'">{{ i.Id.replace('sha256:', '') | limitTo:12 }}</td>
            <td data-title="'Created'" sortable="'Created'">{{i.Created * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
            <td data-title="'Virtual Size'" sortable="'VirtualSize'">{{i.VirtualSize / 1048576 | number:2}} MB</td>
            <td class="right aligned collapsing">
              <div class="ui action buttons">
                <div ng-click="vm.showRemoveImageDialog(i)" class="ui basic icon button">
                  <i class="remove icon"></i>
                </div>
              </div>
            </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $('#pull-modal .ui.form').form({
    fields: {
      teamName: {
        identifier : 'imageName',
        rules: [
        {
          type   : 'empty',
          prompt : 'Please enter an image name'
        }
        ]
      }
    }
  });
</script>
