@import "utilities";

.select {
  width: $select-width;
  height: $select-height;
  display: inline-block;
  margin-right: $space-md;
}

.search {
  height: $select-height;
}

.searchHeader {
  padding-bottom: $space-sm;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.currentSearch {
  @mixin fontSize 2;
}

.clear {
  margin-left: $space-xs;
  text-decoration: underline;
  cursor: pointer;
  color: $color-regent-gray;
}
