@import "mixins.css";
@import "variables.css";

.labelFieldContainer {
  @mixin 2columns 3, 9;
  margin: 0 20px 20px 20px;
}

.field {
  align-self: center;
}

.label {
  color: $color-regent-gray;
  align-self: center;
  text-transform: uppercase;
}

.label.disabled,
.field.disabled {
  color: $color-loblolly;
}
