.warning-message {
  color: #EF4A53;
}
#accountsBase .sidenav a.item.team {
  padding-left: 2.5rem;
}

#accountsBase .sidenav .no-teams {
  padding: 0.5rem 2rem;
}

#accountsBase .sidenav .teams-section .label {
  color: #C0C9CE;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem 2rem 0.5rem 2rem;
  display: inline-block;
}

#accountsBase .sidenav .teams-section a {
  color: #949EA8;
  font-size: 11px;
  float: right;
  padding-right: 16px;
  padding-top: 12px;
  font-weight: 600;
}

#accountsBase .sidenav .teams-section a:hover {
  color: #445D6E;
}
