<div id="delete-team-modal" class="ui small modal transition">
  <i class="close icon"></i>
  <div class="header">
    Are you sure you wish to delete {{ vm.team.name }}?
  </div>
  <div class="content">
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.deleteTeam()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="rename-team-modal" class="ui small modal transition">
  <i class="close icon"></i>
  <div class="header">
    Are you sure you wish to rename {{ vm.team.name }} to {{ vm.newTeamName }}?
  </div>
  <div class="content">
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.renameTeam()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui form details-section">
      <h3>Rename Team</h3>
      <div class="ui fluid field">
        <input type="text" ng-model="vm.newTeamName" placeholder="New team name">
      </div>
      <div class="ui positive button" ng-click="vm.showRenameTeamModal()">Rename Team</div>
    </div>
    <div class="details-section">
      <h3>Delete Team</h3>
      <p>Permanently delete this team</p>
      <div class="ui negative button" ng-click="vm.showDeleteTeamModal()">Delete Team</div>
    </div>
  </div>
</div>
