{{ define "main" }}
  {{ partial "breadcrumbs.html" . }}
  <article class="prose max-w-none dark:prose-invert">
    {{- $img := resources.Get .Params.image }}
    <img src="{{ $img.Permalink }}" alt="{{ .Title }}" class="w-full rounded-lg object-cover h-96">
    <h1 class="scroll-mt-36">{{ .Title }}</h1>
    <div class="text-lg">{{ .Summary }}</div>
    {{ partial "components/guide-summary.html" . }}
    {{ .Content }}
    <hr>
    <div class="text-xl">More learning paths</div>
    {{ partial "post-links.html" (where .CurrentSection.Pages "Permalink" "ne" page.Permalink) }}
  </article>
{{ end }}
