# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/build/ @crazy-max @dvdksn

/content/build-cloud/ @dvdksn

/content/compose/ @aevesdocker

/content/desktop/ @aevesdocker

/content/extensions/ @aevesdocker

/content/extensions-sdk/ @aevesdocker

/content/scout/ @dvdksn

/content/docker-hub/ @aevesdocker @craig-osterhout

/content/engine/ @dvdksn

/content/subscription/ @aevesdocker

/content/docker-hub/publish/ @craig-osterhout

/content/docker-hub/official_images/ @craig-osterhout

/content/registry/ @dvdksn

