# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/content/manuals/build/ @crazy-max @aevesdocker

/content/manuals/build-cloud/ @crazy-max @aevesdocker 

/content/manuals/compose/ @aevesdocker

/content/manuals/desktop/ @aevesdocker

/content/manuals/extensions/ @aevesdocker

/content/manuals/extensions-sdk/ @aevesdocker

/content/manuals/scout/ @craig-osterhout

/content/manuals/docker-hub/ @craig-osterhout

/content/manuals/engine/ @thaJeztah @aevesdocker 

/content/reference/api/engine/ @thaJeztah @aevesdocker 

/content/reference/cli/ @thaJeztah @aevesdocker 

/content/manuals/subscription/ @sarahsanders-docker

/content/manuals/security/ @aevesdocker @sarahsanders-docker

/content/manuals/trusted-content/ @craig-osterhout

/content/manuals/docker-hub/official_images/ @craig-osterhout

/content/manuals/registry/ @craig-osterhout

/content/manuals/admin/ @sarahsanders-docker

/content/manuals/billing/ @sarahsanders-docker

/content/manuals/accounts/ @sarahsanders-docker

/_vendor @sarahsanders-docker
