# Each line is a file pattern followed by one or more owners.
# Owners will be requested for review when someone opens a pull request.

# For more details, see https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

/build @dockertopia @crazy-max

/compose/ @dockertopia @usha-mandya

/desktop/ @aevesdocker @usha-mandya

/docker-hub/ @jerae-duffin @craig-osterhout

/engine/ @dockertopia @usha-mandya

/registry/ @usha-mandya

/single-sign-on/ @jerae-duffin 

/single-sign-on/index.md @craig-osterhout

/subscription/ @jerae-duffin
