.repository-list-item {
  display: flex;
  flex-flow: row;
  border: 1px solid $secondary-5;
  border-radius: $global-radius;
  margin: 1rem;
  font-weight: $font-weight-bold;
  color: $secondary-2;
  background: $white;
  &:hover {
    border-color: $primary-1;
    .section {
      &.action {
        background-color: $primary-1;
        color: white;
        border-color: $primary-1;
      }
    }
  }
  > a {
    display: flex;
    flex: 1;
  }
  .avatar {
    background: $primary-color;
    width: 50px;
    height: 50px;
    border-radius: $global-radius;
  }
  .section {
    display: flex;
    border-left: 1px solid $secondary-5;
    padding: 1rem;
    flex-flow: row;
    &.head {
      flex-grow: 1;
    }
    &:first-child {
      border-left: 0;
    }
    &.stats {
      min-width: 100px;
      text-align: center;
    }
    &.action {
      background-color: $secondary-5;;
      color: $secondary-4;
      flex-flow: column;
      i {
        position: relative;
        top: 0.5rem;
        left: 1.2rem;
      }
      .text {
        margin-top: 1.2rem;
        margin-left: 0.4rem;
        font-size: 0.7rem;
      }
    }
    .title {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 0.25rem;
    }
    .labels {
      font-size: rem-calc(12px);
      color: $secondary-4;
      .official {
        color: $primary-1;
      }
      .public {
        color: darken($primary-1, 30%);
      }
      .private {
        color: darken($primary-6, 35%);
      }
      .automated {
        color: $secondary-4;
      }
    }
    .label-value {
      padding-top: 0.25rem;
      margin: 0 auto;
      .value {
        font-size: rem-calc(14px);
        margin-bottom: 0.25rem;
        color: $secondary-3;
      }
      .sub-label {
        font-size: rem-calc(10px);
        color: $secondary-3;
      }
    }
    .repo-name {
      font-size: rem-calc(18px);
    }
  }
}
