<ul class="pagination">
  <li {% if include.selected=="1"%}class="active"{% endif %}><a href="/language/dotnet/build-images/">Build images</a></li>
  <li {% if include.selected=="2"%}class="active"{% endif %}><a href="/language/dotnet/run-containers/">Run your image as a container</a></li>
  <li {% if include.selected=="3"%}class="active"{% endif %}><a href="/language/dotnet/develop/">Use containers for development</a></li>
  <li {% if include.selected=="4"%}class="active"{% endif %}><a href="/language/dotnet/configure-ci-cd/">Configure CI/CD</a></li>
  <li {% if include.selected=="5"%}class="active"{% endif %}><a href="/language/dotnet/deploy/">Deploy your app</a></li>
</ul>
