@import "utilities";

/* stylelint-disable block-no-empty */
:global .dtab {
  text-transform: uppercase;
}
/* stylelint-enable */

/* vertical tab */
:global .dvtab {
  text-align: left;
  text-transform: inherit;
  font-weight: normal;
  font-size: $font-size-1;
  line-height: $line-height-display-1;
  color: $color-regent-gray !important;
  border-bottom: none !important;
  border-left: 4px solid transparent !important;
  margin-top: 2px;
  margin-bottom: 2px;

  &:hover {
    border: none !important;
    border-bottom: none !important;
    border-left: 4px solid $color-picton-blue !important;
  }
}

/* vertical selected state */
.vselected {
  &,
  &:hover {
    border-left: 4px solid $color-picton-blue !important;
  }
}

/* We need to override default button styles */
.tab:global.dbutton {
  &,
  &:hover {
    border: none;
    background: none;
  }
}

.addBorder:global.dbutton {
  &,
  &:hover {
    border-bottom: 2px solid;
  }
}

.noBorder:global.dbutton {
  &,
  &:hover {
    border-bottom: 2px solid transparent;
  }
}

.tab {
  line-height: $line-height-display-1;
  min-width: $tab-min-width;
  margin: 0;
  padding-left: $space-sm;
  padding-right: $space-sm;
  border-radius: 0;
  color: $color-loblolly;

  &:hover {
    color: $color-regent-gray;
  }
}

.tab.selected {
  &,
  &:hover {
    color: $color-dodger-blue;
    border-bottom-color: $color-dodger-blue;
  }
}

.icon.tab:global.dbutton {
  border-bottom-color: transparent;
  padding: 0;
  min-width: auto;
  width: $tab-icon-width;
}

.icon.tab :global .dicon {
  fill: $color-anakiwa;
}

.icon.tab.selected :global .dicon {
  fill: $color-dodger-blue;
}
