[submodule "adminserver/ui/private-deps/dux"]
	path = adminserver/ui/private-deps/dux
	url = git@github.com:docker/docker-ux.git
[submodule "adminserver/ui/swagger-ui"]
	path = adminserver/ui/swagger-ui
	url = https://github.com/wordnik/swagger-ui.git
	branch = dux-redux
[submodule "adminserver/ui/private-deps/dtr-js-sdk"]
	path = adminserver/ui/private-deps/dtr-js-sdk
	url = git@github.com:docker/dtr-js-sdk.git
