[submodule "tests/src/github.com/gdevillele/frontparser"]
	path = tests/src/github.com/gdevillele/frontparser
	url = https://github.com/gdevillele/frontparser.git
	branch = f28e87c7b9dae139855b574e96f22822986249a8
[submodule "tests/src/golang.org/x/net"]
	path = tests/src/golang.org/x/net
	url = https://go.googlesource.com/net
	branch = 45e771701b814666a7eb299e6c7a57d0b1799e91
[submodule "tests/src/gopkg.in/yaml.v2"]
	path = tests/src/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
	branch = a5b47d31c556af34a302ce5d659e6fea44d90de0
