node_modules
dist
dist-app-server
.tmp
.sass-cache
app/bower_components
test/bower_components
.idea
.nodemon-find-ref
.DS_Store

\#*#
.#*

auto-docs

netrc
private-deps/*
app/scripts/build
restclient.rc
.build
.build-prod