[submodule "tests/src/github.com/gdevillele/frontparser"]
	path = tests/src/github.com/gdevillele/frontparser
	url = https://github.com/gdevillele/frontparser.git
[submodule "tests/src/golang.org/x/net"]
	path = tests/src/golang.org/x/net
	url = https://go.googlesource.com/net
[submodule "tests/src/gopkg.in/yaml.v2"]
	path = tests/src/gopkg.in/yaml.v2
	url = https://github.com/go-yaml/yaml.git
[submodule "samples/library"]
	path = samples/library
	url = https://github.com/docker-library/docs.git
