##
# Default configuration file
#
# This file overrides options set in _config.yml for production / deploy
##
name: Docker Documentation
markdown: kramdown
kramdown:
  input: GFM
  gfm_quirks: [paragraph_end, no_auto_typographic]
  html_to_native: true
  hard_wrap: false
  syntax_highlighter: rouge
  toc_levels: 2..3
incremental: true
permalink: pretty
safe: false
lsi: false
exclude: ["_samples", "_scripts", "404.html", "datacenter", "ee", "index.html", "js/metadata.json"]

# Component versions -- address like site.docker_ce_version
# You can't have - characters in these for non-YAML reasons
latest_engine_api_version: "1.41"
docker_ce_version: "20.10"
compose_version: "1.29.2"
compose_file_v3: "3.9"
compose_file_v2: "2.4"
machine_version: "0.16.0"
distribution_version: "2.7"
compose_switch_version:  "1.03"

# List of plugins to enable for local development builds. Mostly the same as
# for production, but without the "jekyll-sitemap" plugin, which is not needed
# for previewing, and excluding saves some time to build
plugins:
  - jekyll-redirect-from
  - jekyll-relative-links

# Assets
#
# We specify the directory for Jekyll so we can use @imports.
#
# For local development, we build css with the "expanded" format to produce
# human-readable output for easier debugging.
sass:
  sass_dir: _scss
  style: expanded

# Set default options / metadata for some paths.
#
# Setting options here prevents having to repeat the same option in front-matter
# on every page. Avoid using wildcards, such as "path: engine/api/v1.*", as
# limitations in Jekyll cause those to introduce a _severe_ impact on build-time,
# affecting generation of (e.g.) sitemap.xml and metadata.json, resulting in the
# total build to take 60 seconds longer to build (!).
#
# The list below is for "development" (local builds, and PR previews) builds only,
# and should be kept minimal to allow for fast builds. Other options should go
# into _config_production.yml, which is used for production deploys.
defaults:
  - scope:
      path: ""
      type: "pages"
    values:
      layout: docs
      sitemap: false
      toc_min: 2
      toc_max: 3

  - scope:
      path: engine/reference/commandline
    values:
      skip_read_time: true
