<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>English</string>
    <key>CFBundleIdentifier</key>
    <string>com.docker.driver.amd64-linux</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>docker-driver-amd64-linux</string>
    <key>CFBundleVersion</key>
    <string>1.0</string>
</dict>
</plist>
