.label {
  display: inline-block;
  font-size: .8rem;
  background: ~colors.primary2;
  border-radius: 1rem;
  color: #fff;
  padding: 0 .5rem .05rem .5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  vertical-align: middle;

  &.accessLevel, &.role, &.repoAccessLevel {
    border-radius: 3px;
    border: 1px solid ~colors.base;
    color: ~colors.base;
    background: white;
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &.role {
    margin-left: 5px;
  }

  &.members {
  }

  &.selectedMembers {
    color: ~colors.textColor;
    background: transparent;
  }

  &.repository {
    color: ~colors.primary1;
    font-size: 12px;
    background: transparent;
    border: 1px solid ~colors.primary1;
    border-radius: 0;
  }

  &.repositoryTag {
  }
}
