<div id="remove-node-modal" class="ui small modal transition">
  <i class="close icon"></i>
  <div class="header">
    Remove Node: {{ vm.selectedNode.Description.Hostname }}
  </div>
  <div class="content">
    <p>
      Are you sure you want to remove this node?
    </p>
  </div>

  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.removeNode(vm.selectedNode.ID)" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="add-node-modal" class="ui large modal transition">
  <i class="close icon"></i>
  <div class="header">
    Add Node
  </div>
  <div class="ui form content">
    <div class="ui field">
      <div class="ui checkbox">
        <input type="checkbox" id="machine" ng-model="vm.addNode.manager">
        <label for="machine">Add node as a manager</label>
      </div>
    </div>

    <div class="ui two fields">
      <div class="ui four wide field">
        <div class="ui checkbox">
          <input type="checkbox" id="useCustomListenAddr" ng-model="vm.addNode.useCustomListenAddr">
          <label for="useCustomListenAddr">Use a custom listen address</label>
        </div>
      </div>
      <div class="ui field" ng-show="vm.addNode.useCustomListenAddr">
        <input class="ui input" placeholder="10.0.0.1:2377" ng-model="vm.addNode.listenAddr" type="text"></input>
      </div>
    </div>

    <div class="ui field">
      <label>Secret Passphrase</label>
      <input class="ui input" ng-model="vm.addNode.secret" type="text"></input>
    </div>

    <p>Nodes are added to the cluster by using Docker's swarm join command.  The following command should be executed against the engine you wish to connect to the cluster.</p>

<pre class="ui fixed-width-font segment">
docker swarm join \<span ng-if="vm.addNode.manager"><br/>  --manager \</span><span ng-if="vm.addNode.listenAddr"><br/>  --listen-addr {{vm.addNode.listenAddr}} \</span><span ng-if="vm.addNode.secret"><br/>  --secret {{vm.addNode.secret}} \</span>
  --ca-hash {{vm.info.Swarm.CACertHash}} \
  {{ vm.info.Swarm.RemoteManagers[0].Addr }}
</pre>

  </div>
  <div class="actions">
    <div class="ui inverted blue cancel button">
      Done
    </div>
    <div class="ui green icon button" ng-if="!vm.copied" ngclipboard ngclipboard-success="vm.copied = true; e.clearSelection();" data-clipboard-target="#add-node-modal pre">
      <i class="ui clipboard icon"></i>
      Copy to Clipboard
    </div>
    <div class="ui disabled icon button" ng-if="vm.copied">
      <i class="ui clipboard icon"></i>
      Copied to Clipboard
    </div>
  </div>
</div>

<div id="nodes" class="ui container">
  <div class="ui grid">

    <div class="two column row">
      <div class="twelve wide column">
        <div class="six wide column">
          <div ng-if="vm.user.admin" class="ui green button" ng-click="vm.showAddNodeModal()">
            <i class="add icon"></i>
            Add Node
          </div>
        </div>
      </div>
      <div class="four wide right aligned column">
        <div class="ui left icon input fluid">
          <input ng-model="vm.filter" placeholder="Search..." />
          <i class="search icon"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <div class="ui cards">
          <div class="ui card" ng-repeat="n in vm.nodes | filter:vm.filter" jquery ng-click="vm.inspectNode(n.ID)">
            <div class="title content">
              <i class="right floated grey delete icon" ng-click="vm.showRemoveNodeModal(n)" stop-event='click'></i>
              <i class="right floated stop tooltip icon" ng-click="vm.drain(n.ID)" ng-if="n.Spec.Membership !== 'pending' && n.Status.State !== 'down'" ng-class="{'red': n.Spec.Availability === 'drain', 'grey': n.Spec.Availability !== 'drain'}" ng-if="n.Status.State !== 'ready'" stop-event='click'></i>
              <div class="ui popup">
                <b>Drain</b> availability prevents a node from receiving new tasks from the swarm manager. It also means the manager stops tasks running on the node and launches replica tasks on a node with <b>Active</b> availability.
              </div>
              <i class="right floated pause tooltip icon" ng-click="vm.pause(n.ID)" ng-if="n.Spec.Membership !== 'pending' && n.Status.State !== 'down'" ng-class="{'orange': n.Spec.Availability === 'pause', 'grey': n.Spec.Availability !== 'pause'}" ng-if="n.Status.State !== 'ready'" stop-event='click'></i>
              <div class="ui popup">
                <b>Pause</b> availability prevents a node from receiving new tasks from the swarm manager.
              </div>
              <i class="right floated play icon" ng-click="vm.activate(n.ID)" ng-if="n.Spec.Membership !== 'pending' && n.Status.State !== 'down'" ng-class="{'green': n.Spec.Availability === 'active', 'grey': n.Spec.Availability !== 'active'}" ng-if="n.Status.State !== 'ready'" stop-event='click'></i>
              <h5 class="header">{{ n.Description.Hostname || n.name || 'Unknown' }}</h5>
            </div>
            <div class="state status content" ng-class="{'red': n.Status.State === 'down' || n.Status.State === 'disconnected', 'grey': n.Status.State === 'unknown', 'green': n.Status.State === 'ready'}" ng-if="n.Spec.Membership !== 'pending' && n.Status.State">
              <h5 class="header" ng-if="n.Status.State === 'unknown'">
                <div class="ui active mini inverted inline loader" />
                Updating Node Status
              </h5>
              <h5 class="header" ng-if="n.Status.State !== 'unknown'">
                {{ n.Status.State | capitalize }}
                <span class="subheader" ng-if="n.Description.Hostname && !n.name"><i class="warning icon"></i> UCP Agent Service Missing</span>
                <span class="subheader" ng-if="!n.Description.Hostname && n.name"><i class="warning icon"></i> Swarm Mode Missing</span>
              </h5>
            </div>
            <div class="content">
              <h5 class="weak clearing header">Role</h5>
              <a class="right floated" ng-show="n.Spec.Membership !== 'pending' && n.Spec.Role === 'manager'" ng-click="vm.demote(n.ID)" stop-event='click'>Demote</a>
              <a class="right floated" ng-show="n.Spec.Membership !== 'pending' && n.Spec.Role === 'worker'" ng-click="vm.promote(n.ID)" stop-event='click'>Promote</a>
              <p class="left floated">{{ (n.Spec.Role | capitalize) || 'Unknown' }} <span class="weak" ng-if="n.ManagerStatus && n.ManagerStatus.Leader">(Leader)</span></p>
              <h5 class="weak clearing header">Engine</h5>
              <p>{{ n.Description.Engine.EngineVersion || 'Unknown' }}</p>
              <h5 class="weak header">Platform</h5>
              <p>{{ n.Description.Platform.OS || 'Unknown' }} {{ n.Description.Platform.Architecture }}</p>
            </div>
            <div class="extra content" ng-if="n.Description.Hostname && n.name && n.Spec.Membership !== 'pending'">
              <span>
                <svg-icon p="containers"></svg-icon>
                <p>{{ n.containers || 'Unavailable' }}</p>
              </span>
            </div>
            <div class="extra content" ng-if="vm.ucpAgentTasks[n.ID].Status.Err">
              <span class="red fixed-width-font" ng-if="vm.ucpAgentTasks[n.ID].Status.Err">{{vm.ucpAgentTasks[n.ID].Status.Err}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
