@import "utilities";

.enroll {
  margin-top: 72px;

  @mixin 2columns 9, 3;
}

.card {
  min-height: 600px;
  padding-top: 0;
}

.confirmed {
  margin-top: 128px;
  text-align: center;
}

.confirmedMessage {
  text-align: center;

  @mixin fontSize 4;
}

.error {
  fill: $color-carnation;
}

.check {
  fill: $color-robins-egg-blue;
}

.enrollForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 48px;
  }

  h3 {
    margin-top: 0;
    font-weight: 500;
  }
}

.tips {
  margin-left: 20px;
  font-size: 13px;

  .tip {
    margin-bottom: 32px;

    h5 {
      color: #354a5b;
      font-size: 13px;
      margin: 0 0 $space-md;
      font-weight: normal;
    }

    p {
      color: $color-regent-gray;
      margin: 0;
    }
  }
}
