{{ $image := resources.Get .Destination }}
{{ if not $image }}
  {{ errorf "couldn't resolve image: '%s'\n    page: %s" .Destination .Page.File.Filename }}
{{ end }}

{{ $isRasterImage := in "jpeg,png,webp" $image.MediaType.SubType }}

<div
  x-data="{ zoom: false }"
  @click="zoom = ! zoom"
  class="cursor-zoom-in hover:opacity-90"
>
  <img
    {{ if $isRasterImage }}
      {{ if ge $image.Width 800 }}
        src="{{ (images.Filter (images.Process "webp resize 800x") $image).Permalink }}"
        srcset="{{ (images.Filter (images.Process "webp resize 1600x") $image).Permalink }} 2x"
      {{ else }}
        src="{{ ($image.Resize (printf "%dx%d webp" $image.Width $image.Height)).Permalink }}"
      {{ end }}
    {{ else }}
      src="{{ $image.Permalink }}"
    {{ end }}
    loading="lazy"
    alt="{{ .Text }}"
    {{ with .Title }}
      title="{{ . }}"
    {{ end }}
    class="rounded mx-auto"
  />
  <template x-teleport="body">
    <div
      x-show="zoom"
      @click="zoom = false"
      @keyup.escape.window="zoom = false"
      x-transition.opacity.duration.250ms
      class="cursor-zoom-out fixed z-20 inset-0 flex items-center justify-center bg-black/70 p-6"
    >
      <img
        loading="lazy"
        class="rounded max-w-full max-h-full"
        {{ if $isRasterImage }}
          src="{{ ($image.Resize (printf "%dx%d webp" $image.Width $image.Height)).Permalink }}"
        {{ else }}
          src="{{ $image.Permalink }}"
        {{ end }}
        alt="{{ .Text }}"
        {{ with .Title }}title="{{ . }}"{{ end }}
      />
    </div>
  </template>
</div>
