@import "dux/css/colors";

.downloadFlexItem {
    background: var(--white);
    border: 1px solid var(--iron);
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 4;
    flex-basis: 0;
    padding: 1rem 1rem;
    word-break: break-word;
}

.curlHelp {
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.curlWrap {
    width: 100%;
    padding-left: 1rem;
}

