/*
 * API:
 * --label-color
 * --input-text-color
 * --alert-color
 * --highlight-color
 */

input.duxInput {
    padding: 10px 10px 10px 5px;
    border: none;
    border-bottom: 1px solid gray;
    margin: 0;
    color: var(--input-text-color);
}
.duxInput:focus {
    outline: none;
}

.group {
    position: relative;
    margin-bottom: 35px;
}

.hasError {
    border-bottom-color: var(--alert-color);
}

.hasError .label {
    color: var(--alert-color);
}

.hasError .bar:before, .hasError .bar:after {
  background: var(--alert-color);
}

.label {
    color: var(--label-color);
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    top: -20px;
    transition: 0.2s ease all;
}

/* BOTTOM BARS ================================= */
.bar {
    position:relative;
    display:block;

}
.bar:before, .bar:after {
                 content: '';
                 height: 2px;
                 width: 0;
                 bottom: 0;
                 position: absolute;
                 background: var(--highlight-color);
                 transition: 0.2s ease all;
             }
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    transition: 0.2s ease all;
    opacity: 0.5;
}

.duxInput:focus ~ .bar:before {
    width: 50%;
}
.duxInput:focus ~ .bar:after {
    width: 50%;
}

.duxInput:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: var(--highlight-color);
    }
    to {
        width:0;
        background:transparent;
    }
}

