@import "dux/css/colors.css";
@import "dux/css/box.css";

.inputDiv {
  width: 100%;
  margin-bottom: 2rem;
  > input.default {
      padding: 10px 10px 10px 5px;
      border: none;
      border-bottom: 1px solid #cbcbcb;
      margin: 0;
      color: #465f77;
      &:focus {
        outline: none;
      }
      &:focus::placeholder {
        transition: opacity .5s ease;
        opacity: .5;
      }
  }
  &.hasError > input {
    border-bottom: 1px solid var(--alert-color);
  }
}

.white {
    > input.default {
      color: var(--white);
      border-bottom: 1px solid #465f77;
      &::placeholder {
        color: #7891b0;
      }
    }
}

.hasError {
    border-bottom-color: var(--alert-color);
    border-radius: var(--global-radius);
}

.hasError .bar:before, .hasError .bar:after {
  background: var(--alert-color);
}

.bar {
    position:relative;
    display:block;
}
.bar:before, .bar:after {
                 content: '';
                 height: 2px;
                 width: 0;
                 bottom: 0;
                 position: absolute;
                 background: var(--primary-color);
                 transition: 0.2s ease all;
             }
.bar:before {
    left: 50%;
}
.bar:after {
    right: 50%;
}
.default:focus ~ .bar:before {
    width: 50%;
}
.default:focus ~ .bar:after {
    width: 50%;
}

.error {
  position: absolute;
  color: var(--alert-color);
  font-weight: 200;
  margin: 0 .5rem;
}
