@import "dux/css/colors.css";
@import "dux/css/box.css";

.pendingDeleteItem {
    background: var(--white);
    border: 1px solid var(--secondary-5);
    border-radius: var(--global-radius);
    color: var(--secondary-2);
    display: flex;
    flex-flow: row;
    margin: 1rem 0;
    font-weight: 500;
    cursor: not-allowed;

    &:hover {
        border-color: var(--primary-5);
        .action {
            background-color: var(--primary-1);
            color: white;
            border-color: var(--primary-1);
        }
    }
}

.repoName {
    color: var(--primary-1);
}
.avatar {
    width: 50px;
    height: 50px;
    border-radius: var(--global-radius);
}
.officialAvatar {
    background: var(--primary-color);
}

/* sections */
.section {
    display: flex;
    border-left: 1px solid var(--secondary-5);
    padding: 1rem;
}
.head {
    composes: section;
    flex-grow: 1;
    flex-flow: row;
    &:first-child {
        border-left: 0;
    }
}

.action {
    composes: section;
    background-color: var(--secondary-5);
    color: var(--secondary-4);
    flex-flow: column;
    i {
        position: relative;
        top: 0.5rem;
        left: 1.2rem;
    }
}
.text {
    margin-top: 1.2rem;
    margin-left: 0.4rem;
    font-size: 0.7rem;
}

/* "Visibility" Classes */
.title {
    padding-left: 1rem;
    padding-right: 1rem;
}
.labels {
    color: var(--secondary-4);
}
.pendingDelete {
    color: var(--primary-5);
}
/* utility */
.flexible {
    display: flex;
    flex: 1;
}
