@import "dux/css/colors.css";
@import "dux/css/box.css";

.repositoryListItem {
    background: var(--white);
    border: 1px solid var(--secondary-5);
    border-radius: var(--global-radius);
    color: var(--secondary-2);
    display: flex;
    flex-flow: row;
    margin: 1rem 0;
    font-weight: 500;

    &:hover {
        border-color: var(--primary-1);
        .action {
            background-color: var(--primary-1);
            color: white;
            border-color: var(--primary-1);
        }
    }
}
.repoName {
    color: var(--primary-color);
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: var(--global-radius);
    display: flex;
}
.img {
    align-self: center;
}
.officialAvatar {
    background: var(--primary-color);
}

/* sections */
.section {
    display: flex;
    border-left: 1px solid var(--secondary-5);
    padding: 1rem;
}
.head {
    composes: section;
    flex-grow: 1;
    flex-flow: row;
    &:first-child {
        border-left: 0;
    }
}
.stats {
    composes: section;
    min-width: 100px;
    text-align: center;
    flex-flow: row;
}
.action {
    composes: section;
    background-color: var(--secondary-5);
    color: var(--secondary-4);
    flex-flow: column;
    i {
        position: relative;
        top: 0.5rem;
        left: 1.2rem;
    }
}
.text {
    margin-top: 1.2rem;
    margin-left: 0.4rem;
    font-size: 0.7rem;
}
/* Stats Boxes */
.labelValue {
    padding-top: 0.25rem;
    margin: 0 auto;
}
.value {
    margin-bottom: 0.25rem;
    color: var(--secondary-4);
}
.subLabel {
    color: var(--secondary-4);
}
/* "Visibility" Classes */
.title {
    padding-left: 1rem;
    padding-right: 1rem;
}
.labels {
    color: var(--secondary-4);
}
/*.official {
    color: var(--primary-1);
}*/
.public {
    color: color(var(--primary-1) blackness(50%));
}
.private {
    color: var(--secondary-4);
}
.automated {
    color: var(--secondary-4);
}
/* utility */
.flexible {
    display: flex;
    flex: 1;
}
