body, html {
  height: 100%;
}

.main-contents {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main-contents #content {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.main-contents #content > div {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.full-width-page {
  overflow: auto;
  height: 100%;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

td.error-text {
  color: #DB2828;
}

.weak {
    opacity: 0.5;
}

label .help.circle.icon:hover {
    cursor: pointer;
}

label .ui.popup {
    text-transform: none;
    min-width: 450px;
}

svg {
    display: block;
    height: 100%;
    width: 100%;
}

.application-checkbox {
  padding-left: 12px;
  margin-right: 28px;
}

.hidden {
    display: none;
    visibility: hidden;
}

.logs {
    margin: 5px;
    font-family: 'Droid Sans Mono';
    font-size: 12px;
    word-break: break-word;
    width: 100%;
}

.menu .item {
    cursor: pointer;
}

div.header {
    margin-bottom: 6px;
}

span.name {
    font-size: 16px;
}

#footer {
    margin-top: 3em;
    margin-bottom: 1.5em;
    color: #C0C9CE;
}

.fixed-width.input input {
    font-family: 'Droid Sans Mono' !important;
}

.fixed-width-font {
  font-family: 'Droid Sans Mono' !important;
  font-size: 13px;
  word-break: break-word;
}

input.fixed-width-font {
  word-break: normal !important;
}

.select-team-widget {
  margin-bottom: 2rem;
}

.select-team-widget a.icon {
  margin-left: 0.6rem;
}

svg {
	vertical-align: middle;
	display: inline-block;
}
