.copyToClipboard {
    position: relative;
    border: 1px solid #8f9ea7;
    height: 36px;
    line-height: 36px;
    background-color: #fff;
    border-radius: 2px;
    font-family: monospace;
    margin-bottom: 1.5rem;

    p {
        overflow-x: scroll;
        white-space: nowrap;
        margin: 0;
        line-height: 36px;
        padding: 0 0.5rem;
        padding-right: 50px;
    }

    .clipboard {
        position: absolute;
        right: 0;
        top: 0;
        height: 34px;
        width: 42px;
        background-color: #e7e7e7;
        color: #3f5167;
        text-align: center;
        cursor: pointer;
        border-left: 1px solid #8f9ea7;
        border-radius: 0 2px 2px 0;
    }
}