@import "utilities";

/* Help Articles */
.articles {
  @mixin wrapped;
  padding-top: 64px;
  padding-bottom: 64px;
}

.helpArticlesCards {
  align-self: stretch;
}

.titleBox {
  margin-bottom: $space-xl;
}

.helpArticlesHeadline {
  @mixin fontSize 6;
  margin-bottom: $space-sm;
}

.helpArticlesDescription {
  @mixin fontSize 2;
  margin-bottom: $space-xl;
}

.link {
  @mixin fontSize 2;
  @mixin semiBold;
  color: $color-fiord;
}
