<div id="deploy" class="ui flex-wrapper form">
  <div class="sidenav">
    <div class="sidenav-section">
      <span class="label">
        Deploy Method
      </span>
    </div>

    <a class="deploy-option item" ui-sref="dashboard.deploywizard" ui-sref-active="active">
      <svg-icon p="jumpstart"></svg-icon>
      <div class="content">Form Wizard</div>
    </a>

    <a class="deploy-option item" ui-sref="dashboard.deploystack" ui-sref-active="active">
      <svg-icon p="stacks"></svg-icon>
      <div class="content">
        DAB Upload<span class="weak" style="margin-left: 5px; text-transform: uppercase;">EXPERIMENTAL</span>
      </div>
    </a>

    <p>Upload a DAB to deploy multiple services at once.</p>

    <div class="fluid field">
      <label>Stack Name</label>
      <div class="ui input" ng-class="{'disabled': vm.logs.length !== 0}">
        <input name="projectName" class="input" tabindex="0" ng-model="vm.projectName"></input>
      </div>
    </div>

    <div tabindex="1" class="ui green fluid deploy button" ng-class="{'disabled': !vm.projectName || !vm.bundleFile}" ng-show="vm.logs.length === 0 && !vm.inProgress" ng-click="vm.createStack()">
      Deploy
    </div>
    <div class="ui disabled blue fluid deploy button" ng-show="vm.inProgress">
      Creating
    </div>
    <div class="ui large deploy buttons" ng-show="vm.logs.length > 0 && !vm.inProgress">
      <div class="ui inverted blue button" ng-click="vm.composeBack()">
        Back to Upload
      </div>
      <div class="ui blue button" ui-sref="dashboard.resources.applications">
        Done
      </div>
    </div>
  </div>

  <div class="ui content-pane fluid container" ng-show="vm.logs.length === 0 && !vm.inProgress">
    <div
      class="ui file-dropper centered grid"
      style="
      "
      ng-model="vm.file"
      ngf-accept="'.dab'"
      ngf-select
      ngf-drop>
      <div class="sixteen wide center aligned middle aligned column" ng-hide="vm.file">
        <i class="ui massive upload grey icon"></i></br>
        <h2 class="weak"><a style="color: #27b4ff; opacity: 1;">Upload a DAB File</a> or drag and drop</h2><br/>
      </div>

      <div class="thirteen wide center aligned middle aligned column" ng-show="vm.file">
        <h2><span class="weak">Selected file:</span> {{ vm.file.name }}</h2>
        <br/>
        <div class="ui left aligned grid">

          <div class="ui sixteen wide column">
            <h2 class="header"><svg-icon p="services"></svg-icon> Services ({{ _.size(vm.parsedBundle.Services) }})</h2>
            <div class="ui big parsed-bundle left aligned list">
              <div class="item" ng-repeat="(k, v) in vm.parsedBundle.Services">
                <div class="ui list">
                  <div class="item">
                    <div class="weak header">Name</div>
                    {{ k }}
                  </div>
                  <div class="item">
                    <div class="weak header">Image</div>
                    {{ v.Image.split('@')[0] }}</br>
                    {{ v.Image.split('@')[1] }}
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="ui left aligned sixteen wide column" ng-show="vm.parsedBundle.networks">
            <h2 class="header"><svg-icon p="networks"></svg-icon> Networks ({{ _.size(vm.parsedBundle.Networks) }})</h2>
            <div class="ui big parsed-bundle left aligned list">
              <div class="item" ng-repeat="(k, v) in vm.parsedBundle.Networks">
                {{ k }}
              </div>
            </div>
          </div>

          <div class="ui left aligned sixteen wide column" ng-show="vm.parsedBundle.volumes">
            <h2 class="header"><svg-icon p="volumes"></svg-icon> Volumes ({{ _.size(vm.parsedBundle.Volumes) }})</h2>
            <div class="ui big parsed-bundle left aligned list">
              <div class="item" ng-repeat="(k, v) in vm.parsedBundle.Volumes">
                {{ k }}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="ui content-pane fluid container" ng-hide="vm.logs.length === 0">
    <pre class="ui fixed-width-font segment" ng-class="{'success': vm.statusCode === 0, 'failure': vm.statusCode && vm.statusCode !== 0}" ng-hide="vm.logs.length === 0" ng-bind="vm.logs"></pre>
  </div>

</div>

<script>
  $('.ui.form').form({
    fields: {
      projectName: {
        identifier: 'projectName',
        rules: [
        {
          type: 'empty',
          prompt: 'Please enter an application name'
        }, {
          type: 'doesntContain[ ]',
          prompt: 'Application name cannot contain spaces'
        }
        ]
      }
    }
  });
</script>
