.ui.volume-name.dropdown .text {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#deploy .content-pane {
  min-width: 860px;
}

#deploy .file-dropper {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border: 4px dashed #C0C9CE !important;
  min-height: 55vh;
  word-wrap: break-word;
}

#deploy h2.header svg {
  height: 1.2em;
  width: 1.2em;
  display: inline-blo;
}
#deploy h2.header svg path,
#deploy h2.header svg circle,
#deploy h2.header svg rect {
  fill: #C5CDD2;
}

#deploy .inline.field label {
    font-weight: normal;
    display: block;
    flex-basis: 35%;
    text-transform: uppercase;
}

#deploy .overview.segment ul {
    padding: 0;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

#deploy .overview.segment ul li ul {
    font-size: 0.9em;
    padding-left: 1em;
    padding-bottom: 0.2em;
}

#deploy .overview.segment ul li {
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

#deploy .fixed-width-font.segment {
	margin: 1rem;
}

#deploy .sidenav p {
	margin: 15px;
	margin-bottom: 30px;
}

#deploy .sidenav .deploy {
	width: 279px;
	margin: 15px;
}

.CodeMirror {
  clear: left;
	height: 600px;
}
.application-placeholder {
  margin-top: 4rem;
  text-align: center;
}

.application-placeholder .icon {
  font-size: 5rem;
  color: #C0C9CE;
}

#deploy .field input[type="file"] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#deploy .field input[type="file"] + label {
  padding: 0.5em;
  color: #1AAAF8 !important;
  display: inline-block;
  text-transform: none !important;
  font-weight: bold !important;
  font-size: 12px !important;
}

#deploy .field input[type="file"]:focus + label,
#deploy .field input[type="file"] + label:hover {
  color: #47BBF9 !important;
}

#deploy .deploy-option.item {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 60px;
}
#deploy .deploy-option.item svg {
  display: inline-block;
}
#deploy .deploy-option.item .content {
  display: inline-block;
}

#deploy .deploy-option.item.active {
  background-color: #47BBF9;
  color: #FFFFFF;
  border: none;
}

#deploy .active svg path,
#deploy .active svg circle {
  fill: #FFFFFF;
}

#deploy .inverted:hover {
	color: #FFFFFF;
  fill: #FFFFFF;
}

#deploy .field {
	margin: 15px;
}
