<div id="deploy" class="ui flex-wrapper form">
  <div class="sidenav">
    <div class="sidenav-section">
      <span class="label">
        Deploy Method
      </span>
    </div>

		<div class="ui large deploy-method buttons">
			<div class="ui inverted blue icon button" ui-sref="dashboard.deploywizard">
				<svg-icon p="jumpstart"></svg-icon>
				Form Wizard
			</div>
			<div class="ui inverted blue active icon button" ui-sref="dashboard.deployyml">
				<svg-icon p="stacks"></svg-icon>
				Bundle File
			</div>
		</div>

		<p>Deploy an application with a <a href="https://docs.docker.com/compose/compose-file/" target="_blank">compose.yml</a> file.</p>

    <div class="fluid field">
      <label>Application Name</label>
      <div class="ui input" ng-class="{'disabled': vm.logs.length !== 0}">
        <input name="projectName" class="input" tabindex="0" ng-model="vm.projectName"></input>
      </div>
    </div>

		<div class="field" ng-show="vm.logs.length === 0 && !vm.inProgress">
			<div class="ui checkbox">
				<input type="checkbox" id="composeVerbose" ng-model="vm.composeVerbose">
				<label for="composeVerbose">Show verbose logs</label>
			</div>
		</div>

    <div tabindex="1" class="ui green fluid deploy button" ng-show="vm.logs.length === 0 && !vm.inProgress" ng-click="vm.composeUp()">
      Deploy
    </div>
    <div class="ui disabled blue fluid deploy button" ng-show="vm.inProgress">
      Creating
    </div>
		<div class="ui large deploy buttons" ng-show="vm.logs.length > 0 && !vm.inProgress">
			<div class="ui inverted blue button" ng-click="vm.composeBack()">
				Back to Edit
			</div>
			<div class="ui blue button" ui-sref="dashboard.resources.applications">
				Done
			</div>
		</div>
  </div>

  <div class="ui content-pane">

      <div class="fluid field" ng-show="vm.logs.length === 0 && !vm.inProgress">
        <textarea ng-model="vm.composeYml" ui-codemirror ui-codemirror-opts="vm.editorOpts" ui-refresh="vm.composeVisible"></textarea>
        <input type="file" id="composeYml" name="composeYml" file-input="vm.composeYml">
        <label class="ui left floated" for="composeYml">Upload an existing compose.yml</label>
      </div>

      <pre class="ui fixed-width-font segment" ng-hide="vm.logs.length === 0" ng-bind="vm.logs"></pre>

    </div>
</div>

<script>
  $('.ui.form')
  .form({
    fields: {
      projectName: {
        identifier : 'projectName',
        rules: [{
          type   : 'empty',
          prompt : 'Please enter an application name'
        },
        {
          type: 'doesntContain[ ]',
          prompt: 'Application name cannot contain spaces'
        }]
      }
    }
  });
</script>
