@import "utilities";

.card {
  padding: $space-xxl;
  height: 100%;
}

.subscriptionExists {
  @mixin fontSize 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: $space-xxl $space-lg;
}

.form {
  padding: $space-xs;
}

.subtitle {
  margin-bottom: $space-xl;
}

.sectionTitle {
  @mixin fontSize 2;
  margin: $space-sm 0;
  font-weight: 600;
}

.soft {
  @mixin fontSize 2;
  color: $color-loblolly;
  font-weight: bold;
}

.row {
  @mixin 2columns 6, 6;
}

.euta {
  display: inline-flex;
  align-items: center;
  svg {
    fill: $color-loblolly;
  }
}

.error {
  @mixin fontSize 1;
  height: $space-md;
  color: $color-variant-panic;
  margin: 0 $space-xxxl $space-xl;
}

.submit {
  @mixin fontSize 1;
  cursor: pointer;
  padding: 0 $space-xxxl;
  margin: 0;
}
