@import "utilities";

.titleRow {
  margin-bottom: $space-xs;
}

.name {
  @mixin fontSize 3;
  color: $color-fiord;
  margin-right: $space-xs;
}

.tagSize {
  @mixin fontSize 0;
  color: $color-regent-gray;
}

.lastUpdated {
  @mixin fontSize 1;
  color: $color-regent-gray;
}
