{{ partial "header.html" (dict "thispage" . "errorpage" false) }}
<section class="title_section darkblue">
</section>

<div id="DockerDocumentation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 docsidebarnav_section">
                {{ partial "navbar.html" . }}
            </div>
            <div class="col-xs-12 col-sm-9 col-md-{{ if .Params.notoc }}10{{else}}8{{end}}">
                <section class="section" id="DocumentationText">
{{ partial "advisory.html" . }}
                    {{ .Content }}
                </section>
            </div>
{{ if not .Params.notoc }}
            <div class="hidden-xs hidden-sm col-md-2 tableofcontents_section">
                <section class="section" id="TableOfContentsSection">
		    <span class="title_section">
  <form class="search-form form-inline ng-pristine ng-valid" action="/search/">
    <input class="search-field form-control" id="st-search-input" value="" name="q" placeholder="Search the docs" type="search">
    <button type="submit" class="search-submit btn btn-default">Search</button>
  </form>
		    </span>
                    <span class="heading">On this page</span>
                    {{ .TableOfContents }}
                </section>
            </div>
{{ end }}
        </div>
    </div>
</div>

                  <a class="exit-off-canvas"></a>
                </div>
        </div>

        <div class="moby_footer">
<i class="bar"></i>
<i class="moby"></i>
</div>
{{ partial "footer.html" . }}
