@import "utilities.css";

/*
We set default values on :global as the user may need
these. If any props are passed to the component that
may use these styles, it means the user is explicitly
requiring a specific set of styles
*/
:global .ddockerImage {
  height: $icon-size-regular;
  clear: both;
}

.icon {
  float: left;
  margin-right: $space-xxs;
}

.name {
  @mixin fontSize 1;
  line-height: $icon-size-regular;
}

.small {
  height: $icon-size-small;

  .name {
    @mixin fontSize 1;
    line-height: calc($icon-size-small - 1px); /* visual alignment */
  }
}

/* stylelint-disable block-no-empty */
.regular {}
/* stylelint-enable */

.large {
  height: $icon-size-large;

  .name {
    @mixin fontSize 3;
    line-height: calc($icon-size-large - 1px); /* visual alignment */
  }
}

.xlarge {
  height: $icon-size-xlarge;

  .name {
    @mixin fontSize 4;
    line-height: calc($icon-size-xlarge - 1px); /* visual alignment */
  }
}

.standalone .name {
  @mixin hide;
}

.name {
  color: $color-regent-gray;
}
