.history {
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid #C4CDDA;
  font-size: 12px;
}

.title {
  font-size: 12px;
  color: #7A8491;
  line-height: 16px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.loading,
.empty {
  margin: 0;
  text-align: center;
  font-style: italic;
  color: #7A8491;
}

.attempts {
  width: 100%;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #B2BBC8;
  border: none;
  background: none;

  & > thead {
    background: none;
    border: none;

    & > tr > th {
      font-weight: 500;
      font-size: 13px;
      color: #C4CDDA;
    }
  }

  & > tbody > tr {
    background: none;
    border: none;

    & > td {
      background: none;
      color: #B2BBC8;

      &.uuid {
        font-family: monospace;
        color: #22B8EB;
        overflow-wrap: break-word;
        word-wrap: break-word;
        -ms-word-break: break-all;
        word-break: break-all;
        word-break: break-word;
      }
    }
  }
}
