.status {
  font-size: 12px;
  line-height: 16px;
  color: #7A8491;
  text-transform: uppercase;

  &.clickable {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  i {
    margin-right: 5px;
  }

  &.status_success {
    color: #67CFC0;
  }

  &.status_error {
    color: #EB3E46;
  }
}
