<body ng-app="Docker" ng-controller="DockerController" class="colums">
    <header>
        {% include header.html %}
    </header>
    <div class="wrapper right-open">
        <div class="container-fluid">
            <div class="row">
                <div class="col-body">
                    <main class="col-content content">
                        <section class="section">
                            {% if page.url != '/' %}
                            {% if page.title %}
                            <h1>{{ page.title }}</h1>{% endif %} {% if page.advisory %}
                            <blockquote>{{ site.data.advisories.texts[page.advisory] | markdownify }}</blockquote>
                            {% endif %}{% endif %}
                            {% unless page.tree == false or page.skip_read_time == true %}{% include read_time.html %}{% endunless %}
                            {% if page.enterprise %}{% include enterprise_moved.html %}{% endif %}
                            {{ content }}
                            <!-- tags -->
                            {% unless page.notags == true %}
                            {% assign keywords = page.keywords | split:"," -%}
                            {% if keywords.size > 0 -%}
                            <span class="glyphicon glyphicon-tags" style="padding-right: 10px"></span><span
                                style="vertical-align: 2px">
                                {%- for keyword in keywords -%}
                                {%- assign strippedKeyword = keyword | strip -%}
                                <a
                                    href="https://docs.docker.com/search/?q={{ strippedKeyword }}">{{ strippedKeyword }}</a>
                                {%- unless forloop.last %}, {% endunless -%}
                                {% endfor -%}
                            </span>
                            {% endif -%}
                            {% endunless %}
                            {% if page.noratings != true %}
                            <div id="ratings-div"
                                style="color:#b9c2cc; text-align: center; margin-top: 150px;">
                                <div id="pd_rating_holder_8453675"></div>
                                <script type="text/javascript">
                                    PDRTJS_settings_8453675 = {
                                        "id": "8453675",
                                        "unique_id": "{{ page.path }}",
                                        "title": "{{ page.title }}",
                                        "permalink": "https://github.com/docker/docker.github.io/blob/master/{{ page.path }}"
                                    };
                                    (function (d, c, j) {
                                        if (!document.getElementById(j)) {
                                            var pd = d.createElement(c),
                                                s;
                                            pd.id = j;
                                            pd.src = ('https:' == document.location.protocol) ? 'https://polldaddy.com/js/rating/rating.js' : 'http://i0.poll.fm/js/rating/rating.js';
                                            s = document.getElementsByTagName(c)[0];
                                            s.parentNode.insertBefore(pd, s);
                                        }
                                    }(document, 'script', 'pd-rating-js'));
                                </script>
                            </div>
                            {% endif %}
                        </section>
                    </main>
                    <nav class="col-nav">
                        <div id="sidebar-nav" class="sidebar hidden-sm hidden-xs">
                            {% include side-menu.html %}
                        </div>
                    </nav>
                    <div class="col-toc">
                        <div class="sidebar hidden-xs hidden-sm">
                            <div class="toc-nav">
                                <div class="feedback-links">
                                    <ul>
                                        {% if edit_url != "" %}
                                        <li><a href="{{ edit_url }}"><i
                                                    class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit this
                                                page</a></li>{% endif %}
                                        <li><a href="https://github.com/docker/docker.github.io/issues/new?body=File: [{{ page.path }}](https://docs.docker.com{{ page.url }})"
                                                class="nomunge"><i class="fa fa-check" aria-hidden="true"></i> Request
                                                docs changes</a></li>
                                        <!-- toggle mode -->
                                        <li>
                                            <div class="toggle-mode">
                                                <div class="icon">
                                                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                                                </div>
                                                <div class="toggle-switch">
                                                    <label class="switch">
                                                        <input type="checkbox" id="switch-style">
                                                        <div class="slider round"></div>
                                                    </label>
                                                </div>
                                                <div class="icon">
                                                    <i class="fa fa-moon-o" aria-hidden="true"></i>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                {% unless page.notoc %}
                                {% assign my_min = page.toc_min | default: site.toc_min | default: 2 %}
                                {% assign my_max = page.toc_max | default: site.toc_max | default: 3 %}
                                {% assign my_name = page.url | default: "unnamed" %}
                                <div id="side-toc-title">On this page:</div>
                                {% include toc_pure_liquid.html html=content sanitize=true class="inline_toc" id="my_toc" toc_min=my_min toc_max=my_max page_name=my_name %}
                                {% endunless %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if page.path == "404.md" %}
    <script>
        var path = window.location.pathname.replace("#", "");
        var ghIssueQueryString = "https://github.com/docker/docker.github.io/issues/new?" + "title=404%20at%20" + path + "&body=URL%3A%20" + path;
        document.getElementsByClassName("nomunge")[1].onclick = function () {
            document.getElementsByClassName("nomunge")[1].href = ghIssueQueryString;
            return true;
        };
    </script>
    {% endif %}
    <footer class="footer">
        {% include footer.html %}
    </footer>
    <link rel="stylesheet" href="/css/github.css">
    {% if page.highlightjs == true %}
    <script src="/js/highlight.pack.js"></script>
    <script>
        hljs.initHighlightingOnLoad();
    </script>
    {% endif %}
    <script>var pageURL = "{{ page.url }}";</script>
    <script defer src="/js/anchorlinks.js"></script>
    <script defer src="/js/menu.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/stickyfill.min.js"></script>
    <script defer src="/js/metadata.js"></script>
    <script src="/js/glossary.js"></script>
    <script defer src="/js/docs.js"></script>
    <script defer src="/js/toc.js"></script>
    <script defer src="/js/search.js"></script>
</body>
