{% if page.path contains "datacenter/ucp" %}
  {% capture currentDoc %}UCP version {{ page.ucp_version }}{% endcapture %}
  {% capture dropdown %}
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ page.ucp_version }}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for version in site.ucp_versions %}
        {% if page.ucp_version contains version.version %}{% else %}<li><a href="{{ version.path }}">{{ version.version }}{% if version.latest %} (latest){% endif %}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endcapture %}
{% endif %}
{% if page.path contains "datacenter/dtr" %}
  {% capture currentDoc %}DTR version {{ page.dtr_version }}{% endcapture %}
  {% capture dropdown %}
  <div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">{{ page.dtr_version }}
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      {% for version in site.dtr_versions %}
        {% if page.dtr_version contains version.version %}{% else %}<li><a href="{{ version.path }}">{{ version.version }}{% if version.latest %} (latest){% endif %}</a></li>{% endif %}
      {% endfor %}
    </ul>
  </div>
  {% endcapture %}
{% endif %}

<blockquote><p>These are the docs for {{ currentDoc }}</p>
<p>To select a different version, use the selector below.</p>
<p>{{ dropdown }}</p>
</blockquote>
