<div class="modal" id="accept-eula" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Download Docker Desktop</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          We’ve updated the <a href="https://www.docker.com/legal/docker-subscription-service-agreement" target="_blank" rel="noopener" class="_" id="dkr_docs_relnotes_btl">Docker Subscription Service Agreement</a> for all versions before 4.0.0 of Docker Desktop.
        </p>
        <p>
          Docker Desktop is free for small businesses (fewer than 250 employees AND less than $10 million in annual revenue), personal use, education, and non-commercial open source projects. Otherwise, it requires a paid subscription for professional use. Paid subscriptions are also required for government entities. Read the <a href="https://www.docker.com/pricing/faq" target="_blank" rel="noopener" class="_" id="dkr_docs_relnotes_btl">FAQs</a> to learn more.
        </p>
        <p>
          By clicking "Accept and Download", you agree to these updated
          <a href="https://www.docker.com/legal/docker-subscription-service-agreement" target="_blank" rel="noopener" class="_" id="dkr_docs_relnotes_btl">terms</a>,
          the <a href="https://www.docker.com/legal/data-processing-agreement" target="_blank" rel="noopener" class="_" id="dkr_docs_relnotes_btl">Docker Data Processing Agreement</a>,
          and the <a href="https://www.docker.com/legal/docker-privacy-policy" target="_blank" rel="noopener" class="_" id="dkr_docs_relnotes_btl">Data Privacy Policy</a>.
        </p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary">Accept and Download</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
