  {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://www.docker.com/what-docker">What is Docker</a></li>
                        <li><a href="https://www.docker.com/what-container">What is a Container</a></li>
                        <li><a href="https://www.docker.com/use-cases">Use Cases</a></li>
                        <li><a href="https://www.docker.com/customers">Customers</a></li>
                        <li><a href="https://www.docker.com/partners/partner-program">Partners</a></li>
                        <li class="break"><a href="https://www.docker.com/industry-government">For Government</a></li>
                        <li><a href="https://www.docker.com/company">About Docker</a></li>
                        <li><a href="https://www.docker.com/company/management">Management</a></li>
                        <li><a href="https://www.docker.com/company/news-and-press">Press &amp; News</a></li>
                        <li><a href="https://www.docker.com/careers">Careers</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://www.docker.com/products/overview">Product</a></li>
                        <li><a href="https://www.docker.com/pricing">Pricing</a></li>
                        <li><a href="https://www.docker.com/docker-community">Community Edition</a></li>
                        <li class="break"><a href="https://www.docker.com/enterprise">Enterprise Edition </a></li>
                        <li><a href="https://www.docker.com/products/docker-datacenter">Docker Datacenter</a></li>
                        <li><a href="https://cloud.docker.com/">Docker Cloud</a></li>
                        <li><a href="https://store.docker.com/">Docker Store</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://docs.docker.com/">Documentation</a></li>
                        <li><a href="https://www.docker.com/docker">Learn</a></li>
                        <li><a href="https://blog.docker.com" target="_blank">Blog</a></li>
                        <li><a href="https://training.docker.com/" target="_blank">Training</a></li>
                        <li><a href="https://www.docker.com/docker-support-services">Support</a></li>
                        <li><a href="https://success.docker.com/kbase">Knowledge Base</a></li>
                        <li><a href="https://www.docker.com/products/resources">Resources</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><a href="https://www.docker.com/docker-community">Community</a></li>
                        <li><a href="https://www.docker.com/technologies/overview">Open Source</a></li>
                        <li><a href="https://www.docker.com/community/events">Events</a></li>
                        <li><a href="https://forums.docker.com/" target="_blank">Forums</a></li>
                        <li><a href="https://www.docker.com/community/docker-captains">Docker Captains</a></li>
                        <li><a href="https://www.docker.com/docker-community/scholarships">Scholarships</a></li>
                        <li><a href="https://blog.docker.com/curated/">Community News</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="http://status.docker.com/">Status</a></li>
                        <li><a href="https://www.docker.com/docker-security">Security</a></li>
                        <li><a href="https://www.docker.com/legal">Legal</a></li>
                        <li><a href="https://www.docker.com/company/contact">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright &copy; 2018 Docker Inc. All rights reserved. </p>
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa fa-twitter"><a href="http://twitter.com/docker">Twitter</a></li>
                    <li class="fa fa-youtube"><a href="http://www.youtube.com/user/dockerrun">Youtube</a></li>
                    <li class="fa fa-google-plus"><a href="https://plus.google.com/u/0/communities/108146856671494713993">Google</a></li>
                    <li class="fa fa-github"><a href="https://github.com/docker/docker">Github</a></li>
                    <li class="fa fa-linkedin"><a href="https://www.linkedin.com/company/docker">Linkedin</a></li>
                    <li class="fa fa-facebook"><a href="https://www.facebook.com/docker.run">Facebook</a></li>
                    <li class="fa fa-reddit"><a href="http://www.reddit.com/r/docker">Reddit</a></li>
                    <li class="fa fa-slideshare"><a href="http://www.slideshare.net/docker">Slideshare</a></li>
                </ul>
            </div>
        </div>
    </div>
