  {% comment %}
  <div class="newsletter_section">

    <div class="container">
      <!-- newsletter
        <div class="col-md-8">
            <form class="form-inline">
                <div class="form-group">
                    <input type="email" class="form-control input" placeholder="email address">
                    <button type="submit" class="button outline-btn newsletter">Submit</button>
                </div>
            </form>
        </div>-->
    </div>

  </div>
  {% endcomment %}
    <div class="container">
        <div class="top_footer">
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.docker.com/products" target="_blank" rel="noopener">Product offerings</a></b></li>
                        <li><a href="https://www.docker.com/products/personal" target="_blank" rel="noopener">Docker Personal</a></li>
                        <li><a href="https://www.docker.com/products/pro" target="_blank" rel="noopener">Docker Pro</a></li>
                        <li><a href="https://www.docker.com/products/team" target="_blank" rel="noopener">Docker Team</a></li>
                        <li><a href="https://www.docker.com/products/business" target="_blank" rel="noopener">Docker Business</a></li>
                        <li><a href="https://www.docker.com/products" target="_blank" rel="noopener">Compare Subscriptions</a></li>
                        <li><b><a href="https://www.docker.com/" target="_blank" rel="noopener">Features</a></b></li>
                        <li><a href="https://www.docker.com/products/docker-desktop" target="_blank" rel="noopener">Docker Desktop</a></li>
                        <li><a href="https://www.docker.com/products/docker-hub" target="_blank" rel="noopener">Docker Hub</a></li>
                        <li><a href="https://www.docker.com/products/secure-software-supply-chain" target="_blank" rel="noopener">Secure Software Supply Chain</a></li>
                        <li><a href="https://www.docker.com/products/container-runtime" target="_blank" rel="noopener">Container Runtime</a></li>
                        <li><a href="https://www.docker.com/products/developer-tools" target="_blank" rel="noopener">Developer Tools</a></li>
                        <li><a href="https://www.docker.com/partners" target="_blank" rel="noopener">Trusted Content</a></li>
                        <li><a href="https://www.docker.com/roadmap" target="_blank" rel="noopener">Docker Product Roadmap</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.docker.com/products/docker-desktop" target="_blank" rel="noopener">Developers</a></b></li>
                        <li><a href="https://www.docker.com/use-cases" target="_blank" rel="noopener">Use Cases</a></li>
                        <li><a href="/get-started/" target="_blank" rel="noopener">Get Started</a></li>
                        <li><a href="https://www.docker.com/blog/" target="_blank" rel="noopener">Blog</a></li>
                        <li><a href="https://www.docker.com/docker-community" target="_blank" rel="noopener">Community</a></li>
                        <li><a href="https://www.docker.com/open-source" target="_blank" rel="noopener">Open Source</a></li>
                        <li><a href="https://www.docker.com/community/get-involved/developer-preview" target="_blank" rel="noopener">Preview Program</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.docker.com/products/docker-desktop" target="_blank" rel="noopener">Pricing</a></b></li>
                        <li><a href="https://www.docker.com/pricing/faq" target="_blank" rel="noopener">FAQ</a></li>
                        <li><a href="https://www.docker.com/partners/programs" target="_blank" rel="noopener">Docker Verified Publisher</a></li>
                        <li><a href="https://www.docker.com/partners" target="_blank" rel="noopener">Partners</a></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3">
                    <ul class="footer_links">
                        <li><b><a href="https://www.docker.com/company" target="_blank" rel="noopener">About Us</a></b></li>
                        <li><a href="https://www.docker.com/what-container" target="_blank" rel="noopener">What is a Container?</a></li>
                        <li><a href="https://www.docker.com/why-docker" target="_blank" rel="noopener">Why Docker?</a></li>
                        <li><a href="https://www.docker.com/events" target="_blank" rel="noopener">Virtual Events</a></li>
                        <li><a href="https://www.docker.com/swag" target="_blank" rel="noopener">Swag Store
                        </a></li>
                        <li><a href="https://www.docker.com/company/newsroom" target="_blank" rel="noopener">Newsroom</a></li>
                        <li><a href="https://www.docker.com/careers" target="_blank" rel="noopener">Careers</a></li>
                        <li><a href="https://www.docker.com/company/contact" target="_blank" rel="noopener">Contact Us</a></li>
                        <li><a href="https://www.docker.com/customers" target="_blank" rel="noopener">Customers</a></li>
                        <li><a href="https://www.docker.com/newsletter-subscription" target="_blank" rel="noopener">Newsletter</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-nav">
                <nav class="footer_sub_nav">
                    <ul class="menu">
                        <li><a href="https://www.docker.com/legal/docker-terms-service" target="_blank" rel="noopener">Terms of Service</a></li>
                        <li><a href="https://status.docker.com/" target="_blank" rel="noopener">Status</a></li>
                        <li><a href="https://www.docker.com/legal" target="_blank" rel="noopener">Legal</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="bottom_footer">
            <div class="footer-copyright col-xs-12 col-md-8">
                <p class="copyright">
                    Copyright &copy; 2013-{{ site.time | date: '%Y' }} Docker Inc. All rights reserved.
                </p>
                {%- if jekyll.environment == 'production' and site.onetrust_id != '' -%}
                <!-- OneTrust Cookies Settings button start -->
                <button id="ot-sdk-btn" class="ot-sdk-show-settings">Cookie Settings</button>
                <!-- OneTrust Cookies Settings button end -->
                {%- endif -%}
            </div>
            <div class="footer_social_nav">
                <ul class="nav-social">
                    <li class="fa-brands fa-twitter"><a href="https://twitter.com/docker">Twitter</a></li>
                    <li class="fa-brands fa-youtube"><a href="https://www.youtube.com/user/dockerrun">Youtube</a></li>
                    <li class="fa-brands fa-github"><a href="https://github.com/docker">GitHub</a></li>
                    <li class="fa-brands fa-linkedin-in"><a href="https://www.linkedin.com/company/docker">Linkedin</a></li>
                    <li class="fa-brands fa-facebook-f"><a href="https://www.facebook.com/docker.run">Facebook</a></li>
                    <li class="fa-brands fa-slideshare"><a href="https://www.slideshare.net/docker">Slideshare</a></li>
                    <li class="fa-brands fa-reddit-alien"><a href="https://www.reddit.com/r/docker">Reddit</a></li>
                </ul>
            </div>
        </div>
    </div>
