<nav class="nav-secondary navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/">
                <img class="logo" src="/assets/images/docker-docs-logo.svg" alt="Docker Docs" title="Docker Docs" width="160" height="28" />
            </a>
        </div>
        <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">
            {% include navigation.html %}
            {%- include breadcrumbs.html -%}
        </div>
    </div>
</nav>
