<nav class="nav-secondary navbar navbar-fixed-top">
    <div class="fan"></div>
    <div class="container-fluid">
        <!-- <div class="ctrl-left">
        <a href="javascript:void(0)" id="menu-toggle-left"><i class="fa fa-outdent" aria-hidden="true"></i></a>
      </div> -->
        <div class="navbar-header">
            <a href="/"><img class="logo" src="/images/docker-docs-logo.svg" alt="Docker Docs" title="Docker Docs"></a>
        </div>
        <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">
            <div class="search-form" id="search-div">
                <form>
                    <form class="search-form form-inline ng-pristine ng-valid" id="searchForm" action="/search/">
                        <input class="search-field form-control ds-input" id="st-search-input" value="" name="q" placeholder="Search the docs" type="search" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;">
                        <div id="autocompleteContainer">
                            <div id="autocompleteResults"></div>
                        </div>
                        <!-- <button type="submit" class="search-submit btn btn-default">Search</button> -->
                    </form>
            </div>
            <div class="sidebar-toggle">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="tabs">
                <ul class="tabs nav navbar-nav">
                    {% include treebuilder.html %}
                </ul>
            </div>
            <div class="ctrl-right">
                <a href="javascript:void(0)" id="menu-toggle"><i class="fa fa-indent" aria-hidden="true"></i></a>
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Docker 17.03 (current) <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        {% for item in site.data.docsarchive.docker-compose %}
                        <li><a href="/{{ item[0] }}/">Docker {{ item[0] }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
