<div class="header">
    <div class="fan"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="navbar-header">
                    <img class="logo" src="../images/docker-docs-logo.svg" alt="Docker Docs" title="Docker Docs">
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="primary nav navbar-nav">
                        <li><a href="https://www.docker.com/why-docker">Why Docker?</a></li>
                        <li><a href="https://docs.docker.com/get-started/">Get started</a></li>
                        <li><a href="https://www.docker.com/products">Products</a></li>
                        <li><a href="https://docker.com/docker-community">Community</a></li>
                    </ul>
                    </div>
                <!--/.nav-collapse -->
            </nav>
        </div>
    </div>
</div>
