<nav class="nav-secondary navbar navbar-fixed-top">
    <div class="fan"></div>
    <div class="container-fluid">
<!--         <div class="ctrl-left">
        <a href="javascript:void(0)" id="menu-toggle-left"><i class="fa fa-outdent" aria-hidden="true"></i></a>
      </div> -->
        <div class="navbar-header">
            <a href="/"><img class="logo" src="/images/docker-docs-logo.svg" alt="Docker Docs" title="Docker Docs"></a>
        </div>
        <div class="navbar-collapse" aria-expanded="false" style="height: 1px;">
            {% include navigation.html %}
        </div>
    </div>
</nav>