<div id="myModal" class="modal">
  <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>

<div id="myModal2" class="modal">
  <span class="close">&times;</span>
    <img class="modal-content" id="img02">
    <div id="caption2"></div>
</div>

<div id="myModal3" class="modal">
  <span class="close">&times;</span>
    <img class="modal-content" id="img03">
    <div id="caption3"></div>
</div>

<div id="myModal4" class="modal">
  <span class="close">&times;</span>
    <img class="modal-content" id="img04">
    <div id="caption4"></div>
</div>