<div class="logo-mobile">
    <a href="/">
        <img src="/assets/images/docker-icon.svg" alt="Docker Docs" title="Docker Docs" width="30" height="30" />
    </a>
</div>
<div class="search-form" id="search-div">
</div>
{%- if page.layout != 'landing' -%}
<div class="sidebar-toggle">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
</div>
{%- endif -%}
<div class="nav-container hidden-sm hidden-xs">
    <div>
        <ul class="nav navbar-nav">
        {%- for entry in site.data.toc.horizontalnav -%}
          {%- if page.url == entry.path -%}
            <li class="active"><a href="{{ entry.path }}" id="{{ entry.node }}">{{ entry.title }}</a></li>
          {%- else -%}
            <li><a href="{{ entry.path }}" id="{{ entry.node }}">{{ entry.title }}</a></li>
          {%- endif -%}
        {%- endfor -%}
        </ul>
    </div>
    {%- if page.layout == 'landing' -%}
        <ul class="nav navbar-nav navbar-right">
          <li>{% include theme-switch.html %}</li>
        </ul>
    {%- else -%}
      <div class="ctrl-right">
          <a href="javascript:void(0)" id="menu-toggle" aria-label="Current page's menu toggle"><i class="fa fa-indent" aria-hidden="true"></i></a>
      </div>
    {%- endif -%}
</div>
