<!-- <div class="toggle-mode">
    <div class="icon">
        <i class="fa fa-sun-o" aria-hidden="true"></i>
    </div>
    <div class="toggle-switch">
        <label class="switch">
              <input type="checkbox" id="switch-style">
              <div class="slider round"></div>
            </label>
    </div>
    <div class="icon">
        <i class="fa fa-moon-o" aria-hidden="true"></i>
    </div>
</div>
<div class="nav-sidebar navbar-collapse collapse">
    <ul class="nav navbar-collapse" id="stacked-menu">
        {% if page.tree == false %}
        <li><a href="/">Back to the index</a></li>
        {% else %} {{ leftnav }} {% endif %}
        <li>
            <a data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">Get Started<span class="caret arrow"></span></a>
            <ul class="nav collapse" id="item2">
                {% assign foundBranch="false" %}{% for item in tree %}{% if item.sectiontitle %}{% if foundBranch=="false" %}{% capture treeString %}{{ item.section | downcase }}{% endcapture %}{% capture pageURLString %}"{{ page.url }}"{% endcapture %}{% else %}{% assign
                treeString="" %}{% endif %}
                <li class="leaf {% if treeString contains pageURLString %}{% assign foundBranch=" true "%}menu-open{% else %}menu-closed{% endif %}"><a href="javascript:void(0)" class="expand-menu "><span class="menu-icon" aria-hidden="true"></span>{{ item.sectiontitle }}</a>
                    <ul class="nav-sub">{% assign tree = item.section %}{% include tree.html %}</ul>{% else %}
                    <li><a href="{{ item.path }}" class="{% if item.path == page.url and item.nosync != true %}active currentPage{% endif %}">{{ item.title }}</a></li>{% endif %}{% endfor %}
                    <li><a href="#">Learn Docker</a></li>
                    <li><a href="#">Docker Basics</a></li>
                    <li><a href="#">Define and deploy your app</a></li>
            </ul>
            </li>
            <li><a href="#">Docker ID</a></li>
    </ul>
</div> -->

<div class="toggle-mode">
    <div class="icon">
        <i class="fa fa-sun-o" aria-hidden="true"></i>
    </div>
    <div class="toggle-switch">
        <label class="switch">
    <input type="checkbox" id="switch-style">
    <div class="slider round"></div>
</label>
    </div>
    <div class="icon">
        <i class="fa fa-moon-o" aria-hidden="true"></i>
    </div>
</div>
<div class="nav-sidebar navbar-collapse collapse">
    <ul class="nav navbar-collapse" id="stacked-menu">
        <li><a href="default">Welcome to the Docs</a></li>
        <li>
            <a data-target="#item1" data-toggle="collapse" data-parent="#stacked-menu" class="active">Get Docker<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item1">
                <li><a href="#">Install Docker Engine</a></li>
                <li><a href="#" class="active">Docker for Mac</a></li>
            </ul>
        </li>
        <li>
            <a data-target="#item2" data-toggle="collapse" data-parent="#stacked-menu">Get Started<span class="caret arrow"></span></a>
            <ul class="nav collapse" id="item2">
                <li><a href="#">Learn Docker</a></li>
                <li><a href="#">Docker Basics</a></li>
                <li><a href="#">Define and deploy your app</a></li>
            </ul>
        </li>
        <li><a href="#">Docker ID</a></li>
        <li><a href="#">Docker Engine</a></li>
        <li><a data-target="#item3" data-toggle="collapse" data-parent="#stacked-menu">Docker for Windows<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item3">
                <li><a href="docker-for-windows/">Getting Started</a></li>
                <li><a href="docker-for-windows/troubleshoot/" class="">Logs and Troubleshooting</a></li>
                <li><a href="docker-for-windows/faqs/">FAQs</a></li>
                <li><a href="docker-for-windows/examples/">Example Applications</a></li>
                <li><a href="docker-for-windows/opensource/">Open Source Licensing</a></li>
                <li><a href="docker-for-windows/release-notes/">Release Notes</a></li>
            </ul>
        </li>
        <li><a data-target="#item4" data-toggle="collapse" data-parent="#stacked-menu">Nav Item<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item4">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </li>
        <li><a data-target="#item5" data-toggle="collapse" data-parent="#stacked-menu">Nav Item<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item5">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </li>
        <li><a data-target="#item6" data-toggle="collapse" data-parent="#stacked-menu">Nav Item<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item6">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </li>
        <li><a data-target="#item7" data-toggle="collapse" data-parent="#stacked-menu">Nav Item<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item7">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </li>
        <li><a data-target="#item8" data-toggle="collapse" data-parent="#stacked-menu">Nav Item<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item8">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </li>
        <li><a data-target="#item9" data-toggle="collapse" data-parent="#stacked-menu">Nav Item<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item9">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </li>
        <li><a data-target="#item10" data-toggle="collapse" data-parent="#stacked-menu">Nav Item<span class="caret arrow"></span></a>
            <ul class="nav collapse left-submenu" id="item10">
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
                <li><a href="#">Link</a></li>
            </ul>
        </li>
    </ul>
    <!-- end sidebar nav -->
</div>
