@import 'dux/css/colors.css';

.button {
    margin-bottom: -1rem;
}

.success {
    border: 1px solid var(--primary-2);
}

.formError {
    border: 1px solid var(--primary-5);
}

.checkbox {
    padding-top: .5rem;
}

.notification {
    margin-bottom: 1rem;
}
.notification:hover {
    cursor: pointer;
    cursor: hand;
}
