@import "variables.css";
@import "mixins.css";

:global .dicon {
  @mixin square $icon-size-regular;
}

/*
lib/constants/sizes
**************/
.tiny {
  @mixin square $icon-size-tiny;
}

.small {
  @mixin square $icon-size-small;
}

.large {
  @mixin square $icon-size-large;
}

.xlarge {
  @mixin square $icon-size-xlarge;
}

/*
lib/constants/variants
**************/
.primary {
  fill: $color-variant-primary;
}

.secondary {
  fill: $color-variant-secondary;
}

.warn {
  fill: $color-variant-warn;
}

.panic {
  fill: $color-variant-panic;
}

.dull {
  fill: $color-variant-dull;
}
