@import "dux/css/box";
@import 'dux/css/colors.css';

.select {
    width: 5rem;
}
.error {
    color: var(--primary-5);
}

.title {
    font-weight: 700;
    margin-top: 1.5rem;
}

.subtitle {
    color: var(--primary-2);
    margin-bottom: .5rem;
}

.preview {
    composes: module from 'dux/dux/Module/Module.css';
    padding: 2rem 2rem 0;
    margin-left: 1rem;
}

.total {
    margin-bottom: 35px;
}

.couponCode {
    margin-top: 2rem;
}
.price {
    text-align: right;
}
