@import 'dux/css/colors.css';
@import 'dux/css/box.css';

.body {
    margin-top: 2rem;
}

.icon {
    width: 100px;
    height: 100px;
}

.name {
    font-weight: 700;
    margin: 0 var(--default-margin);
}

.access {
    margin: .5rem 0;
    text-align: left;
}

.service {
    composes: base from 'dux/dux/Module/Module.css';
    color: var(--secondary-4);
    padding: 1.8rem;
    text-align: center;
    transition: border .2s;
    i {
        font-size: 5rem;
        margin-bottom: 1rem;
    }
    &:hover {
         background: #f4f9fc;
         color: var(--secondary-4);
         cursor: pointer;
     }
    &.link:hover {
        border: 1px solid var(--primary-2);
    }
    &.unlink:hover {
        border: 1px solid var(--primary-5);
    }
}