@import 'dux/css/colors.css';

.body {
    margin-top: 2rem;
}

.button {
    margin-bottom: -1rem;
}

.success {
    border: 1px solid var(--primary-2);
}

.formError {
    border: 1px solid var(--primary-5);
}

.notification {
    margin-bottom: 1rem;
    word-wrap: break-word;
}
.notification:hover {
    cursor: pointer;
    cursor: hand;
}
.unverifiedNotif {
    margin-bottom: 1rem;
    word-wrap: break-word;
    color: var(--secondary-4);
    cursor: default;
}

.checkbox {
    padding-top: .5rem;
}
