@import "dux/css/box.css";

.orgGridItem {
    composes: module from "dux/dux/Module/Module.css";
    text-align: center;
    &:hover {
        cursor: pointer;
    }
}
.orgSummary {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.orgAvatar {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    padding: 5px;
}
.orgListItem {
  list-style: none;
}
