.pager {

    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

    li {
        color: ~colors.coolGrey;
        background: color(~colors.silver lightness(85%));
        transition: .25s all;
        font-size: 12px;
        display: inline-block;
        margin: 0 0.25rem;
        padding: 0.25rem 0.5rem;
        background-color: #ccc;
        border-radius: 3px;
        color: #666;
        cursor: pointer;

        &.active, &:hover {
            background: ~colors.primary1;
            color: white;
        }

        &.disabled, &.disabled:hover {
            color: ~colors.textColor;
            background: color(~colors.silver lightness(85%));
            opacity: 0.4;
            cursor: not-allowed;
        }

    }

}