.main-footer {
	background: $docker-gray;
	position: relative;
	padding: 1.5rem .5rem .5rem .5rem;
	@media #{$medium-up} {
		padding: 2rem;
	}
	&::before {
		background: url('../images/footer-wave.svg') repeat-x;
		height: 16px;
		width: 100%;
		position: absolute;
		top: -16px;
		left: 0;
		content: "";
	}

	h6{
		color: #fff;
		font-weight: 300;
		a{
			color: #fff;
			font-weight: 300;
			&:hover {
				color: $docker-blue;
			}
		}
	}
	p {
		color: $body-font-color;
	}
	ul {
		list-style: none;
		margin-left: 0;
		min-height: 150px;
	}

	li {
		a{
			color: $body-font-color;
			font-weight: 300;
			&:hover {
				color: lighten($body-font-color, 10%);
			}
		}
	}

	ul.social-icons {
		min-height: 0;
	}

}
.nav-global-footer {
	li {
		a {
		color: #fff;
		font-weight: 300;
			&:hover {
				color: $docker-blue;
			}
		}
	}
}
.social-icons {
	@include inline-list;
	position: relative;
	li {
		list-style: none;
		margin-left: 0;
		padding-right: 1.2rem;
		@media #{$small-only} {
			padding-right: 0.7rem
		}
	}
}