.left-off-canvas-menu {
	.button {
		display: block;
		margin: 10px;
		font-size: rem-calc(14);
		padding: 14px;
	}
}
.nav-global-off-canvas {
  list-style: none;
  padding: 12px 10px;
  margin-left: 0;
  a {
    color: #fff;
    font-weight: 100;
  }
}