@import 'dux/css/colors.css';

.wrap {
    height: 100%;
    text-align: center;
}

.messageModule {
    animation: fadein 0.3s;
    padding: 1.5rem 0 0 0;
    margin: 4rem 0;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.heading {
    color: #71859d;
    font-size: 3rem;
    font-weight: 400;

}

.subheading {
    color: var(--secondary-7);
}

.message {
    color: #71859d;
    margin: 0 auto;
    padding: .5rem;
    font-size: 1.1rem;
}
