@import "utilities";

$category-icon-size: 100px;

.sectionTitle {
  @mixin fontSize 7;
}

.sectionTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $space-xl;
}

.categoryCards {
  @mixin 3columnsResponsive;
}

.card {
  color: $color-white;
  border-radius: $corner-size;
  height: 240px;
  margin-top: $space-sm;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.cardContent {
  position: absolute;
  top: $space-xxxl;
  left: 90px;
  right: 54px;
}

.icon {
  @mixin square $category-icon-size;
  fill: rgba(255, 255, 255, 0.35);
}

.iconWrapper {
  position: absolute;
  top: 30px;
  left: calc($category-icon-size * -0.2);
}

.cardTitle {
  @mixin fontSize 7;
  font-weight: bold;
  margin-bottom: $space-sm;
}

.cardDescription {
  @mixin fontSize 2;
}

.card0 {
  background-color: #8460ff;
}

.card1 {
  background-color: #ff4081;
}

.card2 {
  background-color: $color-fiord;
}

.card3 {
  background-color: $color-dodger-blue;
}

.card4 {
  background-color: $color-robins-egg-blue;
}

.card5 {
  background-color: $color-koromiko;
}
