/**
 * Styles for the Swagger API documentation (engine/api/v1.x/index.html)
 */


/* ReDoc doesn't change outer page styles */
body {
    margin: 0;
    padding: 0;
}

.menu-content {
  > div:first-child {
    background-color: #086DD7;
    height: 60px;
    text-align: left !important;

    img {
      width: 160px !important;
      margin: 15px 20px;
    }
  }

  label.-depth0 span, label.-depth1 span {
    font-family: "Roboto",sans-serif !important;
  }

  label.-depth0 {
    text-transform: none;
  }

  label.-depth1 span {
    color: #0055BD !important;
  }

  ul + div {
    display: none;
  }
}

redoc {
  h1 {
    font-size: 32px !important;
  }

  h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto",sans-serif !important;
    color: inherit !important;
  }

  p, a {
    font-family: "Roboto",sans-serif !important;
  }

  a {
    color: #0055BD !important;
  }

  // Disable request-type badges, see https://github.com/Rebilly/ReDoc/issues/61
  .operation-type {
    display: none !important;
  }
}

