@import "utilities";

.details {
  margin-top: 32px;
  .card {
    padding: 48px;
  }
}

.confirmed {
  text-align: center;
}

.confirmedMessage {
  text-align: center;

  @mixin fontSize 4;
}

.error {
  fill: $color-carnation;
}

.check {
  fill: $color-robins-egg-blue;
}
