.RepositoryName {
  display: flex;
  &.inlined {
    display: inline-flex;
  }
  align-items: center;
  & > * {
    display: inline-block;
  }

  .divider {
    display: inline-block;
    color: ~colors.coolGrey;
    font-size: 26px;
    opacity: .3;
    margin: 0 2px;
  }
}
