@import 'dux/css/colors.css';
@import 'dux/css/box.css';

.flexHeader {
    background: #f1f6fb;
    border-bottom: 1px solid var(--secondary-5);
    border-top-left-radius: var(--global-radius);
    border-top-right-radius: var(--global-radius);
    display: flex;
    font-weight: 400;
    font-size: .875rem;
    width: 100%;
}