.flexItem {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: 0;
    padding: 0.75rem 1rem .3rem .75rem;
    word-break: break-word;
}

.flexHeaderItem {
	padding: 0.75rem 1rem 0.75rem 0.75rem;
}

.flexItemGrow1 {
    flex-grow: 1;
}

.flexItemGrow2 {
    flex-grow: 2;
}

.flexItemGrow3 {
    flex-grow: 3;
}