@import "utilities";

.card {
  padding: $space-xl;
  margin-bottom: $space-lg;
  &:last-child {
    margin-bottom: 0;
  }
}

.billingRow {
  @mixin 3columns 4, 3, 4, 1;
}

.priceDelim {
  @mixin 2columns 1, 11;
  align-items: center;
  span {
    margin-bottom: $space-sm;
  }
}

.options {
  display: flex;
  flex-direction: column;
}

.fields {
  margin-bottom: $space-xs;
}

.sectionTitle {
  font-size: 14px;
  font-weight: 600;
  color: #354a5b;
  margin: 0 0 $space-xxs;
}

.subText {
  color: $color-variant-dull;
  margin-bottom: $space-sm;
}

.repoSelect {
  margin-left: $space-lg;
}

.input {
  width: 100%;
}

.textArea {
  max-width: 100%;
  width: 100%;
  min-height: 50px;
  padding: $space-xs;
  border: 1px solid $color-variant-dull-disabled;
}

.error {
  color: $color-variant-panic;
  height: $line-height-2;
}

.removeField {
  fill: $color-variant-panic;
  margin-bottom: $space-lg;
  width: 100%;
  svg {
    float: right;
  }
  &:hover {
    fill: $color-variant-panic-hover;
    cursor: pointer;
  }
}
