@import "dux/css/colors.css";

.labelText {
    font-size: .8125rem;
    font-weight: 400;
    margin-top: 0.9rem;
    text-align: right;
}

.prLabel {
    composes: labelText;
    color: var(--secondary-4);
    margin-right: 0.4rem;
}