.repoCount {
    line-height: 2.5;
    color: #8da1b6;
    font-size: .9rem;
    text-align: right;
}

.nautilusAdContent {
  display: inline-block;
  width: calc(100% - 40px);
  margin-left: 10px;
  text-align: left;
}

.nautilusAdDesc {
  font-size: 0.8125rem;
}

.nautilusAdShieldIcon {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: top;
}
