.wrap {
  margin: 24px 0;
  lost-center: 1260px;
  background: #FCFDFF;
  border: 1px solid #C4CDDA;
  border-radius: 4px;

  a {
    color: #22B8EB;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      color: #13A3D4;
      text-decoration: underline;
    }
  }
}

.header {
  lost-column: 1;
  padding: 9px 20px;
  background: rgba(230,237,243,0.50);
  border-bottom: 1px solid #C4CDDA;
  border-radius: 4px 4px 0 0;
  font-size: 18px;
  color: #3F5167;
  line-height: 24px;
}

.leftColumn {
  lost-column: 1/4;
  position: relative;
  padding: 20px 38px 20px 20px;
  min-height: 200px;
  background: #FBFBFC;
  border-right: 1px solid #C4CDDA;
  border-radius: 0 0 4px 4px;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 78px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 24px 18px;
  }

  &::before {
    right: -19px;
    border-color: transparent transparent transparent #C4CDDA;
  }

  &::after {
    right: -18;
    border-color: transparent transparent transparent #FBFBFC;
  }
}

.rightColumn {
  lost-column: 3/4;
  padding: 20px 20px 20px 30px;
}

.segmentHeader {
  margin-bottom: 10px;
  font-size: 12px;
  color: #7A8491;
  line-height: 16px;
  text-transform: uppercase;
}

.event {
  display: block;
  margin-top: 45px;

  .eventTitle {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #3F5167;
    line-height: 24px;

    i {
      flex-shrink: 1;
      display: block;
      width: 56px;
      height: 43px;
      margin-right: 12px;

      svg {
        width: 100%;
        height: 100%;
        stroke: #7A8491;
      }
    }
  }

  .eventDescription {
    margin-top: 32px;
    max-width: 210px;
    font-size: 12px;
    color: #3F5167;
    line-height: 16px;
  }
}

.addWebHook {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border-color: transparent;
  padding: 0;
  margin: -3px 0 0 12px;
  transition: transform 120ms ease-out;

  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
    background-color: transparent;
    outline: none;
  }

  svg {
    width: inherit;
    height: inherit;
    fill: #22B8EB;
    transition: fill 300ms ease-out;
  }

  &:hover svg,
  &:focus svg {
    fill: #13a3d4;
  }
}

.addWebHook_rotated {
  transform: rotate(-45deg);
}

.transitionEnter {
  opacity: 0;

  &.transitionEnterActive {
    opacity: 1;
    transition: opacity 240ms ease-in;
  }
}

.transitionLeave {
  opacity: 1;

  &.transitionLeaveActive {
    opacity: 0;
    transition: opacity 100ms ease-in;
  }
}
