{{ define "left" }}
{{ partial "sidebar/mainnav.html" . }}
<div class="p-4 flex flex-col gap-4 text-sm">
  <div>
    <span class="icon-svg">{{ partialCached "icon" "filter_alt" "filter_alt" }}</span>
    <span>Filters</span>
  </div>
  <div class="space-y-4"
    x-data="{
      selected: { products: [], subjects: [], languages: [], levels: [], },
      toggleFilter(taxonomy, term) {
        this.selected[taxonomy].includes(term)
          ? this.selected[taxonomy] = this.selected[taxonomy].filter(el => el != term)
          : this.selected[taxonomy].push(term);

        // Update URL
        const url = new URL(window.location.href);
        if (this.selected[taxonomy].length > 0) {
          url.searchParams.set(taxonomy, this.selected[taxonomy].join('~'));
        } else {
          url.searchParams.delete(taxonomy);
        }
        window.history.replaceState({}, '', url);

        this.$dispatch('guide-filter', { filters: this.selected });
      },
      
      init() {
        const url = new URL(window.location.href);
        for (const [key, value] of url.searchParams.entries()) {
          if (value) {
            this.selected[key] = value.split('~');
          }
        }
      }
    }">
    {{ template "taxofilters" site.Taxonomies.products }}
    {{ template "taxofilters" site.Taxonomies.subjects }}
    {{ template "taxofilters" site.Taxonomies.levels }}
    {{ template "taxofilters" site.Taxonomies.languages }}
  </div>
</div>
{{ end }}

{{ define "taxofilters" }}
{{- $taxonomy := .Page.Data.Plural }}
<fieldset class="flex flex-col gap-2">
  <div>{{ humanize $taxonomy }}</div>
  {{- range . }}
  {{- $term := .Page.Data.Term }}
  <div class="pl-2 flex gap-2">
    {{- $id := anchorize (fmt.Printf "%s-%s" $taxonomy $term) }}
    <input value="{{$term}}" type="checkbox" id="{{ $id }}"
      @change="toggleFilter('{{$taxonomy}}','{{$term}}')"
      :checked="selected['{{$taxonomy}}'].includes('{{$term}}')">
    <label class="select-none" for="{{ $id }}">{{ .Page.LinkTitle }}</label>
  </div>
  {{ end }}
</fieldset>
{{ end }}

{{ define "main" }}
<div class="flex gap-8 w-full">
  <article class="prose min-w-0 max-w-none dark:prose-invert">
    {{- partial "breadcrumbs.html" . }}
    <h1 data-pagefind-weight="10" class="scroll-mt-36">{{ .Title }}</h1>
    {{ .Content }}
      <h2>Featured</h2>
      <div class="not-prose py-4 grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-8">
        {{- $featured := where .Pages "Params.featured" true }}
        {{- with $featured }}
          {{- range . }}
            <div class="flex flex-col h-full">
              <a class="hover:underline" href="{{ .Permalink }}">
                {{- $img := resources.Get (.Params.image | default "/images/thumbnail.webp") }}
                {{- $img = $img.Process "resize 600x" }}
                <img class="h-48 w-full object-cover rounded shadow" src="{{ $img.Permalink }}">
                <p class="text-xl leading-snug my-4">{{ .Title }}</p>
              </a>
              <p class="flex-grow text-sm">{{ .Summary }}</p>
              <div class="mt-4">
                {{ template "guide-metadata" . }}
              </div>
            </div>
            {{- end }}
          {{- end }}
        </div>
      </ul>
    <hr class="text-divider-light dark:text-divider-dark">
    {{- $taxonomies := slice "products" "subjects" "levels" "languages" }}
    <div class="not-prose min-h-screen"
      x-data="{
        filters: { {{ delimit (apply $taxonomies "fmt.Printf" "%s: []," "." ) "" }} },

        noFilters() {
          return Object.values(this.filters).every(arr=> Array.isArray(arr) && arr.length === 0);
        },

        showItem(taxonomies) {
          if (this.noFilters()) return true;
          let match = false;

          for (const taxonomy in this.filters) {
            const selectedTerms = this.filters[taxonomy];
            if (selectedTerms.length > 0) {
              const itemTerms = taxonomies[taxonomy] || [];
              // Check if all selected terms are included in the item's terms
              const hasAnyTerms = selectedTerms.some(term => itemTerms.includes(term));
              if (hasAnyTerms) {
                match = true;
                break;
              }
            }
          }
          return match;
        },

        init() {
          const url = new URL(window.location.href);
          for (const [key, value] of url.searchParams.entries()) {
            if (value) {
              this.filters[key] = value.split('~');
            }
          }
        }
      }"
      x-cloak
      @guide-filter.window="filters = $event.detail.filters; document.getElementById('all-guides').scrollIntoView({ behavior: 'smooth' })">
      <h2 id="all-guides" class="scroll-mt-36">All guides</h2>
      {{- range .Pages }}
        {{- $opts := dict "page" . "taxonomies" $taxonomies }}
        {{- $filters := partial "utils/filter-terms.html" $opts }}
        <a href="{{ .Permalink }}" x-show="showItem({{ jsonify $filters }});" x-transition
           class="group flex flex-col justify-between p-4 border-b
                  border-divider-light hover:bg-white
                  hover:dark:bg-gray-dark-200 dark:border-divider-dark
                  drop-shadow transition">
          <div class="flex flex-col xl:flex-row justify-between">
            <div class="text-lg group-hover:underline mb-2 xl:mb-0 truncate">{{ .Title }}</div>
            {{ template "guide-metadata" . }}
          </div>
        </a>
      {{- end }}
  </article>
</div>
{{ end }}

{{- define "guide-metadata" }}
<div class="flex gap-8 items-center text-sm justify-between text-gray-light dark:text-gray-dark">
  <div class="flex flex-wrap md:flex-nowrap gap-2">
    {{- $taxoterms := .GetTerms "languages" }}
    {{- $taxoterms = $taxoterms | append (.GetTerms "levels") }}
    {{- $taxoterms = $taxoterms | append (.GetTerms "subjects") }}
    {{- range $taxoterms }}
    <span class="rounded whitespace-nowrap bg-gray-light-200 dark:bg-gray-dark-300 px-2">{{- .Page.LinkTitle }}</span>
    {{- end }}
  </div>
  {{- with .Params.time }}
    <div class="flex whitespace-nowrap flex-shrink gap-2">
      <span class="icon-svg">{{ partialCached "icon" "schedule" "schedule" }}</span>
      <span>{{ . }}</span>
    </div>
  {{- end }}
</div>
{{- end }}
