<div class="card">
  {{ if .link }}
    <a href="{{ .link }}" class="card-link">
  {{ end }}
    <div class="card-header">
      {{ with .image }}
        <img class="card-image" src="{{ . }}" alt="">
      {{ end }}
      {{ with .icon }}
      <div class="card-icon">
        {{ if (in . ".svg") }}
         <span class="card-img svg">
            {{ partial "utils/svg" . }}
          </span>
        {{ else if (in . "/") }}
          <img class="card-img" src="{{ . }}" alt="">
        {{ else }}
          <span class="card-img svg">
            {{ partial "icon" . }}
          </span>
        {{ end }}
      </div>
      {{ end }}
      <h3 class="card-title">{{ markdownify .title }}</h3>
    </div>
    <div class="card-content">
      <p class="card-description">{{ .description | markdownify }}</p>
    </div>
  {{ if .link }}
    </a>
  {{ end }}
</div>
