<!doctype html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body
  class="flex flex-col items-center bg-gradient-to-r from-background-light from-20% to-white to-30% text-base dark:from-gray-dark-100 dark:to-background-dark dark:text-white">
  {{ partial "header.html" . }}
  <main class="relative flex w-full max-w-[1920px]">
    <!-- Sidebar -->
    <div x-data
      class="md:h-[calc(100vh - 64px)] fixed md:sticky top-0 md:top-16 z-40 hidden h-screen flex-none overflow-y-auto overflow-x-hidden bg-background-light dark:bg-gray-dark-100 w-full md:z-auto md:block md:w-[300px]"
      :class="{ 'hidden': ! $store.showSidebar }">
      <!-- Gray backdrop on small screens -->
      <div class="fixed bg-black/50 md:hidden" x-show="$store.showSidebar" @click="openSidebar = false"
        x-transition.opacity></div>
      <div class="z-50 w-full bg-background-light p-4 dark:bg-gray-dark-100 md:block md:w-[300px]">
        <!-- Collapse button for small screens -->
        <button class="my-4 md:hidden" @click="$store.showSidebar = false">
          <span class="icon-svg">{{ partialCached "icon" "arrow_left_alt" "arrow_left_alt" }}</span>
          Back
        </button>
        <!-- Main navigation -->
        <div class="py-2 px-4" x-data="{ expanded: false }">
          <div class="flex w-full items-center justify-between">
            <a class="hover:text-blue-light dark:hover:text-blue-dark" href="{{ .FirstSection.Permalink }}">
              {{- with .FirstSection.Params.icon }}
                <span class="pr-2 icon-sm icon-svg">
                  {{- partialCached "icon.html" . . -}}
                </span>
              {{- end }}
              {{- .FirstSection.LinkTitle -}}
            </a>
            <button @click="expanded = !expanded" class="rounded hover:bg-gray-light-300 hover:dark:bg-gray-dark-300">
              <span x-show="! expanded" class="icon-svg">
                {{ partialCached "icon" "expand_more" "expand_more" }}
              </span>
              <span x-cloak x-show="expanded" class="icon-svg">
                {{ partialCached "icon" "expand_less" "expand_less" }}
              </span>
            </button>
          </div>
          <ul x-cloak x-show="expanded" class="py-4 space-y-4">
            {{ range site.Menus.main }}
              {{ if ne page.FirstSection .Page }}
              <li>
                <a class="hover:text-blue-light dark:hover:text-blue-dark" href="{{ .URL }}">
                  {{- with .Page.Params.icon }}
                    <span class="pr-2 icon-sm icon-svg">
                      {{- partialCached "icon.html" . . -}}
                    </span>
                  {{- end }}
                  {{- .Name }}
                </a>
              </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
        <hr class="my-2 text-gray-light-200 dark:text-gray-dark-300" />
        <!-- Actual Sidebar Content -->
        {{ block "left" . }}
        {{ end }}
      </div>
    </div>

    <!-- Main content -->
    <div {{ if ne .Params.sitemap false }}data-pagefind-body{{- end }}
      class="w-full min-w-0 bg-white p-8 dark:bg-background-dark">
      {{ block "main" . }}
      {{ end }}
    </div>
  </main>

  <footer class="w-full">{{ partialCached "footer.html" . }}</footer>

  {{/* Load the YouTube player if the page embeds a YouTube video */}}
  {{ with .Store.Get "youtube" }}
  {{ partial "youtube-script.html" . }}
  {{ end }}
</body>

</html>
