<!DOCTYPE html>
<html lang="en">

<head>
  {{ partial "head.html" . }}
</head>

<body class="bg-background-light text-base dark:bg-background-dark dark:text-white">
  {{ partial "header.html" . }}
  <main class="flex">
    <div id="sidebar"
      class="sticky top-16 flex h-screen shrink-0 grow flex-row-reverse overflow-y-scroll bg-background-light dark:bg-gray-dark-100 md:fixed md:z-10 md:hidden md:h-screen md:w-screen lg:grow-0">
      {{ block "left" . }}
      {{ end }}
    </div>
    <div data-pagefind-body data-pagefind-meta="location:{{.Permalink}}" class="w-[840px] flex-initial overflow-clip p-6 pt-0 md:w-lvw">
      {{ block "main" . }}
      {{ end }}
    </div>
    <div class="sticky top-16 h-screen w-[300px] shrink grow overflow-y-scroll lg:hidden">
      {{ block "right" . }}
      {{ end }}
    </div>
  </main>
  <footer>{{ partialCached "footer.html" . }}</footer>
</body>

</html>
