<!DOCTYPE html>
<html lang="en">

<head>
    <title>Docker Engine API {{ .File.BaseFileName }} Reference</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description"
        content="Reference documentation and Swagger (OpenAPI) specification for the {{ .File.BaseFileName }} version of the API served by Docker Engine." />
    <meta charset="utf-8" />
    <!-- favicon -->
    {{ partialCached "favicon.html" "favicon" }}
    <!-- make the latest API version the canonical page as that's what we want users to be using mostly -->
    <link rel="canonical" href="{{ site.BaseURL }}/engine/api/v{{ site.Params.latest_engine_api_version }}/" />
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .menu-content>div:first-child {
            background-color: #086dd7;
            padding: 16px;
        }
    </style>
</head>

<body>
    <redoc spec-url="/reference/engine/{{ .File.BaseFileName }}.yaml" hide-hostname="true" suppress-warnings="true"
        lazy-rendering></redoc>
    <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"></script>
</body>

</html>
