{{ define "left" }}
  {{ partial "sidebar.html" . }}
{{ end }}

{{ define "main" }}
  {{ partial "breadcrumbs.html" . }}
  <article class="DocSearch-content prose max-w-none dark:prose-invert">
    {{ with .Title }}
    <h1 id="{{ anchorize . }}">{{ . }}</h1>
    {{ end }}
    <table>
      <thead>
        <tr>
          <th>Term</th>
          <th>Definition</th>
        </tr>
      </thead>
      <tbody>
        {{ range $term, $definition := site.Data.glossary }}
          <tr>
            <td class="not-prose">
              <a class="-top-16 relative" name="{{ $term | anchorize }}"></a>
              {{ $term }}
            </td>
            <td>{{ $definition | $.RenderString }}</td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </article>
{{ end }}

{{ define "right" }}
  {{ partial "aside.html" . }}
{{ end }}
