{{ define "left" }}
  {{ partial "sidebar.html" . }}
{{ end }}

{{ define "main" }}
{{ partial "breadcrumbs.html" . }}
<article class="DocSearch-content prose max-w-none dark:prose-invert">
  {{ with .Title }}
  <h1 class="scroll-mt-36">{{ . }}</h1>
  {{ end }}
<link href="{{ "css/glossary.css" | relURL }}" rel="stylesheet">
<script src="{{ "js/glossary.js" | relURL }}"></script>
<p>This glossary is intended to be a comprehensive, standardized list of Docker terminology. It includes technical terms that are specific to Docker, as well as more general terms that provide useful context.</p>
{{ partial "glossary-terms.html" . }}
{{ $glossary_items := $.Scratch.Get "glossary_items" }}
{{ with $glossary_items }}
{{ $glossary_terms := sort . "Title" "asc" }}
<ul>
	{{ range $glossary_terms }}
	{{ $.Scratch.Set "tag_classes" "" }}
	{{ range .Params.tags }}
	{{ $.Scratch.Add "tag_classes" (printf "tag-%s " .)  }}
	{{ end }}
	{{ $term_identifier := (printf "term-%s" .Params.id) }}
	
	<li class="{{ $.Scratch.Get "tag_classes" }} hide" data-show-count="0">
		<div id="{{ $term_identifier }}" class="term-anchor"></div>
		<div>
			<div class="term-name">{{ .Title }}:</div>
			{{ with .Params.aka }}
			{{ T "layouts_docs_glossary_aka" }}:<i>{{ delimit . ", " }}</i>
			<br>
			{{ end }}
      {{ .Content | strings.TrimPrefix .Summary | safeHTML }}
		</div>
	</li>
	{{ end }}
</ul>
{{ end }}
{{ end }}

{{ define "right" }}
  {{ partial "aside.html" . }}
{{ end }}
