{{ define "left" }}
  {{ if eq .Params.legacytoc false }}
    {{ partial "sidebar-next.html" . }}
  {{ else }}
    {{ partial "sidebar.html" . }}
  {{ end }}
{{ end }}

{{ define "main" }}
  {{ if eq .Params.legacytoc false }}
    {{ partial "breadcrumbs-next.html" . }}
  {{ else }}
    {{ partial "breadcrumbs.html" . }}
  {{ end }}
  <article class="DocSearch-content prose max-w-none dark:prose-invert">
    {{ with .Title }}
    <h1 id="{{ anchorize . }}">{{ . }}</h1>
    {{ end }}
    {{ .Content }}
  </article>
{{ end }}

{{ define "right" }}
  {{ partial "aside.html" . }}
{{ end }}
