{{ define "main" }}
{{ partial "breadcrumbs.html" . }}
<article class="prose max-w-none dark:prose-invert">
  <h1 data-pagefind-weight="10" class="scroll-mt-36">{{ .Title }}</h1>
  <div class="text-lg">{{ .Summary }}</div>
  {{ partial "components/guide-summary.html" . }}
  {{ .Content }}
  {{ partial "heading.html" (dict "text" "Modules" "level" 2) }}
  {{ range $i, $e := .Pages }}
    {{ $o := compare.Conditional (eq $i 0) true false }}
    {{ $t := fmt.Printf "%d. %s" (add $i 1) $e.Title }}
    {{ $b := fmt.Printf "%s\n\n{{< button url=`%s` text=`%s` >}}" $e.Summary $e.Permalink "Start" }}
    {{ partial "components/accordion.html" (dict "large" true "open" $o "title" $t "body" $b) }}
  {{ end }}
</article>
{{ end }}
