{{ define "left" }}
  {{ partial "sidebar.html" . }}
{{ end }}

{{ define "main" }}
  {{ partial "breadcrumbs-legacy.html" . }}
  <article class="prose max-w-none dark:prose-invert">
    <h1 class="flex items-center select-none">
      <span class="text-4xl material-symbols-rounded">tag</span>
      <span class="select-text">{{ .Title }}</span>
    </h1>
    {{ .Content }}
    {{ with (index site.Taxonomies.topics .Data.Term) }}
      <hr />
      <nav>
        <div class="text-xl">Pages about this topic:</div>
        <ul>
          {{ range . | first 5 }}
            <li>
              <a href="{{ .Page.Permalink }}"
                >{{ partial "utils/title.html" .Page }}</a
              >
            </li>
          {{ end }}
        </ul>
      </nav>
    {{ end }}
  </article>
{{ end }}
