@import "utilities";

/* Topnav */
.topnav {
  display: flex;
  height: $topnav-height;
  background: $color-dodger-blue;
  align-items: center;

  > * {
    display: inline-flex;
  }

  button {
    cursor: pointer;
  }

  .wrappedColumns {
    @mixin wrapped;

    /* Search bar is hidden on small screens so use 2 columns */
    @mixin 2columns 6, 6;

    @media (min-width: $screen-md) {
      @mixin 3columns 3, 4, 5;
    }
  }

  .buttonLink {
    font-weight: 700;
    margin: 0;
    display: flex;
    align-items: center;
    color: $color-white;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
  }

  .buttonLink + .buttonLink {
    margin-left: $space-xl;
  }

  .accountLinks {
    display: inherit;
    width: 100%;
    justify-content: flex-end;
  }

  .loggedIn {
    margin-left: $space-xl;
    display: flex;
    align-items: center;
    cursor: pointer;
    > svg {
      fill: white;
    }
  }

  .avatar {
    cursor: pointer;
  }

  .accountDropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    ul {
      margin-top: 4px !important;
      width: 190px;
      right: 0;
    }
  }
}

.transparent {
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.username {
  color: $color-white;
  margin-left: $space-xs;
}

.logout {
  color: $color-variant-panic;
}

/* Search & Autocomplete Results */
.search {
  /* Hide the search bar on small screens */
  display: none;

  @media (min-width: $screen-md) {
    display: inline-flex;
  }
}

.input {
  width: $input-width-xlarge;
  color: $color-white;
  background-color: $color-malibu;
  box-shadow: 1px 1px 1px 0 $color-dodger-blue;
  &:focus {
    background-color: $color-picton-blue;
    box-shadow: inset 1px 1px 1px 0 $color-dodger-blue;
  }
}

.menu {
  border-radius: $corner-size;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  background: $color-white;
  position: absolute;
  overflow: auto;
  z-index: 999;
  max-height: $autocomplete-dropdown-max-height;
  width: $input-width-xlarge;
}

.result {
  padding: $space-sm;
  cursor: default;
}

.highlightedResult {
  padding: $space-sm;
  cursor: default;
  background: $color-variant-light-shade-hover;
}

.menuTitle {
  @mixin fontSize 2;
  font-weight: 600;
  padding: $space-sm $space-sm;
  cursor: default;

}

.resultName {
  @mixin fontSize 2;
}

.resultCategories {
  @mixin fontSize 1;
  color: $color-regent-gray;
}
