.repositoryList {
  margin: 0;
  padding: 1px 0;
  list-style-type: none;
  overflow: hidden;
}

.repositoryListItem {
  position: relative;
  padding: 1rem 0;
  border-top: 1px solid ~colors.secondary6;
  transition: margin .3s;
  background: #fff;
  overflow: hidden;
  lost-flex-container: row;

  &.hidden {
    display: none;
  }

  .mainContent {
    word-break: break-word;
    &:not(:last-child) {
      lost-column: 4/6;
    }
    &:last-child {
      lost-column: 6/6;
    }
  }

  .secondaryContent {
    lost-column: 2/6;
  }

  h2 {
    font-size: 18px;
    color: ~colors.coolGrey;
    margin-bottom: 0;
    font-weight: 300;
  }

  a {
    color: ~colors.coolGrey;

    &:hover {
      color: ~colors.primary1;
      text-decoration: none;
      transition: .25s color;
    }
  }

  .name {
    color: ~colors.slate;
    font-weight: 600;
  }
}

/**
 * List item classes
 */

.visibility {
  position: relative;
  top: -2px;

  margin-left: 10px;
  color: ~colors.paleOrange;
  font-size: 12px;
  border: 1px solid color(~colors.paleOrange l(+10%));
  line-height: 1;
  padding: 0 5px 2px;
}

.description {
  color: ~colors.coolGrey;
  font-size: 13px;
  line-height: 20px;
}

.permissionWrapper {
  lost-flex-container: row;
  
  &.editable {

    .remove {
      lost-column: 1/4;
      lost-align: middle-center;

      :global(.fa) {
        cursor: pointer;
      }
    }
  }

  &:not(.editable) .permission {
    margin-left: auto;
  }

}
