em {
    font-weight: bold;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation.post div.content h5 {
    color: #10654A;
}
.swagger-section .swagger-ui-wrap ul#resources li.resource ul.endpoints li.endpoint ul.operations li.operation div.content h5 {
    font-size: 1.0em;
    margin: 0px;
    padding: 15px 0px 5px;
}

.swagger-section .swagger-ui-wrap table tr td:nth-child(2) textarea {
  display: none !important;
}
