@import "variables.css";

.repositoryform {
  textarea {
    border-radius: 4px;
    border-color: $color-loblolly;
    min-width: 760px;
    max-width: 760px;
  }

  .shortdescription {
    textarea {
      height: 64px;
    }
  }

  .fulldescription {
    textarea {
      font-family: monospace;
      min-height: 360px;
    }
  }

  .monospace {
    font-family: monospace;
  }

  .logo {
    display: flex;
    align-items: center;

    input {
      margin-left: 10px;
    }
  }

  .preview {
    width: 128px;
    height: 128px;
    background: $color-porcelain;
    border-radius: 5px;
    border: none;
  }

  .savebutton {
    display: flex;
    justify-content: flex-end;
  }

  .screenshotpreview {
    flex: 1 auto;
    background: $color-porcelain;
    border-radius: 5px;
    border: none;
    width: 720px;
    height: 480px;
  }

  .screenshotwrapper {
    display: flex;
  }
}
