@import "utilities";

/* 1px height + 1em margin top + 1em margin bottom + 1px border */
$hr-height: calc(1px + 1em + 1em + 1px);
$search-card-max-width: 270px;
$search-card-padding: $space-xl;
$search-logo-height: 80px;
$search-card-center-height: calc($space-xxxxl + $line-height-0);
$search-card-footer-height: 24px;
$search-card-header-height: calc($search-logo-height + $space-sm + $line-height-4 + $space-xxs + $line-height-0 + $space-xxl + $line-height-2);
$search-card-height: calc($search-card-padding + $search-card-header-height + $hr-height + $search-card-center-height + $hr-height + $search-card-footer-height + $search-card-padding);

.noResizing {
  overflow: hidden;
  text-overflow: ellipsis;
}

.cardCenter {
  height: $search-card-center-height;
  overflow: hidden;
}

.cardFooter {
  @mixin fontSize 2;
  display: flex;
  justify-content: space-between;
  height: $search-card-footer-height;
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: $search-card-header-height;
}

.cardWrapper {
  padding-top: $space-sm;
  cursor: pointer;
  max-width: $search-card-max-width;
}

.check {
  fill: $color-robins-egg-blue;
  margin-right: $space-xxs;
}

.icon {
  fill: $color-regent-gray;
}

.logo {
  @mixin square $search-logo-height;
  border-radius: $corner-size;
  margin-bottom: $space-sm;
}

.name {
  @mixin fontSize 4;
  margin-bottom: $space-xxs;
  text-align: center;
}

.ratingsAndPopularity {
  display: flex;
  direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: $line-height-2;
}

.popularity {
  @mixin fontSize 2;
  color: $color-fiord;
}

.shortDescription {
  height: $space-xxxxl;

  /* NOTE: does not work in firefox :( We are working on a better solution */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.category {
  @mixin fontSize 0;
  height: $line-height-0;
  color: $color-regent-gray;
  align-items: center;
  white-space: nowrap;
}

.publisherName {
  @mixin fontSize 0;
  min-height: $line-height-0;
  display: flex;
  align-items: center;
  text-align: center;
  color: $color-regent-gray;
  margin-bottom: $space-xxl;
}

.fallbackElement {
  @mixin square $search-logo-height;
  margin-bottom: $space-sm;
  fill: $color-regent-gray;
}
