.inputLabel {
  color: ~colors.coolGrey;
  font-weight: 600;
  font-size: 90%;

  span {
    color: ~colors.primary5;
    font-weight: normal;
    font-size: 95%;
  }

  label {
    color: ~colors.slate;
    margin-right: 0.5rem;
    margin-bottom: .2rem;
  }

  i {
    color: ~colors.primary5;
    margin-right: 0.5rem;
  } 
}

.inline {
  display: inline-block;
}

.optional {
  font-style: italic;
  margin-right: 0.5rem;
}
