/* global styles */

[x-cloak=""] {
  display: none !important;
}
/* alpine cloak for small screens only */
[x-cloak="sm"] {
  @media (width <= 768px) {
    display: none !important;
  }
}

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: theme(colors.gray.light.400) theme(colors.black / 0.05);
  &.dark {
    scrollbar-color: theme(colors.gray.dark.800) theme(colors.white / 0.1);
  }
}

mark {
  @apply text-blue-light dark:text-blue-dark bg-transparent font-bold;
}

/* Hide the clear (X) button for search inputs */
/* Chrome, Safari, Edge, and Opera */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type="search"]::-moz-search-cancel-button {
  display: none;
}

/* Internet Explorer and Edge (legacy) */
input[type="search"]::-ms-clear {
  display: none;
}

.prose {
  li {
    @apply my-2;
    > :last-child,
    > :first-child {
      margin: 0;
    }
  }
  hr {
    @apply mt-8 mb-4;
  }
  > h1 {
    @apply mt-3! mb-5! text-4xl!;
  }
  > h2 {
    @apply mt-5! mb-3! text-3xl!;
    a {
      @apply hover:no-underline!;
    }
  }
  > h3 {
    @apply text-2xl!;
    a {
      @apply hover:no-underline!;
    }
  }
  > h4 {
    a {
      @apply hover:no-underline!;
    }
  }
  > h5 {
    a {
      @apply hover:no-underline!;
    }
  }
  ol {
    list-style-type: decimal;
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol {
    list-style-type: lower-roman;
  }
}
