/* global styles */

[x-cloak=""] {
  display: none !important;
}
/* alpine cloak for small screens only */
[x-cloak="sm"] {
  @media (width <= 768px) {
    display: none !important;
  }
}
:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scrollbar-color: var(--color-gray-400) rgba(0, 0, 0, 0.05);
  &.dark {
    scrollbar-color: var(--color-gray-700) rgba(255, 255, 255, 0.1);
  }
}

mark {
  @apply bg-transparent font-bold text-blue-500 dark:text-blue-800;
}

/* Hide the clear (X) button for search inputs */
/* Chrome, Safari, Edge, and Opera */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

/* Firefox */
input[type="search"]::-moz-search-cancel-button {
  display: none;
}

/* Internet Explorer and Edge (legacy) */
input[type="search"]::-ms-clear {
  display: none;
}
.prose {
  hr {
    @apply mt-8 mb-4;
  }
  :where(h1):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    font-weight: 500 !important;
    font-size: 180% !important;
    margin-bottom: 0.4em !important;
  }
  > h2 {
    @apply mt-7! mb-3!;
    font-size: 160% !important;
    a {
      @apply hover:no-underline!;
    }
  }
  > h3 {
    font-size: 130% !important;
    a {
      @apply hover:no-underline!;
    }
  }
  > h4 {
    a {
      @apply hover:no-underline!;
    }
  }
  > h5 {
    a {
      @apply hover:no-underline!;
    }
  }
  ol {
    list-style-type: decimal;
  }

  ol ol {
    list-style-type: lower-alpha;
  }

  ol ol ol {
    list-style-type: lower-roman;
  }
}
.navbar-group:first-of-type {
  margin-top: 0.2rem !important;
}

#search-page-results {
  mark:where(.dark, .dark *) {
    color: var(--color-blue-400);
  }
}

code{
  font-size:0.9em;
}
