@layer utilities {
  .icon-svg {
    svg {
      font-size: 24px;
      width: 1em;
      height: 1em;
      display: inline-block;
      fill: currentColor;
    }
  }

  .icon-xs {
    svg {
      @apply text-base;
    }
  }

  .icon-sm {
    svg {
      @apply text-lg;
    }
  }

  .icon-top {
    svg {
      @apply ml-1 align-top;
    }
  }
}
