:root {
  --pagefind-ui-scale: 0.8;
  --pagefind-ui-primary: #034ad8;
  --pagefind-ui-text: #393939;
  --pagefind-ui-background: #ffffff;
  --pagefind-ui-border: #eeeeee;
  --pagefind-ui-tag: #eeeeee;
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: 'Roboto Flex', sans-serif;
  &.dark {
    --pagefind-ui-primary: #eeeeee;
    --pagefind-ui-text: #eeeeee;
    --pagefind-ui-background: #152028;
    --pagefind-ui-border: #152028;
    --pagefind-ui-tag: #152028;
  }
}

#pagefind {
  .pagefind-ui__drawer {
    background-color: var(--pagefind-ui-background);
    padding: 0 16px;
  }
  .pagefind-ui__results {
    overflow-y: auto;
    height: 65vh;
  }
}
