/* see also: tailwind.config.js */

@import "tailwindcss/base";
@import "/assets/css/global";
@import "/assets/css/typography";
@import "/assets/css/hack";

@import "tailwindcss/components";
@import "/assets/css/code";
@import "/assets/css/toc";

@import "tailwindcss/utilities";
@import "/assets/css/syntax-light";
@import "/assets/css/syntax-dark";
@import "/assets/css/icons";
