.summary-bar {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    background-color: theme("colors.blue.light.500");
    border: 1px solid theme("colors.blue.light.500");
    border-radius: 5px;
    margin-bottom: 1rem;
    align-items: center;
}

.summary-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.summary-icon .material-symbols-outlined {
    font-size: 24px;
    color: theme("colors.white");
}

.summary-label {
    font-size: 14px;
    color: theme("colors.white");
}
