@utility syntax-dark {
  /* Other */
  .x {
    color: var(--color-white-main);
  }
  /* Error */
  .err {
    color: var(--color-red-500);
  }
  /* CodeLine */
  .cl {
    color: var(--color-gray-200);
  }
  /* LineHighlight */
  .hl {
    min-width: fit-content;
    background-color: var(--color-gray-700);
  }
  .lntd:first-child .hl,
  & > .chroma > code > .hl {
    margin-left: -4px;
    border-left: 4px solid var(--color-gray-900);
  }
  /* LineNumbersTable */
  .lnt {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--color-gray-900);
  }
  /* LineNumbers */
  .ln {
    white-space: pre;
    user-select: none;
    margin-right: 0.4em;
    padding: 0 0.4em 0 0.4em;
    color: var(--color-gray-900);
  }
  /* Line */
  .line {
    display: flex;
  }
  /* Keyword */
  .k {
    color: var(--color-yellow-700);
  }
  /* KeywordConstant */
  .kc {
    color: var(--color-violet-300);
  }
  /* KeywordDeclaration */
  .kd {
    color: var(--color-yellow-700);
  }
  /* KeywordNamespace */
  .kn {
    color: var(--color-yellow-700);
  }
  /* KeywordPseudo */
  .kp {
    color: var(--color-yellow-700);
  }
  /* KeywordReserved */
  .kr {
    color: var(--color-yellow-700);
  }
  /* KeywordType */
  .kt {
    color: var(--color-yellow-700);
  }
  /* Name */
  .n {
    color: var(--color-violet-300);
  }
  /* NameAttribute */
  .na {
    color: var(--color-yellow-700);
  }
  /* NameBuiltin */
  .nb {
    color: var(--color-yellow-700);
  }
  /* NameBuiltinPseudo */
  .bp {
    color: var(--color-violet-300);
  }
  /* NameClass */
  .nc {
    color: var(--color-white-main);
  }
  /* NameConstant */
  .no {
    color: var(--color-white-main);
  }
  /* NameDecorator */
  .nd {
    color: var(--color-violet-300);
  }
  /* NameEntity */
  .ni {
    color: var(--color-yellow-700);
  }
  /* NameException */
  .ne {
    color: var(--color-red-700);
  }
  /* NameFunction */
  .nf {
    color: var(--color-blue-400);
  }
  /* NameFunctionMagic */
  .fm {
    color: var(--color-blue-400);
  }
  /* NameLabel */
  .nl {
    color: var(--color-yellow-500);
  }
  /* NameNamespace */
  .nn {
    color: var(--color-white-main);
  }
  /* NameOther */
  .nx {
    color: var(--color-white-main);
  }
  /* NameProperty */
  .py {
    color: var(--color-violet-300);
  }
  /* NameTag */
  .nt {
    color: var(--color-green-300);
  }
  /* NameVariable */
  .nv {
    color: var(--color-green-500);
  }
  /* NameVariableClass */
  .vc {
    color: var(--color-violet-600);
  }
  /* NameVariableGlobal */
  .vg {
    color: var(--color-violet-600);
  }
  /* NameVariableInstance */
  .vi {
    color: var(--color-violet-600);
  }
  /* NameVariableMagic */
  .vm {
    color: var(--color-violet-600);
  }
  /* Literal */
  .l {
    color: var(--color-white-main);
  }
  /* LiteralDate */
  .ld {
    color: var(--color-green-600);
  }
  /* LiteralString */
  .s {
    color: var(--color-white-main);
  }
  /* LiteralStringAffix */
  .sa {
    color: var(--color-green-600);
  }
  /* LiteralStringBacktick */
  .sb {
    color: var(--color-green-600);
  }
  /* LiteralStringChar */
  .sc {
    color: var(--color-green-600);
  }
  /* LiteralStringDelimiter */
  .dl {
    color: var(--color-green-600);
  }
  /* LiteralStringDoc */
  .sd {
    color: var(--color-green-600);
  }
  /* LiteralStringDouble */
  .s2 {
    color: var(--color-green-600);
  }
  /* LiteralStringEscape */
  .se {
    color: var(--color-white-main);
  }
  /* LiteralStringHeredoc */
  .sh {
    color: var(--color-green-600);
  }
  /* LiteralStringInterpol */
  .si {
    color: var(--color-green-600);
  }
  /* LiteralStringOther */
  .sx {
    color: var(--color-green-600);
  }
  /* LiteralStringRegex */
  .sr {
    color: var(--color-blue-400);
  }
  /* LiteralStringSingle */
  .s1 {
    color: var(--color-green-600);
  }
  /* LiteralStringSymbol */
  .ss {
    color: var(--color-blue-400);
  }
  /* LiteralNumber */
  .m {
    color: var(--color-blue-400);
  }
  /* LiteralNumberBin */
  .mb {
    color: var(--color-blue-400);
  }
  /* LiteralNumberFloat */
  .mf {
    color: var(--color-blue-400);
  }
  /* LiteralNumberHex */
  .mh {
    color: var(--color-blue-400);
  }
  /* LiteralNumberInteger */
  .mi {
    color: var(--color-blue-400);
  }
  /* LiteralNumberIntegerLong */
  .il {
    color: var(--color-blue-400);
  }
  /* LiteralNumberOct */
  .mo {
    color: var(--color-blue-400);
  }
  /* Operator */
  .o {
    color: var(--color-blue-200);
  }
  /* OperatorWord */
  .ow {
    color: var(--color-yellow-700);
  }
  /* Punctuation */
  .p {
    color: var(--color-gray-500);
  }
  /* Comment */
  .c {
    color: var(--color-gray-500);
  }
  /* CommentHashbang */
  .ch {
    color: var(--color-gray-500);
  }
  /* CommentMultiline */
  .cm {
    color: var(--color-gray-500);
  }
  /* CommentSingle */
  .c1 {
    color: var(--color-gray-500);
  }
  /* CommentSpecial */
  .cs {
    color: var(--color-gray-500);
  }
  /* CommentPreproc */
  .cp {
    color: var(--color-gray-500);
  }
  /* CommentPreprocFile */
  .cpf {
    color: var(--color-gray-500);
  }
  /* Generic */
  .g {
    color: var(--color-white-main);
  }
  /* GenericDeleted */
  .gd {
    color: var(--color-red-500);
  }
  /* GenericEmph */
  .ge {
    color: var(--color-white-main);
  }
  /* GenericError */
  .gr {
    color: var(--color-red-500);
  }
  /* GenericHeading */
  .gh {
    color: var(--color-gray-600);
  }
  /* GenericInserted */
  .gi {
    color: var(--color-green-500);
  }
  /* GenericOutput */
  .go {
    color: var(--color-white-main);
  }
  /* GenericPrompt */
  .gp {
    user-select: none;
    color: var(--color-green-500);
  }
  /* GenericStrong */
  .gs {
    color: var(--color-white-main);
  }
  /* GenericSubheading */
  .gu {
    color: var(--color-gray-600);
  }
  /* GenericTraceback */
  .gt {
    color: var(--color-red-500);
  }
  /* GenericUnderline */
  .gl {
    color: var(--color-white-main);
    text-decoration: underline;
  }
  /* TextWhitespace */
  .w {
    color: var(--color-gray-100);
  }
}
