.prose table {
  @apply block overflow-x-auto text-base;
  thead tr {
    @apply bg-gray-light-300 dark:bg-gray-dark-300
  }
  tbody tr:nth-of-type(2n) {
    @apply bg-gray-light-200 dark:bg-gray-dark-200
  }
  th, td {
    @apply p-2;
  }
}
