@theme inline {
  --font-sans: "roboto flex", sans-serif;
  --font-mono: "roboto flex mono", ui-monospace, SFMono-Regular, monospace;
  --default-font-family: var(--font-sans);

  --text-xs: 0.7143rem;
  --text-xs--letter-spacing: 0.015em;
  --text-xs--font-weight: 500;
  --text-sm: 0.851rem;
  --text-base: 14px;
  --text-lg: 1.1429rem;
  --text-lg--line-height: 1.75;
  --text-xl: 1.2857rem;
  --text-xl--letter-spacing: -0.015em;
  --text-xl--font-weight: 500;
  --text-2xl: 1.5rem;
  --text-2xl--letter-spacing: -0.015em;
  --text-2xl--font-weight: 500;
  --text-3xl: 2rem;
  --text-3xl--font-weight: 500;
  --text-4xl: 2.5rem;
  --text-4xl--letter-spacing: -0.015em;
  --text-4xl--font-weight: 500;

  --color-background-light: #f9f9fa;
  --color-background-dark: #10151b;
  --color-primary-blue: var(--color-blue);

  --color-divider-light: hsla(0, 0%, 0%, 0.1);
  --color-divider-dark: hsla(0, 0%, 100%, 0.05);

  --card-bg-dark: #1d262d;
  --card-border-dark: #516980;
  --card-bg-dark: var(--color-gray-900);
  --card-border-dark: var(--color-gray-700);

  --color-navbar-bg: var(--color-background-light);
  --color-navbar-bg-dark: var(--color-background-dark);
  --color-navbar-text: var(--color-gray-700);
  --color-navbar-text-dark: var(--tw-prose-body);
  --color-navbar-border-color-light: var(--tw-prose-inverse-body);
  --navbar-font-size: 0.92rem;
  --navbar-group-font-title-size: 1rem;
  --color-navbar-text-dark: var(--color-gray-200);
  --color-navbar-group-text-dark: var(--tw-prose-body);

  --color-blue: var(--color-blue-400);
  --color-blue-100: rgba(217, 229, 252, 1);
  --color-blue-200: rgba(170, 196, 248, 1);
  --color-blue-300: rgba(123, 164, 244, 1);
  --color-blue-400: rgba(75, 131, 241, 1);
  --color-blue-50: rgba(246, 248, 254, 1);
  --color-blue-500: rgba(37, 96, 255, 1);
  --color-blue-600: rgba(13, 77, 242, 1);
  --color-blue-700: rgba(0, 61, 181, 1);
  --color-blue-800: rgba(0, 41, 120, 1);
  --color-blue-900: rgba(0, 29, 86, 1);
  --color-blue-950: rgba(0, 21, 60, 1);
  --color-blue-focus: rgba(37, 96, 255, 0.24);
  --color-blue-focusvisible: rgba(37, 96, 255, 0.32);
  --color-blue-hover: rgba(37, 96, 255, 0.12);
  --color-blue-outlinedborder: rgba(37, 96, 255, 0.56);
  --color-blue-selected: rgba(37, 96, 255, 0.16);

  --color-gray: var(--color-gray-600);
  --color-gray-100: rgba(231, 234, 239, 1);
  --color-gray-200: rgba(200, 207, 218, 1);
  --color-gray-300: rgba(169, 180, 198, 1);
  --color-gray-400: rgba(139, 153, 178, 1);
  --color-gray-50: rgba(249, 250, 251, 1);
  --color-gray-500: rgba(108, 126, 157, 1);
  --color-gray-600: rgba(86, 101, 129, 1);
  --color-gray-700: rgba(67, 76, 95, 1);
  --color-gray-800: rgba(44, 51, 63, 1);
  --color-gray-900: rgba(30, 33, 41, 1);
  --color-gray-950: rgb(18, 21, 31);
  --color-gray-focus: rgba(108, 126, 157, 0.24);
  --color-gray-focusvisible: rgba(108, 126, 157, 0.32);
  --color-gray-hover: rgba(108, 126, 157, 0.12);
  --color-gray-outlinedborder: rgba(108, 126, 157, 0.56);
  --color-gray-selected: rgba(108, 126, 157, 0.16);

  --color-green-100: rgba(235, 249, 238, 1);
  --color-green-200: rgba(208, 241, 215, 1);
  --color-green-300: rgba(169, 229, 189, 1);
  --color-green-400: rgba(129, 217, 162, 1);
  --color-green-50: rgba(245, 252, 247, 1);
  --color-green-500: rgba(90, 206, 140, 1);
  --color-green-600: rgba(56, 189, 125, 1);
  --color-green-700: rgba(45, 149, 104, 1);
  --color-green-800: rgba(33, 110, 75, 1);
  --color-green-900: rgba(23, 75, 50, 1);
  --color-green-950: rgba(17, 55, 26, 1);
  --color-green-focus: rgba(56, 189, 125, 0.24);
  --color-green-focusvisible: rgba(56, 189, 125, 0.32);
  --color-green-hover: rgba(56, 189, 125, 0.12);
  --color-green-outlinedborder: rgba(56, 189, 125, 0.56);
  --color-green-selected: rgba(56, 189, 125, 0.16);

  --color-orange-100: rgba(255, 233, 217, 1);
  --color-orange-200: rgba(255, 216, 187, 1);
  --color-orange-300: rgba(255, 196, 153, 1);
  --color-orange-400: rgba(255, 169, 107, 1);
  --color-orange-50: rgba(255, 249, 245, 1);
  --color-orange-500: rgba(255, 135, 49, 1);
  --color-orange-600: rgba(255, 107, 0, 1);
  --color-orange-700: rgba(218, 92, 0, 1);
  --color-orange-800: rgba(173, 72, 0, 1);
  --color-orange-900: rgba(137, 58, 1, 1);
  --color-orange-950: rgba(94, 40, 0, 1);
  --color-orange-focus: rgba(255, 107, 0, 0.24);
  --color-orange-focusvisible: rgba(255, 107, 0, 0.32);
  --color-orange-hover: rgba(255, 107, 0, 0.12);
  --color-orange-outlinedborder: rgba(255, 107, 0, 0.56);
  --color-orange-selected: rgba(255, 107, 0, 0.16);

  --color-pink-100: rgba(255, 230, 251, 1);
  --color-pink-200: rgba(255, 201, 246, 1);
  --color-pink-300: rgba(255, 166, 240, 1);
  --color-pink-400: rgba(252, 113, 220, 1);
  --color-pink-50: rgba(255, 247, 254, 1);
  --color-pink-500: rgba(237, 73, 199, 1);
  --color-pink-600: rgba(201, 24, 171, 1);
  --color-pink-700: rgba(171, 0, 137, 1);
  --color-pink-800: rgba(131, 0, 105, 1);
  --color-pink-900: rgba(109, 0, 81, 1);
  --color-pink-950: rgba(85, 0, 51, 1);
  --color-pink-focus: rgba(201, 24, 171, 0.24);
  --color-pink-focusvisible: rgba(201, 24, 171, 0.32);
  --color-pink-hover: rgba(201, 24, 171, 0.12);
  --color-pink-outlinedborder: rgba(201, 24, 171, 0.56);
  --color-pink-selected: rgba(201, 24, 171, 0.16);

  --color-red-100: rgba(255, 223, 223, 1);
  --color-red-200: rgba(255, 194, 194, 1);
  --color-red-300: rgba(255, 168, 168, 1);
  --color-red-400: rgba(255, 117, 117, 1);
  --color-red-50: rgba(255, 245, 245, 1);
  --color-red-500: rgba(255, 87, 87, 1);
  --color-red-600: rgba(244, 47, 57, 1);
  --color-red-700: rgba(228, 12, 44, 1);
  --color-red-800: rgba(179, 9, 9, 1);
  --color-red-900: rgba(137, 0, 0, 1);
  --color-red-950: rgba(110, 0, 0, 1);
  --color-red-focus: rgba(244, 47, 57, 0.24);
  --color-red-focusvisible: rgba(244, 47, 57, 0.32);
  --color-red-hover: rgba(244, 47, 57, 0.12);
  --color-red-outlinedborder: rgba(244, 47, 57, 0.56);
  --color-red-selected: rgba(244, 47, 57, 0.16);

  --color-teal-100: rgba(223, 246, 246, 1);
  --color-teal-200: rgba(195, 240, 241, 1);
  --color-teal-300: rgba(160, 229, 232, 1);
  --color-teal-400: rgba(106, 220, 222, 1);
  --color-teal-50: rgba(243, 252, 252, 1);
  --color-teal-500: rgba(47, 208, 210, 1);
  --color-teal-600: rgba(27, 189, 191, 1);
  --color-teal-700: rgba(44, 158, 160, 1);
  --color-teal-800: rgba(24, 116, 115, 1);
  --color-teal-900: rgba(18, 85, 85, 1);
  --color-teal-950: rgba(9, 61, 61, 1);
  --color-teal-focus: rgba(27, 189, 191, 0.24);
  --color-teal-focusvisible: rgba(27, 189, 191, 0.32);
  --color-teal-hover: rgba(27, 189, 191, 0.12);
  --color-teal-outlinedborder: rgba(27, 189, 191, 0.56);
  --color-teal-selected: rgba(27, 189, 191, 0.16);

  --color-violet: var(--color-violet-500);
  --color-violet-100: rgba(239, 224, 255, 1);
  --color-violet-200: rgba(211, 183, 255, 1);
  --color-violet-300: rgba(174, 130, 255, 1);
  --color-violet-400: rgba(152, 96, 255, 1);
  --color-violet-50: rgba(252, 249, 255, 1);
  --color-violet-500: rgba(125, 46, 255, 1);
  --color-violet-600: rgba(109, 0, 235, 1);
  --color-violet-700: rgba(87, 0, 187, 1);
  --color-violet-800: rgba(69, 0, 147, 1);
  --color-violet-900: rgba(55, 0, 118, 1);
  --color-violet-950: rgba(37, 0, 80, 1);
  --color-violet-focus: rgba(125, 46, 255, 0.24);
  --color-violet-focusvisible: rgba(125, 46, 255, 0.32);
  --color-violet-hover: rgba(125, 46, 255, 0.12);
  --color-violet-outlinedborder: rgba(125, 46, 255, 0.56);
  --color-violet-selected: rgba(125, 46, 255, 0.16);

  --color-white-main: rgba(255, 255, 255, 1);
  --color-yellow-100: rgba(255, 245, 219, 1);
  --color-yellow-200: rgba(255, 241, 204, 1);
  --color-yellow-300: rgba(255, 232, 173, 1);
  --color-yellow-400: rgba(255, 218, 122, 1);
  --color-yellow-50: rgba(255, 251, 240, 1);
  --color-yellow-500: rgba(255, 204, 72, 1);
  --color-yellow-600: rgba(248, 182, 15, 1);
  --color-yellow-700: rgba(235, 156, 0, 1);
  --color-yellow-800: rgba(184, 110, 0, 1);
  --color-yellow-900: rgba(133, 73, 0, 1);
  --color-yellow-950: rgba(100, 55, 0, 1);
  --color-yellow-focus: rgba(235, 156, 0, 0.24);
  --color-yellow-focusvisible: rgba(235, 156, 0, 0.32);
  --color-yellow-hover: rgba(235, 156, 0, 0.12);
  --color-yellow-outlinedborder: rgba(235, 156, 0, 0.56);
  --color-yellow-selected: rgba(235, 156, 0, 0.16);

  --topnav-button-bg: #4878f3;
  --tw-prose-code-bg: var(--color-gray-100);
  --tw-prose-code-bg-dark: var(--color-gray-800);
}
