@layer base {
  .prose {
    li {
      @apply my-2;
      > :last-child,
      > :first-child {
        margin: 0;
      }
    }
    a {
      font-weight: 400;
    }
    hr {
      @apply mb-4 mt-8;
    }
    h1 {
      @apply my-4 text-4xl;
      line-height: 1.167;
    }
    h2 {
      @apply mb-4 mt-8 text-3xl;
      line-height: 1.2;
    }
    h3 {
      @apply text-2xl;
      line-height: 1.167;
    }
    h4 {
      @apply text-xl;
      line-height: 1.235;
    }
    h5 {
      @apply text-lg;
      line-height: 1.75;
    }
  }
}
