.prose {
  li {
    @apply mt-1 mb-1;
    & > :first-child, & > :last-child {
      @apply m-0;
    }
  }
  a {
    font-weight: 400;
  }
  hr {
    @apply mt-8 mb-4;
  }
  h1 {
    @apply text-4xl my-4;
    line-height: 1.167;
  }
  h2 {
    @apply text-3xl mt-8 mb-4;
    line-height: 1.2;
  }
  h3 {
    @apply text-2xl;
    line-height: 1.167;
  }
  h4 {
    @apply text-xl;
    line-height: 1.235;
  }
  h5 {
    @apply text-lg;
    line-height: 1.75;
  }
}
