@utility link {
  @apply text-blue-light dark:text-blue-dark underline underline-offset-2;
}

@utility invertible {
  @apply dark:hue-rotate-180 dark:invert dark:filter;
}

@utility bg-pattern-blue {
  background-color: theme(colors.white / 50%);
  background-image: url("/assets/images/bg-pattern-blue.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: none;
  .dark & {
    background-color: theme(colors.black / 70%);
  }
}

@utility bg-pattern-purple {
  background-color: theme(colors.white / 50%);
  background-image: url("/assets/images/bg-pattern-purple.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: none;
  .dark & {
    background-color: theme(colors.black / 70%);
  }
}

@utility bg-pattern-verde {
  background-color: theme(colors.white / 50%);
  background-image: url("/assets/images/bg-pattern-verde.webp");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: none;
  .dark & {
    background-color: theme(colors.black / 70%);
  }
}

@utility tableOfContents {
  .toc a {
    @apply block max-w-full truncate py-1 pl-2 hover:font-medium hover:no-underline;
    &[aria-current="true"],
    &:hover {
      @apply border-l-gray-light from-gray-light-100 dark:border-l-gray-dark dark:from-gray-dark-200 border-l-2 bg-gradient-to-r font-medium text-black dark:text-white;
    }
    &:not([aria-current="true"]) {
      @apply text-gray-light-600 dark:text-gray-dark-700 hover:text-black dark:hover:text-white;
    }
  }
}

@utility icon-svg {
  svg {
    font-size: 24px;
    width: 1em;
    height: 1em;
    display: inline-block;
    fill: currentColor;
  }
}

@utility icon-xs {
  svg {
    font-size: 12px;
  }
}

@utility icon-sm {
  svg {
    font-size: 16px;
  }
}

@utility icon-lg {
  svg {
    font-size: 32px;
  }
}

@utility prose {
  .highlight,
  :not(pre) > code {
    font-size: 0.875em;
    border: 1px solid;
    border-radius: theme("spacing.1");
    background: theme("colors.white");
    border-color: theme("colors.gray.light.300");
    .dark & {
      background: theme("colors.gray.dark.200");
      border-color: theme("colors.gray.dark.300");
    }
  }

  :not(pre) > code {
    background: theme("colors.gray.light.200");
    display: inline-block;
    margin: 0;
    font-weight: 400;
    overflow-wrap: anywhere;
    padding: 0 4px;
  }

  table:not(.lntable) code {
    overflow-wrap: unset;
    white-space: nowrap;
  }

  /* Indented code blocks */
  pre:not(.chroma) {
    @apply my-4 overflow-x-auto p-3;
    font-size: 0.875em;
    border: 1px solid;
    border-radius: theme("spacing.1");
    background: theme("colors.white");
    border-color: theme("colors.gray.light.300");
    .dark & {
      background: theme("colors.gray.dark.200");
      border-color: theme("colors.gray.dark.300");
    }
  }

  .highlight {
    @apply my-4 overflow-x-auto p-3;

    /* LineTableTD */
    .lntd {
      vertical-align: top;
      padding: 0;
      margin: 0;
      font-weight: 400;
      padding: 0 4px;
      &:first-child {
        width: 0;
      }
    }

    /* LineTableTD */
    .lntd {
      vertical-align: top;
      padding: 0;
      margin: 0;
      border: 0;
    }
    /* LineTable */
    .lntable {
      display: table;
      width: 100%;
      border-spacing: 0;
      padding: 0;
      margin: 0;
      border: 0;
      /* LineNumberColumnHighlight */
      .lntd:first-child .hl {
        display: block;
      }
    }
  }
}
