@import "utilities";

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > div {
    flex: 1 auto;
    align-self: center;
  }
}

.img {
  /* scale to persist square */
  max-width: 100vw;
  max-height: 100vw;
}
