<?xml version="1.0" encoding="utf-8"?>

<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
  <!-- dont remove this assembly bindings on newtonsoft json as AppVeyor will complain -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
          <Paket>True</Paket>
          <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
          <bindingRedirect oldVersion="0.0.0.0-999.999.999.999" newVersion="8.0.0.0" />
        </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>