@import 'dux/css/colors.css';

.accountForm {
  lost-flex-container: row;
}
.lostFormInputs {
  lost-column: 2/3;
}
.accountButtonWrapper {
  lost-column: 1/3;
  align-self: flex-end;
  > * {
    lost-column: 1/2;
    margin-bottom: 1rem;
  }
}

.error {
  color: var(--primary-5);
  margin-bottom: 0.3rem;
}
