@import 'dux/css/colors.css';
@import 'dux/css/box';

.changePassSave {
  display: flex;
  align-items: flex-end;
}

.label {
	color: #7a8491;
}

.error {
  color: var(--primary-5);
	margin-bottom: 0.3rem;
}

.wrapper {
  lost-flex-container: row;
}
.buttons {
  lost-column: 1/3;
  align-self: flex-end;
  > * {
    margin-bottom: 1rem;
    lost-column: 1/2;
  }
}
.lostFormInputs {
  lost-column: 2/3;
}
