@import 'dux/css/colors.css';
@import 'dux/css/box';

.addError {
  padding: .5rem .5rem 0 .5rem;
  color: var(--primary-5);
}

.noBottomMargin {
  width: 100%;
  input {
    margin-bottom: 0;
  }
  > * {
    margin-bottom: 0;
  }
}
