openapi: 3.2.0
info:
  title: Docker Sandboxes API
  version: v1
  description: |-
    Use this API to create sandboxes, run processes, work with files, and manage sandbox resources. Start with a kit through the SDK, or use the HTTP operations here directly.

    Management requests use an Authorization bearer token. File and process requests go to the sandbox endpoint in core.endpoint.uri and require a short-lived scoped endpoint credential, not the management token. The SDK obtains that credential for you. Each operation also checks its declared permissions. Direct Unix socket access uses the operating system's socket access controls instead of HTTP authentication. Interactive WebSocket operations describe their supported credential transports separately.

    The Docker Cloud API base URL is https://connect.docker.com/sandboxes. Append each /v1 path without removing the base URL's path prefix. For sandbox endpoint operations, use the sandbox endpoint as the base URL instead.

    Operations list their success and error responses. A 202 response means work is still in progress; read the resource until it reaches the expected state. Errors contain a stable code, a message, and optional details. Inspect the code as well as the HTTP status.

    Send the current ETag in If-Match when an operation requires it. Operations that accept Idempotency-Key use that HTTP header to identify retries: the same key and payload return the first result; a different payload fails. Keys are retained for at least 24 hours.

    Lists use pageSize and pageToken. Continue with nextPageToken until it is empty. Supported filters and ordering are listed on each operation. Resource names contain immutable identifiers; displayName is a label. A 64-bit integer is returned as a JSON string; inputs accept a number or a string.
  contact:
    name: Docker Cloud Sandboxes
    url: https://github.com/docker/sandboxes-api
servers:
  - url: https://connect.docker.com/sandboxes
    description: The API base URL. Append the /v1 paths while preserving this URL's path prefix.
paths:
  /v1/files:
    get:
      tags:
        - Files
      summary: List lists directory entries by path ascending.
      description: List lists directory entries by path ascending.
      operationId: list
      parameters:
        - name: path
          in: query
          description: path is the directory path.
          required: true
          schema:
            type: string
            title: path
            minLength: 1
        - name: pageSize
          in: query
          description: |-
            page_size is an optional page size.

            Omitted or zero uses the backend default. Unless the operation states otherwise, page-size limits and handling of larger requests are backend-specific; use the backend support guide. Continue with nextPageToken until it is empty.
          schema:
            type: integer
            title: page_size
          required: false
        - name: pageToken
          in: query
          description: page_token is an optional continuation token.
          schema:
            type: string
            title: page_token
          required: false
        - name: orderBy
          in: query
          description: |-
            order_by is a single order field with optional direction; the portable field is
            path.
          schema:
            type: string
            title: order_by
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesListResponse"
              example:
                entries:
                  - path: example
                    size: 0
                    mode: 0
                    isDir: true
                    type: unspecified
                    linkTarget: example
                nextPageToken: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
    delete:
      tags:
        - Files
      summary: Remove deletes a path.
      description: |-
        Remove deletes a path. Removing an absent path succeeds. A nonrecursive
        removal of a nonempty directory returns FAILED_PRECONDITION unchanged.
        A recursive removal that stops partway still answers OK: check
        RemoveResponse.failed_path, not the operation status. Removed paths stay removed.
      operationId: remove
      parameters:
        - name: path
          in: query
          description: path is the sandbox path to remove.
          required: true
          schema:
            type: string
            title: path
            minLength: 1
        - name: recursive
          in: query
          description: recursive removes directory contents when true.
          schema:
            type: boolean
            title: recursive
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesRemoveResponse"
              example:
                completedPaths:
                  - example
                completedCount: 0
                failedPath: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/files/content:
    get:
      tags:
        - Files
      summary: ReadFile returns raw file content over HTTP; Stat exposes file metadata.
      description: |-
        ReadFile returns raw file content over HTTP; Stat exposes file metadata.
        Content above the unary message cap is refused, never truncated.
      operationId: readFile
      parameters:
        - name: path
          in: query
          description: path is the sandbox path of a regular file.
          required: true
          schema:
            type: string
            title: path
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/octet-stream:
              schema:
                contentMediaType: application/octet-stream
              example: ""
          headers:
            Content-Length:
              required: true
              description: Exact byte count of the complete file; this response does not use chunked transfer encoding.
              schema:
                type: integer
                minimum: 0
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
      x-sbx-http-transfer:
        response:
          mediaType: application/octet-stream
          bytesField: data
      x-sbx-request-schema:
        $ref: "#/components/schemas/FilesReadFileRequest"
      x-sbx-response-schema:
        $ref: "#/components/schemas/FilesReadFileResponse"
    put:
      tags:
        - Files
      summary: WriteFile accepts raw content with path and mode query parameters.
      description: |-
        WriteFile accepts raw content with path and mode query parameters.
        It replaces the complete target state and carries no request_id.
      operationId: writeFile
      parameters:
        - name: path
          in: query
          description: path is the sandbox path.
          required: true
          schema:
            type: string
            title: path
            minLength: 1
        - name: mode
          in: query
          description: |-
            mode carries Unix permission bits. Upload applies mode & 0777, or 0644 when
            that value is zero, without subtracting umask; Download reports stored bits.
          schema:
            type: integer
            title: mode
          required: false
      requestBody:
        required: true
        content:
          application/octet-stream:
            schema:
              contentMediaType: application/octet-stream
            example: ""
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesWriteFileResponse"
              example:
                info:
                  path: example
                  size: 0
                  mode: 0
                  isDir: true
                  type: unspecified
                  linkTarget: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
      x-sbx-http-transfer:
        request:
          mediaType: application/octet-stream
          bytesField: data
      x-sbx-request-schema:
        $ref: "#/components/schemas/FilesWriteFileRequest"
      x-sbx-response-schema:
        $ref: "#/components/schemas/FilesWriteFileResponse"
  /v1/files/directories:
    put:
      tags:
        - Files
      summary: Mkdir creates a directory.
      description: |-
        Mkdir creates a directory. Without parents, a missing parent returns
        NOT_FOUND without creating directories. A repeated Mkdir converges when
        the leaf already exists as a directory. A converged call leaves
        the directory's mode unchanged on every request.
      operationId: mkdir
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilesMkdirRequest"
            example:
              path: example
              mode: 0
              parents: true
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesMkdirResponse"
              example: {}
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/files/download:
    get:
      tags:
        - Files
      summary: Download streams file headers, bytes, and per-file errors.
      description: |-
        Download streams file headers, bytes, and per-file errors. A path that
        leaves the jail through a symlink, or names a non-regular object, reports
        a FileError with a error reason instead of reading through it.
      operationId: download
      parameters:
        - name: paths
          in: query
          description: |-
            paths naming stable regular files or absent entries at canonical absolute paths
            yield contiguous results in request order, including duplicates.
          required: true
          schema:
            type: array
            items:
              type: string
            title: paths
            minItems: 1
      responses:
        "200":
          description: |-
            Success

            Read metadata followed by one continuous raw content part. JSON controls are separate parts with Content-Type application/json; binary content uses application/octet-stream. A final stream-error part carries the shared Error for a whole-stream failure. A clean closing delimiter with no stream-error is required for success; aborted connections are failures.
          content:
            multipart/mixed:
              itemSchema:
                anyOf:
                  - $ref: "#/components/schemas/FileHeader"
                  - contentMediaType: application/octet-stream
                  - $ref: "#/components/schemas/FileError"
                  - $ref: "#/components/schemas/Error"
              itemEncoding:
                contentType: application/json, application/octet-stream
                headers:
                  Content-Disposition:
                    required: true
                    schema:
                      type: string
                      enum:
                        - attachment; name=metadata
                        - attachment; name=content
                        - attachment; name=error
                        - attachment; name=stream-error
              x-sbx-framing:
                description: Read metadata followed by one continuous raw content part. JSON controls are separate parts with Content-Type application/json; binary content uses application/octet-stream. A final stream-error part carries the shared Error for a whole-stream failure. A clean closing delimiter with no stream-error is required for success; aborted connections are failures.
                parts:
                  metadata:
                    contentType: application/json
                    schema:
                      $ref: "#/components/schemas/FileHeader"
                  content:
                    contentType: application/octet-stream
                    schema:
                      contentMediaType: application/octet-stream
                  error:
                    contentType: application/json
                    schema:
                      $ref: "#/components/schemas/FileError"
                  stream-error:
                    contentType: application/json
                    schema:
                      $ref: "#/components/schemas/Error"
                repeatedItems: true
                requiresClosingDelimiter: true
                requiresTerminal: false
              example:
                path: example
                mode: 0
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
      x-sbx-http-transfer:
        response:
          mediaType: multipart/mixed
          bytesField: data
          metadataField: header
          errorField: error
          repeatedItems: true
      x-sbx-request-schema:
        $ref: "#/components/schemas/FilesDownloadRequest"
      x-sbx-response-schema:
        $ref: "#/components/schemas/FilesDownloadResponse"
  /v1/files/move:
    post:
      tags:
        - Files
      summary: Move renames or moves a path.
      description: |-
        Move renames or moves a path. The destination is exact: an existing regular
        file is replaced, the source basename is never appended, and a directory
        destination is refused unchanged. A source or destination that leaves the jail
        through a symlink refuses with FAILED_PRECONDITION and a error reason.
      operationId: move
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FilesMoveRequest"
            example:
              from: example
              to: example
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesMoveResponse"
              example: {}
        "409":
          description: |-
            The path resolves through a symlink that does not resolve to a target inside the sandbox jail.

            The path names an existing socket, FIFO, device, or other non-regular object where a regular file is required.

            `from` names a regular file and `to` an existing directory, which `Move` refuses rather than moving the file into it.

            `from` names a directory and `to` an existing path, which `Move` refuses rather than replacing.

            `from` and `to` are on different filesystems, and `Move` never copies the contents to cross the boundary.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                path_authority_symlink_escape:
                  summary: The path resolves through a symlink that does not resolve to a target inside the sandbox jail.
                  value:
                    code: failedPrecondition
                    message: "path_authority_symlink_escape: The path resolves through a symlink that does not resolve to a target inside the sandbox jail."
                path_authority_nonregular_object:
                  summary: The path names an existing socket, FIFO, device, or other non-regular object where a regular file is required.
                  value:
                    code: failedPrecondition
                    message: "path_authority_nonregular_object: The path names an existing socket, FIFO, device, or other non-regular object where a regular file is required."
                move_destination_is_directory:
                  summary: "`from` names a regular file and `to` an existing directory, which `Move` refuses rather than moving the file into it."
                  value:
                    code: failedPrecondition
                    message: "move_destination_is_directory: `from` names a regular file and `to` an existing directory, which `Move` refuses rather than moving the file into it."
                move_destination_occupied:
                  summary: "`from` names a directory and `to` an existing path, which `Move` refuses rather than replacing."
                  value:
                    code: failedPrecondition
                    message: "move_destination_occupied: `from` names a directory and `to` an existing path, which `Move` refuses rather than replacing."
                move_crosses_filesystem:
                  summary: "`from` and `to` are on different filesystems, and `Move` never copies the contents to cross the boundary."
                  value:
                    code: failedPrecondition
                    message: "move_crosses_filesystem: `from` and `to` are on different filesystems, and `Move` never copies the contents to cross the boundary."
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: FAILED_PRECONDITION
          description: The path resolves through a symlink that does not resolve to a target inside the sandbox jail.
          reason: path_authority_symlink_escape
        - code: FAILED_PRECONDITION
          description: The path names an existing socket, FIFO, device, or other non-regular object where a regular file is required.
          reason: path_authority_nonregular_object
        - code: FAILED_PRECONDITION
          description: "`from` names a regular file and `to` an existing directory, which `Move` refuses rather than moving the file into it."
          reason: move_destination_is_directory
        - code: FAILED_PRECONDITION
          description: "`from` names a directory and `to` an existing path, which `Move` refuses rather than replacing."
          reason: move_destination_occupied
        - code: FAILED_PRECONDITION
          description: "`from` and `to` are on different filesystems, and `Move` never copies the contents to cross the boundary."
          reason: move_crosses_filesystem
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/files/stat:
    get:
      tags:
        - Files
      summary: Stat reads metadata for one path.
      description: |-
        Stat reads metadata for one path.
        A metadata read has a different response from the file-content resource.
      operationId: stat
      parameters:
        - name: path
          in: query
          description: path is the sandbox path.
          required: true
          schema:
            type: string
            title: path
            minLength: 1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesStatResponse"
              example:
                info:
                  path: example
                  size: 0
                  mode: 0
                  isDir: true
                  type: unspecified
                  linkTarget: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/files/upload:
    post:
      tags:
        - Files
      summary: Upload streams one or more files.
      description: |-
        Upload streams one or more files. The first frame must be FileHeader.
        Writing through a symlink that leaves the jail, or onto an existing
        non-regular object, refuses with FAILED_PRECONDITION and a error reason.
      operationId: upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            itemSchema:
              oneOf:
                - type: object
                  properties:
                    metadata:
                      $ref: "#/components/schemas/FileHeader"
                  required:
                    - metadata
                  additionalProperties: false
                - type: object
                  properties:
                    content:
                      contentMediaType: application/octet-stream
                  required:
                    - content
                  additionalProperties: false
            itemEncoding:
              contentType: application/json, application/octet-stream
            x-sbx-framing:
              description: Send ordered metadata/content pairs. Each metadata part is application/json; the following content part is application/octet-stream containing raw bytes, including an empty file. Content-Disposition is form-data with the corresponding part name. Content-Transfer-Encoding is refused. A clean closing multipart delimiter is required; truncated content never completes the current item. Malformed occurrences report invalidArgument with a BadRequest detail identifying the occurrence index and path.
              partOrder:
                - metadata
                - content
              repeatedItems: true
              requiresClosingDelimiter: true
            example:
              metadata:
                path: example
                mode: 0
        description: Send ordered metadata/content pairs. Each metadata part is application/json; the following content part is application/octet-stream containing raw bytes, including an empty file. Content-Disposition is form-data with the corresponding part name. Content-Transfer-Encoding is refused. A clean closing multipart delimiter is required; truncated content never completes the current item. Malformed occurrences report invalidArgument with a BadRequest detail identifying the occurrence index and path.
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilesUploadResponse"
              example:
                filesWritten: 0
        "409":
          description: |-
            The path resolves through a symlink that does not resolve to a target inside the sandbox jail.

            The path names an existing socket, FIFO, device, or other non-regular object where a regular file is required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                path_authority_symlink_escape:
                  summary: The path resolves through a symlink that does not resolve to a target inside the sandbox jail.
                  value:
                    code: failedPrecondition
                    message: "path_authority_symlink_escape: The path resolves through a symlink that does not resolve to a target inside the sandbox jail."
                path_authority_nonregular_object:
                  summary: The path names an existing socket, FIFO, device, or other non-regular object where a regular file is required.
                  value:
                    code: failedPrecondition
                    message: "path_authority_nonregular_object: The path names an existing socket, FIFO, device, or other non-regular object where a regular file is required."
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: FAILED_PRECONDITION
          description: The path resolves through a symlink that does not resolve to a target inside the sandbox jail.
          reason: path_authority_symlink_escape
        - code: FAILED_PRECONDITION
          description: The path names an existing socket, FIFO, device, or other non-regular object where a regular file is required.
          reason: path_authority_nonregular_object
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesFilesWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
      x-sbx-http-transfer:
        request:
          mediaType: multipart/form-data
          bytesField: data
          metadataField: header
          repeatedItems: true
          itemPathField: header.path
      x-sbx-request-schema:
        $ref: "#/components/schemas/FilesUploadRequest"
      x-sbx-response-schema:
        $ref: "#/components/schemas/FilesUploadResponse"
  /v1/identity/exchange:
    post:
      tags:
        - Credentials
      summary: ExchangeDockerCredential consumes an identity token once for the authenticated owner.
      description: |-
        ExchangeDockerCredential consumes an identity token once for the authenticated owner.
        The exchanged credential is stored for that owner; the response is empty.

        Returns unimplemented when this operation is unavailable. Support does not grant permission.
      operationId: exchangeDockerCredential
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdentityExchangeServiceExchangeDockerCredentialRequest"
            example:
              idToken: example
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExchangeCompositionCredentialResponse"
              example: {}
        "501":
          description: This operation is not available on this service.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unimplemented:
                  summary: This operation is not available on this service.
                  value:
                    code: unimplemented
                    message: This operation is not available on this service.
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: UNIMPLEMENTED
          description: This operation is not available on this service.
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - credentialsExchange
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/images:
    get:
      tags:
        - Images
      summary: ListImages lists images in the caller's owner scope.
      description: ListImages lists images in the caller's owner scope.
      operationId: listImages
      parameters:
        - name: pageSize
          in: query
          description: |-
            page_size is an optional page size.

            Omitted or zero uses the backend default. Unless the operation states otherwise, page-size limits and handling of larger requests are backend-specific; use the backend support guide. Continue with nextPageToken until it is empty.
          schema:
            type: integer
            title: page_size
          required: false
        - name: pageToken
          in: query
          description: page_token is an opaque continuation token.
          schema:
            type: string
            title: page_token
          required: false
        - name: filter
          in: query
          description: |-
            filter is comma-separated exact-match field=value terms; the portable fields are
            name, display_name, uid and status.
          schema:
            type: string
            title: filter
          required: false
        - name: orderBy
          in: query
          description: |-
            order_by is a single order field with optional direction; the portable fields are
            created_at and name.
          schema:
            type: string
            title: order_by
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListImagesResponse"
              example:
                images:
                  - uid: example
                    name: images/example
                    status: pending
                    source: unspecified
                    totalSizeBytes: 0
                    createdAt: 2023-01-15T01:30:15.01Z
                    updatedAt: 2023-01-15T01:30:15.01Z
                    imageRef: example
                    imageDigest: example
                    captureMode: unspecified
                    platform:
                      os: example
                      architecture: example
                    displayName: example
                nextPageToken: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - imagesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
    post:
      tags:
        - Images
      summary: CreateImage registers pushed OCI content or disk content derived from a snapshot or sandbox.
      description: CreateImage registers pushed OCI content or disk content derived from a snapshot or sandbox.
      operationId: createImage
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateImageRequest"
            example:
              displayName: example
              description: example
              startCmd:
                - example
              readyCmd:
                - example
        required: true
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Image"
                  - not:
                      properties:
                        status:
                          enum:
                            - pending
                            - waitingForPush
                            - preparing
                      required:
                        - status
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
                const: no-store
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "202":
          description: Accepted. The resource is still progressing; read it or follow its events until completion.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Image"
                  - properties:
                      status:
                        enum:
                          - pending
                          - waitingForPush
                          - preparing
                    required:
                      - status
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
                const: no-store
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "409":
          description: |-
            Creation conflicts with an existing resource (ALREADY_EXISTS).

            The Idempotency-Key was already used with a different payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                failedPrecondition:
                  summary: The Idempotency-Key was already used with a different payload.
                  value:
                    code: failedPrecondition
                    message: The Idempotency-Key was already used with a different payload.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
                enum:
                  - no-store
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
                enum:
                  - no-store
      x-sbx-error-responses:
        - code: FAILED_PRECONDITION
          description: The Idempotency-Key was already used with a different payload.
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - imagesWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
      x-sbx-resource-response:
        $ref: "#/components/schemas/Image"
      parameters:
        - name: Idempotency-Key
          in: header
          description: Replay key. Reusing it with a different payload fails with failedPrecondition; accepted keys are retained for at least 24 hours.
          schema:
            type: string
            title: Idempotency-Key
            description: Idempotency key. A replay returns the first result; the same key with a different payload fails with FAILED_PRECONDITION; retained at least 24 hours.
  /v1/images/{image}:
    get:
      tags:
        - Images
      summary: GetImage reads one image by its resource name.
      description: GetImage reads one image by its resource name.
      operationId: getImage
      parameters:
        - name: image
          in: path
          description: The image id.
          required: true
          schema:
            type: string
        - name: If-None-Match
          in: header
          description: A quoted entity-tag or comma-separated list, compared weakly with the current resource etag. A match, including a weak form or wildcard *, answers 304 without a body after authorization. Malformed input is treated as no match.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Image"
          headers:
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "304":
          description: The resource's etag equals the If-None-Match value, so this response carries no body.
        "404":
          description: The target is absent or not visible within the caller's scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                notFound:
                  summary: The target is absent or not visible within the caller's scope.
                  value:
                    code: notFound
                    message: The target is absent or not visible within the caller's scope.
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: NOT_FOUND
          description: The target is absent or not visible within the caller's scope.
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - imagesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
    delete:
      tags:
        - Images
      summary: DeleteImage deletes an image; deleting an already absent image succeeds.
      description: DeleteImage deletes an image; deleting an already absent image succeeds.
      operationId: deleteImage
      parameters:
        - name: image
          in: path
          description: The image id.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: "The complete quoted strong entity-tag observed on the resource, including its quotes. Every mutation of an existing resource requires it: an absent value answers 428 and a stale one 412, each carrying failedPrecondition in the body."
          required: true
          schema:
            type: string
            title: If-Match
            description: |-
              etag is the required precondition, the value the target's last read returned.
              An absent one refuses etag_required and a stale one etag_mismatch.
      responses:
        "204":
          description: Success. The response carries no body.
        "409":
          description: |-
            The target's preparation, capture, or import has not finished; deletion is refused until it settles to a terminal state.

            An admitted consumer or live resource holds a content lease on the target; deletion is refused while any lease remains held.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                deletion_preparation_incomplete:
                  summary: The target's preparation, capture, or import has not finished; deletion is refused until it settles to a terminal state.
                  value:
                    code: failedPrecondition
                    message: "deletion_preparation_incomplete: The target's preparation, capture, or import has not finished; deletion is refused until it settles to a terminal state."
                deletion_content_lease_held:
                  summary: An admitted consumer or live resource holds a content lease on the target; deletion is refused while any lease remains held.
                  value:
                    code: failedPrecondition
                    message: "deletion_content_lease_held: An admitted consumer or live resource holds a content lease on the target; deletion is refused while any lease remains held."
        "412":
          description: The precondition is not the resource's current etag. The body carries failedPrecondition naming etag_mismatch and an EtagMismatch detail with the current value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                etag_mismatch:
                  summary: The precondition is not the resource's current etag. The body carries failedPrecondition naming etag_mismatch and an EtagMismatch detail with the current value.
                  value:
                    code: failedPrecondition
                    message: "etag_mismatch: The precondition is not the resource's current etag. The body carries failedPrecondition naming etag_mismatch and an EtagMismatch detail with the current value."
                    details:
                      - "@type": type.googleapis.com/docker.sandboxes.v1.EtagMismatch
                        currentEtag: v2
        "428":
          description: No precondition was sent. The body carries failedPrecondition naming etag_required.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                etag_required:
                  summary: No precondition was sent. The body carries failedPrecondition naming etag_required.
                  value:
                    code: failedPrecondition
                    message: "etag_required: No precondition was sent. The body carries failedPrecondition naming etag_required."
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: FAILED_PRECONDITION
          description: The target's preparation, capture, or import has not finished; deletion is refused until it settles to a terminal state.
          reason: deletion_preparation_incomplete
        - code: FAILED_PRECONDITION
          description: An admitted consumer or live resource holds a content lease on the target; deletion is refused while any lease remains held.
          reason: deletion_content_lease_held
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - imagesWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/images/{image}/pull-spec:
    get:
      tags:
        - Images
      summary: GetImagePullSpec returns short-lived pull material through registry-transfer support.
      description: |-
        GetImagePullSpec returns short-lived pull material through registry-transfer support.
        Action: the pull spec is derived material about the image, not a sub-resource of it.

        Returns unimplemented when this operation is unavailable. Support does not grant permission.
      operationId: getImagePullSpec
      parameters:
        - name: image
          in: path
          description: The image id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ImagePullSpec"
              example:
                manifestDigest: example
                manifestMediaType: example
                config:
                  digest: example
                  mediaType: example
                  size: 0
                  url: example
                layers:
                  - digest: example
                    mediaType: example
                    size: 0
                    url: example
                expiresAt: 2023-01-15T01:30:15.01Z
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
                const: no-store
        "501":
          description: This operation is not available on this service.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unimplemented:
                  summary: This operation is not available on this service.
                  value:
                    code: unimplemented
                    message: This operation is not available on this service.
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
                enum:
                  - no-store
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
          headers:
            Cache-Control:
              required: true
              schema:
                type: string
                enum:
                  - no-store
      x-sbx-error-responses:
        - code: UNIMPLEMENTED
          description: This operation is not available on this service.
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - imagesPull
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/mcp-servers/{mcpServer}/authorization:
    get:
      tags:
        - MCP gateways
      summary: GetMcpAuthorization reads the owner-scoped flow, including its pending URL, under mcp.write.
      description: GetMcpAuthorization reads the owner-scoped flow, including its pending URL, under mcp.write.
      operationId: getMcpAuthorization
      parameters:
        - name: mcpServer
          in: path
          description: The mcpServer id.
          required: true
          schema:
            type: string
        - name: If-None-Match
          in: header
          description: A quoted entity-tag or comma-separated list, compared weakly with the current resource etag. A match, including a weak form or wildcard *, answers 304 without a body after authorization. Malformed input is treated as no match.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/McpAuthorization"
              example:
                server: ""
                uid: example
                status: unspecified
                authorizationUrl: example
                createdAt: 2023-01-15T01:30:15.01Z
                updatedAt: 2023-01-15T01:30:15.01Z
                expiresAt: 2023-01-15T01:30:15.01Z
                failure:
                  code: notFound
                  details: []
                  message: sandbox not found
                etag: example
                name: example
          headers:
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "304":
          description: The resource's etag equals the If-None-Match value, so this response carries no body.
        "404":
          description: The target is absent or not visible within the caller's scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                notFound:
                  summary: The target is absent or not visible within the caller's scope.
                  value:
                    code: notFound
                    message: The target is absent or not visible within the caller's scope.
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: NOT_FOUND
          description: The target is absent or not visible within the caller's scope.
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - mcpWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/mcp-servers/{mcpServer}/authorization/authorize:
    post:
      tags:
        - MCP gateways
      summary: AuthorizeMcpServer authorizes credentials for one named upstream.
      description: |-
        AuthorizeMcpServer authorizes credentials for one named upstream.
        Action: authorization runs an interactive grant whose result is not the request body.
      operationId: authorizeMcpServer
      parameters:
        - name: mcpServer
          in: path
          description: The mcpServer id.
          required: true
          schema:
            type: string
        - name: If-Match
          in: header
          description: Optional current authorization etag. A supplied stale value answers 412 with failedPrecondition; omission permits create or convergence, including forced reauthorization.
          schema:
            type: string
            title: If-Match
            description: (OPTIONAL) etag optionally pins the current authorization; a supplied stale value refuses.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                remoteUrl:
                  type:
                    - string
                    - "null"
                  format: uri
                  description: remote_url binds authorization to a concrete upstream URL when supplied.
                forceReauth:
                  type: boolean
                  description: |-
                    force_reauth starts a fresh flow while existing credentials serve until completion.
                    Repeating a pending flow converges without reminting.
              title: AuthorizeMcpServerRequest
              additionalProperties: false
              description: AuthorizeMcpServerRequest starts or refreshes MCP upstream authorization.
            example:
              remoteUrl: https://example.com
              forceReauth: true
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/McpAuthorization"
                  - not:
                      properties:
                        status:
                          enum:
                            - pending
                      required:
                        - status
              example:
                server: ""
                uid: example
                status: unspecified
                authorizationUrl: example
                createdAt: 2023-01-15T01:30:15.01Z
                updatedAt: 2023-01-15T01:30:15.01Z
                expiresAt: 2023-01-15T01:30:15.01Z
                failure:
                  code: notFound
                  details: []
                  message: sandbox not found
                etag: example
                name: example
          headers:
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "202":
          description: Accepted. The resource is still progressing; read it or follow its events until completion.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/McpAuthorization"
                  - properties:
                      status:
                        enum:
                          - pending
                    required:
                      - status
              example:
                server: ""
                uid: example
                status: unspecified
                authorizationUrl: example
                createdAt: 2023-01-15T01:30:15.01Z
                updatedAt: 2023-01-15T01:30:15.01Z
                expiresAt: 2023-01-15T01:30:15.01Z
                failure:
                  code: notFound
                  details: []
                  message: sandbox not found
                etag: example
                name: example
          headers:
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "412":
          description: The precondition is not the resource's current etag. The body carries failedPrecondition naming etag_mismatch and an EtagMismatch detail with the current value.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                etag_mismatch:
                  summary: The precondition is not the resource's current etag. The body carries failedPrecondition naming etag_mismatch and an EtagMismatch detail with the current value.
                  value:
                    code: failedPrecondition
                    message: "etag_mismatch: The precondition is not the resource's current etag. The body carries failedPrecondition naming etag_mismatch and an EtagMismatch detail with the current value."
                    details:
                      - "@type": type.googleapis.com/docker.sandboxes.v1.EtagMismatch
                        currentEtag: v2
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - mcpWrite
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
      x-sbx-resource-response:
        $ref: "#/components/schemas/McpAuthorization"
  /v1/network-policies:
    get:
      tags:
        - Network policies
      summary: GetNetworkPolicies returns effective and exact views of the same installed generation.
      description: GetNetworkPolicies returns effective and exact views of the same installed generation.
      operationId: getNetworkPoliciesInOwnerScope
      parameters: []
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetNetworkPoliciesResponse"
              example:
                effective:
                  mode: allowAll
                  allowNetworks:
                    - network: example
                      layer: unspecified
                  denyNetworks:
                    - network: example
                      layer: unspecified
                exact:
                  revision: example
                  selectorVersion: destination.v1
                  nodes:
                    - source:
                        origin: organization
                        id: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - networkPoliciesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/policy-logs:
    get:
      tags:
        - Network policies
      summary: ListPolicyLogEntries lists observed policy decisions.
      description: ListPolicyLogEntries lists observed policy decisions.
      operationId: listPolicyLogEntriesInOwnerScope
      parameters:
        - name: pageSize
          in: query
          description: |-
            page_size is an optional page size.

            Omitted or zero uses the backend default. Unless the operation states otherwise, page-size limits and handling of larger requests are backend-specific; use the backend support guide. Continue with nextPageToken until it is empty.
          schema:
            type: integer
            title: page_size
          required: false
        - name: pageToken
          in: query
          description: page_token is an opaque continuation token.
          schema:
            type: string
            title: page_token
          required: false
        - name: filter
          in: query
          description: |-
            filter is comma-separated exact-match field=value terms; the portable field is
            domain.
          schema:
            type: string
            title: filter
          required: false
        - name: since
          in: query
          description: An RFC 3339 timestamp, for example 2026-01-01T12:00:00Z. Fractional seconds may contain up to nine digits. The supported range is 0001-01-01T00:00:00Z through 9999-12-31T23:59:59.999999999Z.
          schema:
            type: string
            examples:
              - 2023-01-15T01:30:15.01Z
              - 2024-12-25T12:00:00Z
            format: date-time
          required: false
        - name: until
          in: query
          description: An RFC 3339 timestamp, for example 2026-01-01T12:00:00Z. Fractional seconds may contain up to nine digits. The supported range is 0001-01-01T00:00:00Z through 9999-12-31T23:59:59.999999999Z.
          schema:
            type: string
            examples:
              - 2023-01-15T01:30:15.01Z
              - 2024-12-25T12:00:00Z
            format: date-time
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListPolicyLogEntriesResponse"
              example:
                entries:
                  - resource: example
                    decision: unspecified
                    proxyType: example
                    rule: example
                    reason: example
                    count: 0
                    firstSeen: 2023-01-15T01:30:15.01Z
                    lastSeen: 2023-01-15T01:30:15.01Z
                    sandbox: example
                    sandboxUid: example
                    domain: unspecified
                nextPageToken: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - networkPoliciesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/processes:
    get:
      tags:
        - Processes
      summary: ListProcesses lists processes in creation order.
      description: ListProcesses lists processes in creation order.
      operationId: listProcesses
      parameters:
        - name: pageSize
          in: query
          description: |-
            page_size is an optional page size.

            Omitted or zero uses the backend default. Unless the operation states otherwise, page-size limits and handling of larger requests are backend-specific; use the backend support guide. Continue with nextPageToken until it is empty.
          schema:
            type: integer
            title: page_size
          required: false
        - name: pageToken
          in: query
          description: page_token is an optional continuation token.
          schema:
            type: string
            title: page_token
          required: false
        - name: filter
          in: query
          description: |-
            filter is comma-separated exact-match field=value terms; the portable fields are
            session and state.
          schema:
            type: string
            title: filter
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListProcessesResponse"
              example:
                processes:
                  - uid: example
                    pid: 0
                    session: example
                    state: unspecified
                    lastStreamSequence: 0
                    receiptKind: unspecified
                    exitCode: 0
                    label: example
                    name: example
                nextPageToken: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesExec
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
    post:
      tags:
        - Processes
      summary: CreateProcess starts a durable interactive process and returns its resource name.
      description: CreateProcess starts a durable interactive process and returns its resource name.
      operationId: createProcess
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProcessRequest"
            example:
              cmd:
                - example
              env: {}
              workingDir: example
              user: example
              pty:
                initialSize:
                  rows: 0
                  cols: 0
                  bounded: true
              session: example
              label: example
        required: true
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Process"
              example:
                uid: example
                pid: 0
                session: example
                state: unspecified
                lastStreamSequence: 0
                receiptKind: unspecified
                exitCode: 0
                label: example
                name: example
        "409":
          description: |-
            Creation conflicts with an existing resource (ALREADY_EXISTS).

            The Idempotency-Key was already used with a different payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                failedPrecondition:
                  summary: The Idempotency-Key was already used with a different payload.
                  value:
                    code: failedPrecondition
                    message: The Idempotency-Key was already used with a different payload.
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: FAILED_PRECONDITION
          description: The Idempotency-Key was already used with a different payload.
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesExec
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
      parameters:
        - name: Idempotency-Key
          in: header
          description: Replay key. Reusing it with a different payload fails with failedPrecondition; accepted keys are retained for at least 24 hours.
          schema:
            type: string
            title: Idempotency-Key
            description: Idempotency key. A replay returns the first result; the same key with a different payload fails with FAILED_PRECONDITION; retained at least 24 hours.
  /v1/processes/exec:
    post:
      tags:
        - Processes
      summary: Exec runs one command to completion.
      description: |-
        Exec runs one command to completion. A retry after transport failure may run it again.
        Action at the collection root: it runs a command to completion instead of creating a
        process a caller can address.
      operationId: exec
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExecRequest"
            example:
              cmd:
                - example
              env: {}
              workingDir: example
              user: example
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExecResponse"
              example:
                exitCode: 0
                stdout: ""
                stderr: ""
                incomplete: true
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesExec
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/processes/{process}:
    get:
      tags:
        - Processes
      summary: GetProcess reads one process by its endpoint-scoped resource name.
      description: GetProcess reads one process by its endpoint-scoped resource name.
      operationId: getProcess
      parameters:
        - name: process
          in: path
          description: The process id.
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Process"
              example:
                uid: example
                pid: 0
                session: example
                state: unspecified
                lastStreamSequence: 0
                receiptKind: unspecified
                exitCode: 0
                label: example
                name: example
        "404":
          description: The target is absent or not visible within the caller's scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                notFound:
                  summary: The target is absent or not visible within the caller's scope.
                  value:
                    code: notFound
                    message: The target is absent or not visible within the caller's scope.
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: NOT_FOUND
          description: The target is absent or not visible within the caller's scope.
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesExec
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/processes/{process}/interact:
    get:
      tags:
        - Processes
      summary: Interact binds the complete process name from the path to the first Attach frame.
      description: |-
        Interact binds the complete process name from the path to the first Attach frame.
        A conflicting name is INVALID_ARGUMENT before any attach.
      operationId: interact
      parameters:
        - name: process
          in: path
          description: The process id.
          required: true
          schema:
            type: string
      responses:
        "101":
          description: "The connection becomes a sandboxes.v1 session: one InteractRequest per inbound text frame and one ProcessOutput per outbound one. Path parameters identify the target; the first attach frame must agree. Refusals after upgrade carry an error frame followed by a close code."
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-websocket:
        subprotocol: sandboxes.v1
        firstRequestField: attach
        resumeRequestField: attach.resumeFrom
        resumeResponseField: chunk.streamSequence
        bearerSubprotocolPrefix: sandboxes.bearer.v1.
        maxBearerTokenBytes: 4096
        requestFrame:
          $ref: "#/components/schemas/InteractRequest"
        responseFrame:
          $ref: "#/components/schemas/ProcessOutput"
        terminalFrame: The last text frame before a close carries the one error body, because a close reason holds at most 123 bytes.
        errorFrame:
          $ref: "#/components/schemas/Error"
        authentication: Use exactly one sandbox-scoped Authorization bearer credential or, when endpoint credentialTransports advertises webSocketSubprotocol, offer sandboxes.bearer.v1. followed by canonical unpadded base64url of that credential alongside sandboxes.v1. The decoded token is limited to 4096 bytes. The server echoes only sandboxes.v1; mixed or duplicate credentials, query credentials and cookie-only authentication are refused.
        browser: Open a WSS endpoint using its scoped credential. Browsers may send cookies; the server ignores them as authority and permits cross-origin explicit bearer authentication. Browser WebSocket errors do not expose pre-upgrade HTTP status or bodies; only post-upgrade Error frames are typed. No reconnect or input replay is automatic.
        reconnect: Acquire a fresh scoped credential, open a new connection, and send attach with attach.resumeFrom set to the last received chunk.streamSequence. Resume replays output only; never replay stdin or process creation.
        preUpgradeStatus:
          "400": The request has an invalid subprotocol offer, mixed or malformed credentials, an oversized credential, or a query parameter.
          "401": The scoped credential is missing, invalid or expired.
          "403": The scoped credential does not grant this endpoint permission.
          "404": The scoped credential does not address this sandbox endpoint.
        closeCode:
          "1000": The service ended the stream, or the caller cancelled it.
          "1002": The handshake negotiated no subprotocol.
          "1003": A frame arrived as binary; every frame is text.
          "1007": A frame was not the public JSON request message.
          "1008": The service refused with a 4xx error, or the endpoint credential expired.
          "1009": A frame exceeded the route’s frame limit.
          "1011": The service failed with a code the front door maps to a 5xx.
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
        - sandboxWebSocketBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesExec
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
      x-sbx-request-schema:
        $ref: "#/components/schemas/InteractRequest"
      x-sbx-response-schema:
        $ref: "#/components/schemas/ProcessOutput"
  /v1/processes/{process}/output:
    get:
      tags:
        - Processes
      summary: ReadOutput returns one page of retained output after a stream_sequence, the same cursor Interact resumes from, so a REST client can read what a process printed.
      description: |-
        ReadOutput returns one page of retained output after a stream_sequence, the
        same cursor Interact resumes from, so a REST client can read what a process printed.
      operationId: readOutput
      parameters:
        - name: process
          in: path
          description: The process id.
          required: true
          schema:
            type: string
        - name: resumeFrom
          in: query
          description: |-
            resume_from returns output after this stream_sequence; 0 means from the start.
            Missing output after this point fails with FAILED_PRECONDITION, as for Attach.
          schema:
            type:
              - integer
              - string
            title: resume_from
            format: int64
          required: false
        - name: maxBytes
          in: query
          description: |-
            max_bytes is a soft bound on the page's data: whole chunks only, and the first retained
            chunk always fits so a caller always advances. 0 means the backend's default page.
          schema:
            type: integer
            title: max_bytes
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReadOutputResponse"
              example:
                chunks:
                  - stream: unspecified
                    data: ""
                    streamSequence: 0
                nextResumeFrom: 0
                exited:
                  exitCode: 0
                  reason: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesExec
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/processes/{process}/signal:
    post:
      tags:
        - Processes
      summary: Signal sends one signal to an existing process.
      description: |-
        Signal sends one signal to an existing process.
        Action: a signal is delivered to a running process and leaves no representation to
        replace.
      operationId: signal
      parameters:
        - name: process
          in: path
          description: The process id.
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                signal:
                  not:
                    enum:
                      - unspecified
                  description: signal is the signal to send.
                  $ref: "#/components/schemas/ProcessSignal"
              title: SignalRequest
              required:
                - signal
              additionalProperties: false
              description: SignalRequest sends one signal.
            example:
              signal: term
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SignalResponse"
              example: {}
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      servers:
        - url: "{endpoint}"
          variables:
            endpoint:
              default: https://sandbox.invalid
              description: The sandbox API base URL from Sandbox.core.endpoint.uri; preserve its path prefix when appending /v1 routes. HTTP endpoints require a scoped endpoint bearer; direct Unix sockets use socket access control.
      security:
        - sandboxBearer: []
      x-sbx-serving-surface: sandboxEndpoint
      x-sbx-plane: data
      x-sbx-required-permissions:
        - sandboxesExec
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
  /v1/sandboxes:
    get:
      tags:
        - Sandboxes
      summary: ListSandboxes lists sandboxes in the caller's owner scope.
      description: ListSandboxes lists sandboxes in the caller's owner scope.
      operationId: listSandboxes
      parameters:
        - name: pageSize
          in: query
          description: |-
            page_size is an optional page size.

            Omitted or zero uses the backend default. Unless the operation states otherwise, page-size limits and handling of larger requests are backend-specific; use the backend support guide. Continue with nextPageToken until it is empty.
          schema:
            type: integer
            title: page_size
          required: false
        - name: pageToken
          in: query
          description: page_token is an opaque continuation token.
          schema:
            type: string
            title: page_token
          required: false
        - name: filter
          in: query
          description: |-
            filter is comma-separated exact-match field=value terms; the portable fields are
            name, display_name, uid, status and agent.
          schema:
            type: string
            title: filter
          required: false
        - name: orderBy
          in: query
          description: |-
            order_by is a single order field with optional direction; the portable fields are
            created_at and name.
          schema:
            type: string
            title: order_by
          required: false
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSandboxesResponse"
              example:
                nextPageToken: example
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - sandboxesRead
      x-sbx-conditional-permissions: []
      x-sbx-authenticated-only: false
    post:
      tags:
        - Sandboxes
      summary: CreateSandbox admits a sandbox.
      description: |-
        CreateSandbox admits a sandbox. Unknown fields at any level are rejected before
        replay lookup, reservation, policy binding, or workload effects.
      operationId: createSandbox
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateSandboxRequest"
            example:
              agent: example
              displayName: example
              displayNamePrefix: example
              environment: {}
              resources:
                cpus: 0
                memoryMib: 0
              pullPolicy: unspecified
              kits:
                - artifact:
                    ref:
                      ref: example
                      kind: ""
              mcp:
                servers:
                  - example
                static: true
                gatewayUrl: https://example.com
              networkPolicies:
                - mode: denyAll
                  allowNetworks:
                    - example
                  denyNetworks:
                    - example
              policyIds:
                - example
              platform:
                os: example
                architecture: example
              startupExecution:
                rawImage:
                  start:
                    argv:
                      - example
              labels: {}
              features:
                managedVolumes:
                  attachments:
                    - volume: volumes/example
                      target: example
                      mode: unspecified
                timeouts:
                  timeout: 30s
                  onTimeout: null
                  autoResume: true
                storedSecrets:
                  secrets:
                    - secrets/example
              image: images/example
        required: true
      responses:
        "201":
          description: Success
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Sandbox"
                  - not:
                      properties:
                        core:
                          properties:
                            status:
                              enum:
                                - creating
                                - starting
                          required:
                            - status
                      required:
                        - core
          headers:
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "202":
          description: Accepted. The resource is still progressing; read it or follow its events until completion.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: "#/components/schemas/Sandbox"
                  - properties:
                      core:
                        properties:
                          status:
                            enum:
                              - creating
                              - starting
                        required:
                          - status
                    required:
                      - core
              example:
                effectiveFeatures:
                  lifecycle:
                    stopMemoryOutcome: discard
                    canCaptureMemory: true
                  outputRetention:
                    minDuration: 30s
                    minBytes: 0
                  managedVolumes:
                    attachments:
                      - volume: example
                        volumeUid: example
                        target: example
                        mode: exclusive
                  timeouts:
                    onTimeout: delete
                    autoResume: true
                    initialTimeout: 30s
                    expiresAt: 2023-01-15T01:30:15.01Z
                    resumeTimeout: 30s
                failure:
                  code: notFound
                  details: []
                  message: sandbox not found
                name: sandboxes/example
                uid: example
                displayName: example
                core:
                  status: creating
          headers:
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "409":
          description: |-
            Creation conflicts with an existing resource (ALREADY_EXISTS).

            Kit admission was refused; an available settled report describes the rejected fields.

            The Idempotency-Key was already used with a different payload.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                failedPrecondition:
                  summary: The Idempotency-Key was already used with a different payload.
                  value:
                    code: failedPrecondition
                    message: The Idempotency-Key was already used with a different payload.
        default:
          description: The structured Error body identifies the failure with a stable code and optional typed details.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: notFound
                details: []
                message: sandbox not found
      x-sbx-error-responses:
        - code: FAILED_PRECONDITION
          description: Kit admission was refused; an available settled report describes the rejected fields.
          detailType: docker.sandboxes.v1.KitFieldOutcomeReport
        - code: FAILED_PRECONDITION
          description: The Idempotency-Key was already used with a different payload.
      security:
        - bearer: []
      x-sbx-serving-surface: management
      x-sbx-plane: control
      x-sbx-required-permissions:
        - sandboxesCreate
      x-sbx-conditional-permissions:
        - permission: mcpWrite
          requestFieldPresent: mcp
      x-sbx-authenticated-only: false
      x-sbx-resource-response:
        $ref: "#/components/schemas/Sandbox"
      parameters:
        - name: Idempotency-Key
          in: header
          description: Replay key. Reusing it with a different payload fails with failedPrecondition; accepted keys are retained for at least 24 hours.
          schema:
            type: string
            title: Idempotency-Key
            description: Idempotency key. A replay returns the first result; the same key with a different payload fails with FAILED_PRECONDITION; retained at least 24 hours.
      x-sbx-error-details:
        KitFieldOutcomeReport:
          $ref: "#/components/schemas/KitFieldOutcomeReport"
  /v1/sandboxes/{sandbox}:
    get:
      tags:
        - Sandboxes
      summary: GetSandbox reads one sandbox by its resource name.
      description: GetSandbox reads one sandbox by its resource name.
      operationId: getSandbox
      parameters:
        - name: sandbox
          in: path
          description: The sandbox id.
          required: true
          schema:
            type: string
        - name: If-None-Match
          in: header
          description: A quoted entity-tag or comma-separated list, compared weakly with the current resource etag. A match, including a weak form or wildcard *, answers 304 without a body after authorization. Malformed input is treated as no match.
          schema:
            type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Sandbox"
          headers:
            ETag:
              description: The etag of the resource this response carries, which the next mutation of it sends as If-Match.
              schema:
                type: string
        "304":
          description: The resource's etag equals the If-None-Match value, so this response carries no body.
        "404":
          description: The target is absent or not visible within the caller's scope.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                notFound:
[...]
