<div id="remove-modal" class="ui small modal transition" ng-submit="vm.selectedContainerId ? vm.removeContainer() : vm.removeAll()">
  <i class="close icon"></i>
  <div class="header">
    Remove Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>
      Are you sure you want to remove the selected {{ vm.selectedContainerId ? 'container' : 'containers' }}?
    </p>
    <div class="ui checkbox">
      <input type="checkbox" id="removeVolumes" ng-model="vm.removeVolumes" />
      <label for="removeVolumes">
        Also remove all volumes used by the {{ vm.selectedContainerId ? 'container' : 'containers' }}
      </label>
    </div>
  </div>

  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.selectedContainerId ? vm.removeContainer() : vm.removeAll()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="restart-modal" class="ui small modal transition" ng-submit="vm.restartContainer()">
  <i class="close icon"></i>
  <div class="header">
    Restart Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>Are you sure you want to restart this container?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.restartContainer()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="stop-modal" class="ui small stop modal transition" ng-submit="vm.stopContainer()">
  <i class="close icon"></i>
  <div class="header">
    Stop Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>Are you sure you want to stop this container?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.stopContainer()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div class="ui fluid container">
  <div class="ui grid">
    <div class="two column row">
      <div class="twelve wide column">
        <div id="containers-selected-button" class="ui blue dropdown button" ng-class="{'disabled': vm.selectedItemCount === 0}">
          {{ vm.selectedItemCount }} Containers Selected
          <i class="dropdown icon"></i>
          <div class="menu">
            <a ng-click="vm.restartAll()" class="item"><i class="green refresh icon"></i> Restart</a>
            <a ng-click="vm.stopAll()" class="item"><i class="stop icon"></i> Stop</a>
            <a ng-click="vm.showRemoveContainersDialog()" class="item"><i class="red remove icon"></i> Remove</a>
          </div>
        </div>
				<div id="view-options-menu" class="ui blue inverted top right pointing dropdown button">
					<span class="text">View Options</span>
          <i class="dropdown icon"></i>
					<div class="menu">
						<div class="header">
							Filters
						</div>
						<div class="item" ng-click="vm.toggleRunningContainers()">
							<i class="green circle icon" ng-class="{'thin': !vm.runningContainersVisible}"></i>
							Running Containers
						</div>
						<div class="item" ng-click="vm.toggleExitedContainers()">
							<i class="red circle icon" ng-class="{'thin': !vm.exitedContainersVisible}"></i>
							Stopped Containers
						</div>
						<div class="item" ng-click="vm.toggleSystemContainers()" ng-if="vm.account.admin">
							<i class="yellow star icon" ng-class="{'empty': !vm.systemContainersVisible}"></i>
							System Containers
						</div>
						<div class="divider"></div>
						<div class="header">
							Columns
						</div>
						<div class="item" ng-repeat="col in vm.cols" ng-if="col.title()" ng-click="col.show(!col.show())">
							<i class="black icon" ng-class="{'check': col.show()}"></i>
							{{col.title()}}
						</div>
					</div>
				</div>
      </div>
      <div class="four wide column">
        <div class="ui left icon input fluid">
            <input ng-model="vm.filter" placeholder="Search containers..." />
            <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>

  <script type="text/ng-template" id="headerCheckbox.html">
    <div class="ui fitted checkbox">
      <input type="checkbox" ng-click="vm.selectAll()" ng-model="vm.selectedAll" id="select_all" />
      <label for="select_all"></label>
    </div>
  </script>

  <div class="row">
    <div class="column">
      <table ng-table="vm.tableParams" template-pagination="custom/pager" class="ui very basic unstackable selectable compact table padded-header" ng-table-columns-binding="vm.cols">
        <tr ng-class="{'active': vm.selected[c.Id].Selected}" ng-repeat="c in $data" jquery selectable-text ng-click="vm.inspectContainer(c.Id)">
          <td class="collapsing" stop-event='click' header="'headerCheckbox.html'">
            <div class="ui fitted checkbox">
              <input type="checkbox" id="{{$index}}-cb" ng-model="vm.selected[c.Id].Selected">
              <label for="{{$index}}-cb"></label>
            </div>
          </td>
          <td class="collapsing">
            <i class="icon link" ng-class="{'circle': !c._SystemContainer, 'star': c._SystemContainer, 'green': c._Status === 'Running', 'red' : c._Status === 'Stopped' || c._Status === 'Unknown', 'yellow': c._Status === 'Paused'}" data-content="{{ c.Status}}" variation="inverted blue"></i>
            <span class="hidden">{{c._Status}}</span>
          </td>
          <td data-title="'Id'" class="collapsing" sortable="'Id'" ng-if="true">{{c.Id | limitTo:12 }}</td>
          <td data-title="'Node'" sortable="'_Node'" ng-if="true">{{c._Node}}</td>
          <td data-title="'Name'" sortable="'_Name'" ng-if="true">{{c._Name}}</td>
          <td data-title="'Image'" sortable="'Image'" ng-if="true">{{c.Image}}</td>
					<td data-title="'Label'" sortable="'_Label'" ng-if="false">
						<span ng-if="c._Label">{{c._Label}}</span>
						<span ng-if="!c._Label && !c._SystemContainer" class="weak">User Container</span>
						<span ng-if="!c._Label && c._SystemContainer" class="weak">System Container</span>
					</td>
          <td data-title="'Created'" sortable="'Created'" ng-if="true">{{c.Created * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          <td class="right aligned collapsing">
            <div class="ui action buttons">
              <div class="ui right pointing container-actions dropdown basic icon button" stop-event='click'>
                <i class="ellipsis vertical icon"></i>
                <div class="menu">
                  <a ng-click="vm.showRestartContainerDialog(c)" class="item"><i class="green refresh icon"></i> Restart</a>
                  <a ng-click="vm.showStopContainerDialog(c)" class="item"><i class="black stop icon"></i> Stop</a>
                  <a ng-click="vm.showRemoveContainerDialog(c)" class="item"><i class="red remove icon"></i> Remove</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
$('#containers-selected-button')
.dropdown();

$('#view-options-menu')
.dropdown({
	action: 'nothing'
});
</script>
