<!-- Modals -->
<div id="restart-modal" class="ui small modal transition" ng-submit="vm.restartContainer()">
  <i class="close icon"></i>
  <div class="header">
    Restart Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>Are you sure you want to restart this container?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.restartContainer()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="stop-modal" class="ui small modal transition" ng-submit="vm.stopContainer()">
  <i class="close icon"></i>
  <div class="header">
    Stop Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>Are you sure you want to stop this container?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.stopContainer()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="remove-modal" class="ui small modal transition" ng-submit="vm.removeContainer()">
  <i class="close icon"></i>
  <div class="header">
    Remove Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>Are you sure you want to remove this container?</p>
    <div class="ui checkbox">
      <input type="checkbox" id="removeVolumes" ng-model="vm.removeVolumes" />
      <label for="removeVolumes">Also remove all volumes used by this container</label>
    </div>
  </div>

  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.removeContainer()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="rename-modal" class="ui small modal transition" ng-submit="vm.renameContainer()">
  <i class="close icon"></i>
  <div class="header">
    Rename Container: {{ vm.selectedContainer.Names[0].split('/')[2] }}
  </div>
  <div class="content">
    <div class="ui form">
      <div class="fields">
        <div class="twelve wide field">
          <label>Name</label>
          <input class="input" ng-model="vm.newName" type="text">
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative button">
      Cancel
    </div>
    <div ng-click="vm.renameContainer()" class="ui positive button">
      Rename
    </div>
  </div>
</div>

<div class="full-width-page">
<div id="inspect" class="ui container">
  <!-- Status and CTA's -->
  <div id="inspect-header" class="ui grid row">
    <div class="container-info left aligned column">
      <div class="status" ng-class="{'running': vm.container.State.Running, 'stopped': !vm.container.State.Running}">
        <i class="cube large icon"></i>
      </div>
      <div class="name">
        <h2>{{ vm.container.Name.split("/")[1] }}</h2>
        <h5>{{ vm.container.Config.Image }}</h5>
      </div>
    </div>
    <div class="container-actions column">
        <button class="ui blue button" ng-click="vm.showContainerDialog('#restart-modal')">
          <i class="refresh icon"></i> Restart
        </button>
        <button class="ui blue button" ng-click="vm.showContainerDialog('#stop-modal')">
          <i class="stop icon"></i> Stop
        </button>
        <button class="ui blue button" ng-click="vm.showContainerDialog('#rename-modal')">
          <i class="edit icon"></i> Rename
        </button>
        <button class="ui negative button" ng-click="vm.showContainerDialog('#remove-modal')">
          <i class="remove icon"></i> Remove
        </button>
    </div>
  </div>

  <!-- Tab nav -->
  <div class="ui secondary pointing compact menu">
    <a class="item" ui-sref="dashboard.inspect.details({id: vm.container.Id})" ng-class="{ 'active': $state.current.name === 'dashboard.inspect.details' }"><i class="sidebar icon"></i> Details</a>
    <a class="item" ui-sref="dashboard.inspect.logs({id: vm.container.Id})" ng-class="{ 'active': $state.current.name === 'dashboard.inspect.logs' }"><i class="file text outline icon"></i> Logs</a>
    <a class="item" ui-sref-if="vm.container.State.Running" ui-sref-val="dashboard.inspect.stats({id: vm.container.Id})" ng-class="{ 'active': $state.current.name === 'dashboard.inspect.stats', 'disabled': !vm.container.State.Running }"><i class="area chart icon"></i> Stats</a>
    <a class="item" ui-sref-if="vm.container.State.Running" ui-sref-val="dashboard.inspect.exec({id: vm.container.Id})" ng-class="{ 'active': $state.current.name === 'dashboard.inspect.exec', 'disabled': !vm.container.State.Running }"><i class="terminal icon"></i> Console</a>
  </div>

  <div ui-view></div>
</div>
</div>
