<div class="ui top right blue inverted pointing dropdown button">
  <span class="text">View Options</span>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="header">
      Filters
    </div>
    <div class="item" ng-click="vm.logParams.stdin = !vm.logParams.stdin">
      <i class="circle icon" ng-class="{'green': vm.logParams.stdin}"></i>
      Show stdin
    </div>
    <div class="item" ng-click="vm.logParams.stdout = !vm.logParams.stdout">
      <i class="circle icon" ng-class="{'green': vm.logParams.stdout}"></i>
      Show stdout
    </div>
    <div class="item" ng-click="vm.logParams.stderr = !vm.logParams.stderr">
      <i class="circle icon" ng-class="{'green': vm.logParams.stderr}"></i>
      Show stderr
    </div>
    <div class="item" ng-click="vm.logParams.timestamps = !vm.logParams.timestamps">
      <i class="circle icon" ng-class="{'green': vm.logParams.timestamps}"></i>
      Show timestamps
    </div>
    <div class="item" ng-click="vm.logParams.follow = !vm.logParams.follow">
      <i class="circle icon" ng-class="{'green': vm.logParams.follow}"></i>
      Follow Logs
    </div>
    <div class="item" ng-click="vm.toggleTail()">
      <i class="circle icon" ng-class="{'green': vm.logParams.tail > 0}"></i>
      Tail Logs
    </div>
  </div>
</div>

<div class="ui tail input" ng-if="vm.logParams.tail !== LogConstants.DISABLE_TAIL">
  <input type="number" ng-model="vm.logParams.tail"  ng-model-options="{updateOn: 'blur'}"></input>
  <label>lines</label>
</div>

<div class="ui icon message" ng-hide="vm.logs">
  <i class="info icon"></i>
  <div class="content">
    <div class="header">
      Logs
    </div>
    <p>There are no logs available for this container.</p>
  </div>
</div>

<div id="inspect-logs" ng-show="vm.logs">
  <pre ng-bind="vm.logs" class="logs"></pre>
</div>

<script>
  $('.ui.dropdown')
    .dropdown({
      action: 'nothing'
    });
</script>
