@import "utilities";

.details {
  @mixin 2columns 9, 3;
}

.addRatePlan {
  color: $color-variant-dull;
  margin-top: $space-md;
  text-align: center;
}

.tips {
  margin-left: 20px;
}

.tip {
  @mixins fontSize 1;
}

.tipTitle {
  @mixins fontSize 1;
  color: #354a5b;
  margin: 0 0 $space-md;
  font-weight: normal;
}

.tipBody {
  color: $color-regent-gray;
  margin-bottom: $space-xxl;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.backButton {
  margin: 2px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: $space-xxl;
}

.message {
  margin-right: $space-lg;
}

.submit {
  padding: 0 $space-xl;
  margin: $space-xl 0;
  margin-left: $space-sm;
  display: flex;
  align-items: center;
  cursor: pointer;
  .chevron {
    transform: rotate(-90deg);
    top: 0;
  }
}

.submitWrapper {
  color: $color-variant-dull;
  display: flex;
  line-height: $space-xxl;
}

.globalError {
  color: $color-carnation;
}
