@import "dux/css/colors";

.buildCode {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actionBtn.actionBtn {
  height: 33px;
  padding: 0 0.5rem;
  border: 1px solid #eb3e46;
  color: #eb3e46;
  background-color: transparent;
  border-radius: 0.25rem;
  margin-bottom: 0;

  &:hover {
    background-color: #eb3e46;
    color: white;
  }
}

.row {
  display: flex;
  align-items: center;
}
