@import "dux/css/colors.css";

.cardHeader {
  font-size: 1.2rem;
}

.secondaryTableHeader {
  font-weight: 500;
  font-size: 0.9rem;
  padding: 0.4rem 0;
}

.empty {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--secondary-3);
}

.inlineBlock {
  display: inline-block;
}

.questionMark {
  composes: inlineBlock;
  color: #C4CDD9;
  cursor: pointer;
  font-size: 1.2rem;
}

.tooltipTitle {
  font-weight: 500;
}

.toggleButtonWrapper {
  text-align: center;
}
