@import "utilities";

$nautilus-border: solid 1px $color-geyser;

@define-mixin centeredContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.componentName {
  @mixin fontSize 2;
  color: $color-fiord;
  padding-bottom: $space-xxs;
}

.componentRow {
  padding: $space-sm 0;
  border-top: $nautilus-border;
}

.critical {
  color: $color-nautilus-critical;
}

.cve {
  padding-bottom: $space-xxs;
}

.headerText {
  color: $color-loblolly;
  font-weight: bold;
}

.cve,
.license {
  color: $color-regent-gray;
}

.major {
  color: $color-nautilus-major;
}

.minor {
  color: $color-nautilus-minor;
}

.row {
  @mixin 3columns 6, 4, 2;
}

.secure {
  color: $color-nautilus-secure;
}

.severity {
  text-align: right;
  padding-bottom: $space-xxs;
}

.wrapWords {
  word-wrap: break-word;
}

.icon {
  fill: $color-regent-gray;
}

.iconUp {
  composes: icon;
  transform: rotateX(180deg);
}

.showAll {
  @mixin fontSize 0;
  color: $color-fiord;
  margin-right: $space-xs;
}

.showAllButton {
  @mixin centeredContent;
  padding-top: $space-sm;
  border-top: $nautilus-border;
  cursor: pointer;
}

.noVulnerableComponents {
  composes: componentRow;

  @mixin centeredContent;
  @mixin fontSize 3;
  color: $color-regent-gray;
  > svg {
    fill: $color-robins-egg-blue;
    margin-right: $space-xs;
  }
}

.tooltipContent {
  width: 400px;
}

.tooltipTitle {
  @mixin fontSize 0;
  font-weight: bold;
  color: $color-regent-gray;
  padding-bottom: $space-xs;
}

.tooltipText {
  @mixin fontSize 0;
  color: $color-regent-gray;
}
