@import "utilities";

:global .duptime {
  display: inline-block;
  > svg {
    fill: $color-loblolly;
    float: left;
    margin-right: $space-xxs;
  }
}

.display {
  @mixin fontSize 0;
  color: $color-loblolly;
  line-height: $icon-size-tiny;
  float: left;
}
