@import "utilities";

$hero-height: 500px;
$section-padding: 64px;

/* Hero and NavBar */
.home {
  top: calc($topnav-height * -1);
  position: relative;
  width: 100%;
}

.heroWrapper {
  min-height: $hero-height;
  position: relative;
  padding: $topnav-height 0;

  /* set fallback in case multiple background images are not supported */
  background-color: $color-dodger-blue;
  background-image:
    linear-gradient(to bottom, rgba(0, 191, 165, 0.8) 0%, transparent 100%),
    linear-gradient(-74deg, transparent 90%, rgba(255, 255, 255, 0.23) 20%),
    linear-gradient(-74deg, transparent 83%, rgba(255, 255, 255, 0.18) 15%),
    linear-gradient(-74deg, transparent 76%, rgba(255, 255, 255, 0.1) 15%),
    linear-gradient(to top, #127ab1, #1799e0, #1796db);
}

.title {
  @mixin display2;
  @mixin semiBold;
}

.logo {
  margin: 0;
  padding: 0;
}

.navBar {
  display: flex;
  height: $topnav-height;
  color: $color-white;
  align-items: center;
  justify-content: space-between;

  .rightNavLinks {
    @mixin fontSize 2;
    display: inline-flex;

    & > * {
      margin-right: $space-sm;
      margin-left: $space-sm;
    }
  }
}

.heroContent {
  @mixin flexCentered;
  height: $hero-height;
  flex-direction: column;
  text-align: center;
  color: $color-white;
}

.subText {
  @mixin headline;
  margin-bottom: $space-xxxl;
}

/* Content sections */
.sectionWrapper {
  padding-bottom: $section-padding;
}

.paddedRow {
  padding-top: $section-padding;
}
