.spinner {
  lost-align: middle-center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  opacity: .5;
  padding-top: 5rem;

  i {
    font-size: 3rem;
  }

  p {
    padding-top: 9rem;
    left: 52%;
    font-size: 1.5rem;
  }
}