.labelList {
  list-style: none;
  list-style-type: none;
  padding: 0;
  margin: 1rem 0;

  li {
    display: inline-block;
    margin: 0 .25rem .25rem 0;

    .remove {
      cursor: pointer;
      margin-left: 5px;
    } 
  }
}
