*/obj
.vs
Debug/
Docker*/bin
Platforms/*/*/bin
Platforms/*/*/obj
*.user
*.nupkg
*.iml
packages
Resources/UpdateChannel
Resources/com.docker.*
Resources/moby-diag-dl.exe
Resources/dockerd.exe
Resources/zlib1.dll
mobylinux.iso
