source https://www.nuget.org/api/v2
framework >= net45

nuget Bugsnag 1.2.0.0
nuget Microsoft.PowerShell.5.ReferenceAssemblies 1.0.0
nuget NLog.Config 4.3.8
nuget WindowsFirewallHelper 1.0

# Testing dependencies
nuget Moq 4.5.21
nuget NFluent 1.3.1.0
nuget NUnit 3.4.1