@import "dux/css/colors.css";
@import "dux/css/box.css";

.teamItem :global .active {
    background: var(--secondary-6);
}

.marginTop {
    margin-top: 1rem;
}

.formHeading {
    margin-bottom: calc(var(--default-margin) * 2);
}

.arrowSelect {
    margin-top: 0.3rem;
}
