@import "utilities";

.statusbar {
  background-color: #47bbf9;
  color: white;
  height: 48px;

  h3 {
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    margin: 0;
  }

  .statusbarcontents {
    display: flex;
    height: 48px;
    align-items: center;

    .displayname {
      flex: 0 auto;
    }

    .status {
      display: flex;
      flex: 1 auto;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

.steps {
  @mixin 4columns 3, 3, 3, 3;
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 32px 0;
}

.step {
  display: flex;
  flex: 0 auto;
  padding-right: $space-md;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.chevStep {
  @mixin 2columns 8, 4;
  position: relative;
}

h4 {
  @mixin fontSize 3;
  height: $contextnav-height;
  margin: 0 0 $space-sm;
  font-weight: normal;
}

h5 {
  @mixin fontSize 0;
  font-weight: normal;
  margin: 0;
}

.disabled {
  &:hover {
    cursor: default;
  }
  h4,
  h5 {
    color: $color-regent-gray;
    font-weight: normal;
  }
}

.active h4 {
  font-weight: 600;
  color: $color-variant-primary;
}

.active h5 {
  color: $color-fiord;
}

.chevron {
  transform: rotate(-90deg);
  fill: $color-loblolly;
}
