html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body {
    @include themer(background-color, (
        dark: $bg-body-night,
        light: $bg-body,
    ));
    @include themer(color, (
        dark: $body-text-night,
        light: $body-text,
    ));

    font-family: $font;
    font-size: $body-text-size;
    margin: $clear;
    padding: $clear;
    overflow-x: hidden;
}

hr {
    @include themer(border-top, (
        dark: 1px solid #4f6071,
    ));
}
