/*
*
* globals
*
*/

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: $bg-body;
    color: $body-text-color;
    font-family: $font;
    font-size: $body-text-size;
    margin: $clear;
    padding: $clear;
    overflow-x: hidden;
}

a {
    color: $primary-links;
    text-decoration: none;
    outline: none;
    &:hover {
        opacity: .8;
        text-decoration: none;
    }
}

/*
*
* images
*
*/

.content img {
    display: block;
    max-width: 100%;
    height: auto;
}


/*
*
* global footer  ***********************************************************************
*
*/

footer {
    background: $white;
    border-top: 1px solid #E0E4E7;
    position: relative;
}

.top_footer {
    padding: 50px 0 35px;
}

.footer_links {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: 10px;
        a {
            color: #637986;
            font-size: 12px;
            line-height: 16px;
            text-decoration: none;
        }
    }
}

.footer_sub_nav {
    float: right;
    padding: 10px 30px 20px 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            margin-left: 10px;
            padding-bottom: 6px;
            a {
                color: #637986;
                font-size: 12px;
            }
        }
    }
}

.bottom_footer {
    clear: both;
    padding: 30px 0 20px;
    border-top: 1px solid #E0E4E7;
    float: left;
    width: 100%;
}

.footer-copyright {
    float: left;
}

.footer-copyright p {
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #637986;
    margin-bottom: 0;
    padding: 0 0 15px;
}

.footer_social_nav {
    float: right;
    padding: 0 15px 0 0;
}

.footer_social_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_social_nav ul li {
    float: left;
    position: relative;
}

.footer_social_nav ul li:before {
    color: #fff;
    position: absolute;
    top: 10px;
    left: 10px;
}

.footer_social_nav ul li+li {
    margin-left: 10px;
}

.footer_social_nav ul li a {
    width: 32px;
    height: 32px;
    background-color: #82949E;
    border-radius: 50px;
    color: #fff;
    display: block;
    text-indent: 9999px;
    overflow: hidden;
}

.break {
    margin-bottom: 20px!important;
}
