html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
     -webkit-font-smoothing: antialiased;
}

body {
    background-color: $bg-body;
    color: $body-text;
    font-family: $font;
    font-size: $body-text-size;
    margin: $clear;
    padding: $clear;
    overflow-x: hidden;
}

a {
    color: $primary-links;
    text-decoration: none;
    outline: none;
    &:hover {
        opacity: .8;
        text-decoration: none;
    }
}
