ul.buttons {
    list-style: none;
    width: 450px;
    margin: 0 auto;
}

a.button {
    color: #fff;
}

a.button.outline-btn {
    color: $primary-links;
    float: none;
    display: inline-block;
}

a.button.outline-btn.min-hgt {
    min-height: 85px;
}

.button {
    display: inline-block;
    margin: 10px 10px 10px 0;
    font-family: $buttons;
    padding: 12px 35px;
    min-width: 200px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    text-align: center;
    white-space: nowrap;
    &:hover {
        color: #fff;
        opacity: 0.7;
    }
}

.primary-btn {
    background: $primary-links;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

/*
.secondary-btn {
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}

.transparent-btn {
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
}
*/

.outline-btn {
    background: #fff;
    border: 1px solid #0087C8;
    margin: 0;
    &:hover {
      color: #1488C6;
    }
}

//.secondary-btn:hover,
.primary-btn:hover,
.outline-btn:hover {
    opacity: 0.8;
}
