/* This palette is deprecated */

$red-10: #f8a09a;
$red-50: #e44141;
$red-60: #da3333;
$red-90: #9e1011;

$purple-10: #d4c1f8;
$purple-50: #866abf;
$purple-60: #7457b1;

$marine-10: #9fd1f9;
$marine-50: #007bff;
$marine-90: #002c66;

$grey-10: #d7dade;

$blue-60: #2496ed;
$blue-70: #1282d7;
$blue-80: #076cad;

$orange-10: #fef5c3;
$orange-20: #f9e3ae;
$orange-60: #e79a5c;
$orange-90: #d4611d;
$orange-100: #cc4e09;

$white-0: #ffffff;
$white-5: #fafafb;
$white-10: #f7f7f8;
$white-15: #f2f3f5;
$white-25: #e9ebee;

$black-0: #0f161e;
