$red-10: #f8a09a;
$red-20: #f3847e;
$red-30: #ee635f;
$red-40: #e9524f;
$red-50: #e44141;
$red-60: #da3333;
$red-70: #c82828;
$red-80: #b21c1c;
$red-90: #9e1011;
$red-100: #8c0607;

$magenta-10: #fbd5fa;
$magenta-20: #f5b8f3;
$magenta-30: #ef94eb;
$magenta-40: #e96fe4;
$magenta-50: #e34adc;
$magenta-60: #dd26d5;
$magenta-70: #cc18c4;
$magenta-80: #a611a0;
$magenta-90: #7b0a76;
$magenta-100: #530450;

$purple-10: #d4c1f8;
$purple-20: #bca5ea;
$purple-30: #aa92dc;
$purple-40: #987ece;
$purple-50: #866abf;
$purple-60: #7457b1;
$purple-70: #6243a3;
$purple-80: #4e2d8f;
$purple-90: #3c1980;
$purple-100: #270769;

$marine-10: #9fd1f9;
$marine-20: #6fb6f6;
$marine-30: #4ba0f3;
$marine-40: #268aef;
$marine-50: #007bff;
$marine-60: #0162cc;
$marine-70: #0151ad;
$marine-80: #003f8c;
$marine-90: #002c66;
$marine-100: #0b214a;

$grey-10: #d7dade;
$grey-20: #b9c2c9;
$grey-30: #a5b1ba;
$grey-40: #90a0ac;
$grey-50: #768491;
$grey-60: #5a6774;
$grey-70: #404d59;
$grey-80: #26323f;
$grey-90: #17222f;
$grey-100: #161f2a;

$blue-10: #c4f0ff;
$blue-20: #98e0ff;
$blue-30: #71cfff;
$blue-40: #51bcfd;
$blue-50: #37aaf7;
$blue-60: #2496ed;
$blue-70: #1282d7;
$blue-80: #076cad;
$blue-90: #025391;
$blue-100: #004375;

$green-10: #c7efe6;
$green-20: #aae8d8;
$green-30: #8de0ca;
$green-40: #70d8bd;
$green-50: #54d1b0;
$green-60: #43b899;
$green-70: #33977e;
$green-80: #237663;
$green-90: #135446;
$green-100: #094539;

$orange-10: #fef5c3;
$orange-20: #f9e3ae;
$orange-30: #f5d19a;
$orange-40: #f0bf85;
$orange-50: #ecad71;
$orange-60: #e79a5c;
$orange-70: #e28847;
$orange-80: #db7432;
$orange-90: #d4611d;
$orange-100: #cc4e09;

$white-0: #ffffff;
$white-5: #fafafb;
$white-10: #f7f7f8;
$white-15: #f2f3f5;
$white-25: #e9ebee;

$black-0: #0f161e;
$black-5: #121a24;
$black-15: #151c26;
