.content,
p {
  line-height: 24px;
  clear: both;

  img {
    display: block;
    height: auto;
    max-width: 100%;
  }
}

/*
 * Code formatting *************************************************************
 */
pre,
code {
  background-color: $light-page-background !important;
  color: $light-blue-600 !important;
}

pre {
  border: 0;
  border-radius: 4px;
  display: block;
  padding: 20.5px !important;
  margin: 0;
  font-size: 13px;
  line-height: 1.42857143;
  word-break: normal !important;
  word-wrap: break-word;

  code {
    overflow-x: auto;
    overflow-wrap: normal;
    white-space: pre;
  }
}

code {
  border-radius: 2px;
  font-size: 90%;
  padding: 3px 7px;
  overflow-x: scroll;
  white-space: nowrap;
}

.highlighter-rouge {
  margin: 15px 0;
  position: relative;
  border-radius: 4px;
  border: 1px solid $light-grey-200;
  .night & {
    border: 1px solid $dark-grey-400;
  }

  font-weight: 500;

  header {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    justify-content: space-between;
    padding: 4px 12px;
    background-color: $grey-100;
    color: $light-grey-500;
    .night & {
      color: $white;
      background-color: $dark-grey-200;
    }

    .hl-title {
      display: flex;
      align-items: center;
    }

    .hl-copy {
      display: flex;
      border-radius: 4px;
      gap: 8px;
      align-items: center;
      background: none;
      border: none;
      .copy-icon {
        height: 24px;
        width: 24px;
        background-color: $light-grey-500;
        .night & {
          background-color: $white;
        }
        /* set "copy" logo as a mask */
        -webkit-mask: url("/assets/images/copy-icon.svg") no-repeat center;
        mask: url("/assets/images/copy-icon.svg") no-repeat center;
      }
      &.copied .copy-icon {
        /* change logo if .copied class on parent */
        -webkit-mask: url("/assets/images/copy-icon-copied.svg") no-repeat
          center;
        mask: url("/assets/images/copy-icon-copied.svg") no-repeat center;
      }
    }
  }
}

/*
 * Guides : components *********************************************************
 */

.component-container {
  padding: 0;
  margin: 0 0 50px;
  width: 100%;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  // "get-docker" tiles
  .row > .block {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .component {
    padding: 15px 25px 15px 15px;
    text-align: center;
    height: 100%;
    width: 100%;
    background: $bg-component;
    img {
      height: 70px;
    }
    .component-icon {
      display: flex;
      justify-content: center;
    }
    h2 {
      font-size: 18px;
    }
    h2,
    h3,
    p {
      margin: 0;
    }
  }
}

a.anchorLink {
  font-size: 0.5em;
  margin-left: 5px;
  visibility: hidden;
}

h1:hover > a.anchorLink,
h2:hover > a.anchorLink,
h3:hover > a.anchorLink {
  visibility: visible;
}

a.glossary {
  color: $body-text;
  outline: none;
  &:hover {
    opacity: 1;
  }
}

a.accept-eula {
  font-weight: bold;
}
