// This file defines two palettes and is taken from Docker's Design System. The light palette should only be used
// in light mode, and vice versa. In general, if you use one of the colors
// in light mode, you should the same-named color in the dark palette in
// dark mode.

$white: #FFFFFF;
$light-page-background: #F9F9FA;
$dark-palette-background: #1C262D;
$grey-100: #EFEFF2;
$black: #000000;


// light palette contrast colors:

$light-grey-200: #E1E2E6;
$light-grey-300: #C4C8D1;
$light-grey-400: #8993A5;
$light-grey-500: #677285;
$light-grey-600: #505968;
$light-grey-700: #393F49;
$light-grey-800: #17191E;
$light-red-300: #EEA3A5;
$light-red-400: #E25D68;
$light-red-500: #D52536;
$light-red-600: #B72132;
$light-red-700: #8B1924;
$light-viole-200: #E9D4FF;
$light-viole-300: #C9A6FF;
$light-viole-400: #9860FF;
$light-viole-500: #7D2EFF;
$light-viole-600: #6D00EB;
$light-viole-700: #5700BB;
$light-viole-800: #220041;
$light-blue-100: #E5F2FC;
$light-blue-200: #C0E0FA;
$light-blue-300: #8BC7F5;
$light-blue-400: #1C90ED;
$light-blue-500: #086DD7;
$light-blue-600: #0055BD;
$light-blue-700: #1144A6;
$light-blue-800: #00084D;
$light-green-200: #C6EAE1;
$light-green-300: #88D5C0;
$light-green-400: #3BA08D;
$light-green-500: #2E7F74;
$light-green-600: #1E6C5F;
$light-green-700: #185A51;
$light-amber-100: #FFF4DC;
$light-amber-200: #FCE1A9;
$light-amber-300: #FBB552;
$light-amber-400: #DD7805;
$light-amber-500: #B85504;

// dark palette contrast colors:

$dark-grey-100: #141B1F;
$dark-grey-200: #27343E;
$dark-grey-300: #364754;
$dark-grey-400: #465C6E;
$dark-grey-500: #7794AB;
$dark-grey-600: #94ABBC;
$dark-grey-700: #ADBECB;
$dark-grey-800: #C4D0DA;
$dark-red-200: #951C2F;
$dark-red-300: #BC233C;
$dark-red-400: #D1334C;
$dark-red-500: #ED5669;
$dark-red-600: #E96C7C;
$dark-red-700: #EA8E9A;
$dark-red-800: #F0AAB4;
$dark-viole-100: #491D7B;
$dark-viole-200: #5F25A0;
$dark-viole-300: #7835D3;
$dark-viole-400: #8A53EC;
$dark-viole-500: #A371FC;
$dark-viole-600: #B38BFC;
$dark-viole-700: #C5A6FD;
$dark-viole-800: #D4BDFE;
$dark-blue-100: #06326D;
$dark-blue-200: #08489B;
$dark-blue-300: #1760CA;
$dark-blue-400: #2673E3;
$dark-blue-500: #3391EE;
$dark-blue-600: #55A4F1;
$dark-blue-700: #7CB9F4;
$dark-blue-800: #98C8F6;
$dark-green-200: #155048;
$dark-green-300: #176254;
$dark-green-400: #228375;
$dark-green-500: #2AA391;
$dark-green-600: #3CC1AD;
$dark-green-700: #7ACCC3;
$dark-green-800: #A5DDD6;
$dark-amber-300: #AF560A;
$dark-amber-400: #CD6A0A;
$dark-amber-500: #ED8D25;
$dark-amber-600: #F6A650;
$dark-amber-700: #F8B974;
$dark-amber-800: #FAC892;
