/*
*
* layout
*
*/

/*
*
* branding *********************************************************************
*
*/

.logo {
    margin: 12px 10px 0 10px;
    width: 160px;
}

/*
*
* Header ***********************************************************************
*
*/

.header {
    background: $bg-secondary;
    // animation: gradientswitch 80s infinite;
    // -webkit-animation: gradientswitch 80s infinite;
    height: $global-header-height;
    position: relative;
    z-index: 1;
    transition: all 0.1s ease;
}

// @keyframes gradientswitch {
//     0% {
//         background: #0087C9;
//     }
//     16% {
//         background: #EF4A53;
//     }
//     32% {
//         background: #FFB463;
//     }
//     49% {
//         background: #33D5D4;
//     }
//     65% {
//         background: #254356;
//     }
//     81% {
//         background: #5B4097
//     }
//     100% {
//         background: #0087C9
//     }
// }

// @-webkit-keyframes gradientswitch {
//     0% {
//         background: #0087C9;
//     }
//     16% {
//         background: #EF4A53;
//     }
//     32% {
//         background: #FFB463;
//     }
//     49% {
//         background: #33D5D4;
//     }
//     65% {
//         background: #254356;
//     }
//     81% {
//         background: #5B4097
//     }
//     100% {
//         background: #0087C9
//     }
// }

// .fan {
//     // background: linear-gradient(-120deg, rgba(245, 33, 33, 0) 87%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-110deg, rgba(27, 0, 255, 0) 85%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(-103deg, rgba(255, 33, 33, 0) 84%, rgba(255, 255, 255, 0.08) 15%), radial-gradient(circle, rgba(0, 135, 201, 0) 0%, rgba(0, 135, 201, 0) 100%);

//     position: absolute;
//     height: 100%;
//     width: 100%;
//     z-index: -1;
// }

.columns,
.col-body {
    display: flex;
    flex-direction: column;
}

.col-nav {
    order: -1;
}

.col-body {
    flex-direction: row;
    flex: 1;
    min-height: 555px;
}

.col-content {
    flex: 1;
}

.col-nav,
.col-toc {
    flex: 0 0 0;
}

.col-toc-hidden {
    display: none;
}

@media only screen and (min-width: 1000px) {
    .col-nav,
    .col-toc {
        flex: 0 0 19em;
    }
}

.content {
    padding: 80px 70px 20px 70px;
    max-width: 1024px;
    min-width: 300px;
    min-height: 500px;
}

.main-content {
    padding: 0 35px 25px 30px;
}

section.section {
    margin: 0 auto;
}

.content ul {
    margin-top: 10px;
}

/*
*
* sidebar ***********************************************************************
*
*/

.wrapper.right-open #sidebar-wrapper {
    width: 270px;                                                                                                                                                                            
}

.wrapper.right-open .page-content {
    padding-right: 190px;
}

/*
* Sidebar
*/

.col-nav,
.col-toc {
    min-height: 100vh;
}

.col-nav,
.col-toc,
.sidebar {
    background-color: $bg-sidebar;
}

.col-toc {
    margin-left: auto;
}

.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 55px;
    overflow: auto;
    max-height: calc(100vh - 55px);
    padding-top: 20px;
    padding-bottom: 20px;
}
/*
*
* global footer  ***********************************************************************
*
*/

footer {
    background: $white;
    border-top: 1px solid #E0E4E7;
    position: relative;
}

.top_footer {
    padding: 50px 0 35px;
}

.footer_links {
    list-style: none;
    padding: 0;
    li {
        margin-bottom: 10px;
        a {
            color: #637986;
            font-size: 12px;
            line-height: 16px;
            text-decoration: none;
        }
    }
}

.footer_sub_nav {
    float: right;
    padding: 10px 30px 20px 0;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            float: left;
            margin-left: 10px;
            padding-bottom: 6px;
            a {
                color: #637986;
                font-size: 12px;
            }
        }
    }
}

.bottom_footer {
    clear: both;
    padding: 30px 0 20px;
    border-top: 1px solid #E0E4E7;
    float: left;
    width: 100%;
}

.footer-copyright {
    float: left;
}

.footer-copyright p {
    font-family: $font;
    font-size: 12px;
    line-height: 17px;
    color: #637986;
    margin-bottom: 0;
    padding: 0 0 15px;
}

.footer_social_nav {
    float: right;
    padding: 0 15px 0 0;
}

.footer_social_nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_social_nav ul li {
    float: left;
    position: relative;
}

.footer_social_nav ul li:before {
    color: $white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.footer_social_nav ul li+li {
    margin-left: 10px;
}

.footer_social_nav ul li a {
    width: 32px;
    height: 32px;
    background-color: #82949E;
    border-radius: 50px;
    color: $white;
    display: block;
    text-indent: 9999px;
    overflow: hidden;
}
