/*
 * Primary navigation - top header *********************************************
 */
.nav-container {
    height: 55px;
}

.sidebar-toggle {
    margin: 4px 0 0 0;
    float: right;
    padding: 16px 15px 0 0;
}

/*
 * Secondary Navigation  *******************************************************
 */

.nav-secondary {
    background-color: $bg-secondary;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.24);
}

/*
 * Breadcrumbs  ****************************************************************
 */
.breadcrumb {
  background-color: $bg-sidebar-active;
  border-radius: 0;
  margin-bottom: 0;
  padding-left:  22px; // left-align with logo
  border-bottom: 0.1px solid rgba($primary-links, .5);

  a:not([href]) {
    cursor: default;
  }
}

/*
 * NAV SIDEBAR *****************************************************************
 */

// Some links don't have 'href' attr, hence no mouse pointer
.nav-sidebar li a {
    cursor: pointer;
    color: $light-palette-grey-800;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:focus,
.nav-sidebar>.active>a:hover {
    color: #2089C4;
    background-color: #428bca;
}

.nav-sidebar ul {
    list-style: none;
    padding: 0;
    text-align: left;

    li {
        display: block;
    }
}

.nav-sidebar .nav ul {
  padding: 0 0 0 15px;
}

.nav-sidebar ul li a:hover {
    opacity: 0.7;
    background: transparent;
}

.nav-sidebar ul li a,
.nav-sidebar ul li a:focus {
    border-bottom: none;
    border-left:   1px solid $light-palette-grey-200;
}

.nav-sidebar .nav > li > a {
  padding-left: 22px; // left-padding to align with logo
  &.active {
    padding-left: 19px; // compensate for 1px -> 4px border-width
  }
  @include before-md-width {
    padding-right: 32px; // right-align with hamburger menu
  }
}

.nav-sidebar ul li a.active,
.nav-sidebar.nav > li > a:focus {
    background:  $bg-sidebar-active;
    border-left: 4px solid $primary-links;
    font-weight: 600;
    color: #2089C4;
}

.nav-sidebar ul li ul li a {
  font-size:   12px;
  margin-left:  8px;
}

.nav-sidebar .caret {
    float: right;
    margin-top: 10px;
}

/* pointer for collapsed sidebar list items */

.collapsed
{
    cursor:pointer;
}

/*
 * Table of contents menu  *****************************************************
 */

.toc-toggle {
    width: 25px;
    height: 25px;
    float: right;
}

.toc-nav ul {
    list-style: none;
    margin: 0;
    padding-left: 10px;
    line-height: 20px;
    li {
        padding: 2px 8px 2px 0;
        width: 100%;
        a {
            display: inline-block;
            font-size: 12px;
            padding: 2px 10px 2px 10px;
            color: #677285;
        }
        .slider{
            background-color: #e0e4e7;
            border: 1px solid #e0e4e7;
        }
        .slider:before{
            background-color: #677285;
        }
    }
}

.toc-nav li a.active {
    border-left: 4px solid #677285;
    font-weight: bold;
    color: #677285;
}

.toc-nav i.fa {
    font-size: 14px;
    margin: 0 8px 0 0;
    color: #677285;
}

div#side-toc-title {
    font-size: 12px;
    font-weight: bold;
    margin: 11px 0 10px 13px;
}

.edit {
    margin: 10px 0 20px 15px;
}

/*
 * Toggle Switches *************************************************************
 */

.toggle-mode {
    float: left;
    padding: 0 0 0 10px;
    width: 100%;
    .icon {
        width: 25px;
        float: left;
        font-size: 1.5rem;
    }
}


.toggle-switch {
    float: left;
    height: 40px;
    width: 60px;
    padding: 3px 7px 0 2px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 47px;
    height: 19px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $slider-bg;
    border: 1px solid #c3e4f7;
}

.slider:before {
    background-color: $slider-btn;
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 2px;
    bottom: 1px;
}

input:focus+.slider {
    box-shadow: 0 0 1px $slider-btn;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*
 * Tabs ************************************************************************
 */

.navbar-nav > li > a {
  border-left:   4px solid rgba($white, 0.0);
}
.navbar-nav > li.active > a {
  border-left:   4px solid rgba($white, 0.75);
}

@include md-width {
  .landing .navbar-nav > li > a {
    padding-top:    17px;
    padding-bottom:  9px;
  }
  .navbar-nav > li > a {
    color:          $white;
    line-height:    25px;
    padding-top:    14px;
    padding-bottom: 12px;
    font-weight:    600;

    &:hover {
      background-color: rgba(0, 0, 0, 0.17);
      border-bottom:    4px solid rgba($white, 0.75);
    }
  }
  .navbar-nav > li.active > a {
    cursor:        default;
    border-left:   none;
    border-bottom: 4px solid rgba($white, 0.5);
  }
}

/*
 * feedback links **************************************************************
 */

.feedback-links {
    margin: 15px 0 10px 0;
}

/*
 * Controls ********************************************************************
 */

.ctrl-left {
    float: left;
    width: 20px;
    margin: 3px 0 0 0;
}

.ctrl-right {
    float: right;
    padding: 5px 0;
}

.ctrl-right .btn-group {
    float: left;
    margin: 2px 0 0;
}
