html.night {
    color-scheme: dark;
  
    $icons: rocket, download-docker, guides, language-guides, whats-new, manuals, reference;

    body {
        background-color: $bg-body-night;
        color: $body-text-night;

        &.landing {
            background-color: $bg-body-landing-night;
            .header > .container {
                background-color: $bg-header-night;
            }
            .card, .cardlet {
                color: inherit;
                background-color: $bg-card-night;
            &.rocket {
                background-image: url(/assets/images/rocket-dark.svg)
            }
            &.download-docker {
                background-image: url(/assets/images/download-docker-dark.svg)
            }
            &.guides {
                background-image: url(/assets/images/guides-dark.svg)
            }
            &.language-guides {
                background-image: url(/assets/images/language-guides-dark.svg)
            }
            &.manuals {
                background-image: url(/assets/images/manuals-dark.svg)
            }
            &.reference {
                background-image: url(/assets/images/reference-dark.svg)
            }
        }
            footer {
                background-color: $bg-footer-landing-night;
            }
        }
    }
a {
    color: $dark-blue-600;
}
    .rating-nero-value,
    .reading-time,
    .release-date {
        color: $body-text-night !important;
    }

    h1,h2,h3,h4,h5,h6,
    div#side-toc-title {
        color: $white;
    }
    a:not(.btn):not(.button) {
        //color: $primary-links-night;
    }
    .header {
        background-color: $bg-header-night;
        color: $white;
    }
    hr {
        border-top: 1px solid #4f6071;
    }
    .nav-secondary {
        background-color: $bg-header-night;
    }
    .breadcrumb {
        background-color: $dark-grey-100;
        border-bottom:    0.1px solid $dark-grey-700;
    }
    .sidebar,
    .col-nav {
        background-color: $bg-sidebar-night;
        border: none;
        color: $dark-grey-700;
    }
    .nav-sidebar li a {
        cursor: pointer;
        color: $dark-grey-700;
    }
    .toc-nav ul li a {
        color: $dark-grey-700;
    }
    .nav-sidebar ul li a.active,
    .nav-sidebar.nav > li > a:focus,
    .toc-nav li a.active {
        background:  $dark-palette-background;
        //border-left: 4px solid $dark-blue-800;
        color: $white;
    }
    div.side-toc-title {
        color: $dark-grey-700;
    }
    .navbar-nav > li.active > a {
      border-color: $dark-blue-600;
      border-bottom: 4px solid $white;
    }
    .slider {
        background-color: #344658;
        border: 1px solid #192837;
    }
    table {
        border: 1px solid #1b1a1a;
        color: #cbdbe6;
    }
    table>tbody>tr:nth-of-type(even) {
        background-color: #1f3341;
    }
    thead {
        background: #2b4252;
    }
    pre {
        color: #f3f3f3;
        background-color: #0a121b !important;
        border: 1px solid $black;
    }
    code {
        color: $dark-grey-700  !important;
        background: #0a121b !important;
    }
    .nav-secondary .dropdown-btn {
        color: #d0e8ff;
    }
    .outline-btn {
        background: $bg-sidebar-night;
        border: 1px solid $body-text;

    }
    a.button.outline-btn {
        color: $primary-links-night;
    }
    a.glossary,
    .toc-nav i.fa {
        color: $body-text-night;
    }
    #autocompleteResults {
        background: $bg-search-results-night;
        border: 1px solid $black;
        //color: $white;
    }
    .autocompleteResult {
        &.selected {
            background-color: #1f262e;
        }
        li {
            color: #b4c3d2;
        }
        span {
          color: #b7a4de;
        }
    }

    /* for google results styles - forgive us css gods */
    .gsc-control-cse .gsc-webResult.gsc-result, .gsc-results .gsc-imageResult {
        border-color: #192837!important;
        background-color: #192837!important;
    }
    .gsc-webResult.gsc-result:hover, .gsc-imageResult:hover {
        border-color: #25374a!important;
        background-color: #192837!important;
    }
    a.gs-title {
        color: $dark-grey-700 !important;
        text-decoration: none;
    }
    .gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
        color: #a8b0b7!important;
    }
    .gs-webResult.gs-result a.gs-title:link, .gs-webResult.gs-result a.gs-title:link b, .gs-imageResult a.gs-title:link, .gs-imageResult a.gs-title:link b {
        color: $dark-blue-700!important;
    }
    .component {
        background: $bg-component-night;
        img {
          opacity: 1;
          filter: grayscale(100%) brightness(2);
        }
    }
    .transparent-btn {
        background-color: rgb(0, 135, 200);
        box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
        border: 1px solid rgba(0, 0, 0, 0.1);
        text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    }
    .primary-btn{
        background: $dark-blue-100;
    }
    .footer {
        background-color: $bg-footer-night;
        border-top: 1px solid rgb(31, 52, 66);
    }
    .footer_links li a {
        color: $white;
    }
    .bottom_footer {
        border-top: 1px solid rgb(78, 93, 106);
    }
    .footer_social_nav ul li a {
        background-color: #2f2f2f;
    }
    .footer_sub_nav ul li a {
        color: $white;
    }
    .footer-copyright p {
        color: $white;
    }

    /* syntax highlighting */
    .highlight {
      .nt {
        color: #FBB552;
      }
      .k {
        color: #EEA3A5;
      }
    }

    /* apply to images with garbled text */
    img.white-bg {
        background-color: white;
    }
    
    /* apply to images that support being inverted */
    img.invertible {
      filter: invert(100%) hue-rotate(180deg);
    }

    /* accordion */
    .panel {
        color: $body-text-night;
        background-color: #24394c;
    }
    .panel-default {
        border-color: #374656;
        >.panel-heading {
            color: #c0c3c4;
            background-color: $bg-sidebar-night;
            border-color: #2f4050;
        }
    }
    .panel-body {
        background: rgb(35, 54, 72);
        color: #bcbfc3;
    }

    /* modals */
    .modal-content {
        background-color: $bg-sidebar-night;
        border-left:      4px solid $primary-links;
    }

    /* tabs */
    .nav-tabs {
        border-bottom: 1px solid #4f6071;
        color: $dark-grey-700;
    }
    .nav-tabs>li>a {
        color: $dark-grey-700;
    }
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
        color: $white;
        background-color: $dark-grey-200;
        border: 1px solid transparent;
    }
    .popover {
        color: $black;
    }
    .pagination>li>a, .pagination>li>span {
        background-color: #0f1c2a!important;
        border: 1px solid #0f1c2a!important;
    }
    .pagination>.active>a {
        background: #000!important;
        color: $white!important;
    }
}


