/*
* note, important, and important admonition styles
*/

$note-color: #1488C6;
$important-color: #aa6708;
$warning-color: #ce4844;


// Blockquotes with no Liquid tag get $note-color sidebar
blockquote {
  @include themer(background, (
    dark: #1f3341,
  ));

  border-left-color: $note-color;
}

// First paragraph of a multi-paragraph blockquote is bold and defaults to
// $note-color if not tagged differently
blockquote > p:first-child {
  margin-top: 0;
  font-weight: 700;
  color: $note-color;
}

blockquote > p:first-child::before {
  content: '\f058 \00a0';
  font-family: FontAwesome;
}

blockquote.important {
  @include themer(border-left-color, (
    dark: #f5ac45,
    light: $important-color,
  ));

  & > p:first-child {
    @include themer(color, (
      dark: #f5ac45,
      light: $important-color,
    ));

    &::before {
      content: '\f06a  \00a0';
    }
  }
}

blockquote.warning {
  @include themer(border-left-color, (
    dark: #ff7e7a,
    light: $warning-color,
  ));

  & > p:first-child {
    @include themer(color, (
      dark: #ff7e7a,
      light: $warning-color,
    ));

    &::before {
      content: '\f057  \00a0';
    }
  }
}

// Maintain backwards compatibility with old note style
blockquote > p:only-child {
  font-weight: inherit;
  color: inherit;

  &::before {
    content: none;
  }
}

// For Bootstrap badges

span.badge {
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}

span.badge.badge-info {
  background-color: $note-color;
}

span.badge.badge-danger {
  background-color: $warning-color;
}

span.badge.badge-warning {
  background-color: $important-color;
}
