/*
 * Bootstrap Overrides *********************************************************
 */

.navbar-toggle {
    padding: 0;
    margin: 0;

    .icon-bar {
      background-color: #fff !important;
    }
}

.navbar-collapse,
.navbar-form {
    border-color: transparent;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.dropdown-menu>li>a {
    font-size: 13.5px;
    line-height: 16px;
    color: #1488c6;
    padding: 5px 15px;
    display: block;
}

.btn {
  font-weight: bold;
}

.btn-primary, .btn-secondary {
  padding: 10px 15px 6px;
  font-family: $buttons;
}
.btn-primary {
  background-color: $marine-50;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &:hover {
    opacity: 0.8;

    // override default bootstrap behaviour
    background-color: $marine-50;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.btn-default:hover {
    color: #fff!important;
    background-color: transparent!important;
    border-color: none!important;
    box-shadow: none!important;
    opacity: .8;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background: transparent;
    color: #fff;
    box-shadow: none;
}

.btn-default:focus,
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff!important;
    background-color: transparent!important;
    border-color: transparent !important;
    box-shadow: none!important
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: $primary-links;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #ffffff;
    background-color: #0c5176;
}

/*
 * Bootstrap expand/collapse accordions ****************************************
 */

.panel-heading .chevron::after {
    content: "\f0d8";
}

.panel-heading.collapsed .chevron::after {
    content: "\f0d7";
}

.panel-heading:hover{
    background-color: #fafdfe;
}

/*
 * override google results +++++++++++++++++++++++++++++++++++++++++++++++++++++
 */
.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    color: #27343B!important;
    line-height: 23px!important;
}
.gsc-webResult .gsc-result {
    padding: 20px 0 20px 20px!important;
}

a.gs-title {
    color: #2089C4!important;
    text-decoration: none;
}

.gs-webResult.gs-result a.gs-title:visited, .gs-webResult.gs-result a.gs-title:visited b, .gs-imageResult a.gs-title:visited, .gs-imageResult a.gs-title:visited b {
    color: #F993A6!important;
}
.gs-webResult div.gs-visibleUrl, .gs-imageResult div.gs-visibleUrl {
    color: #82949E!important;
}

.gs-webResult .gs-snippet, .gs-imageResult .gs-snippet, .gs-fileFormatType {
    font-size: 14px!important;
}

.gsc-tabHeader.gsc-tabhActive, .gsc-tabsArea {
    border-color: #f7f7f761 !important;
    background: transparent;
}

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
  display: none!important;
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
  width: 13px;
  height: 13px;
  padding: 6px 27px;
  min-width: 13px;
  margin-top: 2px;
}
