/*
*
* Bootstrap Overrides ***********************************************************************
*
*/

.nav-tabs {
    @include themer(border-bottom, (
        dark: 1px solid #4f6071,
    ));
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    @include themer(background-color, (
        dark: #4e6071,
    ));
    @include themer(border-color, (
        dark: transparent,
    ));
    @include themer(color, (
        dark: $white,
    ));

    cursor: default;
}

.nav-secondary-tabs .dropdown-btn {
    background: transparent;
    color: #fff;
    padding: 5px 11px 0 0;
    margin-top: 7px;
    border: 0;
    font-size: 12px;
    font-weight: 600;
}
.nav-secondary .dropdown-btn {
    @include themer(color, (
        dark: #d0e8ff,
        light: #b4d4e4,
    ));

    background: transparent;
    padding: 5px 11px 0 0;
    margin-top: 7px;
    border: 0;
    font-size: 12px;
    font-weight: 600;
}
.navbar-toggle {
    padding: 0;
    margin: 0;
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu .dropdown-header,
    .navbar-nav .open .dropdown-menu>li>a {
        padding: 5px 15px 5px 25px;
        color: #fff;
        text-align: center;
    }
}

.navbar-collapse,
.navbar-form {
    border-color: transparent;
}

.navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.nav>li>a:focus,
.nav>li>a:hover {
    background-color: transparent;
}

.dropdown-menu {
    @include themer(background, (
        dark: $black,
    ));
}

.dropdown-menu>li>a {
    @include themer(color, (
        dark: #d0e8ff,
        light: #1488c6,
    ));

    font-size: 13.5px;
    line-height: 16px;
    padding: 5px 15px;
    display: block;
}

.btn-default:hover {
    color: #fff!important;
    background-color: transparent!important;
    border-color: none!important;
    box-shadow: none!important;
    opacity: .8;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    //box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    background: transparent;
    color: #fff;
    box-shadow: none;
}

.btn-default:focus,
.btn-default.active,
.btn-default:active,
.open>.dropdown-toggle.btn-default:focus,
.open>.dropdown-toggle.btn-default:hover {
    color: #fff!important;
    background-color: transparent!important;
    border-color: transparent !important;
    box-shadow: none!important
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: transparent;
    border-color: $primary-links;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: #0c5176;
}

/*
*
* Bootstrap expand/collapse accordions
*
*/

.panel {
    @include themer(color, (
        dark: $body-text-night,
    ));
    @include themer(background-color, (
        dark: #24394c,
    ));

    margin-bottom: 20px;
}

.panel-default {
    @include themer(border-color, (
        dark: #374656,
    ));

    > .panel-heading {
        @include themer(background-color, (
            dark: #101c29,
        ));
        @include themer(border-color, (
            dark: #2f4050,
        ));
        @include themer(color, (
            dark: #c0c3c4,
        ));
    }
}

.panel-body {
    @include themer(background, (
        dark: rgb(35, 54, 72),
    ));
    @include themer(color, (
        dark: #bcbfc3,
    ));

    padding: 15px;
}

.panel-heading .chevron:after {
    content: "\f0d8";
}

.panel-heading.collapsed .chevron:after {
    content: "\f0d7";
}

.panel-heading:hover{
    background-color: #fafdfe;
}

.popover {
    @include themer(color, (
        dark: $black,
    ));
}

.pagination>li>a,
.pagination>li>span {
    @include themer(background-color, (
        dark: #0f1c2a,
    ));
    @include themer(border, (
        dark: 1px solid #0f1c2a,
    ));
}

.pagination>.active>a {
    @include themer(background, (
        dark: #000,
    ));
    @include themer(color, (
        dark: $white,
    ));
}

/*
*
* override google results +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
*
*/
.gsc-control-cse {
    @include themer(background-color, (
        dark: #192837,
    ));
    @include themer(border-color, (
        dark: #192837,
    ));
}

.gs-webResult .gs-snippet,
.gs-imageResult .gs-snippet,
.gs-fileFormatType {
    @include themer(color, (
        dark: #a8b0b7 !important,
        light: #27343B !important,
    ));

    font-size: 14px !important;
    line-height: 23px !important;
}

.gsc-webResult.gsc-result,
.gsc-results .gsc-imageResult {
    @include themer(background-color, (
        dark: #192837,
    ));
    @include themer(border-color, (
        dark: #192837,
    ));

    padding: 20px 0 20px 20px !important;

    &:hover {
        @include themer(background-color, (
            dark: #192837,
        ));
        @include themer(border-color, (
            dark: #25374a,
        ));
    }
}

a.gs-title {
    @include themer(color, (
        dark: #cccccc,
        light: #2089C4,
    ));

    text-decoration: none;
}

.gs-webResult.gs-result a.gs-title:link,
.gs-webResult.gs-result a.gs-title:link b,
.gs-imageResult a.gs-title:link,
.gs-imageResult a.gs-title:link b {
    @include themer(color, (
        dark: #a9e4ff,
    ));
}

.gs-webResult.gs-result a.gs-title:visited,
.gs-webResult.gs-result a.gs-title:visited b,
.gs-imageResult a.gs-title:visited,
.gs-imageResult a.gs-title:visited b {
    color: #F993A6 !important;
}

.gs-webResult div.gs-visibleUrl,
.gs-imageResult div.gs-visibleUrl {
    color: #82949E !important;
}

.gsc-tabHeader.gsc-tabhActive,
.gsc-tabsArea {
    border-color: #f7f7f761 !important;
    background: transparent;
}

img.with-border {
  border: 1px solid #eaeaea;
}

.cse input.gsc-search-button:focus,
input.gsc-search-button:focus {
  box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
  -webkit-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
  -moz-box-shadow:inset 0 0 0 1px rgba(255,255,255,0.5);
}

.cse .gsc-search-button input.gsc-search-button-v2,
input.gsc-search-button-v2 {
  width: 13px;
  height: 13px;
  padding: 6px 27px;
  min-width: 13px;
  margin-top: 2px;
}

.highlight {
    .nt {
        @include themer(color, (dark: #e8a0e8));
    }

    .k {
        @include themer(color, (dark: #da5ada));
    }
}

img.white-bg {
    @include themer(background-color, (dark: white));
}

.rating-nero-value {
    @include themer(color, (
        dark: $white !important,
    ));
}
