/*
 * Fonts  **********************************************************************
 */

@font-face {
    font-family: 'Geomanist Book';
    src: url("../fonts/geomanist/hinted-Geomanist-Book.eot");
    src: url("../fonts/geomanist/hinted-Geomanist-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/geomanist/hinted-Geomanist-Book.woff2") format("woff2"), url("../fonts/geomanist/hinted-Geomanist-Book.woff") format("woff"), url("../fonts/geomanist/hinted-Geomanist-Book.ttf") format("truetype"), url("../fonts/geomanist/hinted-Geomanist-Book.svg#Geomanist-Book") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geomanist Regular';
    src: url("../fonts/geomanist/hinted-Geomanist-Regular.eot");
    src: url("../fonts/geomanist/hinted-Geomanist-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/geomanist/hinted-Geomanist-Regular.woff2") format("woff2"), url("../fonts/geomanist/hinted-Geomanist-Regular.woff") format("woff"), url("../fonts/geomanist/hinted-Geomanist-Regular.ttf") format("truetype"), url("../fonts/geomanist/hinted-Geomanist-Book.svg#Geomanist-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/*
 * inlining the style from https://fonts.googleapis.com/css?family=Open+Sans&display=swap
 *
 * We're only including the "latin" glyphs. While including @font-faces for more
 * glyphs would not cause the fonts to be loaded, it would make the stylesheet
 * itself larger, and we don't need those glyhps for our purpose as the website
 * is written in US-English; https://stackoverflow.com/a/14897846/1811501
 */

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v18/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,h2,h3,h4,h5,h6 {
    font-family: $headings;
    clear: both;
    line-height: 26px;
}

h1 {
    font-size: 36px;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    line-height: 38px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
}

h5 {
    font-size: 16px;
}

h6 {
    color: #82949e;
    font-size: 14px;
}

dd, dt {
    line-height: 25px;
}
