/*
*
* Fonts  ***********************************************************************
*
*/

@font-face {
    font-family: 'Geomanist Book';
    src: url("../fonts/geomanist/hinted-Geomanist-Book.eot");
    src: url("../fonts/geomanist/hinted-Geomanist-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/geomanist/hinted-Geomanist-Book.woff2") format("woff2"), url("../fonts/geomanist/hinted-Geomanist-Book.woff") format("woff"), url("../fonts/geomanist/hinted-Geomanist-Book.ttf") format("truetype"), url("../fonts/geomanist/hinted-Geomanist-Book.svg#Geomanist-Book") format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geomanist Regular';
    src: url("../fonts/geomanist/hinted-Geomanist-Regular.eot");
    src: url("../fonts/geomanist/hinted-Geomanist-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/geomanist/hinted-Geomanist-Regular.woff2") format("woff2"), url("../fonts/geomanist/hinted-Geomanist-Regular.woff") format("woff"), url("../fonts/geomanist/hinted-Geomanist-Regular.ttf") format("truetype"), url("../fonts/geomanist/hinted-Geomanist-Book.svg#Geomanist-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings;
    color: $body-text;
    clear: both;
    line-height: 26px;
}

h1 {
    font-size: 36px;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    line-height: 38px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 16px;
    text-transform: uppercase;
}

h5 {
    font-size: 16px;
}

h6 {
    color: #82949e;
    font-size: 14px;
}

p {
    color: $body-text;
    font-family: $font;
    font-size: $body-text-size;
    line-height: 24px;
    margin: 10px 0 10px 0;
}

ul {
    li {
        font-size: 14px;
    }
}

dd, dt {
    line-height: 25px;
}
