.docker-upgrade-cta {
  html.night & {
    background-color: change-color($light-amber-100, $alpha: 0.3);
    border: 1px solid $light-amber-100;
    p, .docker-upgrade-cta__heading { color: $white; }
  }

  html:not(.night) & {
    background-color: $light-amber-100;
    border: 1px solid $light-amber-200;
    p, .docker-upgrade-cta__heading { color: inherit; }
  }

  padding: 16px 25px;
  margin: 0 0 20px;

  border-radius: 3px;

  .docker-upgrade-cta__heading {
    font-weight: bold;
    font-size: 16px;

    font-family: $headings;

    margin-top: 0;
  }
}
