/*
*
* utilities
*
*/

.archive-panel {
    padding: 10px 5px;
    height: 100px;
    width: 100%;
    display: none;
}

.reading-time {
    font-style: italic;
    font-size: 12px;
    display: block;
    color: rgba(13, 86, 125, 0.55);
}

.break {
    margin-bottom: 20px!important;
}
/*
*
* tables
*
*/

table {
    border: 1px solid rgba(204, 204, 204, 0.29);
    margin: 0 0 15px 0;
    width: 100%;
}

table>tbody>tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

td,
th {
    padding: 10px;
}

th,
td.th {
    font-weight: bold;
    padding: 7px 10px 7px 10px;
    text-align: left;
}

thead {
    background: $table-head;
}

i.fa.fa-indent,
i.fa.fa-outdent {
    color: $white;
    padding: 16px 15px 0 0;
    font-size: 1.5rem;
    opacity: 0.5;
}



.block {
    padding: 0 15px 10px 15px;
}


/*
*
* Inline graphics and icons (like the whale menu icon in d4mac, d4win)
*
*/

img.inline {
    display: inline;
}

/*
* Search *********************************************************************
*
*/


.search-form {
    float: left;
    margin: 5px 0 0;
    // width: 200px;
    & input[type=text] {
        background: rgba(0, 0, 0, 0.17) url("/images/search.png") no-repeat 10px 9px;
        border: 0;
        color: #0C5176;
        border-radius: 0;
        margin: 0;
        transition: all 0.2s ease;
        width: 230px;
    }
}

.nav-secondary-tabs .search-form input[type=search] {
    background: rgba(0, 0, 0, 0.17) url("/images/search.png") no-repeat 10px 9px;
    border: 0;
    box-shadow: none;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0 0 0 35px;
    width: 100%;
}

.search-form input[type=text]:focus {
    background: #fff;
    box-shadow: 0;
}

input[type=text],
.nav-secondary-tabs.affix input[type=text] {
    background: #10628e;
    border: 0;
    margin: 0;
}

.nav-secondary-tabs .search-form input[type=search]:focus {
    background: rgba(255, 255, 255, 0.17) url(/images/search.png) no-repeat 10px 9px;
}

.nav-secondary-tabs.affix input[type=search],
input[type=text] {
    background: rgba(0, 0, 0, 0.17) url(/images/search.png) no-repeat 10px 9px;
    border: 1px solid transparent;
    box-shadow: none;
    transition: all 0.2s ease;
}

.nav-secondary input[type=search] {
    background: rgba(0, 0, 0, 0.17) url("/images/search.png") no-repeat 10px 9px;
    border: 0;
    box-shadow: none;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0 0 0 35px;
}

.nav-secondary .search-form input[type=search]:focus {
    background: rgba(255, 255, 255, 0.17) url(/images/search.png) no-repeat 10px 9px;
}

.search-form input[type=search]::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.search-form input[type=search]:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1;
}

.search-form input[type=search]::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1;
}

.search-form input[type=search]:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

// .search-form input[type=text]::-webkit-input-placeholder {
//     color: #fff;
// }

// .search-form input[type=text]:-moz-placeholder {
//     /* Firefox 18- */
//     color: #fff;
// }

// .search-form input[type=text]::-moz-placeholder {
//     /* Firefox 19+ */
//     color: #fff;
// }

// .search-form input[type=text]:-ms-input-placeholder {
//     color: #fff;
// }

/*
  *
  * autocompleteResults  **********************************************************
  *
  */

div#autocompleteResults {
    display: none;
}

div#autocompleteResults {
    background: #E6F5FD;
    border: 1px solid #eee;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.28);
    padding: 20px 0 15px 0;
    margin: 10px 0 0 0;
    position: absolute;
    width: 600px;
    z-index: 9999;
}

ul.autocompleteList {
    list-style: none;
    max-width: 100%;

    @include before-lg-width {
        padding: 0;
    }
}

.autocompleteList li {
    padding: 5px 0 7px 0;
    max-width: 100%;
}

div#autocompleteResults span {
    background: transparent!important;
    color: #518cad;
}

.autocompleteTitle {
    font-weight: bold;
    font-size: large;
}

.autocompleteSelected {
  background-color: #f5f5f5;
}

.autocompleteList {
  list-style-type: none;
  width: 400px;
/* commented out 0 padding to allow inherit padding, search results on autocompleteList were getting smashed up against left margin due to this */
/*  padding: 0; */
  margin-bottom: 0;
}

.autoCompleteResult {
    border-bottom: 1px solid rgba(203, 205, 209, 0.4);
    padding: 15px;

    &:hover {
        cursor: pointer;
    }
}

#autocompleteShowAll {
  padding: 20px 15px;
}

.autocompleteList li {
  width: 380px;
  border: 0;
  padding-right: 20px;
  margin: 0;
}
/*
  *
  * google-Results  **********************************************************
  *
  */

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    display: none!important;
}


/*
*
* moved from temp css
*
*/

@media print
{
    .footer
    {
        display: none !important;
    }
    .col-toc
    {
      display: none !important;
    }
    .col-nav
    {
      display: none !important;
    }
    .glyphicon-tags
    {
      display: none !important;
    }
    #ratings-div
    {
      display: none !important;
    }
}

.alert-info {
    border: 0 #bce8f1;
    border-radius: 0;
    background-color: #3F51B5!important;
    text-align: center;
    color: #fff;
    margin-bottom: 0;
}

.alert-info ul {
  list-style-type: none;
}

.close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #fffdfd;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    margin: 10px 15px 0 0;
}

/* Make table headings  bold, give tables some breathing room */

.content table {
  margin-top: 20px;
  margin-bottom: 20px;
}
