/*
 * utilities *******************************************************************
 */

.archive-panel {
    padding: 10px 5px;
    height: 100px;
    width: 100%;
    display: none;
}

.reading-time {
    font-size: 12px;
    color: rgba(13, 86, 125, 0.55);
}

.release-date {
  font-size: 12px;
  color: rgba(13, 86, 125, 0.55);
}

.github-issue {
  font-size: 110%;
  margin-right: 5px;
}

.break {
    margin-bottom: 20px!important;
}

/*
 * tables **********************************************************************
 */

table {
    border: 1px solid rgba(204, 204, 204, 0.29);
    margin: 0 0 15px 0;
    width: 100%;
}

table>tbody>tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

td {
    padding: 10px;
}

th,
td.th {
    font-weight: bold;
    padding: 7px 10px 7px 10px;
    text-align: left;
}

thead {
    background: $table-head;
}

/* give tables some breathing room */
.content table {
  margin-top: 20px;
  margin-bottom: 20px;
}

i.fa.fa-indent,
i.fa.fa-outdent {
    color: $white;
    padding: 16px 15px 0 0;
    font-size: 1.5rem;
    opacity: 0.5;
}

/* Inline graphics and icons (like the whale menu icon in d4mac, d4win) */
img.inline {
    display: inline;
}

/*
 * Search **********************************************************************
 */
.search-form {
    float: left;
    margin: 5px 8px 0 0;
    & input[type=text] {
        background: rgba(0, 0, 0, 0.17) url("/assets/images/search.png") no-repeat 10px 9px;
        border: 0;
        color: #0C5176;
        border-radius: 0;
        margin: 0;
        transition: all 0.2s ease;
        width: 230px;
    }
}

.nav-secondary input[type=search]
{
    background: rgba(0, 0, 0, 0.17) url("/assets/images/search.png") no-repeat 10px 9px;
    border: 0;
    box-shadow: none;
    color: #fff;
    border-radius: 0;
    transition: all 0.2s ease;
    padding: 0 0 0 35px;
    width: 100%;
}

.search-form input[type=text]:focus {
    background: #fff;
    box-shadow: 0;
}

input[type=text] {
    margin: 0;
    background: rgba(0, 0, 0, 0.17) url(/assets/images/search.png) no-repeat 10px 9px;
    border: 1px solid transparent;
    box-shadow: none;
    transition: all 0.2s ease;
}

.nav-secondary .search-form input[type=search]:focus {
    background: rgba(255, 255, 255, 0.17) url(/assets/images/search.png) no-repeat 10px 9px;
}

.search-form input[type=search]::placeholder
{
    color: #fff;
    opacity: 1;
}

/*
 * autocompleteResults *********************************************************
 */

#autocompleteResults {
    display: none; /* toggled through javascript */

    background: #E6F5FD;
    border: 1px solid #eee;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.28);
    margin: 10px 0 0 0;
    position: absolute;
    width: 600px;
    z-index: 9999;
}

.autocompleteResult {
    border-bottom: 1px solid rgba(203, 205, 209, 0.4);
    cursor: pointer;
    padding: 15px;
    &.selected {
      background-color: #f5f5f5;
    }

    ul {
      list-style: none;
      margin: 0 5px 0 5px;
      padding-inline-start: 0;

      @include before-lg-width {
        padding: 0;
      }
    }

    li {
      border: 0;
      margin: 0;
      max-width: 100%;
      padding: 5px 0 7px 0;
      line-height: normal;
    }

    .title {
      font-weight: bold;
    }

    .keywords {
      font-size: 12px;
      .glyphicon {
        padding-right: 10px
      }
    }

    span {
      background: transparent;
      color: #518cad;
    }
}

.modal-dialog {
  .modal-header, .modal-footer {
    border: none;
  }
  .modal-header .close {
    display: none;
  }
  .btn-primary {
    background-color: $primary-links;
  }
  .btn-secondary {
    background:   transparent;
    border-color: $primary-links;
    &:hover {
      color: inherit;
    }
  }
}

@media print {
    .col-nav,
    .col-toc,
    .footer,
    .glyphicon-tags,
    {
      display: none !important;
    }
}

/*
 * lists **********************************************************************
 */

ol li ol li {
  list-style-type: lower-alpha;
}

ol li ol li ol li {
  list-style-type: lower-roman;
}