/*
 * utilities *******************************************************************
 */

.archive-panel {
    padding: 10px 5px;
    height: 100px;
    width: 100%;
    display: none;
}

.reading-time {
    font-size: 12px;
    color: rgba(13, 86, 125, 0.55);
}

.release-date {
  font-size: 12px;
  color: rgba(13, 86, 125, 0.55);
}

.github-issue {
  font-size: 110%;
  margin-right: 5px;
}

.break {
    margin-bottom: 20px!important;
}

/*
 * tables **********************************************************************
 */

table {
    border: 1px solid rgba(204, 204, 204, 0.29);
    margin: 0 0 15px 0;
    width: 100%;
}

table>tbody>tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

td {
    padding: 10px;
}

th,
td.th {
    font-weight: bold;
    padding: 7px 10px 7px 10px;
    text-align: left;
}

thead {
    background: $table-head;
}

/* give tables some breathing room */
.content table {
  margin-top: 20px;
  margin-bottom: 20px;
}

i.fa.fa-indent,
i.fa.fa-outdent {
    color: $white;
    padding: 16px 15px 0 0;
    font-size: 1.5rem;
}

/* Inline graphics and icons (like the whale menu icon in d4mac, d4win) */
img.inline {
    display: inline;
}

/*
 * Search **********************************************************************
 */

.search-form {
    float: left;
    margin: 8px;
}

/*
 * lists **********************************************************************
 */

ol li ol li {
  list-style-type: lower-alpha;
}

ol li ol li ol li {
  list-style-type: lower-roman;
}
