/*
*
* utilities
*
*/

.reading-time {
    font-style: italic;
    font-size: 12px;
    display: block;
    color: rgba(13, 86, 125, 0.55);
}

/*
*
* tables
*
*/


table {
    border: 1px solid rgba(204, 204, 204, 0.29);
    margin: 0 0 15px 0;
    width: 100%;
}

table>tbody>tr:nth-of-type(even) {
    background-color: #f7f7f7;
}

td,
th {
    padding: 10px;
}

th,
td.th {
    font-weight: bold;
    padding: 7px 10px 7px 10px;
    text-align: left;
}

thead {
    background: rgba(96, 125, 139, 0.16);
}

i.fa.fa-indent,
i.fa.fa-outdent {
    color: #fff;
    padding: 16px 15px 0 0;
    font-size: 1.5rem;
    opacity: 0.5;
}



.block {
    padding: 0px 15px 10px 15px;
}


/*
* Search *********************************************************************
*
*/


.search-form {
    float: left;
    margin: 5px 15px 0 0px;
    width: 250px;
    & input[type=text] {
        background: rgba(0, 0, 0, 0.17) url("/images/search.png") no-repeat;
        background-position: 10px 9px;
        border: 0;
        color: #0C5176;
        border-radius: 0px;
        margin: 0;
        transition: all 0.2s ease;
        width: 230px;
    }
}

.nav-secondary-tabs .search-form input[type=search] {
    background: rgba(0, 0, 0, 0.17) url("/images/search.png") no-repeat;
    background-position: 10px 9px;
    border: 0;
    box-shadow: none;
    color: #fff;
    border-radius: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    padding: 0px 0 0 35px;
    width: 250px;
}

.search-form input[type=text]:focus {
    background: #fff;
    box-shadow: 0;
}

input[type=text],
.nav-secondary-tabs.affix input[type=text] {
    background: #10628e;
    border: 0;
    margin: 0;
}

.search-form input[type=text]::-webkit-input-placeholder {
    color: #fff;
}

.search-form input[type=text]:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
}

.search-form input[type=text]::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
}

.search-form input[type=text]:-ms-input-placeholder {
    color: #fff;
}

.nav-secondary-tabs .search-form input[type=search]:focus {
    background: rgba(255, 255, 255, 0.17) url(/images/search.png) no-repeat;
    background-position: 10px 9px;
}

.nav-secondary-tabs.affix input[type=search],
input[type=text] {
    background: rgba(0, 0, 0, 0.17) url(/images/search.png) no-repeat;
    background-position: 10px 9px;
    border: 1px solid transparent;
    box-shadow: none;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.nav-secondary input[type=search] {
    background: rgba(0, 0, 0, 0.17) url(/images/search.png) no-repeat;
    background-position: 10px 9px;
    border: 1px solid transparent;
    box-shadow: none;
    border-radius: 0;
    // color: #fff;
    padding: 0px 0 0 35px;
}

.nav-secondary .search-form input[type=search]:focus {
    background: rgb(51, 112, 144) url(/images/search.png) no-repeat;
    background-position: 10px 9px;
    border: 1px solid rgba(91, 149, 179, 0.44);
    box-shadow: none;
    color: #fff;
}

.search-form input[type=search]::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.search-form input[type=search]:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    opacity: 1;
}

.search-form input[type=search]::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    opacity: 1;
}

.search-form input[type=search]:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}

/*
  *
  * autocompleteResults  **********************************************************
  *
  */

div#autocompleteResults {
    display: none;
}

div#autocompleteResults {
    background: #f6fcff;
    border: 1px solid #eee;
    padding: 20px 0 15px 0px;
    margin: 10px 0 0 0;
    position: absolute;
    width: 600px!important;
    z-index: 9999;
}

ul.autocompleteList {
    list-style: none;
}

.autocompleteList li {
    padding: 5px 0 7px 0;
}

div#autocompleteResults span {
    background: #b8e2f9!important;
    color: #518cad;
}

.autocompleteTitle {
    font-weight: bold;
    font-size: large;
}

.autocompleteSelected {
  background-color: #f5f5f5;
}
.autocompleteList
{
  list-style-type: none;
  width: 400px;
  padding:0px;
  margin-bottom: 0px;
}
.autoCompleteResult {
  border-bottom: 1px solid #6db9d1;
  padding-bottom: 10px;
}
#autocompleteShowAll {
  padding-bottom: 10px;
}
.autocompleteList li {
  width: 380px;
  border: 0px;
  padding-right: 20px;
  margin: 0px;
}
/*
  *
  * google-Results  **********************************************************
  *
  */


// .cse .gsc-search-button input.gsc-search-button-v2, input.gsc-search-button-v2,input.gsc-search-button {
//     width: auto!important
//     height: auto!important;
// }

input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
    display: none!important;
}

