
@import "color-palette-v2";


/*
 * global
 */
$headings:              "Open Sans", sans-serif;
$headings-landing:      "Open Sans", sans-serif;
$buttons:               "Open Sans", sans-serif;
$font:                  "Open Sans", sans-serif;
$body-text-size:        14px;
$white:                 #fff;
$black:                 #000;
$top-navigation-height: 92px; // top navigation height is: nav (55px) + breadcrumbs (37px)


/*
 * standard mode
 */
$body-text:              $black-0;
$primary-links:          $blue-70;
//
$bg-body:                $white-0;
$bg-body-landing:        $white-10;
$bg-header:              $blue-60;
$bg-secondary:           $blue-60;
$bg-sidebar:             $white-10;
$bg-sidebar-active:      $white-15;
$bg-footer:              $white-0;
$bg-footer-landing:      $marine-90;
$bg-component:           $white-5;
$bg-card:                $white-0;

// notes, warnings//
$note-color:             $blue-80;
$important-color:        $orange-90;
$warning-color:          $red-90;

$slider-bg:              $marine-10;
$slider-btn:             $blue-60;
$table-head:             $grey-10;

/*
 * night mode
 */
$body-text-night:         hsl(180,   1%,  83%);
$primary-links-night:     hsl(203,  85%,  79%);

$bg-body-night:           hsl(203,  90%,  10%);
$bg-body-landing-night:   hsl(203,  90%,  10%);
$bg-header-night:         hsl(203,  40%,  10%);
$bg-secondary-night:      hsl(203,  40%,  10%);
$bg-sidebar-night:        hsl(203,  40%,  10%);
$bg-sidebar-night-active: hsl(203,  40%,   7%);
$bg-footer-night:         hsl(203,   0%,   0%);
$bg-footer-landing-night: hsl(214, 100%,  20%);

$bg-component-night:      hsl(203,  44%,  10%);
$bg-card-night:           #0e161b;

$active-sidebar-night:    hsl(203,  85%,   79%);

$bg-search-results-night: hsla(0,    0%,    4%, 0.95);


