
/*
 * global
 */
$headings:              "Geomanist Book", sans-serif;
$headings-landing:      "Geomanist Regular", sans-serif;
$buttons:               "Geomanist Book", sans-serif;
$font:                  "Open Sans", sans-serif;
$body-text-size:        14px;
$white:                 #fff;
$black:                 #000;
$top-navigation-height: 92px; // top navigation height is: nav (55px) + breadcrumbs (37px)

/*
 * standard mode
 */
$body-text:               hsl(199,  20%,  25%);
$primary-links:           hsl(206,  85%,  54%);

$bg-body:                 hsl(206,   0%, 100%);
$bg-body-landing:         hsl(206,  14%,  99%);
$bg-header:               hsl(206,  85%,  54%);
$bg-secondary:            hsl(206,  85%,  54%);
$bg-sidebar:              hsl(206,  14%,  99%);
$bg-sidebar-active:       hsl(206,  33%,  97%);
$bg-footer:               hsl(206,   0%, 100%);
$bg-footer-landing:       hsl(214, 100%,  20%);

$bg-component:            hsl(240,  14%,  99%);
$bg-card:                 hsl(  0,   0%, 100%);

// notes, warnings
$note-bg-color:           hsl(206,  83%,  98%);
$note-icon-color:         hsl(206,   0%, 100%);
$note-color:              hsl(206,  82%,  43%);
$important-color:         hsl( 35,  91%,  35%);
$warning-color:           hsl(  2,  58%,  54%);

$slider-bg:               hsl(206,  76%,  87%);
$slider-btn:              hsl(206,  85%,  54%);

$table-head:              hsl(206,   5%,  82%);

/*
 * night mode
 */
$body-text-night:         hsl(180,   1%,  83%);
$primary-links-night:     hsl(203,  85%,  79%);

$bg-body-night:           hsl(203,  90%,  10%);
$bg-body-landing-night:   hsl(203,  90%,  10%);
$bg-header-night:         hsl(203,  40%,  10%);
$bg-secondary-night:      hsl(203,  40%,  10%);
$bg-sidebar-night:        hsl(203,  40%,  10%);
$bg-sidebar-night-active: hsl(203,  40%,   7%);
$bg-footer-night:         hsl(203,   0%,   0%);
$bg-footer-landing-night: hsl(214, 100%,  20%);

$bg-component-night:      hsl(203,  44%,  10%);
$bg-card-night:           hsl(203,  33%,   8%);

// notes, warnings
$note-bg-color-night:     hsl(203,  35%,  19%);
$note-icon-color-night:   hsl(203,   0%, 100%);
$note-color-night:        hsl(180,   1%,  83%);
$important-color-night:   hsl( 35,  90%,  62%);
$warning-color-night:     hsl(  2, 100%,  74%);

$active-sidebar-night:    hsl(203,  85%,   79%);

$bg-search-results-night: hsla(0,    0%,    4%, 0.95);
