@import "utilities";

.page {
  @mixin square $space-xl;
  @mixin linkUnstyled;
  @mixin flexCentered;
  border-radius: $corner-size;
  color: $color-regent-gray;
  background-color: $color-geyser;
  font-size: $font-size-0;
  margin-right: $space-xxs;
  cursor: pointer;
  &:last-child {
    margin-right: 0;
  }
  &:first-child:not(.chevron) {
    margin-left: calc(2 * $space-xl + 2 * $space-xxs);
  }
  &:last-child:not(.chevron) {
    margin-right: calc(2 * $space-xl + 2 * $space-xxs);
  }
}

.chevron {
  fill: $color-regent-gray;
}

.firstPage > svg {
  transform: rotate(-180deg);
}

.nextPage > svg {
  transform: rotate(-90deg);
}

.previousPage > svg {
  transform: rotate(90deg);
}

.currentPage {
  background-color: $color-dodger-blue;
  color: $color-white;
}

.paginationCentered {
  @mixin listUnstyled;
  display: flex;
  justify-content: center;
}
