<section class="cta-banner dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>
          Docker Desktop for Apple silicon is now GA!
        </h2>
        <h5>
          We are excited to announce the general availability of Docker Desktop for Mac with Apple silicon, continuing to delight millions of developers in our community with their choice of local development environments.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://docs.docker.com/docker-for-mac/apple-silicon/" target="_blank" rel="noopener">
          Check out the details
        </a>
      </div>
    </div>
  </div>
</section>
