<section class="cta-banner slack">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>Join the Docker Community Slack channel</h2>
        <h5>
          Connect with Docker Captains and Docker enthusiasts through our
          Community Slack channel. It’s a great place to learn and ask questions
          along your journey.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a href="https://dockr.ly/slack" class="btn slack-button">
          <img src="/images/slack-icon.svg" width="56" height="56" alt="slack" />
          Join the community
        </a>
      </div>
    </div>
  </div>
</section>
