<section class="cta-banner slack">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>Docker Community All Hands</h2>
        <h5>
          Join us in celebrating Docker’s 9th birthday at our next Community All
          Hands on Thursday, March 31, 2022. This virtual event is a
          unique opportunity for the community to come together with Docker
          staff to
          learn, share and collaborate about all things Docker.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://www.docker.com/event-community-all-hands" target="_blank" rel="noopener">
          Register now
        </a>
      </div>
    </div>
  </div>
</section>
