<section class="cta-banner dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>
          Docker Dev Environments
        </h2>
        <h5>
        We are excited to announce the release of the Tech Preview of Dev Environments as part of Docker Desktop 3.5.0. Docker Dev Environments let you share your work-in-progress code for faster, higher-quality collaboration in just one click.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://docs.docker.com/desktop/dev-environments/" target="_blank" rel="noopener">
          Check out the details
        </a>
      </div>
    </div>
  </div>
</section>
