<div class="col-xs-12 col-lg-4 card-holder">
  <div class="cardlet container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h5 class="title">Develop with Docker</h5>
        <p>Learn how to develop language-specific apps using Docker.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="https://github.com/docker/labs/tree/master/developer-tools/java/" target="_blank">
          Docker for Java developers
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="https://github.com/docker/labs/tree/master/developer-tools/nodejs/porting/" target="_blank">
          Port a node.js app to Docker
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="https://github.com/docker/labs/tree/master/developer-tools/ruby" target="_blank">
          Ruby on Rails app on Docker
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="/engine/examples/dotnetcore/">
          Dockerize a .Net Core application
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a href="/compose/aspnet-mssql-compose/" target="_blank">
          Dockerize an ASP.NET Core application with SQL Server on Linux
        </a>
      </div>
    </div>
  </div>
</div>
