<section class="cta-banner dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <img src="/images/dockercon21.png" alt="dockercon" />
        <h2>
          DockerCon Live is coming this May 27th!
        </h2>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://www.docker.com/dockercon-live/2021/?utm_source=docker&utm_medium=webreferral&utm_campaign=docs-driven-registration-dockercon" target="_blank">
          Register for free
        </a>
      </div>
    </div>
  </div>
</section>
