<section class="join-community dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>
          Get started with the cloud
        </h2>
        <h5>
          Try out the new Docker to Azure experience with Azure Container Instances (ACI) to get your containers running in the cloud in under 10 minutes.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://www.docker.com/blog/running-a-container-in-aci-with-docker-desktop-edge/" target="_blank" class="card">
          Find out more
        </a>
      </div>
    </div>
  </div>
</section>
