<section class="join-community dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <img src="/images/docker-con-2020.svg" alt="docker con" />
        <h2>
          Thank you for attending DockerCon 2020!
        </h2>
        <h5>
          You can now watch the sessions you missed and share your favourites with your friends and colleagues.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://docker.events.cube365.net/docker/dockercon/" target="_blank" class="card">
          Watch the recordings
        </a>
      </div>
    </div>
  </div>
</section>
