<section class="cta-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>
          Docker updates subscription model to deliver scale, speed, and security
        </h2>
        <h5>
        The updated Docker subscription tiers deliver the productivity and collaboration developers rely on, paired with the security and trust businesses demand. Docker subscription tiers now include Personal, Pro, Team, and Buisness.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://docs.docker.com/subscription/" target="_blank" rel="noopener">
          Learn more
        </a>
      </div>
    </div>
  </div>
</section>
