<section class="join-community dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>
          Share and Collaborate with Docker Hub
        </h2>
        <h5>
          The world's leading service for finding and sharing container images with your team and the Docker community.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://hub.docker.com/" target="_blank" class="card">
          Sign up for free
        </a>
      </div>
    </div>
  </div>
</section>
