<section class="cta-banner dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <img src="/images/dockercon.png" alt="dockercon" />
        <h2>
          Registration for DockerCon 2022 is now open!
        </h2>
      </br>
      <p>This year, <b>DISCOVER</b> more ways to make cloud-native development easier, <b>LEARN</b> how to find solutions to #developer problems, and <b>EXCEL</b> your skill set and productivity for your team.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://docker.events.cube365.net/dockercon/2022/?utm_source=docker&utm_medium=webreferral&utm_campaign=docs-driven-registration-dockercon" target="_blank">
          Register for free
        </a>
      </div>
    </div>
  </div>
</section>
