<section class="cta-banner dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <img src="/images/dockercon21.png" alt="dockercon" />
        <h2>
          Thank you for attending DockerCon21!
        </h2>
        <h5>
          You can now watch the sessions you missed and share your favorites with your friends and colleagues.
        </h5>
      </br>
        <p><b>Save 20% on Docker Pro and Team Subscriptions</b></p>
      <p>New and returning customers can use the <b>DOCKERCON21</b> promo code to receive a 20% discount on an annual subscription, or for the first three months on a monthly subscription. This offer is valid until 11:59 PM PT on June 18, 2021.<a href="https://www.docker.com/pricing?utm_source=docker&utm_medium=webreferral&utm_campaign=docs_driven_upgrade" target="_blank"> Check out the pricing plans</a>.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://docker.events.cube365.net/dockercon-live/2021" target="_blank" class="card">
          Watch the recordings
        </a>
      </div>
    </div>
  </div>
</section>
