<section class="cta-banner dockercon">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <img src="/assets/images/dockercon.png" alt="dockercon" />
        <h2>
          DockerCon 2022 On-Demand
        </h2>
      </br>
      <p>With over 50 sessions for developers by developers, watch the latest developer news, trends, and announcements from DockerCon 2022. From the keynote to product demos to technical breakout sessions, hacks, and tips & tricks, there’s something for everyone.</p>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="http://www.docker.com/dockercon" target="_blank">
         Watch Now
        </a>
      </div>
    </div>
  </div>
</section>
