<section class="cta-banner extensions">
    <div class="container">
        <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
          <h2>
            Build your own Docker Extension
          </h2>
        </br>
        <p>Use our SDK to build new functionality into Docker Desktop, extend its existing capabilities, and integrate additional developer tools. <br><br> Create and install an extension today and join our growing list of Extension Partners when you publish your extension to the Marketplace.</p>
        </div>
        <div class="col-xs-12 col-md-6 col-lg-4 text-center">
            <img src="/images/extensions.PNG" alt="extensions" />
            </div>
        <div class="col-xs-12 col-md-6 col-lg-4 text-center">
          <a class="btn" href="https://www.docs.docker.com/desktop/extensions-sdk/" target="_blank">
           Start building
          </a>
        </div>
    </div>
  </section>