<div class="col-xs-12 col-lg-4 card-holder">
  <div class="cardlet container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h5 class="title">Popular videos</h5>
        <p>Watch the most popular videos from DockerCon.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a class="video-item" href="https://youtu.be/iqqDU2crIEQ?t=30" target="_blank">
          <img class="video-image" src="/images/video.svg" />
          <div class="video-title">How to get started with Docker</div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a class="video-item" href="https://youtu.be/xmLVNpyJ530?t=30" target="_blank">
          <img class="video-image" src="/images/video.svg" />
          <div class="video-title">How to build and test your Docker images in the Cloud</div>
        </a>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-12">
        <a class="video-item" href="https://youtu.be/QeQ2MH5f_BE?t=31" target="_blank">
          <img class="video-image" src="/images/video.svg" />
          <div class="video-title">Simplify all the things with Docker Compose</div>
        </a>
      </div>
    </div>
  </div>
</div>
