<section class="cta-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-lg-offset-1 col-lg-7">
        <h2>
          Volume Management is now free in Docker Desktop 4.1
        </h2>
        <h5>
          Thanks for your positive support on the <a href="https://www.docker.com/blog/updating-product-subscriptions/" target="_blank" rel="noopener" id="dkr_docs_subscription_btl">Docker subscription updates</a>. We are now able to deliver more value to all users, starting with making Volume Management available for users on any subscription, including Docker Personal. Update your Docker Desktop to version 4.1 or later to start managing your volumes.
        </h5>
      </div>
      <div class="col-xs-12 col-md-6 col-lg-4 text-center">
        <a class="btn" href="https://docs.docker.com/desktop/dashboard/#explore-volumes" target="_blank" rel="noopener">
          Learn more
        </a>
      </div>
    </div>
  </div>
</section>
