<!-- Start of ddc_url_list.html, displays a list of DDC tar files -->
{% for data in site.data.ddc_offline_files %}
  {% if data.ucp-version == page.ucp_version %}
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="list-group center-block">
        {% for tar-file in data.tar-files %}
          <a href="{{ tar-file.url }}" target="_blank" class="list-group-item">
            {{ tar-file.description }}
            <span class="badge"><span class="glyphicon glyphicon-chevron-right"></span></span>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
{% endfor %}
<!-- End of dc_url_list.html -->
