.footer {
  width: 100%;
  text-align: center;
  user-select: none;
  margin: 30px 0 10px;

  .pageNum {
    color: ~colors.coolGrey;
    background: color(~colors.silver lightness(85%));
    font-size: 12px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 4px;
    padding-top: 2px;
    transition: .25s all;

    &.active, &:hover {
      background: ~colors.primary1;
      color: white;
    }

    &.disabled, &.disabled:hover {
      color: ~colors.textColor;
      background: color(~colors.silver lightness(85%));
      opacity: 0.4;
      cursor: not-allowed;
    }
  }
}
