@import "utilities";

.hr {
  margin-top: $space-xxl;
  margin-bottom: $space-xxl;
}

.title {
  @mixin fontSize 6;
  margin-bottom: $space-sm;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
  color: $color-fiord;
}

.semiBold {
  @mixin semiBold;
}

/* must scale svgs with inline styles/width/height set */
.logo {
  height: $icon-size-xlarge !important;
  width: auto !important;
  margin-bottom: $space-md;
}

.logo + .logo {
  margin-left: $space-xxl;
}

.section {
  @mixin 2columns 8, 4;
  @mixin fontSize 2;
}

.sectionTitle {
  margin-bottom: $space-xxl;
}

.listTitle {
  @mixin fontSize 3;
  margin-bottom: $space-md;
}

/* Evaluating */
.installSteps {
  margin-bottom: $space-lg;
}

.pullCommand {
  width: 60%;
  margin-bottom: $space-sm;
}

.licenseHelpText {
  @mixin fontSize 0;
  display: flex;
  align-items: center;
  color: $color-regent-gray;
  margin-bottom: $space-sm;
}

.clock {
  @mixin square $space-md;
  fill: $color-regent-gray;
  margin-right: $space-xs;
}

/* Additional Information */
$ul-padding: $space-xxxl;
$li-padding: $space-sm;

.expandWrapper {
  margin-bottom: $space-lg;
}

.expandContent {
  color: $color-regent-gray;
  margin-bottom: $space-md;
  padding-left: $li-padding;
}

.expandContentNoBullet {
  composes: expandContent;

  /* Hide the bullet point */
  display: inherit;
}

.list {
  padding-left: $ul-padding;
}

.envVar {
  text-transform: uppercase;
  color: $color-fiord;
}

/* Deploy and Resources */
.guideLink {
  margin-bottom: $space-md;
}

.deployBlocks {
  display: flex;
  align-items: flex-end;
}

.deployBlock {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-right: $space-xxxxl;
}
