<nav class="p-5 space-x-2 text-sm flex items-center">
  {{- template "crumbtrail" (dict "p1" . "p2" .) -}}
</nav>

{{ define "crumbtrail" }}
  {{ if and .p1.Parent .p2.Parent }}
    {{ template "crumbtrail" (dict "p1" .p1.Parent "p2" .p2 ) }}
  {{- end -}}
  <a
    class="link"
    title="{{ partial "utils/title" .p1 }}"
    href="{{ .p1.Permalink }}"
    >{{ if .p1.IsHome }}
      <span class="material-symbols-rounded">home</span>
    {{ else }}
      {{ partial "utils/title" .p1 }}
    {{ end }}</a
  >{{- if ne .p1 .p2 }}<span>/</span>{{- end -}}
{{- end -}}
