{{ $scratch := partialCached "utils/tocparser.html" . . }}
{{ $ctx := . }}

{{ $crumbtrail := $scratch.GetSortedMapValues "sections" }}
<nav data-pagefind-ignore
     {{ with (index $crumbtrail 0) }} data-pagefind-filter="section:{{ .title }}" {{ end }}
     id="breadcrumbs" class="py-4 gap-4 flex items-center text-gray-light dark:text-gray-dark max-w-full min-w-0">
  {{ with $crumbtrail }}
    {{ range $i, $e := . }}
      {{- if $i -}}
        <span>/</span>
      {{- end -}}
      <a href="{{ $e.path }}" class="link truncate">{{ markdownify $e.title }}</a>
    {{- end -}}
  {{- end -}}
  {{- with $scratch.Get "lastsection" -}}
  <span>/</span>
  <span class="truncate">{{ markdownify .title }}</span>
  {{- end -}}
</nav>
