{{ $scratch := partialCached "utils/tocparser.html" . . }}
{{ $ctx := . }}


<nav id="breadcrumbs" class="py-4 gap-4 flex items-center text-gray-light dark:text-gray-dark max-w-full min-w-0">
  {{ with ($scratch.GetSortedMapValues "sections") }}
    {{ range $i, $e := . }}
      {{- if $i -}}
        <span>/</span>
      {{- end -}}
      <a href="{{ $e.path }}" class="link whitespace-nowrap overflow-hidden overflow-ellipsis">{{ markdownify $e.title }}</a>
    {{- end -}}
  {{- end -}}
  {{- with $scratch.Get "lastsection" -}}
  <span>/</span>
  <span class="shrink-0">{{ markdownify .title }}</span>
  {{- end -}}
</nav>
