{{ $scratch := partialCached "utils/tocparser.html" . . }}
{{ $ctx := . }}


<nav id="breadcrumbs" class="py-4 gap-4 flex items-center overflow-hidden text-gray-light dark:text-gray-dark">
  {{ with ($scratch.GetSortedMapValues "sections") }}
    {{ range $i, $e := . }}
      {{- if $i -}}
        <span>/</span>
      {{- end -}}
      <a href="{{ $e.path }}" class="flex items-center gap-2 link whitespace-nowrap">{{ markdownify $e.title }}</a>
    {{- end -}}
  {{- end -}}
  {{- with $scratch.Get "lastsection" -}}
  <span>/</span>
  <span class="flex items-center gap-2">{{ markdownify .title }}</span>
  {{- end -}}
</nav>
