<div class="flex w-full gap-8">
  <article class="prose min-w-0 max-w-4xl flex-[2_2_0%] dark:prose-invert">
    {{ partial "breadcrumbs.html" . }}
    <h1 data-pagefind-weight="10" class="flex scroll-mt-36 items-center">
      <span>{{ .Title }}</span>
        <span class="ml-auto">
          {{ partial "md-dropdown.html" . }}
        </span>
    </h1>

    <div class="block lg:hidden">
      {{ partialCached "pagemeta.html" . . }}
      <hr />
    </div>
    {{ .Content }}
  </article>
  <div class="-mr-8 -mt-8 hidden min-w-52 flex-1 lg:block">
    {{ partial "aside.html" . }}
  </div>
</div>
