<div class="footer">
  <div class="social">
    <a href="https://www.linkedin.com/company/docker">
      <span class="icon-svg">
        {{ partial "utils/svg" "icons/linkedin.svg" }}
      </span>
    </a>
    <a href="https://x.com/docker/">
      <span class="icon-svg">
        {{ partial "utils/svg" "icons/twitter.svg" }}
      </span>
    </a>
    <a href="https://www.facebook.com/docker.run">
      <span class="icon-svg">
        {{ partial "utils/svg" "icons/facebook.svg" }}
      </span>
    </a>
    <a href="http://www.youtube.com/user/dockerrun">
      <span class="icon-svg">
        {{ partial "utils/svg" "icons/youtube.svg" }}
      </span>
    </a>
    <a href="https://www.instagram.com/dockerinc/">
      <span class="icon-svg">
        {{ partial "utils/svg" "icons/instagram.svg" }}
      </span>
    </a>
  </div>
  <div class="links">
    <a href="https://www.docker.com/">Product offerings</a>
    <a href="https://www.docker.com/pricing/">Pricing</a>
    <a href="https://www.docker.com/company/">About us</a>
    {{- with .GetPage "/contribute" }}
    <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
    {{- end }}
    <a href="{{ "llms.txt" | relURL }}">Read llms.txt</a>
  </div>
  <div class="secondaryLinks">
    <button type="button" id="ot-sdk-btn" class="ot-sdk-show-settings">
      Cookies Settings
    </button>
    <a title="Docker Terms of Service" href="https://www.docker.com/legal/docker-terms-service">Terms of Service</a>
    <a title="Docker Systems Status Page" href="https://www.dockerstatus.com/">Status</a>
    <a title="Docker Legal Terms" href="https://www.docker.com/legal">Legal</a>
  </div>
</div>
<div
  class="text-sm text-gray-400 dark:text-gray-600 border-t dark:border-gray-700  border-gray-200 md:border-none px-4 py-4 bg-gray-100 dark:bg-gray-900 ">
  <span>Copyright © 2013-{{ time.Now.Year }} Docker Inc. All rights reserved.</span>
</div>