{{- /*
  List of tag "chips" as links
  Context: page.Pages
  */
-}}
{{- range . -}}
  {{- if eq .File nil }}
    {{- errorf "[tags] Undefined tag: '%s' in %s" (urlize (strings.ToLower .Title)) page.File.Filename }}
  {{- end }}
<a class="text-sm inline-flex items-center rounded-full border
          border-divider-light dark:border-divider-dark bg-gray-light-100 px-2
          text-gray-light-800 dark:bg-gray-dark-200 dark:text-gray-dark-800
          select-none"
  href="{{ .Permalink }}">
    <span class="icon-svg icon-sm pb-0.5">
      {{ partialCached "icon" "tag" "tag" }}
    </span>
    <span>{{ .LinkTitle }}</span>
</a>
{{- end -}}
