{{- /*
  Renders a tooltip component using Floating UI for positioning.
  See script at `assets/js/src/tooltip.js` for functionality.
  */
-}}
<div data-tooltip-wrapper>
  <div
    data-tooltip-button
    class="icon-svg text-blue-light flex items-center dark:text-blue-700"
  >
    {{ partialCached "icon" "help" "help" }}
  </div>
  <div
    data-tooltip-body
    class="bg-gray-light-700 dark:bg-gray-dark-300 absolute top-0 left-0 hidden max-w-56 rounded-sm p-2 text-white"
    role="tooltip"
  >
    {{ . }}
    <div
      data-tooltip-arrow
      class="bg-gray-light-700 dark:bg-gray-dark-300 absolute h-2 w-2 rotate-45"
    ></div>
  </div>
</div>
