<div id="remove-service-modal" class="ui small modal transition">
  <i class="close icon"></i>
  <div class="header">
    Remove Service
  </div>
  <div class="content">
    <p>Are you sure you want to remove this service?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div class="ui positive right button">
      Yes
    </div>
  </div>
</div>

<div id="scale-service-modal" class="ui small modal transition">
  <i class="close icon"></i>
  <div class="header">
    Scale Service:
    {{ vm.service.Name }}
  </div>
  <div class="content">
    <div class="ui form">
      <div class="fields">
        <div class="twelve wide field">
          <label>Number of Instances</label>
          <div class="ui small input"><input class="input" ng-model="vm.numOfInstances" type="number"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui negative button">
      Cancel
    </div>
    <div class="ui positive button">
      Scale
    </div>
  </div>
</div>
<div id="inspect-service" class="ui container">
  <div class="ui grid">
    <div class="two column row">
      <div class="column">
        <h2 class="header">
          <div class="weak sub header">
            {{ vm.service.Spec.TaskTemplate.ContainerSpec.Image }}
          </div>
          {{ vm.service.Spec.Name }}
        </h2>
      </div>
      <div class="ui sticky right aligned column" ng-show="vm.editMode">
        <div class="ui green button" ng-click="vm.completeEdit()">Finish Editing</div>
        <div class="ui negative button" ng-click="vm.cancelEdit()">Cancel Editing</div>
      </div>
      <div class="right aligned column" ng-show="!vm.editMode">
        <div class="ui green button" ng-click="vm.startEdit()">Edit</div>
        <div class="ui blue button" ng-click="vm.showScaleServiceModal()" ng-show="vm.service.Spec.Mode.Replicated">Scale</div>
        <div class="ui negative button" ng-click="vm.showRemoveServiceModal()">Remove</div>
      </div>
    </div>
    <div class="row">
      <div class="sixteen wide column">
        <div id="inspect-details">
          <div class="details-section">
            <h4>Details</h4>
            <div class="contents">
              <table class="ui very basic definition unstackable selectable padded table">
                <tbody>
                  <tr>
                    <td class="three wide column">Image</td>
                    <td ng-hide="vm.editMode">{{ vm.service.Spec.TaskTemplate.ContainerSpec.Image }}</td>
                    <td ng-show="vm.editMode">
                      <div class="ui small input"><input type="text" ng-model="vm.editService.TaskTemplate.ContainerSpec.Image"/></div>
                    </td>
                  </tr>
                  <tr>
                    <td class="three wide column">Mode</td>
                    <td ng-if="vm.service.Spec.Mode.Replicated">Replicated</td>
                    <td ng-if="vm.service.Spec.Mode.Global">Global</td>
                  </tr>
                  <tr ng-if="vm.service.Spec.Mode.Replicated || vm.editMode.Mode.Replicated">
                    <td class="three wide column">Scale</td>
                    <td ng-hide="vm.editMode">{{ vm.service.Spec.Mode.Replicated.Replicas }}</td>
                    <td ng-show="vm.editMode">
                      <div class="ui small input"><input type="number" ng-model="vm.editService.Mode.Replicated.Replicas"/></div>
                    </td>
                  </tr>
                  <tr ng-hide="vm.editMode" ng-if="vm.service.Spec.TaskTemplate.ContainerSpec.Command">
                    <td>Command</td>
                    <td class="fixed-width-font">{{ vm.service.Spec.TaskTemplate.ContainerSpec.Command.join(' ') }}</td>
                    <td ng-show="vm.editMode">
                      <div class="ui small input"><input type="number" ng-model="vm.editService.Mode.Replicated.Replicas"/></div>
                    </td>
                  </tr>
                  <tr ng-if="vm.service.Spec.TaskTemplate.ContainerSpec.Args">
                    <td>Args</td>
                    <td class="fixed-width-font">{{ vm.service.Spec.TaskTemplate.ContainerSpec.Args.join(' ') }}</td>
                  </tr>
                  <tr ng-if="vm.service.Spec.TaskTemplate.ContainerSpec.Dir">
                    <td>Working Directory</td>
                    <td>{{ vm.service.Spec.TaskTemplate.ContainerSpec.Dir }}</td>
                  </tr>
                  <tr ng-if="vm.service.Spec.TaskTemplate.ContainerSpec.User">
                    <td>User</td>
                    <td>{{ vm.service.Spec.TaskTemplate.ContainerSpec.User }}</td>
                  </tr>
                  <tr>
                    <td>Update Parallelism</td>
                    <td ng-hide="vm.editMode">{{ vm.service.Spec.UpdateConfig.Parallelism || 'Default' }}</td>
                    <td ng-show="vm.editMode">
                      <div class="ui small input"><input type="number" ng-model="vm.editService.UpdateConfig.Parallelism"/></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Update Delay</td>
                    <td ng-hide="vm.editMode">{{ vm.service.Spec.UpdateConfig.Delay ? (vm.service.Spec.UpdateConfig.Delay / 1000000000) : '0' }}
                      seconds</td>
                    <td ng-show="vm.editMode">
                      <div class="ui small input"><input type="number" ng-model="vm.editUpdateConfigDelay"/></div>
                    </td>
                  </tr>
                  <tr>
                    <td class="three wide column">Stop Grace Period</td>
                    <td ng-hide="vm.editMode">{{ vm.service.Spec.TaskTemplate.ContainerSpec.StopGracePeriod ? (vm.service.Spec.TaskTemplate.ContainerSpec.StopGracePeriod / 1000000000) : '0' }}
                      seconds</td>
                    <td ng-show="vm.editMode">
                      <div class="ui small input"><input type="number" ng-model="vm.editStopGracePeriod"/></div>
                    </td>
                  </tr>
                  <tr>
                    <td>Created</td>
                    <td>{{ vm.service.CreatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                  </tr>
                  <tr>
                    <td>Last Updated</td>
                    <td>{{ vm.service.UpdatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="details-section">
            <h3>Tasks</h3>
            <div class="contents">
              <div class="ui grid">
                <div class="row">
                  <div class="eight wide column">
                    <div class="ui statistics">
                        <div ng-if="vm.service.Spec.Mode.Global" class="ui horizontal statistic" ng-class="{'green': vm.service._StatusSummary.active >= vm.numNodes, 'orange': vm.service._StatusSummary.active < vm.numNodes && vm.service._StatusSummary.active > 0, 'red': vm.service._StatusSummary.active === 0}">
                        <div class="value">
                          {{ Math.round(vm.service._StatusSummary.active / vm.numNodes * 100) || '0' }}%
                        </div>
                        <div class="label">
                          {{ vm.service._StatusSummary.active }}
                          /
                          {{ vm.numNodes }}
                          Running
                          {{ vm.numNodes > 1 ? 'Tasks' : 'Task' }}
                        </div>
                      </div>
                      <div
                        ng-if="vm.service.Spec.Mode.Replicated"
                        class="ui horizontal statistic"
                        ng-class="{'green': vm.service._StatusSummary.active >= vm.service.Spec.Mode.Replicated.Replicas, 'orange': vm.service._StatusSummary.active < vm.service.Spec.Mode.Replicated.Replicas && vm.service._StatusSummary.active > 0, 'red': vm.service._StatusSummary.active === 0}">
                        <div class="value">
                            {{ Math.round(vm.service._StatusSummary.active / vm.service.Spec.Mode.Replicated.Replicas * 100) || '0' }}%
                        </div>
                        <div class="label">
                          {{ vm.service._StatusSummary.active }}
                          /
                          {{ vm.service.Spec.Mode.Replicated.Replicas }}
                          Running
                          {{ vm.service.Spec.Mode.Replicated.Replicas > 1 ? 'Tasks' : 'Task' }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="twelve wide middle aligned column">
                    <div class="ui small horizontal list">
                      <div class="item">
                        <i class="ui green circle icon"></i>
                        {{ vm.service._StatusSummary.active }}
                        Active
                      </div>
                      <div class="item">
                        <i class="ui orange circle icon"></i>
                        {{ vm.service._StatusSummary.updating }}
                        Updating
                      </div>
                      <div class="item">
                        <i class="ui red circle icon"></i>
                        {{ vm.service._StatusSummary.errored }}
                        Errored
                      </div>
                      <div class="item">
                        <i class="ui grey circle icon"></i>
                        {{ vm.service._StatusSummary.inactive }}
                        Inactive
                      </div>
                    </div>
                  </div>
                  <div class="four wide right aligned column">
                    <div id="view-options-menu" class="ui blue inverted top right pointing dropdown button">
                      <span class="text">View Options</span>
                      <i class="dropdown icon"></i>
                      <div class="menu">
                        <div class="header">
                          Filters
                        </div>
                        <div class="item" ng-click="vm.toggleRunningTasks()">
                          <i class="green circle icon" ng-class="{'thin': !vm.runningTasksVisible}"></i>
                          Running Tasks
                        </div>
                        <div class="item" ng-click="vm.toggleHistoricalTasks()">
                          <i class="history icon" ng-class="{'grey': !vm.historicalTasksVisible}"></i>
                          Historical Tasks
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <table ng-table="vm.tableParams" template-pagination="custom/pager" class="ui very basic unstackable selectable padded content table padded-header">
                <tr ng-repeat="c in $data" ng-click="vm.inspectContainer(c.Status.ContainerStatus.ContainerID)">
                  <td class="collapsing" sortable="'Status.State'">
                    <i
                      class="circle icon"
                      ng-class="{'green': vm.stateSummaryMap[c.Status.State] === 'active',
                      'red': vm.stateSummaryMap[c.Status.State] === 'errored',
                      'grey': vm.stateSummaryMap[c.Status.State] === 'inactive',
                      'orange': vm.stateSummaryMap[c.Status.State] === 'updating'}"
                      data-content="{{ c.Status.State }}"
                      variation="inverted blue"></i>
                  </td>
                  <td data-title="'Name'" sortable="'Instance'">
                    {{ vm.service.Spec.Name }}{{ vm.service.Spec.Mode.Replicated ? '.' + c.Slot : '' }}
                  </td>
                  <td data-title="'Image'" sortable="'Spec.ContainerSpec.Image'">
                    {{ c.Spec.ContainerSpec.Image }}
                  </td>
                  <td data-title="'Node'" sortable="'_NodeName'">
                    {{ c._NodeName }}
                  </td>
                  <td data-title="'Container ID'" sortable="'Status.ContainerStatus.ContainerID'">
                    {{ (c.Status.ContainerStatus.ContainerID | limitTo:12) }}
                    <span ng-hide="c.Status.ContainerStatus.ContainerID" class="weak">N/A</span>
                  </td>
                  <td data-title="'Created'" sortable="'CreatedAt'">{{ c.CreatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                  <td data-title="''" sortable="'Status.Message'" class="weak fixed-width-font">{{ c.Status.Message }}<br/>{{ c.Status.Err }}</td>
                </tr>
              </table>
            </div>
          </div>

          <div class="details-section">
            <div class="ui two column grid" ng-click="vm.networksVisible = !vm.networksVisible">
              <div class="row">
                <div class="fourteen wide column">
                  <h3>Networks</h3>
                </div>
                <div class="two wide right aligned column">
                  <i ng-if="!vm.networksVisible" class="add icon"></i>
                  <i ng-if="vm.networksVisible" class="minus icon"></i>
                </div>
              </div>
            </div>
            <div class="contents" ng-show="vm.networksVisible">
              <h4>Published Ports</h4>
              <div class="contents">
                <p ng-hide="vm.service.Endpoint.Ports.length > 0">
                  No ports exposed.
                </p>
                <table class="ui very basic definition unstackable selectable padded table" ng-show="vm.service.Endpoint.Ports.length > 0">
                  <tbody>
                    <tr ng-repeat="p in vm.service.Endpoint.Ports">
                      <td>
                        {{ p.TargetPort }}/{{ p.Protocol }}
                      </td>
                      <td>
                        <a href="{{ 'http://' + $location.host() + ':' + p.PublishedPort }}" target="_blank">
                          {{ $location.host() + ':' + p.PublishedPort }}
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <h4>Networks</h4>
              <p ng-if="vm.service.Endpoint.VirtualIPs.length === 0">
                No networks attached.
              </p>
              <table class="ui very basic unstackable selectable padded table" ng-if="vm.service.Endpoint.VirtualIPs.length > 0">
                <thead>
                  <tr>
                    <th>
                      Network
                    </th>
                    <th>
                      Driver
                    </th>
                    <th>
                      Address
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="vip in vm.service.Endpoint.VirtualIPs">
                    <td class="four wide column collapsing">{{ vm.networks[vip.NetworkID].Name }}</td>
                    <td class="four wide column collapsing">{{ vm.networks[vip.NetworkID].Driver }}</td>
                    <td class="twelve wide column">{{ vip.Addr }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="details-section">
            <div class="ui two column grid" ng-click="vm.volumesVisible = !vm.volumesVisible">
              <div class="row">
                <div class="fourteen wide column">
                  <h3>Volumes</h3>
                </div>
                <div class="two wide right aligned column">
                  <i ng-if="!vm.volumesVisible" class="add icon"></i>
                  <i ng-if="vm.volumesVisible" class="minus icon"></i>
                </div>
              </div>
            </div>
            <div class="contents" ng-show="vm.volumesVisible">
              <div class="contents">
                <p ng-hide="vm.service.Spec.TaskTemplate.ContainerSpec.Mounts.length > 0">
                  No volumes mounted.
                </p>
                <table class="ui very basic unstackable selectable padded table" ng-show="vm.service.Spec.TaskTemplate.ContainerSpec.Mounts.length > 0">
                  <thead>
                    <tr>
                      <th>Source</th>
                      <th>Target</th>
                      <th>Writable</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="v in vm.service.Spec.TaskTemplate.ContainerSpec.Mounts">
                      <td class="collapsing">{{ v.Source }}</td>
                      <td>{{ v.Target }}</td>
                      <td class="center aligned collapsing">
                        <i class="ui icon" ng-class="{'green checkmark': v.Writable, 'red remove': !v.Writable}"></i>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <div class="details-section">
            <div class="ui two column grid" ng-click="vm.environmentVarsVisible = !vm.environmentVarsVisible">
              <div class="row">
                <div class="fourteen wide column">
                  <h3>Environment</h3>
                </div>
                <div class="two wide right aligned column">
                  <i ng-if="!vm.environmentVarsVisible" class="add icon"></i>
                  <i ng-if="vm.environmentVarsVisible" class="minus icon"></i>
                </div>
              </div>
            </div>
            <div class="contents" ng-show="vm.environmentVarsVisible">
              <p ng-if="!vm.service.Spec.TaskTemplate.ContainerSpec.Env && !vm.editMode">No environment variables defined</p>
              <table class="ui very basic unstackable selectable padded table" ng-if="vm.service.Spec.TaskTemplate.ContainerSpec.Env || vm.editMode">
                <thead>
                  <tr>
                    <th>
                      Name
                    </th>
                    <th>
                      Value
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="e in vm.service.Spec.TaskTemplate.ContainerSpec.Env track by $index" ng-hide="vm.editMode">
                    <td class="four wide column fixed-width-font">{{ e.split('=')[0] }}</td>
                    <td class="twelve wide column fixed-width-font">{{ e.split('=')[1] }}</td>
                  </tr>
                  <tr ng-repeat="e in vm.editEnvVars track by $index" ng-show="vm.editMode">
                    <td class="four wide column">
                      <div class="ui small input"><input ng-model="e[0]"></div>
                    </td>
                    <td class="eleven wide column">
                      <div class="ui fluid small input"><input ng-model="e[1]"></div>
                    </td>
                    <td class="one wide column">
                      <div class="ui negative icon button" ng-click="vm.removeEnvVar(e)">
                        <i class="remove icon"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="ui green button" ng-show="vm.editMode" ng-click="vm.editEnvVars.push(['',''])">
                <i class="ui add icon"></i>
                Add new environment variable
              </div>
            </div>
          </div>
          <div class="details-section">
            <div class="ui two column grid" ng-click="vm.labelsVisible = !vm.labelsVisible">
              <div class="row">
                <div class="fourteen wide column">
                  <h3>Labels</h3>
                </div>
                <div class="two wide right aligned column">
                  <i ng-if="!vm.labelsVisible" class="add icon"></i>
                  <i ng-if="vm.labelsVisible" class="minus icon"></i>
                </div>
              </div>
            </div>
            <div class="contents" ng-show="vm.labelsVisible">
              <p ng-if="!vm.service.Spec.Labels">No labels defined</p>
              <table class="ui very basic unstackable selectable padded table" ng-if="vm.service.Spec.Labels">
                <thead>
                  <tr>
                    <th>
                      Key
                    </th>
                    <th>
                      Value
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="(name, value) in vm.service.Spec.Labels" ng-hide="vm.editMode">
                    <td class="four wide column fixed-width-font">{{ name }}</td>
                    <td class="twelve wide column fixed-width-font">{{ value }}</td>
                  </tr>
                  <tr ng-repeat="l in vm.editLabels" ng-show="vm.editMode">
                    <td class="four wide column">
                      <div class="ui small input"><input ng-model="l.key"></div>
                    </td>
                    <td class="eleven wide column">
                      <div class="ui fluid small input"><input ng-model="l.value"></div>
                    </td>
                    <td class="one wide column">
                      <div class="ui negative icon button" ng-click="vm.removeLabel(l)">
                        <i class="remove icon"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="ui green button" ng-show="vm.editMode" ng-click="vm.editLabels.push(['',''])">
                <i class="ui add icon"></i>
                Add new label
              </div>
            </div>
          </div>
          <div class="details-section">
            <div class="ui two column grid" ng-click="vm.constraintsVisible = !vm.constraintsVisible">
              <div class="row">
                <div class="fourteen wide column">
                  <h3>Constraints</h3>
                </div>
                <div class="two wide right aligned column">
                  <i ng-if="!vm.constraintsVisible" class="add icon"></i>
                  <i ng-if="vm.constraintsVisible" class="minus icon"></i>
                </div>
              </div>
            </div>
            <div class="contents" ng-show="vm.constraintsVisible">
              <p ng-if="!vm.service.Spec.TaskTemplate.Placement.Constraints">No constraints defined</p>
              <table class="ui very basic unstackable selectable padded table" ng-if="vm.service.Spec.TaskTemplate.Placement.Constraints">
                <tbody>
                  <tr ng-repeat="c in vm.service.Spec.TaskTemplate.Placement.Constraints" ng-hide="vm.editMode">
                    <td class="sixteen wide column fixed-width-font">{{ c }}</td>
                  </tr>
                  <tr ng-repeat="c in vm.editConstraints track by $index" ng-show="vm.editMode">
                    <td class="fifteen wide column">
                      <div class="ui small fluid input"><input ng-model="vm.editConstraints[$index]"></div>
                    </td>
                    <td class="one wide column">
                      <div class="ui negative icon button" ng-click="vm.removeConstraint(c)">
                        <i class="remove icon"></i>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="ui green button" ng-show="vm.editMode" ng-click="vm.editConstraints.push([''])">
                <i class="ui add icon"></i>
                Add new constraint
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('#view-options-menu').dropdown({action: 'nothing'});
</script>
