<div id="remove-service-modal" class="ui small modal transition">
  <i class="close icon"></i>
  <div class="header">
    Remove Service
  </div>
  <div class="content">
    <p>Are you sure you want to remove this service?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div class="ui positive right button">
      Yes
    </div>
  </div>
</div>

<div class="ui fluid container">
  <div class="ui grid">

    <div class="two column row">
      <div class="twelve wide column">
        <div class="ui green icon button" ui-sref="dashboard.deploywizard">
          <i class="add icon"></i>
          Deploy
        </div>
      </div>
      <div class="four wide column">
        <div class="ui left icon input fluid">
            <input ng-model="vm.filter" placeholder="Search..." />
            <i class="search icon"></i>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="column">
        <table ng-table="vm.tableParams" template-pagination="custom/pager" class="ui very basic unstackable selectable table padded-header">
          <tr ng-repeat="s in $data" ng-click="vm.inspectService(s.ID)">
            <td data-title="'Status'" class="collapsing">
              <i ng-if="s._Mode === 'Replicated'" class="ui circle icon" ng-class="{'green': s._StatusSummary.active >= s.Spec.Mode.Replicated.Replicas, 'red': s._StatusSummary.active === 0, 'orange': s._StatusSummary.active < s.Spec.Mode.Replicated.Replicas && s._StatusSummary.active !== 0}"></i>
              <i ng-if="s._Mode === 'Global'" class="ui circle icon" ng-class="{'green': s._StatusSummary.active >= vm.nodes.length, 'red': s._StatusSummary.active === 0, 'orange': s._StatusSummary.active < vm.nodes.length && s._StatusSummary.active !== 0}"></i>
              {{ s._StatusSummary.active }} / {{ s._Mode === 'Replicated' ? s.Spec.Mode.Replicated.Replicas : vm.nodes.length }}
            </td>
            <td data-title="'Name'" sortable="'Name'" ng-if="true">{{s.Spec.Name}}</td>
            <td data-title="'Image'" sortable="'Spec.ContainerSpec.Image'">{{s.Spec.TaskTemplate.ContainerSpec.Image}}</td>
            <td class="collapsing" data-title="'Mode'" sortable="_Mode">{{ s._Mode }}</td>
            <td class="collapsing" data-title="'Tasks'">
              <div class="ui tiny horizontal list">
                <div class="item" ng-if="s._StatusSummary.active > 0">
                  <i class="ui green circle icon"></i>
                  {{ s._StatusSummary.active }}
                  Active
                </div>
                <div class="item" ng-if="s._StatusSummary.updating > 0">
                  <i class="ui orange circle icon"></i>
                  {{ s._StatusSummary.updating }}
                  Updating
                </div>
                <div class="item" ng-if="s._StatusSummary.errored > 0">
                  <i class="ui red circle icon"></i>
                  {{ s._StatusSummary.errored }}
                  Errored
                </div>
                <div class="item" ng-if="s._StatusSummary.inactive > 0">
                  <i class="ui grey circle icon"></i>
                  {{ s._StatusSummary.inactive }}
                  Inactive
                </div>
              </div>
            </td>
						<td class="collapsing" data-title="'Last Updated'" sortable="'UpdatedAt'">{{s.UpdatedAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
          </tr>
        </table>
      </div>
    </div>

  </div>
</div>
