.grey {
  color: #B1B5B9;
}

hr.border {
  color: #E4E4E4;
  margin: 0.5rem 0 0.5rem;
}

.headerText {
  composes: grey;
  text-transform: uppercase;
  margin: 0.5rem 0 0.25rem;
  font-weight: 500;
  font-size: 0.85rem;
}

.critical {
  color: #EB3E46;
}

.major {
  color: #FF8546;
}

.minor {
  color: #FFC458;
}

.secure {
  color: #D3DFDD;
}

.licenseType {
  composes: grey;
  font-size: 0.8rem;
}

.severity {
  text-align: right;
}

.vulnerabilityLines {
  margin-bottom: 0.25rem;
}

.viewAll {
  composes: grey;
  border-top: 1px solid #C4CDDA;
  border-bottom: 1px solid #C4CDDA;
  text-align: center;
  padding: 0.5rem 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 0.85rem;
  margin-top: 0.5rem;
}

.wrapWords {
  word-wrap: break-word;
}
