@import 'dux/css/colors.css';

/* Top section with vulnerability counts */
.verticalSpacing {
  line-height: 1.2rem;
}

.headerRow {
  padding-bottom: 1rem;
}

.vulnerabilityText {
  composes: verticalSpacing;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.feedback {
  composes: verticalSpacing;
  text-align: right;
}

.feedbackLink {
  color: var(--secondary-5);
}

/* same color as layer titles */
.lastScanned {
  color: #78828f;
}

.inlineBlock {
  display: inline-block;
}

.bigCheck {
  composes: inlineBlock;
  color: #6bcec0;
  padding-right: 1rem;
}

/* Layers and Components section */
.tableHeader {
  border-top: 1px solid #E4E4E4;
  padding: 0.5rem 0;
}

.componentsTitle {
  padding-left: 1rem;
}
