@import "utilities";

.item {
  position: relative;
  list-style: none;

  &:first-child .content {
    border-top: 1px solid $color-geyser;
  }
}

.content {
  position: relative;
  padding: $space-md 0;
  border-bottom: 1px solid $color-geyser;
}

/*
Selectable Item
***************/
.selectable {
  .content {
    padding-left: $space-xl;
  }
  .selector {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: -28px;
    width: 40px;
  }
  .checkbox {
    position: absolute;

    /* visually hidden */
    top: -9999px;
    left: -9999px;
  }

  &.selected > .content {
    background: $color-athens-gray;
  }

  &.selected .checkbox,
  &:hover .checkbox {
    top: calc(50% - 10px);
    left: 0;
  }
}

/*
Hover
***************/
.hover:hover {
  cursor: pointer;
  & > .content {
    background: $color-porcelain;
  }
}
