@import "utilities";

.account {
  @mixin fontSize 2;
  color: $color-regent-gray;
  margin: $space-sm 0;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
}

.sectionTitle {
  margin: $space-sm 0;
}

.accountSelect {
  width: 150px;
  height: $select-height;
  width: $select-width;
  margin-left: $space-sm;
}
