{{ define "article" }}
<article class="prose max-w-none dark:prose-invert">
  {{ partial "breadcrumbs.html" . }}
  <h1 data-pagefind-weight="10" class="scroll-mt-36">{{ .Title }}</h1>
  <div class="block lg:hidden">
    {{ partialCached "pagemeta.html" . . }}
    <hr />
  </div>
  <div class="text-lg">{{ .Summary }}</div>
  {{- if or .Params.proficiencyLevel .Params.time .Params.prerequisites }}
  <div class="not-prose">
    <div class="mt-1.5 mb-1.5 flex flex-col gap-4 rounded-sm bg-gray-100 p-6 sm:flex-row dark:bg-gray-800">
      {{- with .Params.proficiencyLevel }}
      <div class="flex flex-grow flex-col sm:items-center">
        <span><strong>Skill level</strong></span>
        <span>{{ . }}</span>
      </div>
      {{- end }}
      {{- with .Params.time }}
      <div class="flex flex-grow flex-col sm:items-center">
        <span><strong>Time to complete</strong></span>
        <span>{{ . }}</span>
      </div>
      {{- end }}
      {{- with .Params.prerequisites }}
      <div class="flex flex-grow flex-col sm:items-center">
        <span><strong>Prerequisites</strong></span>
        <span>{{ . }}</span>
      </div>
      {{- end }}
    </div>
  </div>
  {{- end }}
  {{ .Content }}
  {{ partial "heading.html" (dict "text" "Modules" "level" 2) }}
  <ol>
    {{- range .Pages }}
    <li>
      <a class="link" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
      <p>{{ plainify .Description }}</p>
    </li>
    {{- end }}
  </ol>
</article>
{{ end }}

{{ define "right" }}{{ end }}
