@import "utilities";

.splitWrap {
  margin-left: 0.5rem;
  display: inline-block;
}

.splitRow {
  display: flex;
  > button {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.btnSplit {
  margin: 0;
  margin-right: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  cursor: pointer;
  &.open {
    z-index: 799;
    border-bottom-left-radius: 0;
  }
}

.menuSplit {
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 40px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  > svg[class*="dicon"] {
    top: 0;
  }
  &.open {
    z-index: 799;
    border-bottom-right-radius: 0;
  }
}

.menuWrap {
  position: relative;
  width: 100%;
}

.menu {
  @mixin listUnstyled;
  @mixin fontSize 2;
  position: absolute;
  z-index: 799;
  background: $color-variant-primary-light;
  border-bottom-left-radius: $button-border-radius;
  border-bottom-right-radius: $button-border-radius;
  padding: 0;
  width: 100%;
}

.item {
  cursor: pointer;
  line-height: 2.4;
  padding: 0 $space-xs;
  font-size: $button-font-size;
  font-weight: 700;
  color: white;

  &:hover {
    background: $color-variant-primary-hover;
  }
}

.dropText {
  overflow: hidden;
  text-overflow: ellipsis;
}

.backdrop {
  position: fixed;
  background: transparent;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  z-index: 798;
}
