<div id="remove-modal" class="ui small modal transition" ng-submit="vm.removeContainer()">
  <i class="close icon"></i>
  <div class="header">
    Remove Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>Are you sure you want to remove this container?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.removeContainer()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="restart-modal" class="ui small modal transition" ng-submit="vm.restartContainer()">
  <i class="close icon"></i>
  <div class="header">
    Restart Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>Are you sure you want to restart this container?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.restartContainer()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="stop-modal" class="ui small stop modal transition" ng-submit="vm.stopContainer()">
  <i class="close icon"></i>
  <div class="header">
    Stop Container: {{ vm.selectedContainerId | limitTo:12 }}
  </div>
  <div class="content">
    <p>Are you sure you want to stop this container?</p>
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.stopContainer()" class="ui positive button">
      Yes
    </div>
  </div>
</div>

<div id="applications" class="ui fluid container">
  <div class="ui grid">
    <div class="two column row">
      <div class="twelve wide column">
				<div class="ui green button" ui-sref="dashboard.deploystack">
					<i class="add icon"></i>
					Deploy
				</div>
        <div class="ui blue dropdown button" ng-class="{'disabled': vm.selectedItemCount === 0}">
          {{ vm.selectedItemCount }} Containers Selected
          <i class="dropdown icon"></i>
          <div class="menu">
            <a ng-click="vm.restartAll()" class="item"><i class="green refresh icon"></i> Restart</a>
            <a ng-click="vm.stopAll()" class="item"><i class="stop icon"></i> Stop</a>
            <a ng-click="vm.removeAll()" class="item"><i class="red remove icon"></i> Remove</a>
          </div>
        </div>
      </div>
      <div class="four wide column">
        <div class="ui left icon input fluid">
            <input ng-model="vm.filter" placeholder="Search applications..." />
            <i class="search icon"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="application-placeholder" ng-show="vm.tableParams.settings().dataset.length === 0">
        <i class="icon cubes"></i>
        <p>You haven't deployed an application yet.</p>
        <a href="https://docs.docker.com/ucp/deploy-application/" class="ui green button" target="_blank">Learn how to deploy one</a>
      </div>
      <table id="containers-table" ng-table="vm.tableParams" template-header="custom/blank" template-pagination="custom/pager" class="ui very basic unstackable selectable compact table" ng-show="vm.tableParams.settings().dataset.length > 0">
          <colgroup>
            <col width="4%" />
            <col width="4%" />
            <col width="15%" />
            <col width="20%" />
            <col width="20%" />
            <col width="17%" />
            <col width="17%" />
            <col width="5%" />
          </colgroup>
          <tr ng-if="filteredGroups.length === 0" class="center aligned column">
            <td colspan="8">Can't find an application matching your search result.</td>
          </tr>
		  <tr ng-repeat-start="group in filteredGroups = ($groups | filter: vm.filter)" class="ng-table-group" ng-class="{'active': !group.$hideRows}" ng-click="group.$hideRows = !group.$hideRows">
            <td colspan="1" stop-event='click'>
              <div class="positive ui fitted checkbox">
                <input type="checkbox" id="{{$index}}-cb" ng-click="vm.checkAllApp(group.value)" ng-model="vm.selectedApps[group.value].Selected">
                <label for="{{$index}}-cb"></label>
              </div>
            </td>
            <td colspan="6">
              <div class="ui list">
                <div class="item">
                  <div class="content">
                    <div class="header"><span class="name">{{ group.value }}</span></div>
                    <div class="ui horizontal list">
                      <div class="item"><span class="ui tiny basic label">Running</span><b>{{ vm.applications[group.value]._Status.Running }}</b></div>
                      <div class="item"><span class="ui tiny basic label">Exited</span><b>{{ vm.applications[group.value]._Status.Stopped }}</b></div>
                    </div>
                  </div>
                </div>
              </td>
              <td class="collapsing">
                <a ng-if="!group.$hideRows"><i class="caret down icon"></i> Hide Containers ({{ group.data.length }})</a>
                <a ng-if="group.$hideRows"><i class="caret right icon"></i> Show Containers ({{ group.data.length }})</a>
              </td>
            </tr>
            <tr class="headers" ng-hide="group.$hideRows">
              <th></th>
              <th></th>
              <th>Id</th>
              <th>Node</th>
              <th>Container Name</th>
              <th>Image</th>
              <th>Created</th>
              <th></th>
            </tr>
            <tr ng-repeat="c in group.data" ng-hide="group.$hideRows" ng-class="{'active': vm.selected[c.Id].Selected}" ng-click="vm.inspectContainer(c.Id)" jquery selectable-text ng-repeat-end>
              <td class="collapsing">
                <div class="positive ui fitted checkbox" stop-event='click'>
                  <input type="checkbox" id="{{$index}}-cb" ng-model="vm.selected[c.Id].Selected">
                  <label for="{{$index}}-cb"></label>
                </div>
              </td>
              <td class="collapsing">
                <i class="circle icon link" ng-class="{'green': c._Status === 'Running', 'red' : c._Status === 'Stopped' || c._Status === 'Unknown', 'yellow': c._Status === 'Paused'}" data-content="{{ c.Status}}" variation="inverted blue"></i>
                <span class="hidden">{{c._Status}}</span>
              </td>
              <td class="collapsing" sortable="'Id'">{{c.Id | limitTo:12 }}</td>
              <td>{{c._Node}}</td>
              <td>{{c._Name}}</td>
              <td>{{c.Image}}</td>
              <td>{{c.Created * 1000 | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
              <td class="right aligned collapsing">
                <div class="ui action buttons">
                  <div class="ui right pointing dropdown basic icon button" stop-event='click'>
                    <i class="ellipsis vertical icon"></i>
                    <div class="menu">
                      <a ng-click="vm.showRestartContainerDialog(c)" class="item"><i class="green refresh icon"></i> Restart</a>
                      <a ng-click="vm.showStopContainerDialog(c)" class="item"><i class="black stop icon"></i> Stop</a>
                      <a ng-click="vm.showRemoveContainerDialog(c)" class="item"><i class="red remove icon"></i> Remove</a>
                    </div>
                  </div>
                </div>
              </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $('.ui.dropdown').dropdown();
</script>
