@import "utilities";

.codeblock {
  padding: $space-lg;
  border-radius: 2px;
  background-color: $color-geyser;
  border: solid 1px $color-geyser;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.2;
  color: $color-fiord;
  unicode-bidi: embed;
}
