<!--[metadata]>
+++
title = "Overview"
description = "Learn about the commands available in the docker/dtr image."
keywords = ["docker, dtr, install, uninstall, configure"]
[menu.main]
parent="dtr_menu_reference"
identifier="dtr_reference_overview"
weight=-10
+++
<![end-metadata]-->

# docker/dtr overview

{{if .Usage}}{{.Usage}}{{end}}


{{if .UsageText}}## Usage

```bash
{{.UsageText}}
```{{end}}

{{if .Flags}}## Options

| Option                    | Description                |
|:--------------------------|:---------------------------|
{{range .Flags}}|`--{{.Name}}`|{{.Usage}}|
{{end}}{{end}}
{{if .Commands}}## Commands

| Option                       | Description                |
|:-----------------------------|:---------------------------|
{{range .Commands}}|`{{.Name}}`| {{.Usage}}|
{{end}}{{end}}
