@import "utilities";

.card {
  padding: 0 $space-xxxl;
}

.title {
  @mixin fontSize 4;
  margin: $space-xl 0;
}

.publisherDetailsWrapper {
  @mixin 2columns 2, 10;
}

.publisherLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.companyLogo {
  width: $icon-size-store;
  height: $icon-size-store;
  border: 1px solid $color-variant-light-shade-hover;
  border-radius: 2px;
  background: $color-background-base;
  svg {
    height: 100%;
    width: 100%;
  }
}

.iconPreview {
  @mixin storeIcon;
}

.fields {
  margin-bottom: $space-md;
}

.sectionTitle {
  @mixin fontSize 2;
  font-weight: bold;
  margin-bottom: $space-xs;
}

.subText {
  color: $color-variant-dull;
  margin-bottom: $space-sm;
}

.input {
  width: 100%;
}
