@import "utilities";

.title {
  @mixin fontSize 4;
  color: $color-fiord;
}

.header {
  lost-flex-container: row;
  padding-bottom: $space-sm;
  & > * {
    lost-column: 1/2;
  }
}

.leftSide {
  display: flex;
}

.rightSide {
  text-align: right;
}

.logo {
  @mixin square 40px;
  margin-right: $space-sm;
}

.helpText {
  @mixin fontSize 0;
  color: $color-regent-gray;
}

.titleSpacing {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
