@import "dux/css/box";
@import 'dux/css/colors.css';

.formBody {
    margin: var(--default-margin) 0;
}

.pricingPanel {
    text-align: center;
}

.price {
    color: black;
}

.preview {
    composes: module from 'dux/dux/Module/Module.css';
    padding: 2rem 2rem 0;
    margin-left: 1rem;
}
