@import "dux/css/box.css";
@import "dux/css/colors.css";

.formWrapper {
	width: 70%;
}

.termsText {
	font-size: 0.9rem;
}

.title {
	padding-bottom: 0.5rem;
	font-weight: 500;
}

.label {
	color: #7a8491;
}

.select {
	border-radius: var(--global-radius);
}

.fullWidth {
	padding-top: 1rem;
}

.fullWidth > * {
	width: 100%;
}

.disabled {
	cursor: not-allowed;
}

.error {
  color: var(--primary-5);
	margin-bottom: 0.3rem;
}
