/** this is duplicated in the starter module **/
.formPadding {
	padding: 1rem .7rem;
}
.pricingPanel {
    text-align: center;
}
.trialPageWrapper {
	padding-top: 1.25rem;
}

.logo {
	margin: 0 auto 0.5rem;
	height: 80px;
}