@import "utilities";

.circle {
  transform: rotate(-90deg);
  transform-origin: 50%;
  fill: none;
  stroke-width: 8;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  transition: 0.3s all linear 0ms;
}

.label {
  @mixin fontSize 0;
  text-transform: uppercase;
  fill: $color-regent-gray;

}

.displayValue {
  @mixin fontSize 7;
  fill: $color-fiord;
}
