{{ partial "page-head.html" . }}

<div class="hero">
  <div class="navbar">
    <div class="name"><a href="/"><img src="{{.Site.BaseURL}}/images/docker-logo.png"></a></div>
    <div class="actions">
      <div class="link">
        <a href="#faq" class="one-page-link">FAQ</a>
      </div>
      <div class="link">
        <a href="#" class="docs-link" target="_blank">Docs</a>
      </div>
      <div class="link">
        <a href="https://github.com/docker/toolbox" target="_blank">Github</a>
      </div>
    </div>
  </div>
  <h2><img src="{{.Site.BaseURL}}/images/docker-toolbox-logo.png">docker toolbox</h2>
  <p>
    Installs everything you need to get started with Docker.
  </p>
  <div class="cta">
    <a href="#" class="btn download-link">Download Docker Toolbox</a>
  </div>
  <div class="whale-box">
    <img src="{{.Site.BaseURL}}/images/whale-box.png">
  </div>
</div>
<div id="about" class="content">
  <div class="wrapper-details">
    <h2>What's in the toolbox?</h2>
    <div class="items">
      <div class="item">
        <div class="info">
          <img src="{{.Site.BaseURL}}/images/engine.png">
          <h3>Docker Engine</h3>
          <p>Create and runs Docker containers.</p>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <img src="{{.Site.BaseURL}}/images/machine.png">
          <h3>Docker Machine</h3>
          <p>Provision Docker-ready local or remote machines.</p>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <img src="{{.Site.BaseURL}}/images/compose.png">
          <h3>Docker Compose</h3>
          <p>Define multi-container applications. (OS X only)</p>
        </div>
      </div>
      <div class="item">
        <div class="info">
          <img src="{{.Site.BaseURL}}/images/kitematic.png">
          <h3>Docker Kitematic</h3>
          <p>Desktop GUI for Docker.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="documentation" class="content blue center">
  <div class="documentation">
    <h3>Choose a path to get started.</h3>
    <div class="cta">
      <a href="#" target="_blank" class="btn docs-link">New to Docker</a>
      <a href="#" target="_blank" class="btn docs-exp-link">Already Using Docker</a>
    </div>
  </div>
</div>
<div id="faq" class="content">
  <div class="wrapper-details">
    <h2>FAQ</h2>
    <div class="qnas">
      <div class="qna">
        <div class="question">
          <h3>I already use Boot2Docker. How do I migrate my existing VMs to Docker Machine management?</h3>
        </div>
        <div class="answer">
          <p>
            To migrate a VM name <code>boot2docker-vm</code> from Boot2Docker to Docker Machine, please type the following command in your terminal:
          </p>
          <ol>
            <li>Open a terminal or the Docker CLI on your system.</li>
            <li>Type the following command.<br>
                <pre>docker-machine create -d virtualbox --virtualbox-import-boot2docker-vm boot2docker-vm dev</pre>
            </li>
            <li>Use the <code>docker-machine</code> command to interact with the migrated VM.  </li>
          </ol>
          <p>
            The Docker Machine command-line interface (CLI) is slightly different than the Boot2Docker CLI.
            Please see the <a href="http://docker-manthony.s3-website-us-east-1.amazonaws.com/installation/mac/#migrate-from-boot2docker-to-docker-machine" target="_blank">command comparison docs</a>
            for differences.
          </p>
          <p>
            If you are still having trouble, please visit the full
            <a href="http://docker-manthony.s3-website-us-east-1.amazonaws.com/installation/mac/#migrate-from-boot2docker-to-docker-machine" target="_blank">boot2docker migration docs</a>
            or file an issue on <a href="https://github.com/docker/toolbox" target="_blank">Github</a>.
          </p>
        </div>
      </div>
      <div class="qna">
        <div class="question">
          <h3>I've created a new virtual machine from Docker Machine. Where did my old containers and images go?</h3>
        </div>
        <div class="answer">
          <p>
            Docker Toolbox includes a tool called Docker machine, and it creates new and separate virtual machines (VM) from your old Boot2Docker VM.
            Your old containers and images are still in the old Boot2Docker VM and are not lost. You can migrate your Boot2Docker VM to
            machine by typing in the command in the previous Q&amp;A.
        </div>
      </div>
      <div class="qna">
        <div class="question">
          <h3>What do I do next? How to I get started with Docker?</h3>
        </div>
        <div class="answer">
          <p>
            There are a set of <a href="#" target="_blank" class="docs-link">official Docker tutorials</a> to get you started.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


{{ partial "footer.html" . }}
