<div class="ui container">
  <div class="details-section">
    <h3>License</h3>
    <div class="ui grid">
      <div class="row">
        <div class="ui column">
          <table class="ui very basic definition unstackable selectable padded table">
            <tbody>
              <tr><td>License ID</td><td>{{ vm.license.license_config.key_id }}</td></tr>
              <tr ng-hide="vm.license.license_config.key_id === 'unlicensed'"><td>Max Engines</td><td>{{ vm.license.details.max_engines }}</td></tr>
              <tr ng-hide="vm.license.license_config.key_id === 'unlicensed'"><td>Expiration</td><td>{{ vm.license.details.expiration | date:'yyyy-MM-dd HH:mm:ss Z' }}</td></tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row" ng-hide="vm.license.license_config.key_id === 'unlicensed'">
        <div class="ui column">
          <div class="ui checkbox">
            <input type="checkbox" id="auto_refresh" ng-model="vm.license.auto_refresh" ng-change="vm.setAutoRefresh()">
            <label for="auto_refresh">Auto Refresh License</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="ui column">
          <h5>Upload License</h5>
          <input type="file" accept=".lic" file-input="vm.licenseFile"><br />
        </div>
      </div>
      <div class="row">
        <div class="ui column">
          <button class="ui positive button" ng-class="{'disabled': vm.licenseFile === ''}" ng-click="vm.uploadLicense()">Upload License</button>
        </div>
      </div>
    </div>
  </div>
</div>
