<div id="disable-registry-modal" class="ui small modal transition" ng-submit="vm.disableRegistry()">
  <i class="close icon"></i>
  <div class="header">
    Are you sure you wish to disable DTR integration?
  </div>
  <div class="content">
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.disableRegistry()" class="ui positive button">
      Yes
    </div>
  </div>
</div>
<div id="update-registry-modal" class="ui small modal transition" ng-submit="vm.updateRegistry()" >
  <i class="close icon"></i>
  <div class="header">
    Are you sure you wish to update your registry config?
  </div>
  <div class="content">
  </div>
  <div class="actions">
    <div class="ui negative button">
      No
    </div>
    <div ng-click="vm.updateRegistry()" class="ui positive button">
      Yes
    </div>
  </div>
</div>
<div class="ui container">
  <div class="ui negative message" ng-show="vm.error">{{ vm.error }}</div>
  <form class="ui registry-config form">
    <h3>Docker Trusted Registry</h3>
    <div class="ui error message"></div>
    <div class="ui fluid field">
      <label>URL</label>
      <input name="url" type="text" placeholder="https://dtr.example.org" ng-model="vm.registry.url">
    </div>
    <div class="ui fluid field">
      <div class="ui checkbox" ng-model="vm.registry.insecure">
        <input type="checkbox" id="insecure_registry" ng-model="vm.registry.insecure">
        <label for="insecure_registry">Insecure</label>
      </div>
    </div>
    <div class="ui fluid field" ng-hide="vm.registry.insecure">
      <label>CA Certificate</label>
      <input type="file" file-input="vm.caFile"><br />
    </div>
    <br/>
    <button class="ui positive button" ng-click="vm.showUpdateRegistryModal()" tabindex="0">Update Registry</button>
    <button class="ui negative button" ng-show="vm.dtrEnabled" ng-click="vm.showDisableRegistryModal()">Disable Registry</button>
  </form>
</div>

<script>
  $('.ui.registry-config.form')
  .form({
    inline: true,
    fields: {
      image: {
        identifier : 'url',
        rules: [{
          type: 'regExp[/^https?:\/\/.*?$/]',
          prompt: 'URL is not a valid url'
        }]
      }
    }
  });
</script>
