<div class="ui container">
  <div class="details-section">
    <form class="ui form">
      <h3>Scheduler Settings</h3>

      <div class="field">
        <div class="ui checkbox" ng-model="vm.schedulerConfig.enable_admin_ucp_scheduling">
          <input type="checkbox" id="enable_admin_ucp_scheduling" ng-model="vm.schedulerConfig.enable_admin_ucp_scheduling">
          <label for="enable_admin_ucp_scheduling">Allow Administrators to deploy containers on UCP controllers or nodes running DTR</label>
        </div>
      </div>

      <div class="field">
        <div class="ui checkbox" ng-model="vm.schedulerConfig.enable_user_ucp_scheduling">
          <input type="checkbox" id="enable_user_ucp_scheduling" ng-model="vm.schedulerConfig.enable_user_ucp_scheduling">
          <label for="enable_user_ucp_scheduling">Allow Users to deploy containers on UCP controllers or nodes running DTR</label>
        </div>
      </div>

      <button class="ui positive button" ng-click="vm.updateScheduler()" tabindex="0">Update</button>
    </form>
  </div>
</div>
