<div id="settings" class="flex-wrapper">
  <div class="sidenav">
    <div class="sidenav-section">
      <span class="label">Settings</span>
    </div>
    <a class="item" ui-sref="dashboard.settings.swarm" ng-class="{ 'active': $state.current.name === 'dashboard.settings.swarm' }"><i class="icon"></i>Swarm</a>
    <a class="item" ui-sref="dashboard.settings.certs" ng-class="{ 'active': $state.current.name === 'dashboard.settings.certs' }"><i class="icon"></i>Certificates</a>
    <a class="item" ui-sref="dashboard.settings.logging" ng-class="{ 'active': $state.current.name === 'dashboard.settings.logging' }"><i class="icon"></i>Logs</a>
    <a class="item" ui-sref="dashboard.settings.enzi" ng-class="{ 'active': $state.current.name === 'dashboard.settings.enzi' }"><i class="icon"></i>Auth</a>
    <a class="item" ui-sref="dashboard.settings.registry" ng-class="{ 'active': $state.current.name === 'dashboard.settings.registry' }"><i class="icon"></i>DTR</a>
    <a class="item" ui-sref="dashboard.settings.licensing" ng-class="{ 'active': $state.current.name === 'dashboard.settings.licensing' }"><i class="icon"></i>License</a>
    <a class="item" ui-sref="dashboard.settings.tracking" ng-class="{ 'active': $state.current.name === 'dashboard.settings.tracking' }"><i class="icon"></i>Usage Reporting</a>
    <a class="item" ui-sref="dashboard.settings.scheduler" ng-class="{ 'active': $state.current.name === 'dashboard.settings.scheduler' }"><i class="icon"></i>Scheduler</a>
    <a class="item" ui-sref="dashboard.settings.trust" ng-class="{ 'active': $state.current.name === 'dashboard.settings.trust' }"><i class="icon"></i>Content Trust</a>
  </div>
  <div class="content-pane" ui-view></div>
</div>
