<div class="ui form container">
  <div class="ui segment">
    <h4>Worker Configuration</h4>
    <div class="ui field">
      <div class="ui checkbox">
        <input id="workerAutoAccept" type="checkbox" ng-model="vm.workerAutoAccept"></input>
        <label for="workerAutoAccept">Auto-accept Workers</label>
      </div>
    </div>
    <div class="ui field">
      <label>Secret Passphrase
        <i class="blue help circle icon"></i>
        <div class="ui popup">
          <h5>Secret Passphrase</h5>
          This must be provided when attempting to join a node to the cluster, otherwise the request will be rejected
          <pre class="fixed-width-font">
  docker swarm join --secret &lt;passphrase&gt;
          </pre>
        </div>
      </label>
      <input type="password" ng-model="vm.workerSecret" placeholder="Optional secret for workers..."></input>
    </div>
  </div>

  <div class="ui segment">
    <h4>Manager Configuration</h4>
    <div class="ui field">
      <div class="ui checkbox">
        <input id="managerAutoAccept" type="checkbox" ng-model="vm.managerAutoAccept"></input>
        <label for="managerAutoAccept">Auto-accept Managers</label>
      </div>
    </div>
    <div class="ui field">
      <label>Secret Passphrase
        <i class="blue help circle icon"></i>
        <div class="ui popup">
          <h5>Secret Passphrase</h5>
          This must be provided when attempting to join a node to the cluster, otherwise the request will be rejected
          <pre class="fixed-width-font">
  docker swarm join --secret &lt;passphrase&gt;
          </pre>
        </div>
      </label>
      <input type="password" ng-model="vm.managerSecret" placeholder="Optional secret for managers..."></input>
    </div>
  </div>
  <div class="ui segment">
    <h4>Raft</h4>
    <div class="ui field">
      <label>Snapshot Interval (Number of Log Entries)</label>
      <input type="number" ng-model="vm.swarm.Spec.Raft.SnapshotInterval"></input>
    </div>
    <div class="ui field">
      <label>Number of old snapshots to keep</label>
      <input type="number" ng-model="vm.swarm.Spec.Raft.KeepOldSnapshots" placeholder=""></input>
    </div>
    <div class="ui field">
      <label>Log Entries for Slow Followers</label>
      <input type="number" ng-model="vm.swarm.Spec.Raft.LogEntriesForSlowFollowers"></input>
    </div>
    <div class="ui field">
      <label>Heartbeat Tick (seconds)</label>
      <input type="number" ng-model="vm.swarm.Spec.Raft.HeartbeatTick"></input>
    </div>
    <div class="ui field">
      <label>Election Tick (seconds)</label>
      <input type="number" ng-model="vm.swarm.Spec.Raft.ElectionTick"></input>
    </div>
  </div>
  <div class="ui segment">
    <h4>Orchestration</h4>
    <div class="ui field">
      <label>Task History Retention Limit</label>
      <input type="number" ng-model="vm.swarm.Spec.Orchestration.TaskHistoryRetentionLimit"></input>
    </div>
  </div>
  <div class="ui segment">
    <h4>Dispatcher</h4>
    <div class="ui field">
      <label>Heartbeat Period (seconds)</label>
      <input type="number" ng-model="vm.swarm.Spec.Dispatcher.HeartbeatPeriod" convert-to-nanos></input>
    </div>
  </div>
  <div class="ui segment">
    <h4>Certificate Authority</h4>
    <div class="ui field">
      <label>Node Certificate Expiry (days)</label>
      <input type="number" ng-model="vm.swarm.Spec.CAConfig.NodeCertExpiry" days-to-nanos></input>
    </div>
  </div>

  <div class="ui submit blue button" ng-click="vm.updateConfig()">
    Update Swarm
  </div>
</div>
<script>
  $('.help.circle.icon').popup({
    inline: true,
    hoverable: true,
    position: 'right center',
    delay: {
      show: 150,
      hide: 400
    }
  });
</script>
