<div class="ui container">
  <div class="details-section">
    <form class="ui form">
      <h3>Usage Reporting</h3>

      <p>
        Help us improve Docker UCP by sending Docker usage reports!
      </p>

      <div class="field">
        <div class="ui checkbox" ng-model="vm.trackingConfig.disable_usageinfo">
          <input type="checkbox" id="disable_usageinfo" ng-model="vm.trackingConfig.disable_usageinfo" ng-true-value="false" ng-false-value="true">
          <label for="disable_usageinfo">Enable hourly usage reporting</label>
        </div>
      </div>

      <div class="field">
        <div class="ui checkbox" ng-model="vm.trackingConfig.disable_tracking">
          <input type="checkbox" id="disable_tracking" ng-model="vm.trackingConfig.disable_tracking" ng-true-value="false" ng-false-value="true">
          <label for="disable_tracking">Enable API tracking</label>
        </div>
      </div>
      <div class="field">
        <div class="ui checkbox" ng-model="vm.trackingConfig.anonymize_tracking">
          <input type="checkbox" id="anonymize_tracking" ng-model="vm.trackingConfig.anonymize_tracking">
          <label for="anonymize_tracking">Make report anonymous</label>
        </div>
      </div>
      <button class="ui positive button" ng-click="vm.updateTracking()" tabindex="0">Update Usage Reporting</button>
    </form>
  </div>
</div>
