<div class="ui container">
  <div class="details-section">
    <form class="ui form">
      <h3>Content Trust Settings</h3>

      <div class="field">
        <div class="field">
          <div class="ui checkbox">
            <input type="checkbox" id="require_content_trust" ng-model="vm.require_content_trust" ng-change="vm.toggleRequireTrust()">
            <label for="require_content_trust">Run only signed images</label>
          </div>
        </div>
        <div class="trust-options" ng-if="vm.require_content_trust">
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="require_content_trust_for_dtr" ng-model="vm.trustConfig.require_content_trust_for_dtr" ng-disabled="!vm.trustConfig.require_content_trust_for_hub">
              <label for="require_content_trust_for_dtr">Require signed images from DTR (requires DTR integration)</label>
            </div>
          </div>
          <div class="field">
            <div class="ui checkbox">
              <input type="checkbox" id="require_content_trust_for_hub" ng-model="vm.trustConfig.require_content_trust_for_hub" ng-disabled="!vm.trustConfig.require_content_trust_for_dtr">
              <label for="require_content_trust_for_hub">Require signed images from Hub</label>
            </div>
          </div>
        </div>
      </div>
      <button class="ui positive button" ng-click="vm.updateTrust()" tabindex="0">Update</button>
    </form>
  </div>
</div>
