.header {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.new {
  flex: 1 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .nomargin {
    margin: 0;
  }
}

.modal {
  padding: 0;
  width: 600px !important;
}

.monospace {
  font-family: monospace;
}

.smallColumn {
  width: 110px !important;
}
