@import "utilities";

$search-bar-height: 58px;

/* SVG size SMALL is 18px by 18px */
$icon-offset: calc(($search-bar-height - 18px) / 2);

.wrapper {
  position: relative;
  align-self: center;
  width: 60%;
}

.icon {
  fill: $color-regent-gray;
  position: absolute;
  top: $icon-offset;
  left: $icon-offset;
}

.bar {
  @mixin fontSize 4;
  text-indent: calc($icon-offset + $space-sm);
  width: 100%;
  height: $search-bar-height;
  padding-top: $space-xs;
  padding-bottom: $space-xs;
  padding-left: $space-sm;
  border: 0;
  outline: none;
  border-radius: $corner-size;
  color: $color-regent-gray;
  background-color: $color-white;

  /* box-shadow: 1px 1px 1px 0 $color-dodger-blue; */

  /*
  &:focus {
    background-color: $color-picton-blue;
    box-shadow: inset 1px 1px 1px 0 $color-dodger-blue;
  } */
}
