@import "utilities";

.title {
  @mixin fontSize 4;
  margin-right: $space-xs;
}

.allComments {
  @mixin fontSize 4;
  margin-bottom: $space-xs;
}

.previewHeader {
  display: flex;
  align-items: baseline;
  margin-bottom: $space-xs;
}

.link {
  color: $color-regent-gray;
}

.lastSubmitted {
  @mixin fontSize 0;
  color: $color-loblolly;
}
