@import "utilities";

.details {
  margin-top: $space-xxl;
}

.form {
  @mixin 2columns 9, 3;
  margin-bottom: $space-sm;
}

.buttonWrapper {
  display: flex;
  justify-content: space-between;
}

.backButton {
  margin: 2px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: $space-xxl;
}

.submit {
  margin: 0;
  padding: 0 $space-xl;
  margin: $space-xl 0;
  float: right;
  display: flex;
  align-items: center;
  cursor: pointer;
  .chevron {
    transform: rotate(-90deg);
    top: 0;
  }
}

.submitWrapper {
  color: $color-variant-dull;
  display: flex;
  line-height: $space-xxl;
}

.globalError {
  margin-right: $space-lg;
  color: $color-carnation;
}

.message {
  margin-right: $space-lg;
}

.tip {
  margin-bottom: 32px;
  margin-left: 20px;
  font-size: 13px;

  h5 {
    color: #354a5b;
    font-size: 13px;
    margin: 0 0 $space-md;
    font-weight: normal;
  }

  p {
    color: $color-regent-gray;
    margin: 0;
  }
}
