@import "dux/css/colors.css";
@import "dux/css/box.css";

.inactive {
    margin: 0 1rem;
    width: 3rem;
    display: inline-block;
}

.tokenRegen {
    padding: 0;
    margin-top: .25rem;
}

.triggerValue {
    width: 100%;
    cursor: text;
    padding: .5rem;
}

.triggerTitle {
    padding-bottom: .5rem;
}

.status {
    margin: .5rem 0;
}

.content {
    p, div {
        font-family: monospace;
    }
}

.logs div {
    font-size: .75rem;
}

.examplesToggle {
    color: var(--primary-1);
    &:hover {
        cursor: pointer;
    }
}

.label {
    padding: 0.5rem 0;
    font-weight: 500;
}