@import "dux/css/colors.css";
@import 'dux/css/box.css';

.repoName {
    padding-right: 0.5rem;
}

.repoName a {
	color: var(--base);
	&:hover {
		color: var(--primary-1);
	}
}

.removeLink i {
    color: var(--base);
    cursor: pointer;
}

.removeLink i:hover {
    color: color(var(--base) blackness(20%));
}

.success {

}
.error {
	color: var(--primary-5);
}

.label {
	padding: 0.5rem 0;
	font-weight: 500;
}

.tag {
	display: flex;
	flex-flow: row nowrap;
	border-radius: var(--global-radius);
	border: 1px solid var(--base);
	color: var(--base);
	justify-content: flex-start;
	align-items: center;
	padding: 0.5rem 1rem;
	margin: 0 1rem 1rem 0;
}

.tagsWrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: center;
}
