.choices {
	margin: 0 10px;
	display: inline;
	margin: 0 10px;
}

.row, .buttons {
	lost-flex-container: row;
	margin-top: 25px;
}

.account, .repo, .permissions {
	lost-column: 1/3;

	select {
		width: 100%;
	}
}

.description {
	lost-column: 2/3 2;
}
.visibility {
	lost-column: 1/3 2;
}

.account {
	position: relative;
	&:after {
		content: '/';
		position: absolute;
		right: -20px;
		top: 25px;
		font-size: 1.5rem;
		color: ~colors.silver;
	}
}

.error {
	color: ~colors.alertColor;
}
