@import "utilities";

/* Overrides specific to Docker Cloud */

:global {
  .dMarkdown {
    * {
      color: $color-regent-gray;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      padding: 0;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
    }

    h1 {
      @mixin headline;
    }

    h2 {
      @mixin title;
    }

    h3 {
      @mixin subhead;
    }

    h4,
    h5,
    h6 {
      @mixin fontSize 2;
    }

    p {
      @mixin fontSize 1;
    }

    a {
      margin: 0;
      padding: 0;
      vertical-align: baseline;
    }

    a:not([href]) {
      color: inherit;
      text-decoration: none;
    }

    ul,
    ol {
      padding: 0;
      margin: 0;
    }

    li {
      line-height: 24px;
    }

    li ul,
    li ul {
      margin-left: 24px;
    }

    pre {
      padding: 0 24px;
      white-space: pre-wrap;
    }

    code {
      padding: 0;
      padding-top: 0.2em;
      padding-bottom: 0.2em;
      margin: 0;
      font-size: 85%;
      background-color: rgba(0, 0, 0, 0.04);
      border-radius: 3px;
    }

    code::before,
    code::after {
      letter-spacing: -0.2em;
      content: "\00a0";
    }

    pre > code {
      padding: 0;
      margin: 0;
      font-size: 100%;
      word-break: normal;
      white-space: pre;
      background-color: rgba(0, 0, 0, 0.04);
      border: 0;
    }

    pre code::before,
    pre code::after {
      content: normal;
    }
  }
}
