	<footer class="main_footer">
	<div class="container">
		<div class="top_footer">
			<div class="row">
				<div class="col-xs-12 col-sm-5 col-md-5 col-sm-push-3 col-md-push-3">
					<h6>Connect</h6>
					<p>Subscribe to our newsletter</p>
					<div class=" newsletter">
						<script src="//app-sj05.marketo.com/js/forms2/js/forms2.min.js"></script>
						<form id="mktoForm_1038"></form>
						<script>
							MktoForms2.loadForm("//app-sj05.marketo.com", "929-FJL-178", 1038, function(form) {
								form.onSuccess(function(values, followUpUrl) {
									location.href = "https://www.docker.com/thank-you-subscribing-docker-weekly";
									return false;
								});
							});
							MktoForms2.whenReady(function(form){
							/*	$('#mktoForm_1038 #Email').attr('placeholder', 'Enter your email'); */
							});
						</script>
					</div>
					<ul class="social-icons">
						<li class="facebook"><a target="_blank" href="https://www.facebook.com/docker.run">facebook</a></li>
						<li class="google"><a target="_blank" href="https://plus.google.com/u/0/communities/108146856671494713993">google-plus</a></li>
						<li class="github"><a target="_blank" href="https://github.com/docker/docker">github</a></li>
						<li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/docker">linkedin</a></li>
						<li class="youtube"><a target="_blank" href="https://www.youtube.com/user/dockerrun">youtube</a></li>
						<li class="reddit"><a target="_blank" href="https://www.reddit.com/r/docker">reddit</a></li>
						<li class="twitter"><a target="_blank" href="https://twitter.com/docker">twitter</a></li>
						<li class="slideshare"><a target="_blank" href="http://www.slideshare.net/docker">slideshare</a></li>
					</ul>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3 col-sm-pull-5 col-md-pull-5 sm-margin-top-40">
				<h6>Docker</h6>
					<ul class="menu"><li class="first leaf menu-mlid-1487"><a href="/engine/getstarted/" target="_blank">Get Started</a></li>
<li class="leaf menu-mlid-1488"><a href="https://docs.docker.com/" target="_blank">Docs</a></li>
<li class="leaf menu-mlid-1490"><a href="https://blog.docker.com/" target="_blank">Blog</a></li>
<li class="leaf menu-mlid-1491"><a href="https://training.docker.com/" target="_blank">Training</a></li>
<li class="last leaf menu-mlid-1492"><a href="https://www.docker.com/open-source">Open Source</a></li>
</ul>				</div>
				<div class="col-xs-6 col-sm-4 col-md-4 sm-margin-top-40">
					<h6>Related Links</h6>
					<!--8c60a82e716c2bbe785434e072d7ff1b--> <ul id="cp_links">    <li><a href="https://www.docker.com/cp/container-management-deployment">Container Management Deployment</a></li>    <li><a href="https://www.docker.com/cp/docker-and-aws">Docker And Aws</a></li>    <li><a href="https://www.docker.com/cp/container-management-orchestration">Container Management Orchestration</a></li>    <li><a href="https://www.docker.com/cp/docker-and-kubernetes">Docker And Kubernetes</a></li>    <li><a href="https://www.docker.com/cp/container-orchestration-engines">Container Orchestration Engines</a></li>         </ul>					<div id="block-block-5" class="block block-block">
				</div>				</div>
			</div>
		</div>
		<div class="bottom_footer">
			<div class="footer-nav">
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-5 col-md-push-7">
		<nav class="primary-footer-sub-nav">
			<ul>
				<li><a href="https://www.docker.com/products/docker-hub">Hub</a></li>
				<li><a href="https://status.docker.com/">Status</a></li>
				<li><a href="https://www.docker.com/docker-security">Security</a></li>
				<li><a href="https://www.docker.com/legal">Legal</a></li>
				<li><a href="https://goto.docker.com/sales-inquiry.html">Contact</a></li>
			</ul>
		</nav>
	</div>
	<div class="col-xs-12 col-sm-12 col-md-7 col-md-pull-5">
		<p>Build, Ship, Run. An open platform for distributed applications for developers and sysadmins</p>
	</div>
</div>
			</div>
			<div class="footer-copyright">
				<p class="copyright">Copyright © 2016 Docker Inc. All rights reserved.</p>
			</div>
		</div>
	</div>
</footer>
<!-- highlight.js -->
<link rel="stylesheet" href="/highlight/styles/github.css">
<script src="/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

  <script src="/assets/js/alljs.js"></script>
  <!-- doc menu -->
	<script async src="/menu.js"></script>
	<script async src="/assets/js/app.js"></script>
	<script async src="/assets/js/anchorlinks.js"></script>

	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WLGFZV" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-WLGFZV');</script>
	<!-- End Google Tag Manager -->
{{ if not .Params.notoc }}
<!-- Algolia DocSearch -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> docsearch({
apiKey: '828e35034e76dbb6fdc5b33c03d5702f',
indexName: 'docker',
autoSelect: false,
inputSelector: '#st-search-input',
debug: false
});
</script>
{{end}}
</body>
</html>
