{{/* meta partial for publishing resources */}}
{{ $icons := slice }}
{{ $icons = $icons | append (resources.Get "icons/info-fill.svg") }}
{{ $icons = $icons | append (resources.Get "icons/dangerous-fill.svg") }}
{{ $icons = $icons | append (resources.Get "icons/warning-fill.svg") }}
{{ $icons = $icons | append (resources.Get "icons/lightbulb-fill.svg") }}
{{ $icons = $icons | append (resources.Get "icons/science-fill.svg") }}
{{ $icons = $icons | append (resources.Get "icons/rocket_launch-fill.svg") }}
{{ range $icons }}
  {{ .Publish}}
{{ end }}
