<!DOCTYPE html>
<!-- Page generated {{ site.time }}
{%- if page.edit_url -%}
    {%- assign edit_url = page.edit_url -%}
{%- else -%}
    {% capture edit_url %}{{ site.repo }}/edit/main/{{ page.path }}{% endcapture %}
{%- endif -%}
{%- if page.issue_url -%}
    {%- assign issue_url = page.issue_url -%}
{%- else -%}
    {% capture issue_url %}{{ site.repo }}/issues/new?body=File: [{{ page.path }}]({{ site.docs_url }}{{ page.url }}){% endcapture %}
{%- endif -%} -->
<html lang="en">
{%- include head.html -%}
<body class="colums">
    <header>
        {% include header.html %}
    </header>
    <div class="wrapper right-open">
        <div class="container-fluid">
            <div class="row">
                <div class="col-body">
                    <main class="col-content content">
                        <section class="section">
                            {%- if page.title -%}
                            <h1>{{ page.title }}</h1>
                            {%- endif -%}
                            {%- if page.advisory -%}
                            <blockquote>{{ site.data.advisories.texts[page.advisory] | markdownify }}</blockquote>
                            {%- endif -%}
                            <p>{%- include read_time.html -%}</p>
                            {{ content }}
                            {%- unless page.notags == true -%}
                            {%- assign keywords = page.keywords | split:"," -%}
                            {%- if keywords.size > 0 -%}
                            <span class="glyphicon glyphicon-tags" style="padding-right: 10px"></span><span style="vertical-align: 2px">
                                {%- for keyword in keywords -%}
                                {%- assign strippedKeyword = keyword | strip -%}
                                <a href="/search/?q={{ strippedKeyword }}">{{ strippedKeyword }}</a>
                                {%- unless forloop.last %}, {% endunless -%}
                                {%- endfor -%}
                            </span>
                            {%- endif -%}
                            {%- endunless %}
                        </section>
                    </main>
                    <nav class="col-nav">
                        <div id="sidebar-nav" class="sidebar hidden-sm hidden-xs">
                            <div id="navbar" class="nav-sidebar">
                                <ul class="nav hidden-md hidden-lg"></ul>
                                <ul class="nav" id="jsTOCLeftNav"></ul>
                            </div>
                        </div>
                    </nav>
                    <div class="col-toc">
                        <div class="sidebar hidden-xs hidden-sm">
                            <div class="toc-nav">
                                <div class="feedback-links">
                                    <ul>
                                        <li>{%- include theme-switch.html -%}</li>
                                    </ul>
                                </div>
                                {%- unless page.notoc -%}
                                {%- assign my_min = page.toc_min | default: site.toc_min | default: 2 -%}
                                {%- assign my_max = page.toc_max | default: site.toc_max | default: 3 -%}
                                {%- assign my_name = page.url | default: "unnamed" -%}
                                <div id="side-toc-title">Contents:</div>
                                {%- include toc_pure_liquid.html html=content sanitize=true class="inline_toc" id="my_toc" toc_min=my_min toc_max=my_max page_name=my_name -%}
                                {%- endunless -%}
                                <div class="feedback-links">
                                    <ul>
                                        {%- if edit_url != "" -%}
                                        <li><a href="{{ edit_url }}"><i class="fa fa-pencil" aria-hidden="true"></i> Edit this page</a></li>
                                        {%- endif -%}
                                        {%- if issue_url != "" -%}
                                        <li><a href="{{ issue_url }}" class="nomunge"><i class="fa fa-check" aria-hidden="true"></i> Request changes</a></li>
                                        {%- endif -%}
                                    </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer">
        {% include footer.html %}
    </footer>
    <script>const pageURL = "{{ page.url }}";</script>
</body>
</html>
