<!-- Page generated {{ site.time }} -->
<!-- Logic for 'edit this button'
{% assign edit_url = "https://github.com/docker/docker.github.io/edit/master/" | append: page.path %}
{% for entry in site.data.not_edited_here.overrides %}
    {% if page.path contains entry.path %}
        {% if entry.source %}
            {% assign edit_url = entry.source %}
        {% else %}
            {% assign edit_url = "" %}
        {% endif %}
    {% break %}
    {% endif %}
{% endfor %}
-->
<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% if page.landing == true %}
    {% include body-landing.html %}
{%else%}
    {% include body.html %}
{% endif %}
</html>
