<!DOCTYPE html>
<html>
<head>
    <title>Docker Engine API {{ page.name | replace: '.md' }} Reference</title>
    <!-- needed for adaptive design -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Reference for the API served by Docker Engine." />
    <meta charset="utf-8" />
    <!-- favicon -->
    <meta name="msapplication-TileImage" content="/favicons/docs@2x.ico" />
    <meta property="og:image" content="/favicons/docs@2x.ico" />
    <link rel="apple-touch-icon" type="image/x-icon" href="/favicons/docs@2x.ico" sizes="129x128" />
    <link rel="icon" type="image/x-icon" href="/favicons/docs@2x.ico" sizes="129x128" />
    <link rel="stylesheet" type="text/css" href="/css/api-reference.css" />
</head>
<body>
<redoc spec-url="/engine/api/{{ page.name | replace: '.md'}}.yaml" hide-hostname="true" suppress-warnings="true" lazy-rendering></redoc>
<script src="/js/redoc.min.js"></script>
</body>
</html>
