<!DOCTYPE html>
<!-- Page generated {{ site.time }} -->
<html lang="en">
{%- include head.html -%}
<body id="landing" class="landing colums">
  <header>
    {% include header.html %}
  </header>  
  <div class="wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-body">
                
              <main class="col-content content">
                    <section class="section">
                      <div class="row home-docker-onboarding">
                        <div class="col-xs-12 col-md-3">
                          <div class="image" style="background-image: url(/assets/images/laptop.svg);"></div>                              
                        </div>                            
                        <div class="col-xs-12 col-md-9">
                          <h2>Docker onboarding guide</h2>
                          <p>
                            Want to use Docker but don't know where to start? This guide contains step-by-step instructions on how to get started with Docker.
                          </p>
                          <a class="btn" href="/get-started/overview/">
                            Start with Part 1: Overview
                          </a>
                        </div>
                      </div>
                    </section>
                    <section>
                      <div class="row landing-product-cards">
                        <div class="col-xs-12 col-sm-6 col-lg-4 card-holder">
                          <div class="card">
                            <h5 class="title">Docker Desktop</h5>
                            <p>
                              Install on <a href="/desktop/install/mac-install/">Mac</a>, <a href="/desktop/install/windows-install/">Windows</a> and <a href="/desktop/install/linux-install/">Linux</a>
                            </p>
                            <p>
                              <a href="/desktop/hardened-desktop/">Hardened Desktop</a>
                            </p>                            
                            <p>
                              <a href="/desktop/extensions/">Extentions (Beta)</a>
                            </p>
                            <p class="view-topic">
                              <a href="/desktop/">View topic</a>
                            </p>                          
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4 card-holder">
                          <div class="card">
                            <h5 class="title">Docker Engine</h5>
                            <p>
                              <a href="/engine/install/">Install Docker Engine</a>
                            </p>
                            <p>
                              <a href="/network/">Configure Networking</a>
                            </p>
                            <p>
                              <a href="/storage/">Configure Storage</a>
                            </p>
                            <p class="view-topic">
                              <a href="/engine/">View topic</a>
                            </p>                          
                          </div>
                        </div>                        
                        <div class="col-xs-12 col-sm-6 col-lg-4 card-holder">
                          <div class="card">
                            <h5 class="title">Docker Build</h5>
                            <p>
                              <a href="build/building/packaging/">Building Images</a>
                            </p>
                            <p>
                              <a href="/build/buildkit/">Buildkit</a>
                            </p>
                            <p>
                              <a href="/build/buildx/install/">Buildx</a>
                            </p>
                            <p class="view-topic">
                              <a href="/build/">View topic</a>
                            </p>                          
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4 card-holder">
                          <div class="card">
                            <h5 class="title">Docker Compose</h5>
                            <p>
                              <a href="/compose/install/">Install Docker Compose</a>
                            </p>
                            <p>
                              <a href="/compose/environment-variables/">Environment variables in Compose</a>
                            </p>
                            <p>
                              <a href="/compose/samples-for-compose/">Sample apps with Compose</a>
                            </p>
                            <p class="view-topic">
                              <a href="/compose/">View topic</a>
                            </p>                          
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4 card-holder">
                          <div class="card">
                            <h5 class="title">Docker Hub</h5>
                            <p>
                              <a href="/docker-hub/">Docker Hub Quickstart</a>
                            </p>
                            <p>
                              <a href="/docker-hub/repos/">Repositories</a>
                            </p>
                            <p>
                              <a href="/docker-hub/vulnerability-scanning/">Vulnerability Scanning</a>
                            </p>
                            <p class="view-topic">
                              <a href="/docker-hub/">View topic</a>
                            </p>                          
                          </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-lg-4 card-holder">
                          <div class="card">
                            <h5 class="title">Business & Teams</h5>
                            <p>
                              Onboard <a href="/docker-hub/onboard-business/">Business</a> or <a href="/docker-hub/onboard-team/">Teams</a>
                            </p>
                            <p>
                              <a href="/docker-hub/members/">Manage Members</a>
                            </p>
                            <p>
                              <a href="/single-sign-on/">Single Sign-On (SSO)</a>
                            </p>
                            <p class="view-topic">
                              <a href="/docker-hub/orgs/">View topic</a>
                            </p>                          
                          </div>
                        </div>    
                        <div class="col-xs-12 col-sm-6 col-lg-4 card-holder">
                          <div class="card">
                            <h5 class="title">Reference</h5>
                            <p>
                              <a href="/engine/reference/run/">Docker Engine CLI</a>
                            </p>
                            <p>
                              <a href="/engine/reference/builder/">Dockerfile reference</a>
                            </p>
                            <p>
                              <a href="/compose/compose-file/">Compose specification</a>
                            </p>
                            <p class="view-topic">
                              <a href="/reference/">All references</a>
                            </p>                          
                          </div>
                        </div>                                                
                      </div>                      
                    </section>
                </main>

                <nav class="col-nav">
                    <div id="sidebar-nav" class="sidebar hidden-sm hidden-xs">
                        <div id="navbar" class="nav-sidebar">
                            <ul class="nav hidden-md hidden-lg"></ul>
                            <!-- <ul class="nav" id="jsTOCLeftNav"></ul> -->
                            <ul class="nav" id="landingLeftNav">
                              {%- for entry in site.data.toc.horizontalnav -%}
                                {% if entry.sublinks %}
                                  {% if entry.weak_link %}
                                    {% for sublink in entry.sublinks %}
                                    <li class="weakNavItem">
                                      <a href="{{ sublink.path }}" id="{{ sublink.node }}">{{ sublink.title }}</a>
                                    </li>    
                                    {% endfor %}                                                                    
                                  {% else %}
                                    <li class="title">
                                      {{ entry.title }}
                                    </li>                                  
                                    {% for sublink in entry.sublinks %}
                                      <li class="subNavItem">
                                        <a href="{{ sublink.path }}" id="{{ sublink.node }}">{{ sublink.title }}</a>
                                      </li>
                                    {% endfor %}                                  
                                  {% endif %}
                                {% else %}
                                  {%- if entry.hide_home -%}{% continue %}{%- endif -%}
                                  <li>
                                    <a href="{{ entry.path }}" id="{{ entry.node }}">{{ entry.title }}</a>
                                  </li>
                                {% endif %}
                                <li class="divider"></li>
                              {% endfor %}                              
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

  <footer class="footer">
    {% include footer.html %}
  </footer>

  <script>
    window.onChangeHelpTab = function (name) {
      const currentActiveTab = document.querySelector(".help-by-product ul.nav li.active");
      if (currentActiveTab) currentActiveTab.classList.remove("active");
      const currentActiveBody = document.querySelector(".help-by-product div.row.active[data-tab]");
      if (currentActiveBody) currentActiveBody.classList.remove("active");
      const nextActiveTab = document.querySelector('.help-by-product ul.nav li[data-tab="' + name + '"]');
      if (nextActiveTab) nextActiveTab.classList.add("active");
      const nextActiveBody = document.querySelector('.help-by-product div.row[data-tab="' + name + '"]');
      if (nextActiveBody) nextActiveBody.classList.add("active");
    };
    window.onChangeHelpOs = function (os) {
      const container = document.querySelector('div[data-tab="desktop"]');
      if (container) container.setAttribute("data-os", os);
    };
  </script>
</body>
</html>
