<ul class="pagination">
  <li {% if include.selected=="1"%}class="active"{% endif %}><a href="index.md">1: Orientation</a></li>
  <li {% if include.selected=="2"%}class="active"{% endif %}><a href="part2.md">2: Containers</a></li>
  <li {% if include.selected=="3"%}class="active"{% endif %}><a href="part3.md">3: Services</a></li>
  <li {% if include.selected=="4"%}class="active"{% endif %}><a href="part4.md">4: Swarms</a></li>
  <li {% if include.selected=="5"%}class="active"{% endif %}><a href="part5.md">5: Stacks</a></li>
  <li {% if include.selected=="6"%}class="active"{% endif %}><a href="part6.md">6: Deploy your app</a></li>
</ul>
