@import "utilities";

html {
  background-color: $color-background-base;
}

/* flexbox sticky footer */

/* https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/ */
.app {
  /* In development: make the app visible once css has loaded */
  display: flex !important;
  min-height: 100vh;
  flex-direction: column;
}

.main {
  flex: 1 auto;
}
