
.filterInput {
    input[type='text'] {
        background-color: white;
        border-right: 0;
        &:focus {
            border-color: #ccc;
        }
    }
}

.iconStyle {
    border-left: 0;
    background: white !important;
    line-height: 2.5;
    &:hover {
         cursor: pointer;
    }
}