.wrapper {
	position: relative;

	.default {
		font-size: 14px;
		border: 1px solid ~colors.coolGrey;
		border-radius: 2px;
		padding: .5rem  40px .45rem .8rem;
		background-color: #fff;
		appearance: none;
	}

	select {
		width: 100%;
	}

	&:not(.disabled):after {
		content: '\25BE'; /* triangle */
		position: absolute;
		top: 6px;
		right: 14px;
    pointer-events: none;
	}
}
