@import "utilities";

/* Search Bar */
$search-bar-height: 58px;

/* SVG size SMALL */
$icon-offset: calc(($search-bar-height - $icon-size-small) / 2);

.wrapper {
  width: 60%;
  min-width: 400px;
}

.icon {
  fill: $color-regent-gray;
  position: absolute;
  top: $icon-offset;
  left: $icon-offset;
}

.input {
  @mixin fontSize 4;
  text-indent: calc($icon-offset + $space-sm);
  height: $search-bar-height;
  color: $color-regent-gray;
}

/* Search Autocomplete Results */
.result {
  padding: $space-sm;
  cursor: default;
  text-align: left;
}

.highlightedResult {
  padding: $space-sm;
  cursor: default;
  background: $color-variant-light-shade-hover;
  text-align: left;
}

.menuTitle {
  @mixin fontSize 2;
  font-weight: 600;
  padding: $space-md $space-sm;
  cursor: default;
  color: $color-fiord;
  text-align: left;
}

.resultName {
  @mixin fontSize 2;
  color: $color-fiord;
}

.resultCategories {
  @mixin fontSize 1;
  color: $color-regent-gray;
}
