@import "utilities";

/* Versions and Subscriptions */
.versionsAndSubscriptions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subscriptionDetail {
  margin-bottom: $space-lg;
}

.whatsIncluded {
  margin-bottom: $space-xxl;
}

.subSectionTitle {
  @mixin fontSize 3;
  font-weight: 600;
  margin-bottom: $space-xs;
}

.included,
.subSectionHelpText {
  @mixin fontSize 0;
  margin-bottom: $space-xs;
}

.button {
  margin-left: 0;
  margin-right: $space-sm;
  cursor: pointer;
  & > a {
    text-decoration: none;
  }
}

.link {
  @mixin fontSize 2;
  color: $color-regent-gray;
  margin-right: $space-xl;
}

.defaultVersion {
  @mixin fontSize 3;
  margin-right: $space-xs;
}

.flexRow {
  display: flex;
  align-items: center;
}

.defaultVersionLine {
  margin-bottom: $space-xs;
}

.shield {
  fill: $color-pacific-blue;
  margin-right: $space-xs;
}

.pullCommand {
  @mixin fontSize 2;
  color: $color-regent-gray;
  margin-bottom: $space-sm;
}

.pullCode {
  @mixin fontSize 2;
  border-radius: $corner-size;
  background-color: $color-fiord;
  color: $color-white;
  padding: $space-xs $space-sm;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
}
