@import "utilities";

/* Versions and Subscriptions */
.flexColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.link {
  @mixin fontSize 2;
  color: $color-regent-gray;
  margin-right: $space-xl;
}

.bottomSpacing {
  margin-bottom: $space-xl;
}

.subscriptionDetail {
  composes: bottomSpacing;

  @mixin fontSize 4;
  font-weight: 600;
}

.legalText {
  @mixin fontSize 0;
  color: $color-regent-gray;
  margin-bottom: $space-sm;
}

.button {
  margin-left: 0;
  cursor: pointer;
}

.terms {
  text-decoration: underline;
  margin-left: $space-xxs;
}

/* Product Tiers */
.tabStyle {
  @mixin fontSize 2;
  width: 100%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.selectedTab {
  composes: tabStyle;
  border-bottom: solid 2px $color-dodger-blue;
  > div {
    font-weight: bold;
  }
}

.tab {
  composes: tabStyle;
  border-bottom: solid 1px $color-geyser;
}

.tabs {
  composes: bottomSpacing;
  display: flex;
}

.price {
  @mixin fontSize 3;
  margin-bottom: $space-sm;
}

.name {
  margin-bottom: $space-xxs;
}

.description {
  composes: bottomSpacing;

  @mixin fontSize 2;
}
