<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Docker</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Docker</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.12.2-rc1-beta27</string>
	<key>CFBundleVersion</key>
	<string>999999999</string>
	<key>DockerBuildType</key>
	<string>dev</string>
	<key>HockeyAppId</key>
	<string></string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.developer-tools</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2016 Docker Inc. All Rights Reserved.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>BITCrashExceptionApplication</string>
	<key>NSUserNotificationAlertStyle</key>
	<string>alert</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.docker.vmnetd</key>
		<string>identifier "com.docker.vmnetd" and certificate leaf[subject.CN] = "Developer ID Application: Docker Inc (9BNSXJN65R)"</string>
	</dict>
	<key>SUAllowsAutomaticUpdates</key>
	<false/>
	<key>SUEnableAutomaticChecks</key>
	<false/>
	<key>SUEnableSystemProfiling</key>
	<false/>
	<key>DockerKitematicMinVersion</key>
	<string>0.10.4</string>
	<key>SUFeedURL</key>
	<string></string>
</dict>
</plist>
