@import "utilities";

.name {
  @mixin fontSize 7;
  margin-bottom: $space-sm;
}

.categoryAndPopularity {
  @mixin fontSize 2;
  color: $color-fiord;
  margin-bottom: calc($space-xxl - 1em);
}

.shortDescription {
  margin-bottom: $space-xxl;
}

.link {
  color: $color-regent-gray;
  margin-right: $space-xl;
}

.flexRow {
  display: flex;
  align-items: center;
}

.detailsAndTagsCards {
  @mixin 2columns 8, 4;
}

.commentsBox,
.detailsCard {
  padding-right: $space-xxl;
  margin-bottom: $space-xxxl;
}

.tagsCard {
  margin-right: $space-sm;
}

.logo {
  @mixin square 40px;
}

.tagDetails {
  font-weight: 600;
  margin-right: $space-xs;
  margin-bottom: $space-xs;
}

.notScanned {
  @mixin fontSize 0;
  color: $color-regent-gray;
}

.viewAllVersions {
  color: $color-regent-gray;
  margin-bottom: $space-xs;
}

.pullCommand {
  @mixin fontSize 2;
  color: $color-regent-gray;
  margin-bottom: $space-sm;
}

.pullCommand + .pullCode {
  @mixin fontSize 2;
  background-color: $color-fiord;
  color: $color-white;
  padding: $space-xs $space-sm;
  white-space: nowrap;
  overflow-x: auto;
  width: 100%;
}

/* Do not let a child img element stretch outside of the parent's bounds */
.scaleImages img {
  max-width: 100%;
}
