{{ $product_link := "[Docker Hub](https://hub.docker.com)" }}
{{ $audit_navigation := "Select **Organizations**, your organization, and then **Activity**." }}
{{ if eq (.Get "product") "admin" }}
  {{ $product_link = "the [Admin Console](https://admin.docker.com)" }}
  {{ $audit_navigation = "Select your organization in the left navigation drop-down menu, and then select **Activity logs**." }}
{{ end }}

### View the activity logs

To view the activity logs:

1. Sign in to {{ $product_link }}.
2. {{ $audit_navigation }}

> **Note**
>
> Docker retains the activity data for a period of three months.

### Customize the activity logs

By default, all activities that occur are displayed on the **Activity** tab. Use the calendar option to select a date range and customize your results. After you have selected a date range, the activity logs of all the activities that occurred during that period are displayed.

> **Note**
>
> Activities created by the Docker Support team as part of resolving customer issues appear in the activity logs as **dockersupport**.

Select the **All Activities** drop-down to view activities that are specific to an organization, repository, or billing. In Docker Hub, if you select the **Activities** tab from the **Repository** view, you can only filter repository-level activities.

After choosing **Organization**, **Repository**, or **Billing**, you can further refine the results using the **All Actions** drop-down.
