{{ $product_link := "[Docker Hub](https://hub.docker.com)" }}
{{ $sso_navigation := `Navigate to the SSO settings page for your organization.
   - Organization: Select **My Hub**, your organization, **Settings**, and then **Security**.` }}

{{ if eq (.Get "product") "admin" }}
  {{ $product_link = "[Docker Home](https://app.docker.com/) and select your organization." }}
  {{ $sso_navigation = "Select **Admin Console**, then **SSO and SCIM**." }}
{{ end }}

1. Sign in to {{ $product_link }}.
1. {{ $sso_navigation }}
1. In the SSO connections table, select the **Actions** icon.
1. Select **Disable SCIM**.
