{{/* Links to pages in the same section that also contain this shortcode */}}
<ul class="not-prose flex flex-wrap list-none p-0 w-full text-sm">
  {{ range page.Parent.Pages }}
  {{ if .HasShortcode "siblings" }}
  <li class="p-1 first-of-type:rounded-l last-of-type:rounded-r px-2 dark:bg-gray-dark-100 hover:opacity-50{{ if eq page . }}
          bg-blue-light-500 dark:bg-gray-dark-200
        {{ end }}">
    <a {{ if eq page . }} class="text-white" {{ else }} class="link !no-underline" {{ end }} href="{{ .Permalink }}">{{
      .LinkTitle }}</a>
  </li>
  {{ end }}
  {{ end }}
</ul>
