<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet">

{{ $featureName := .Get "feature_name" }}
{{ $feature := index (where site.Data.summary.features "name" $featureName) 0 }}
{{ if $feature }}
<div class="flex flex-col p-4 bg-background-light dark:bg-background-dark rounded-none summary-bar"
     style="border-left: 4px solid #677285; padding-left: 16px; padding-top: 8px; padding-bottom: 8px; margin-top: 8px; margin-bottom: 8px;">

    <div class="flex flex-col gap-0.5">
        {{ if $feature.subscriptionText }}
        <div class="flex items-center gap-1">
            <span class="text-black dark:text-white font-bold">Subscription:</span>
            <span class="text-black dark:text-white">{{ $feature.subscriptionText }}</span>
            <span class="material-symbols-rounded text-black dark:text-white">
                {{ $feature.subscriptionIcon }}
            </span>
        </div>
        {{ end }}

        {{ if $feature.availabilityText }}
        <div class="flex items-center gap-1">
            <span class="text-black dark:text-white font-bold">Availability:</span>
            <span class="text-black dark:text-white">{{ $feature.availabilityText }}</span>
            <span class="material-symbols-rounded text-black dark:text-white">
                {{ $feature.availabilityIcon }}
            </span>
        </div>
        {{ end }}

        {{ if $feature.versionText }}
        <div class="flex items-center gap-1">
            <span class="text-black dark:text-white font-bold">Minimum version:</span>
            <span class="text-black dark:text-white">{{ $feature.versionText }}</span>
            <span class="material-symbols-rounded text-black dark:text-white">
                {{ $feature.versionIcon }}
            </span>
        </div>
        {{ end }}

        {{ if $feature.forText }}
        <div class="flex items-center gap-1">
            <span class="text-black dark:text-white font-bold">For:</span>
            <span class="text-black dark:text-white">{{ $feature.forText }}</span>
            <span class="material-symbols-rounded text-black dark:text-white">
                {{ $feature.forIcon }}
            </span>
        </div>
        {{ end }}
    </div>
</div>
{{ end }}