@import "utilities";

.title {
  @mixin fontSize 2;
  text-transform: uppercase;
  margin-bottom: $space-sm;
}

.clearAll {
  font-weight: bold;
  margin-bottom: $space-sm;
  cursor: pointer;
  text-decoration: underline;
}

/* NOTE: This is terrible but we must do it to override
 * the material-ui inline styles for a disabled element
 * I'm really sorry
 */
.input input[disabled] + div svg:first-child {
  fill: $color-geyser !important;
}
