.checkbox {
    padding-left: 20px;
    margin-top: 10px;
    display: inline-block;

    label {
        transition: color .25s;

        &:hover {
            cursor: pointer;
            color: ~colors.primary1;

            .check-container {
                border-color: ~colors.primary1; 
            }
        }
    }
}

.check-container {
    border-radius: 2px;
    border: 1px solid ~colors.coolGrey;
    background: #fff;
    transition: all .25s;
    text-align: center;
    position: relative;
    display: inline-block;
    width: 25px; 
    height: 25px;
    top: 1px;
    margin-right: 10px; 
    margin-left: -20px;
}


input[type=checkbox] {
    display: none;
}

/* Checked states */
input[type=checkbox] + .check-container {
    i { 
        color: #fff;
        opacity: 0;
        position: relative;
        top: -1px;
        transform: rotate(0deg);
        transition: opacity .25s, transform .25s;
    }
}

input[type=checkbox]:checked + .check-container {
    background: ~colors.primary1;
    border-color: #fff;

    i {
        opacity: 1;  
        transform: rotate(360deg); 
    }
}