<div id="licenseReminder" class="ui centered grid">
	<div class="eight wide center aligned column">
    <img src="../../../media/logo.svg" class="logo"></img>
    <h1 class="ui inverted header">Docker Universal Control Plane</h1>

    <div class="upload-section">
      <div class="ui negative message" ng-if="vm.error">{{ vm.error }}</div>
      <p>Your system is unlicensed.</p>
      <input type="file" accept=".lic" file-input="vm.licenseFile" class="license-file-input" onchange="angular.element(this).scope().vm.uploadFileChange(this)">
      <div class="ui white button" ng-click="vm.uploadLicense()">Upload License</div>
      <div class="license-link"><a href="https://www.docker.com/pricing" target="_blank">Get free trial or purchase license</a></div>
    </div>

    <a ng-if="vm.requireLicense !== true" ui-sref="dashboard.main">&raquo; Skip for now</a>
  </div>
</div>
