#login {
  padding-top: 10em;
	margin: 0;
	background-color: #1AAAF8;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}

#login p {
	color: white;
}

#login .center.aligned.column {
	max-width: 360px;
}

#login h1 {
	color: white;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: normal;
}

#login .ui.form {
	padding-top: 20pt;
}
#login .buttons {
	padding-top: 10pt;
}
