{%- if site.polldaddy_id and site.polldaddy_id != '' -%}
<script>
    let PDRTJS_settings_{{ site.polldaddy_id }} = {
        "id": "{{ site.polldaddy_id }}",
        "unique_id": "{{ page.path }}",
        "title": "{{ page.title | default: page_title }}",
        "font_family": "Open Sans, sans serif",
        "font_color": "b9c2cc",
        "font_align": "center",
        "permalink": "https://github.com/docker/docker.github.io/blob/master/{{ page.path }}"
    };
    (function (d, c, j) {
        if (!document.getElementById(j)) {
            let pd=d.createElement(c),s;pd.id=j;pd.src='https://polldaddy.com/js/rating/rating.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd, s);
        }
    }(document, 'script', 'pd-rating-js'));
</script>
{%- endif -%}
