/*
 * For pages without content
 *
 */

.blankslate {
    text-align: center;
    background: #fff;
    border-bottom: 1px solid #cbd1d7;
    padding: 2.4rem;
    h1 {
        font-size: 2.5em;
    }
    .fa {
        color: #566471;
        font-size: 4em;
        margin-bottom: 15px;
    }
}

.blankslate-alt {
    text-align: center;
    padding: 5rem;
}

/*
 *
 * buttons : TODO: MOVE TO FOUNDATION OVERRIDES & SPLIT OUT THESE RANDOM BUTTONS
 *
 */

button,
.button,
.profile-settings .change-pass-form .change-pass-save .button,
.settings-wrapper input[type='submit'] {
    -moz-appearance: none;
    border-radius: $global-radius;
    border-color: #1298c6;
    border-style: solid;
    border-width: 0;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: normal;
    margin: 0 0 1.25rem;
    padding: 0.7rem 1rem 0.7rem 0.9rem;
    text-align: center;
    transition: background-color 300ms ease-out 0s;
    box-shadow: none;
    &.default {
        background-color: #fff;
        border: 1px solid #dfe4ea;
        color: #000;
    }
    &.primary {
        background: $primary-1;
        border-radius: $global-radius;
        color: #fff;
        &:hover {
            background: $primary-2;
        }
    }
    // &.secondary {/** will switch this with .default **/}
    &.dashed {
        background-color: transparent;
        border: 1px dashed #c3ccd9;
        color: #2f4559;/** need variable **/
        border-radius: $global-radius;
        &:hover {
            opacity: .8;
        }
    }
    &.button.disabled {
        cursor: not-allowed;
    }
    &.small {
        padding: 0.7rem 1rem 0.7rem 0.9rem;
    }
    &.xl {
        padding: 1rem 2rem 1rem 2rem;
        margin-right: 1rem;
    }
}
