.gravatar {
  margin: 1.5rem 0;
  img {
      border: 1px solid $secondary-5;
      border-radius: $global-radius;
  }
}

.profile-info {
  padding: .5rem 1rem 0 1rem;
  ul {
      padding: .6rem 0;
      li {
        padding: .2rem 0;
        color: $secondary-4;
      .fa {
        margin: 0 .5rem 0 0;
        min-width: .8rem;
        text-align: center;
      }
    }
  }
}

.profile-repos {
    padding: 1rem 0;
    h4 {
      padding-left: 2rem;
    }
}
