/*
 * This file is in progress - will contain global typography styles
 *
 */
h1,
h2,
h3,
h4,
h5,
h6 {
	color: $primary-1;
    font-weight: 200;
}
h1 {
    font-size: 1.8875rem;
}
h2 {
	font-size: 1.3875rem;
}