.settings-wrapper {
  width: 100%;
  input {
    &[type='text'],&[type='email'],&[type='password'] {
    color: $secondary-1;
    }
    &[type='submit'] {
      padding: .5rem;
    }
  }
  .settings-body {
    padding: 25px 0px;
    .account-section-text {
      float: left;
      display:inline-block;
    }
    .account-section-header {
      padding-left: 0;
      .account-section-title{
        color: $secondary-1;
        font-weight: $font-weight-bold;
      }
      .account-section-subtitle{
        color: $primary-2;
        margin-bottom: .5rem;
      }
    }
    .account-section {
      margin-bottom: 2rem;
      .columns:last-child {
        float: left;
      }
    }
  }
}

.profile-settings {
  .default-repo-visibility {
    padding: 1rem;
    .visibility-toggle {
      &:hover {
        cursor: pointer;
        cursor: hand;
      }
      input {
        margin-right: .5rem;
      }
    }
  }
  .email-wrapper {
    border: 1px solid $border-input;
    background: white;
    form {
      .add-email {
        padding: 2rem 1rem 0;
        .email-title {
          font-weight: $font-weight-bold;
        }
      }
      .email-element {
        height: 4rem;
        padding: 0 1rem;
        margin: .5rem .5rem;
        display: flex;
        align-items: left;
        .emphasis {/** TODO: Scope to .email-element for the moment, however will mostly be global **/
          color: $secondary-3;
          font-weight: 800;
        }
        .fa-times {/** TODO: Scope to .email-element for the moment, however will mostly be global **/
          color: $primary-5;
          font-size: 1.3rem;
            &:hover {
              color: $secondary-1;
            }
        }
        .close-button {/** TODO: Let's verify we still need this **/
          color: white;
          display: inline-block;
          background: $docker-dark--placeholders;
          border-radius: 100%;
          width: 1.5rem;
          height: 1.5rem;
          text-align: center;
          margin-right: .5rem;
          float: right;
          &:hover {
            background: darken($docker-dark--placeholders, 10%);
          }
        }
        .email-action {
          text-align: center;
          border-radius: 1rem;
          &.status-sent {
            border: 1px solid $primary-2;
            color: $primary-2;
          }
          &.status-sending {
            border: 1px solid $primary-1;
            color: $primary-1;
          }
          &.status-failed {
            border: 1px solid $primary-5;
            color: $primary-5;
          }
        }
        .email-address {
          word-wrap: break-word;
        }
      }
    }
  } 
  .change-pass-form {
    border: 1px solid $border-input;
    background: white;
    padding: 3rem 3rem 1rem 3rem;
    .change-pass-save {
      height: 250px;
      display: flex;
      align-items: flex-end;
      .button {
        padding:.5rem;
      }
    }
    &.success {
      border: 1px solid $primary-2;
    }
    &.form-error {
      border: 1px solid $primary-5;
    }
  }
  .account-info-wrapper {
    border: 1px solid $border-input;
    background: white;
    padding: 3rem 3rem 1rem;
    .button {
      float: right;
    }
    &.success {
      border: 1px solid $primary-2;
    }
    &.form-error {
      border: 1px solid $primary-5;
    }
  }
  .toOrgButton {
    padding: .5rem 0;
  }
}
.convert-to-org{
  .toOrg-title {
    font-weight: $font-weight-bold;
  }
  .toOrg-body {
    margin-bottom: 1rem;
  }
  .warning {
    text-align: center;
    color: $primary-5;
  }
  .convert-org-form {
    padding: 3rem 2rem .5rem;
    background: white;
    border: 1px solid $border-input;
    .button {
      padding:.5rem;
      &:disabled {
        background: $secondary-5;
      }
    }
  }
}

.accounts-services {
  .linked-accounts {
    margin-bottom: 5rem;
    .link-service {
      padding: 1.25rem;
      margin: 0 1rem;
      height: 13rem;
      border: 1px solid $border-input;
      background: white;
      float: left;
      .service-title {
        display:flex;
        align-items: center;
        .linked-icon {
          width: 100%;
          height: auto;
        }
        .service-name {
          font-weight: $font-weight-bold;
          margin: 0 1rem;
        }
      }
      .user-access {
        margin: .5rem 0 0;
      }
      .button {
        margin: 1rem 0 0;
        float: right;
      }
    }
  }
}

.account-notifications {
  form {
    background: white;
    border: 1px solid $border-input;
    padding: 2rem 2rem 1rem;
    .button {
      margin-right: 1rem;
      // padding: .5rem;
      float: right;
    }
    &.success {
      border: 1px solid $primary-2;
    }
    &.form-error {
      border: 1px solid $primary-5;
    }
  }
  .event-notifs {
    margin-bottom: 5rem;
  }
  .notification {
    margin-bottom: 1rem;
    &:hover {
      cursor: pointer;
      cursor: hand;
    }
    &.unverified {
      color: $secondary-4;
      cursor: default;
    }
  }
}

.billing-plans {
  .columns:last-child {
    float: left;
  }
  .account-billing-info {
    margin-left: .5rem;
  }
  .plans-error-message {
    background: $alert-color;
    color:white;
  }
  .plans-q {
    .q-title {
      font-weight: 500;
      color: $primary-2;
    }
    .q-answer {
      padding-left: 1rem;
    }
    margin-bottom: 2rem;
  }
  .billing-info {
    background: white;
    border: 1px solid $border-input;
    padding: 2rem 0rem 2rem 2rem;
    margin: .5rem;
    .row {
      margin-bottom: 1rem;
      .info-content {
        border-left: 1px solid $border-input;
        padding: .5rem 3rem;
      }
      .no-account {
        text-align: center;
      }
    }
  }
  .billing-form-wrapper {
    border: 1px solid $border-input;
    background: white;
    padding: 3rem 3rem 1rem;
    .billing-form-header {
      text-align: center;
    }
    .billing-info-form {
      .billing-form-section {
        margin-bottom: 1.5rem;
      }
      .billing-field * {
        width: 100%;
      }
      .billing-dropdown {
        width: 100%;
        &.error {
          border: 1px solid $alert-color;
        }
      }
      .accepted-cards {
        margin-bottom: 35px;
        .card-icon {
          font-size: 1.5rem;
          margin-left: .5rem;
        }
      }
      .above-selects .group {
        margin-bottom: 15px;
      }
      .selects {
        .date-text {
          text-align: center;
          height: 2rem;
          display: flex;
          align-items: center;
        }
        .columns {
          margin-bottom: 20px;
        }
      }
      .back {
        margin-left: 2rem;
      }
    }
  }
  .preview-box {
    border: 1px solid $border-input;
    background: white;
    padding: 2rem 2rem 0;
    margin-left: 1rem;
    .total {
      margin-bottom: 35px;
    }
    .coupon_code * {
      width: 100%;
    }
    .price {
      text-align: right;
    }
  }
  .invoice-table {
    a.not-active {
      pointer-events: none;
      cursor: default;
      color: $secondary-5;
    }
  }
}
.orgs-body {
  padding-top: rem-calc(15px);
  padding-bottom: rem-calc(20px);
}

.orgs-grid {
    margin-left: 1.6rem;
}

.orgs-settings {
  h5 {
    font-weight: 400;
    color: #22b8eb;/** find varible and update */
    float: left;
    margin: 0 0 0.8rem 1rem;
    // color: $docker-dark;
  }
  .page-header-buttons {
    float: left;
    padding-left: 20px;
    button {
      margin-right: rem-calc(10px);
    }
  }
  .new-org-form {
    width: 100%;
  }
  .org-details {
    ul {
      list-style: none;
      margin-left: 0;
      li {
        background-color: $panel-bg;
        padding: rem-calc(10px);
        margin-bottom: rem-calc(5px);
        border-radius: rem-calc(2px);
        margin: 0 .2rem 0 0;
      }
    }
    .org-team-md {
      margin-left: rem-calc(-15px);
      .inline-list {
        margin: 0;
      }
      h5 {
        margin-left: rem-calc(10px);
        font-weight: 300;
        font-color: #22b8eb;
      }
      h6 {
        background-color: lighten($panel-bg, 8%);
        border-radius: $global-radius;
        padding: 10px;
        .action-icon {
          background-color: lighten($panel-bg, 8%);
        }
      }
      .org-members {
        li {
          img {
            margin-right: rem-calc(10px);
            border-radius: 100%;
          }
          width: rem-calc(200px);
          padding: rem-calc(12px);
          margin-right: rem-calc(20px);
        }
      }
      // .org-teams {}
    }
    /** hide border when dux-form is in tabs **/
    .dux-form {
      border: 0;
    }
  }
  .tab-title {
    border: 1px solid #c4cdda;
    border-bottom: none;
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
    background-color: #e6edf4;
    padding: 0.5rem;
    &:hover {
      cursor: pointer;
      color: #23b8eb;
    }
  }
  .tab-title.active {
    background-color: white;
  }
  .tabs-content {
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    border-top-right-radius: $global-radius;
    border: 1px solid #c4cdda;
    background-color: white;
    padding: rem-calc(20px);
  }
}

//Teams
.team-item {
  a {
    margin-left: rem-calc(15px);
  }
}

.add-team-container {
  form {
    margin-top: 1.6rem;
    .alert-box {
      margin-left: 0.5rem !important;
      margin-right: 0.5rem !important;
    }
  }
}

.add-team-button-group {
  input[type="submit"], input[type="reset"] {
    border-radius: $global-radius;
    margin-left: 1rem;
  }
}

//global
li.li-no-hover {
  &:hover {
    background-color: transparent !important;
  }
}

.delete-member-item {
  height: rem-calc(25px);
  cursor: default;
  a {
    float: left;
    margin-left: 0.7rem;
  }
  i {
    margin-top: 0.3rem;
    margin-right: 1.4rem;
    cursor: pointer;
    color: #FF5151;
  }
}
.add-member-item {
  height: rem-calc(25px);
  cursor: text;
  input[type="text"] {
    font-size: rem-calc(16px);
    margin-left: 0.5rem;
    float: left;
    border: 0;
    height: 2rem;
    line-height: 2rem;
    color: $gray-2;
    width: rem-calc(500px);
    &:hover {
      color: $gray-2;
    }
    &:active {
      color: $gray-2;
    }
    &:focus {
      color: $gray-2;
    }
  }
  i {
    margin-top: 0.3rem;
    margin-right: -1.5rem;
    cursor: pointer;
  }
}
