.dux-badge {
    border-radius: rem-calc(4px);
    padding: rem-calc(3px);
    &.official {
        color: #23b8eb;
    }
    &.builds {
        color: #86d800;
        font-size: rem-calc(12px);
    }
}
