//@extend-elements
//original selectors
//.cssmenu ul, .cssmenu ul li, .cssmenu ul ul
%extend_1 {
  list-style: none;
  margin: 0;
  padding: 0;
}

//original selectors
//.cssmenu ul li.hover, .cssmenu ul li:hover
%extend_2 {
  position: relative;
  z-index: 599;
  cursor: default;
}


@charset "UTF-8";
.cssmenu {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  width: 100%;
  background: $panel-bg;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  zoom: 1;
  font-size: 12px;
  ul {
    @extend %extend_1;
    position: relative;
    z-index: 597;
    float: left;
    li {
      @extend %extend_1;
      min-height: 1px;
      line-height: 3rem;
      vertical-align: middle;
      position: relative;
      float: none;
      &.hover {
        @extend %extend_2;
      }
      &:hover {
        @extend %extend_2;
        > ul {
          visibility: visible;
        }
      }
      &.has-sub > a:after {
        content: '+';
        position: absolute;
        top: 50%;
        right: 15px;
        margin-top: -6px;
      }
    }
    ul {
      @extend %extend_1;
      visibility: hidden;
      position: absolute;
      z-index: 598;
      top: 0;
      left: 100%;
      margin-top: 0;
      width: 100%;
      //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
      border: 1px solid $panel-bg;
      li {
        float: none;
        font-weight: normal;
        border-bottom: 1px solid $panel-bg;
        &.first {
          //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
          border-radius: 0 3px 0 0;
        }
        &.last {
          //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
          border-radius: 0 0 3px 0;
          border-bottom: 0;
        }
        &:hover > a {
          background: $button-bg-color;
          color: $ghost;
        }
      }
      ul {
        top: -2px;
        right: 0;
      }
      a {
        font-size: 14px;
        color: $ghost;
        &:hover {
          color: $ghost;
        }
      }
    }
  }
  &:before {
    content: '';
    display: block;
  }
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  a {
    display: block;
    padding: 15px 20px;
    color: $ghost;
    text-decoration: none;
    text-transform: uppercase;
  }
  li {
    position: relative;
  }
  &.align-right {
    float: right;
    li {
      text-align: right;
    }
    ul {
      ul {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 598;
        width: 100%;
        //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
        border-radius: $global-radius 0 0 $global-radius;
        li {
          &.first {
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: $global-radius 0 0 0;
          }
          &.last {
            //Instead of the line below you could use @includeborder-radius($radius, $vertical-radius)
            border-radius: 0 0 0 $global-radius;
          }
        }
      }
      li.has-sub > a {
        &:before {
          content: '+';
          position: absolute;
          top: 50%;
          left: 15px;
          margin-top: -6px;
        }
        &:after {
          content: none;
        }
      }
    }
    > ul > li > a {
      border-left: 2px solid lighten($panel-bg, 10%);
      border-right: none;
    }
  }
  > ul {
    width: 100%;
    > li {
      > a {
        border-right: 2px solid lighten($panel-bg, 10%);
        color: $ghost;
        &:hover {
          color: $ghost;
        }
      }
      &.active a {
        background: lighten($panel-bg, 10%);
      }
      a:hover {
        background: lighten($panel-bg, 10%);
      }
      &:hover a {
        background: lighten($panel-bg, 10%);
      }
    }
  }
}
