.repo-settings {
  color: $charcoal;
  padding: 1rem;
  h1, h2, h3, h4, h5, h6, input, label {
    color: $charcoal;
  }
  .form-panel {
    @include panel();
    background: $white;
    button {
      margin-right: $default-margin;
    }
  }
  .help-text {
     padding: 1rem 0 0 .9rem;
  }
  /** scope this to repo-settings only **/
  input[type="text"],
  .bar {
    width: 100%;
  }
  .repo-visibility {
    margin-top: 1rem;
    .visibility-form {
      .visibility-toggle {
        cursor: pointer;
        * {
          cursor: pointer;
        }
        .text-error {
         color: $primary-5;
          margin-left: 1rem;
        }
      }
      .disabled {
        cursor: default;
        color: $secondary-5;
        * {
          cursor: default;
        }
      }
      input {
        &[name='visibility'] {
          margin-right: 5px;
        }
      }
    }
  }
}
