.pass-reset-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  width: 100%;
  &.reset {
    text-align: center;
  }
  .password-reset {
    background-color: $white;
    border: 1px solid rgb(233, 237, 240);// TODO: create/utilize variable
    border-radius: $global-radius;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 270px;
    h3 {
      color: $primary-1;
      font-weight: 300;
    }
    &.error h3 {
      color: $primary-5;
    }
    p {
      color: rgb(113, 125, 144);// TODO: create/utilize variable
    }
    form {
      margin-top: .6rem;
    }
    .group {
      input,
      .bar {
        color: rgb(113, 125, 144);// TODO: create/utilize variable
        width: 100%;
      }
    }
    .resetPassSubmit {
      background-color:$primary-color;
      border: none;
      border-radius: $global-radius;
      color: $white;
      float: right;
      padding: 10px 20px;
      &:disabled {
        background-color:rgb(233, 237, 240);// TODO: create/utilize variable
      }
    }
  }
}
