{{ define "left" }}
  {{ partial "sidebar/mainnav.html" . }}
  {{ partial "sidebar/tags.html" . }}
{{ end }}

{{ define "main" }}
  <article class="prose max-w-none dark:prose-invert">
    {{ partial "breadcrumbs.html" . }}
    <h1 class="scroll-mt-36 flex items-center">
      <span class="icon-svg icon-lg pb-2">{{ partialCached "icon" "tag" "tag" }}</span>
      </span>{{ .Title }}</span>
    </h1>
    {{ .Content }}
    {{- range .Pages.GroupBy "Type" }}
      <h2>{{ (site.GetPage .Key).LinkTitle }}</h2>
      <ul>
        {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          </li>
        {{- end }}
      </ul>
    {{- end }}
  </article>
{{ end }}
