.choices {
    lost-flex-container: row;

    .button {
        background-color: color(~colors.silver lightness(98%));
        border: 2px solid ~colors.silver;
        margin-right: -2px;
        padding: 10px 20px;
        text-align: left;
        color: ~colors.slate;
        position: relative;
        display: flex;

        .buttonContent {
            lost-flex-container: row;
            align-items: center;

            .icon {
                display: flex;
                float: left;
                font-size: 24px;
                margin-right: 15px;
            }

            .textContainer {
                overflow: hidden;
                lost-flex-container: column;
            }

            .primaryText {
                display: flex;
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 3px;
            }

            .secondaryText {
                display: flex;
                font-size: 12px;
                font-weight: lighter;
            }
        }

        &:first-child {
            border-radius: 3px 0 0 3px;
        }

        &:last-child {
            border-radius: 0 3px 3px 0;
        }

        &.active {
            border-color: ~colors.primary1;
            z-index: 1;

            .icon, .primaryText {
                color: ~colors.primary1;
            }
        }

        &:focus {
            outline: 0;
        }
    }
}
