name: build

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
    # needs push event on default branch otherwise cache is evicted when pull request is merged
    branches:
      - main
  pull_request:

jobs:
  releaser:
    uses: docker/github-builder-experimental/.github/workflows/bake.yml@main
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      output: local
      target: releaser-build

  build:
    uses: docker/github-builder-experimental/.github/workflows/bake.yml@main
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      output: local
      target: release

  check-cloudfront:
    uses: docker/github-builder-experimental/.github/workflows/bake.yml@main
    permissions:
      contents: read
      packages: write
      id-token: write
    with:
      output: local
      target: aws-cloudfront-update
      envs: |
        DRY_RUN: true
        AWS_REGION: us-east-1
        AWS_CLOUDFRONT_ID: 0123456789ABCD
        AWS_LAMBDA_FUNCTION: DockerDocsRedirectFunction-dummy

  validate:
    uses: docker/github-builder-experimental/.github/workflows/bake.yml@main
    permissions:
      contents: read
      packages: write
      id-token: write
    strategy:
      fail-fast: false
      matrix:
        target:
          - lint
          - vale
          - test
          - unused-media
          - test-go-redirects
          - dockerfile-lint
          - path-warnings
          - validate-vendor
    with:
      output: local
      target: ${{ matrix.target }}
      artifact-name: ${{ matrix.target }}

  reviewdog:
    runs-on: ubuntu-24.04
    needs: validate
    if: ${{ github.event_name == 'pull_request' }}
    steps:
      -
        name: Download vale output
        uses: actions/download-artifact@v4
        with:
          name: vale
          path: ./vale-output
      -
        name: Install reviewdog
        uses: reviewdog/action-setup@d8a7baabd7f3e8544ee4dbde3ee41d0011c3a93f # v1.5.0
      -
        name: Run reviewdog for vale
        run: |
          cat ./vale-output/vale.out | reviewdog -f=rdjsonl -name=vale -reporter=github-pr-annotations -fail-on-error=false -filter-mode=added -level=info -fail-level=warning
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
