@import "utilities";

.square {
  margin-right: 1px;
  margin-bottom: 1px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  user-select: none;
}

.outline,
.square:hover {
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.solid {
  opacity: 1;
}

.faded {
  opacity: 0.4;
}

.critical {
  background-color: $color-nautilus-critical;
}

.major {
  background-color: $color-nautilus-major;
}

.minor {
  background-color: $color-nautilus-minor;
}

.secure {
  background-color: $color-nautilus-secure;
}

.tooltipText {
  @mixin fontSize 0;
  color: $color-regent-gray;
}

.tooltipTitle {
  @mixin fontSize 0;
  font-weight: bold;
  color: $color-regent-gray;
}

.tooltipSubheader {
  @mixin fontSize 2;
  color: $color-fiord;
  margin-bottom: $space-xs;
}
