<div id="dashboard" class="ui fluid full-width-page container">
  <h3 ng-if="userIsAdmin">Overview</h3>
  <div ng-if="userIsAdmin" class="ui stats grid">
    <div class="four column row stats">
      <div class="aligned eight wide column">
        <a class="ui segment stat" ui-sref="dashboard.resources.nodes" name="nodes">
          <div class="ui grey ribbon label" ng-style="{'margin-bottom': '32px'}">
						<svg-icon p="nodes"></svg-icon>
            {{vm.readyManagerNodes > 1 ? 'Controllers Health' : 'Controller Health'}}
          </div>
          <div class="node-status-ctr ui center aligned equal width grid">
            <div class="stats-list ui middle aligned divided list">
              <div class="item" ng-repeat="n in vm.managerNodes">
                <div class="ui label" ng-class="n.Status.State==='ready' ? 'node-ready green' : 'node-down red'">
                  {{ n.Description.Hostname }}
                  <div class="detail">
                    Healthy
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="aligned column">
        <a class="ui segment stat" ui-sref="dashboard.resources.applications" name="applications">
          <div class="ui grey ribbon label">
						<svg-icon p="stacks"></svg-icon>
            Applications
          </div>
          <div class="value">
            {{vm.applicationCount}}
          </div>
        </a>
      </div>
      <div class="aligned column">
        <a class="ui segment stat" ui-sref="dashboard.resources.images" name="images">
          <div class="ui grey ribbon label">
						<svg-icon p="images"></svg-icon>
            Images
          </div>
          <div class="value">
            {{vm.imageCount}}
          </div>
        </a>
      </div>
    </div>
  </div>
  <h3>Resources</h3>
  <!-- TODO the below card should be a directive or a shared component/template -->
  <div class="ui stats grid">
    <div class="three column row">
      <!-- Node Usage -->
      <div class="aligned column">
        <a class="ui segment" ui-sref="dashboard.resources.nodes">
          <div class="ui grey ribbon label" ng-style="{'margin-bottom': '32px'}">
            Node Usage
          </div>
          <div class="ui center aligned equal width grid">
            <div
              ng-show="vm.numNodes === 0"
              class="grey column"
              ng-style="{'flex-grow': '10'}">
              &nbsp;
            </div>
            <div
              ng-show="vm.readyManagerNodes != 0"
              class="teal column"
              ng-style="{'flex-grow':' ' + vm.readyManagerNodes/vm.numNodes * 10 + ' '}">
              &nbsp;
            </div>
            <div
              ng-show="vm.readyWorkerNodes != 0"
              class="green column"
              ng-style="{'flex-grow':' ' + vm.readyWorkerNodes/vm.numNodes * 10 + ' '}">
              &nbsp;
            </div>
            <div
              ng-show="vm.downNodes != 0"
              class="red column"
              ng-style="{'flex-grow':' ' + vm.downNodes/vm.numNodes * 10 + ' '}">
              &nbsp;
            </div>
          </div>
          <div class="pct-card ui center aligned equal width grid">
            <div class="stats-list ui middle aligned divided list">
              <div class="item" ng-if="vm.readyManagerNodes > 0">
                <div class="stats-content">
                  <div class="value stats-pct-mgr-ready">
                    {{Math.round(vm.readyManagerNodes/vm.numNodes * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.readyManagerNodes}} Active {{vm.readyManagerNodes > 1 ? 'Controllers' : 'Controller'}}
                  </div>
                </div>
              </div>
              <div class="item" ng-if="vm.readyWorkerNodes > 0">
                <div class="stats-content">
                  <div class="value stats-pct-ready">
                    {{Math.round(vm.readyWorkerNodes/vm.numNodes * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.readyWorkerNodes}} Active {{vm.readyWorkerNodes > 1 ? 'Workers' : 'Worker'}}
                  </div>
                </div>
              </div>
              <div class="item" ng-if="vm.downNodes > 0">
                <div class="stats-content">
                  <div class="value stats-pct-notready">
                    {{Math.round(vm.downNodes/vm.numNodes * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.downNodes}} Unreachable
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui center aligned equal width grid">
            <div class="white column">
              {{vm.numNodes}} Total Nodes
            </div>
          </div>
        </a>
      </div>
      <!-- Services -->
      <div class="aligned column">
        <a class="ui segment"  ui-sref="dashboard.resources.services">
          <div class="ui grey ribbon label" ng-style="{'margin-bottom': '32px'}">
            Services
          </div>
          <div class="ui center aligned equal width grid">
            <div
              ng-show="vm.numServices === 0"
              class="grey column"
              ng-style="{'flex-grow': '10'}">
              &nbsp;
            </div>
            <div
              ng-if="vm.numRunningServices > 0"
              class="green column"
              ng-style="{'flex-grow':' ' + vm.runningServices/vm.numServices * 10 + ' '}">
              &nbsp;
            </div>
            <div
              ng-if="vm.numPartlyRunningServices > 0"
              class="orange column"
              ng-style="{'flex-grow':' ' + vm.partlyRunningServices/vm.numServices * 10 + ' '}">
              &nbsp;
            </div>
            <div
              ng-if="vm.numPreparingServices > 0"
              class="blue column"
              ng-style="{'flex-grow':' ' + vm.preparingServices/vm.numServices * 10 + ' '}">
              &nbsp;
            </div>
            <div
              ng-if="vm.numNotRunningServices > 0"
              class="red column"
              ng-style="{'flex-grow':' ' + vm.notrunningServices/vm.notrunningServices * 10 + ' '}">
              &nbsp;
            </div>
          </div>
          <div class="pct-card ui center aligned equal width grid">
            <div class="stats-list ui middle aligned divided list">
              <div class="item" ng-show="vm.numRunningServices > 0">
                <div class="stats-content">
                  <div class="value stats-pct-ready">
                    {{Math.round(vm.numRunningServices/vm.numServices * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.numRunningServices}} Active
                  </div>
                </div>
              </div>
              <div class="item" ng-show="vm.numPartlyRunningServices > 0">
                <div class="stats-content">
                  <div class="value stats-pct-partlyrunning">
                    {{Math.round(vm.numPartlyRunningServices/vm.numServices * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.numPartlyRunningServices}} Partly Active
                  </div>
                </div>
              </div>
              <div class="item" ng-show="vm.numPreparingServices > 0">
                <div class="stats-content">
                  <div class="value stats-pct-preparing">
                    {{Math.round(vm.numPreparingServices/vm.numServices * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.numPreparingServices}} Updating
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui center aligned equal width grid">
            <div class="white column">
              {{vm.numServices}} Total Services
            </div>
          </div>
        </a>
      </div>
      <!-- Containers -->
      <div class="aligned column">
        <a class="ui segment"  ui-sref="dashboard.resources.services">
          <div class="ui grey ribbon label" ng-style="{'margin-bottom': '32px'}">
            Containers
          </div>
          <div class="ui center aligned equal width grid">
            <div
              ng-show="vm.numCtrs === 0"
              class="grey column"
              ng-style="{'flex-grow': '10'}">
              &nbsp;
            </div>
            <div
              ng-if="vm.runningCtrs > 0"
              class="green column"
              ng-style="{'flex-grow':' ' + vm.runningCtrs/vm.numCtrs * 10 + ' '}">
              &nbsp;
            </div>
            <div
              ng-if="vm.stoppedCtrs > 0"
              class="grey column"
              ng-style="{'flex-grow':' ' + vm.stoppedCtrs/vm.numCtrs * 10 + ' '}">
              &nbsp;
            </div>
          </div>
          <div class="pct-card ui center aligned equal width grid">
            <div class="stats-list ui middle aligned divided list">
              <div class="item" ng-show="vm.runningCtrs > 0">
                <div class="stats-content">
                  <div class="value stats-pct-ready">
                    {{Math.round(vm.runningCtrs/vm.numCtrs * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.runningCtrs}} Running
                  </div>
                </div>
              </div>
              <div class="item" ui-sref="dashboard.resources.containers" ng-if="vm.stoppedCtrs > 0">
                <div class="stats-content">
                  <div class="value stats-pct-disconnected">
                    {{Math.round(vm.stoppedCtrs/vm.numCtrs * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.stoppedCtrs}} Stopped
                  </div>
                </div>
              </div>
              <div class="item" ui-sref="dashboard.resources.containers" ng-if="vm.pausedCtrs > 0">
                <div class="stats-content">
                  <div class="value stats-pct-paused">
                    {{Math.round(vm.pausedCtrs/vm.numCtrs * 100)}}%
                  </div>
                  <div class="stats-val">
                    {{vm.pausedCtrs}} Paused
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="ui center aligned equal width grid">
            <div class="white column">
              {{vm.numCtrs}} Total Containers
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="ui centered grid">
    <div id="footer" class="ui eight wide center aligned column" ng-controller="FooterController as footer">
      <div class="ui horizontal small divided list">
        <div class="item">Universal Control Plane {{ footer.ucpVersion }} ({{footer.ucpSHA }})</div>
        <div class="item">API: {{ footer.apiVersion }}</div>
      </div>
    </div>
  </div>
</div>
