#dashboard .nvd3-svg {
    width: 15em !important;
    height: 15em !important;
    margin: 0 auto;
}

#dashboard text.middle {
    font-weight: 300;
    font-size: 12px;
    opacity: 0.7;
}

#dashboard .nvd3.nv-pie .nv-pieLabels text {
    font-size: 18px;
    font-weight: 300;
    fill: #fff !important;
}

#dashboard .ui.segment {
  display: block;
  transition: all 150ms;
}

#dashboard .ui.segment:hover {
  background-color: #E4E7EB;
}

#dashboard .ui.stat .value {
  padding-top: 50px;
  text-align: center;
  font-size: 5rem;
  padding-bottom: 50px;
  color: #445D6E;
}

#dashboard .ui.stat svg {
  height: 14px;
  width: 14px;
  margin-right: 0.66rem;
  display: inline-block;
}

#dashboard .ui.stat svg path,
#dashboard .ui.stat svg rect,
#dashboard .ui.stat svg circle {
  fill: #ffffff;
}

#dashboard .stats-list {
  padding: 0 0 12px 0;
  width: 100%;
}

#dashboard .stats-list:first-child {
  padding-top: 8px;
}

#dashboard .content {
  padding: 8px;
}

#dashboard .stats-content {
  display: flex;
  font-size: 12px;
  padding: 10px;
}

#dashboard .pct-card {
  min-height: 142px;
}

#dashboard a.filter-link {
  color: #445d6e !important;
}

#dashboard .filter-link:hover {
  background-color: #e4e7eb;
}

#dashboard .node-ready {
  border: 0;
  border-left: 4px solid #00cbca;
  margin: 5px;
  padding: 5px;
}

#dashboard .node-status-ctr {
  min-height: 115px;
  max-height: 115px;
}

#dashboard .node-status-div {
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #445d6e;
  padding-left: 12px;
}

#dashboard .node-down {
  border: 0;
  border-left: 4px solid red;
}

#dashboard .stats-pct-ready {
  font-size: 32px;
  color: #00cbca;
}

#dashboard .stats-pct-mgr-ready {
  font-size: 32px;
  color: #00b5ad;
}

#dashboard .stats-pct-notready {
  font-size: 32px;
  color: #254356;
}

#dashboard
.stats-pct-partlyrunning,
.stats-pct-paused {
  font-size: 32px;
  color: orange;
}

#dashboard .stats-pct-preparing {
  font-size: 32px;
  color: #47bbf9;
}

#dashboard .stats-pct-disconnected {
  font-size: 32px;
  color: grey;
}

#dashboard .stats-val {
  margin-left: auto;
}
