@import 'dux/css/colors.css';
@import 'dux/css/box.css';

.table {
    width: 100%;
}

.collaboratorsContent {
	padding-top: 1.25rem;
}

.error {
	margin-bottom: var(--default-margin);
	color: var(--primary-5);
}

.button > * {
	margin-bottom: 0;
}